include ./../../mixins/userMenu
include ./../../mixins/faIcon

block opts

-
  const mainNav = [{
    title: 'Knihy',
    trigger: 'mega-menu-knihy',
    link: '#',
  }, {
    title: 'E-Knihy',
    link: '#',
  }, {
    title: 'Audioknihy',
    link: '#',
  }, {
    title: 'Hry',
    link: '#',
  }, {
    title: 'Filmy',
    link: '#',
  }, {
    title: 'Doplnky',
    trigger: 'mega-menu-doplnky',
    link: '#',
  },];
- const bookClassHide = bookHeader ? 'book-detail-hide' : '';
- const headerPromo = false;

  header.header
    .header__wrapper()
      .wrapper-main.position-relative
        if xmasLogo
          a(href="#")
            img(src=`${assetsPrefix}images/content/logo/xmas.png`, alt="Vianoce").logo-xmas
        .header__bar.d-flex.align-items-center
          .header__logo
            a(href="#", class=bookClassHide)
              img(src=`${assetsPrefix}images/content/logo.svg`, alt="Martinus").show-l
              img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus").hide-l
            if bookHeader
              a(href="#").book-detail-show
                img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus")
          .header__nav(class=bookClassHide)
            .btn-layout.btn-layout--horizontal.mb-none
              for item in mainNav
                .btn-dropdown.m-none.show-l
                  if item.trigger
                    a.btn.btn--clean.header-btn(
                    data-mega-menu-trigger=`#${item.trigger}`
                    data-toggle="self",
                    aria-haspopup="true"
                    )= item.title
                  else
                    a.btn.btn--clean.header-btn(
                      href=item.link
                    )= item.title
              .btn-dropdown.m-none.btn-dropdown--no-icon.hide-l
                a.btn.btn--clean.text-transform-upper.header-btn(
                data-mega-menu-trigger=`#${mainNav[0].trigger}`
                data-toggle='self, #toggle-mega-menu-knihy',
                data-toggle-icon='xmark',
                data-toggle-expand,
                aria-haspopup="true"
                )
                  +faIcon('bars').fa-lg

          if headerPromo
            .header__ad.show-m(class=bookClassHide)
              img(src="images/content/campaign/xmas2017/header-promo.png", style="height: 50px;")
              | <style>.header__wrapper::after{background: #7d609a;}</style>

          .flex-1.header__search.header-search
            .hide-m.header-search__toggle.m-none
              button.btn.btn--clean.header-btn.mb-none(data-toggle=".header", data-toggle-class-target="is-search-active")
                +faIcon('search').fa-lg
            .hide-m.header-search__back
              button.btn.btn--clean.header-btn.mb-none(data-toggle=".header", data-toggle-class-target="is-search-active")
                +faIcon('arrow-left').fa-lg
            .header-search__search(style="position: relative;")
              .form-control.form-control--input.mb-none
                .input-addons
                  input.input.input--dark#search-in-header(type='search', placeholder="Titul, kategória alebo autor", data-input, data-toggle-focus)
                  .input-addons__item.input-addons__item--dark.p-none
                    button.btn.btn--default.header-search__empty
                      +faIcon('search').fa-lg
              block headerSearchDropdown

          .header__user(class=bookClassHide)
            +userMenu()

          .header__cart(class=bookClassHide)
            a.btn.btn--clean.mb-none.header-btn(href="cart.html", data-notification="4")
              +faIcon('basket-shopping').fa-lg

          if bookHeader
            .flex-1.header__book.book-detail-show
              .bar.bar--no-wrap.mb-none.ml-auto
                .bar__item
                  .thumbnail.thumbnail--book.thumbnail--small
                    .thumbnail__img-wrap
                      img.img.img--fluid(src="images/content/books/sample-15.jpg", alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                .bar__item.bar__item--shrinkable.text-color-white.text-size-medium.line-small.header__book__name.show-l
                  | Základy rybolovu pro kluky a holky
                .bar__item.show-s
                  .h3.text-color-white.text-bold 14,65 €
                .bar__item.show-m
                  button.btn.btn--primary.btn--equal
                    +faIcon('basket-shopping').fa-lg
                .bar__item.bar__item--shrinkable.text-color-success.text-size-medium.line-small.header__buy__text
                  | Pridajte ešte tento titul do košíka a dopravu máte zdarma

    include megamenu
    include ./../checkout-notice

