header.header
  .header__wrapper(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap)
    .wrapper-main
      .bar.header__bar
        .bar__item.header__logo
          a(href="#")
            img(src=`${assetsPrefix}images/content/logo.svg`, alt="Martinus").show-l
            img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus").hide-l
        .bar__item.header__nav
          .btn-layout.btn-layout--horizontal
            .btn-dropdown.no-mrg.show-l
              button.btn.btn--clean.header-btn(
                data-mega-menu-trigger="#mega-menu-knihy"
                data-toggle='self', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                data-toggle-expand,
                aria-haspopup="true"
              )
                | Knihy
                +icon('chevron-down', 'icon-dropdown').icon--medium
            .btn-dropdown.no-mrg.show-l
              button.btn.btn--clean.header-btn(
                data-mega-menu-trigger="#mega-menu-eknihy"
                data-toggle='self', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                data-toggle-expand,
                aria-haspopup="true"
              )
                | E-Knihy
                +icon('chevron-down', 'icon-dropdown').icon--medium
            .btn-dropdown.no-mrg.show-l
              button.btn.btn--clean.header-btn(
                data-mega-menu-trigger
                data-toggle='self', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                data-toggle-expand,
                aria-haspopup="true"
              )
                | Filmy
                +icon('chevron-down', 'icon-dropdown').icon--medium
            .btn-dropdown.no-mrg.show-l
              button.btn.btn--clean.header-btn(
                data-mega-menu-trigger
                data-toggle='self', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                data-toggle-expand,
                aria-haspopup="true"
              )
                | Hry
                +icon('chevron-down', 'icon-dropdown').icon--medium

            .btn-dropdown.no-mrg.btn-dropdown--no-icon.show-l
              button.btn.btn--clean.header-btn(
                data-mega-menu-trigger="#mega-menu-other"
                data-toggle='self',
                data-toggle-expand,
                aria-haspopup="true"
              )
                +icon('dots').icon--medium

            .btn-dropdown.no-mrg.btn-dropdown--no-icon.hide-l
              button.btn.btn--clean.header-btn(
                data-mega-menu-trigger
                data-toggle='self', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-close`,
                data-toggle-expand,
                aria-haspopup="true"
              )
                +icon('menu').icon--medium

        .bar__item.bar__item--fill.header__search.header-search
          .hide-m.header-search__toggle.no-mrg
            button.btn.btn--clean.header-btn.no-mrg-bottom(data-toggle=".header", data-toggle-class-target="is-search-active")
              +icon('search').icon--medium
          .hide-m.header-search__back
            button.btn.btn--clean.header-btn.no-mrg-bottom(data-toggle=".header", data-toggle-class-target="is-search-active")
              +icon('arrow-left').icon--medium
          .header-search__search
            .form-control.form-control--input.no-mrg-bottom
              .input-addons
                input.input.input--dark(type='text', placeholder="Titul, kategória alebo autor", data-input)
                .input-addons__item.header-search__empty.input-addons__item--dark
                    +icon('search', '', 'Search').icon--medium
                .input-addons__item.input-addons__item.no-pad.header-search__value
                  .btn.btn--primary.text-nowrap
                    +icon('search', '', 'Search').icon--medium.icon--left
                    | Hladať

        .bar__item.header__user
          +userMenu()

        .bar__item.header__cart
          a.btn.btn--clean.header-btn(href="cart.html", data-notification="4")
            +icon('cart').icon--medium

  include ./megamenu
  include ./../checkout-notice
