include ./../../mixins/icon

-
  const categoriesKnihy = [{
    title: 'Beletria',
    icon: 'book',
    entries: ['Detektívky, thrillery a horory', 'Sci-fi, fantasy a komiksy', 'Romantické a erotické', 'Spoločenské', 'Klasická literatúra', 'Slovenská próza', 'Historické', 'Romány'],
  }, {
    title: 'Náučná a odborná',
    icon: 'lightbulb',
    entries: ['Motivácia a sebarozvoj', 'Manažment a biznis', 'Spoločnosť', 'História', 'Životopisy a myšlienky', 'Zdravie a životný štýl', 'Hobby', 'Umenie'],
  }, {
    title: 'Pre deti',
    icon: 'smile',
    entries: ['Pre najmenších', 'Pre prvákov', 'Pre pubertiakov', 'Beletria', 'Rozprávky', 'Sci-fi, fantasy a komiksy', 'Leporelá', 'Náučné knihy'],
  }, {
    title: 'Životopisy a myšlienky',
    icon: 'head-side-brain',
  }, {
    title: 'Kuchárky',
    icon: 'hat-chef',
  }, {
    title: 'Učebnice a slovníky',
    icon: 'graduation-cap',
  }, {
    title: 'Náboženstvo a ezoterika',
    icon: 'praying-hands',
  }, {
    title: 'Mapy a cestovanie',
    icon: 'map-marked',
  }, {
    title: 'Cudzojazyčná literatúra',
    icon: 'flag',
  }];

  const categoriesDoplnky = [{
    title: 'Doplnky a darčeky',
    icon: 'gift',
  }, {
    title: 'Vecičky od Martinusu',
    icon: 'martinus',
    iconStyle: 'fak',
  }, {
    title: 'Káva, čaj a pochutiny',
    icon: 'mug-hot',
  }, {
    title: 'Hrnčeky a fľaše',
    icon: 'coffee-togo',
  }, {
    title: 'Papierníctvo',
    icon: 'pencil-paintbrush',
  }, {
    title: 'Zápisníky a kalendáre',
    icon: 'calendar',
  }, {
    title: 'Hudba',
    icon: 'music',
  }, {
    title: 'LP platne',
    icon: 'record-vinyl',
  }];

  const megaMenu = [
    {
      title: 'Knihy',
      id: 'knihy',
      mainLinkTitle: 'Zobraziť všetky knihy',
      categories: categoriesKnihy,
      recommended: [{
        title: 'Top autori',
        entries: ['Dominik Dán', 'Jo Nesbo', 'Juraj Červenák', 'Andrzej Sapkowski', 'J. K. Rowlingová', 'Sarah J. Maas', 'Jørn Lier Horst', 'Louisa May Alcott']
      }, {
        title: 'Top série',
        entries: ['Harry Potter', 'Zaklínač', 'Hunger Games', 'Pán prsteňov', 'Neapolská sága', 'Kapitán Stein a notár Barbarič', 'Harry Hole'],
      }],
      additionalLinks: [{
        title: 'Bestsellery',
        icon: 'arrow-up-right'
      }, {
        title: 'Novinky',
        icon: 'sparkles'
      }, {
        title: 'Pripravované',
        icon: 'clock'
      }, {
        title: 'Akcie a zľavy',
        icon: 'badge-percent'
      }, {
        title: 'Knihy na sklade',
        icon: 'shipping-fast'
      }, {
        title: 'Kolekcie',
        icon: 'rectangle-vertical-history'
      },],
    }, {
      title: 'Doplnky',
      id: 'doplnky',
      mainLinkTitle: 'Zobraziť všetky doplnky',
      categories: categoriesDoplnky,
    },
  ]

mixin megaMenuContent(props = {})
  -
    const {
      id,
      title,
      mainLinkTitle,
      additionalLinks,
      recommended,
      categories,
      showAd
    } = props;

  .mega-menu__content(data-mega-menu-target, id=`mega-menu-${id}`)
    .mega-menu__content-wrap
      .mega-menu__categories
        .row.mx-none.mb-m-medium
          each category, index in categories
            .col.col--m-4.col--12.mega-menu__categories__category
              a.d-flex.align-items-center.py-small.pt-m-medium.pb-m-none.link.link--black.mega-menu__categories__title.mb-none(href='#', class=index > 0 ? 'pb-small' : '')
                .mr-tiny.mega-menu__categories__icon
                  +faIcon(category.icon, (category.iconStyle ? category.iconStyle : 'far')).text-color-primary.fa-fw
                h3.mb-none=category.title
              if category.entries
                ul.mega-menu__categories__subcategories.text-medium.mt-tiny.mb-small.show-m
                  each item in category.entries
                    li.mb-none
                      a.pt-tiny.pb-tiny.d-block.link.link--black(href='#')= item
                  li
                    a.d-block.mt-tiny.link.link--grey(href='#')
                      | + Ďalšie kategórie
      if additionalLinks
        .mega-menu__sidebar
          ul.mega-menu__sidebar__links.p-none
            li.has_banner
              a.sidebar__banner.link.link--black(href='#').sidebar__banner--sherlock
                +faIcon("comment-lines").fa-fw.fa-sm.mr-small.mr-m-tiny.text-color-green
                div.d-flex.flex-column
                  strong Knihomoľský pomocník
                  small.text-color-grey Spýtajte sa Sherlocka, čo čítať
            li.has_banner.mb-tiny
              a.sidebar__banner.link.link--black(href='#')
                +faIcon("sparkles").fa-fw.fa-sm.mr-small.mr-m-tiny.text-color-green
                div.d-flex.flex-column
                  strong Odporúčame pre vás
                  small.text-color-grey Knižné tipy ušité na mieru vám
            each link in additionalLinks
              li
                a.sidebar__link.link.link--black(href='#')
                  if link.icon
                    +faIcon(link.icon).fa-fw.fa-sm.mr-small.mr-m-tiny
                  =link.title
    if showAd || recommended
      .mega-menu__content-wrap
        .mega-menu__sidebar
        if recommended
          .mega-menu__favorites
            .row.mx-none.pb-medium
              each group, i in recommended
                .col.col--l-6.mt-medium
                  .d-block.mb-tiny.text-transform-upper.text-size-small.m-none= group.title
                  ul.list-inline.list-inline--bulleted.text-size-small.p-none.mb-none
                    each item in group.entries
                      li
                        a.link.link--black(href='#')= item


.header__mega-menu.mega-menu(data-mega-menu)
  .mega-menu__contents(data-mega-menu-contents)
    div.text-color-white.mega-menu__mobile-navigation.hide-l
      each item in mainNav
        .btn-dropdown.btn-dropdown--no-icon.m-none
          if item.trigger
            button.btn.d-flex.align-items-center.justify-content-between(
              data-mega-menu-trigger=`#${item.trigger}`,
              data-toggle="self",
              aria-haspopup="true",
              aria-expanded="false",
              data-toggle-expand,
              type="button",
              id=`toggle-${item.trigger}`
            )
              =item.title
              +faIcon('chevron-right').fa-xs
          else
            a.btn(href=item.link)= item.title
    each item in megaMenu
      +megaMenuContent(item)
