-
 const megaMenu = [
   {
     title: 'Knihy',
     id: 'knihy',
   },
   {
     title: 'E-knihy',
     id: 'eknihy',
   },
 ]

.header__mega-menu.mega-menu(data-mega-menu)
  .mega-menu__contents(data-mega-menu-contents)
    each item in megaMenu
      .mega-menu__content(data-mega-menu-target, id=`mega-menu-${item.id}`)
        .mega-menu__mobile-header(
          data-toggle='self, parent, [data-mega-menu-contents]',
          data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-arrow-left`,
          data-toggle-expand,
          aria-haspopup="true"
        )
          .bar
            .bar__item.bar__item--fill= item.title
            .bar__item
              +icon('arrow-right').icon--medium.text-color-grey
        .mega-menu__content-wrap
          .mega-menu__recommended
            h5 Odporúčame

            ul.list--expanded.no-pad.no-mrg-bottom
              li
                a.link.link--black.link--show(href="#") Akcie
              li
                a.link.link--black.link--show(href="#") Novinky
              li
                a.link.link--black.link--show(href="#") Bestsellery
              li
                a.link.link--black.link--show(href="#") Kolekcie
              li
                a.link.link--black.link--show(href="#") Pre Vás

          .mega-menu__categories.mega-menu-categories
            -
              const categories = [{
                title: 'Biografie, životopisy',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8'],
              }, {
                title: 'Cudzojazyčná lit.',
                entries: ['Ostatné jazyky', 'Dvojjazyčné vydania', 'Španielsky jazyk', 'Francúzsky jazyk', 'Nemecký jazyk', 'Anglický jazyk', '+ 2 ďalšie']
              }, {
                title: 'Deti a mládež',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'Domov, hobby',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'Ekonomika, právo',
                entries: ['Sociálne zabezpečenie', 'Verejná správa', 'Súkromné právo', 'Verejné právo', 'Medzinárodné právo', '+ ďalších 5']
              }, {
                title: 'Ezoterika, mystika',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'Geografia, cestovanie',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'História',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'Manažment, biznis',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'Medicína, zdravie',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'Motivačná literatúra',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }, {
                title: 'Náboženstvo, cirkev',
                entries: ['Spomienky a udalosti', 'Významné osobnosti dnes', 'Významné osobnosti minulosť', 'Umelci', '+ ďalších 8']
              }];
            .row
              each category in categories
                .col--l-4.col--m-12
                  a.link(href="#").mega-menu-categories__title= category.title
                  ul.list--comma.text-size-small.no-pad.show-m
                    each entry in category.entries
                      li
                        a.link.link--grey(href="#")= entry

    .mega-menu__banner.text-center
      .row
        .col--l-12.col--m-12.col--s-8.ofst--center
          .h2 Kúpite výhodne spolu
          .bar.align-items-bottom
            .bar__item.bar__item--fill
              .thumbnail.thumbnail--book.thumbnail--large
                .thumbnail__img-wrap
                  img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/books/sample-5.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
            .bar__item.bar__item--fill
              .thumbnail.thumbnail--book.thumbnail--large
                .thumbnail__img-wrap
                  img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/books/sample-8.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
          .badges.badges--inline.align-items-center.mb-medium
            .badge.badge--primary Ušetríte 3,50 €
          button.btn.btn--primary.btn--large.mb-small
            +icon('add-to-cart').icon--left.icon--medium
            | Kúpiť spolu za#{' '}
            span.text-nowrap 20,32 €
