include ./../../mixins/icon

-
  const categoriesKnihy = [{
    title: 'Beletria',
    icon: 'fa-book',
    entries: ['Detektívky, thrillery a horory', 'Sci-fi, fantasy a komiksy', 'Romantické a erotické', 'Spoločenské', 'Klasická literatúra', 'Slovenská próza', 'Historické', 'Romány'],
  }, {
    title: 'Náučná a odborná',
    icon: 'fa-lightbulb',
    entries: ['Motivácia a sebarozvoj', 'Manažment a biznis', 'Spoločnosť', 'História', 'Životopisy a myšlienky', 'Zdravie a životný štýl', 'Hobby', 'Umenie'],
  }, {
    title: 'Pre deti',
    icon: 'fa-smile',
    entries: ['Pre najmenších', 'Pre prvákov', 'Pre pubertiakov', 'Beletria', 'Rozprávky', 'Sci-fi, fantasy a komiksy', 'Leporelá', 'Náučné knihy'],
  }, {
    title: 'Životopisy a myšlienky',
    icon: 'fa-head-side-brain',
  }, {
    title: 'Kuchárky',
    icon: 'fa-hat-chef',
  }, {
    title: 'Učebnice a slovníky',
    icon: 'fa-graduation-cap',
  }, {
    title: 'Náboženstvo a ezoterika',
    icon: 'fa-praying-hands',
  }, {
    title: 'Mapy a cestovanie',
    icon: 'fa-map-marked',
  }, {
    title: 'Cudzojazyčná literatúra',
    icon: 'fa-flag',
  }];

  const categoriesDoplnky = [{
    title: 'Doplnky a darčeky',
    icon: 'fa-gift',
  }, {
    title: 'Vecičky od Martinusu',
    icon: 'martinus',
  }, {
    title: 'Káva, čaj a pochutiny',
    icon: 'fa-mug-hot',
  }, {
    title: 'Hrnčeky a fľaše',
    icon: 'fa-coffee-togo',
  }, {
    title: 'Papierníctvo',
    icon: 'fa-pencil-paintbrush',
  }, {
    title: 'Zápisníky a kalendáre',
    icon: 'fa-calendar',
  }, {
    title: 'Hudba',
    icon: 'fa-music',
  }, {
    title: 'LP platne',
    icon: 'fa-record-vinyl',
  }];

  const megaMenu = [
    {
      title: 'Knihy',
      id: 'knihy',
      mainLinkTitle: 'Zobraziť všetky knihy',
      categories: categoriesKnihy,
      recommended: [{
        title: 'Top autori',
        entries: ['Dominik Dán', 'Jo Nesbo', 'Juraj Červenák', 'Andrzej Sapkowski', 'J. K. Rowlingová', 'Sarah J. Maas', 'Jørn Lier Horst', 'Louisa May Alcott']
      }, {
        title: 'Top série',
        entries: ['Harry Potter', 'Zaklínač', 'Hunger Games', 'Pán prsteňov', 'Neapolská sága', 'Kapitán Stein a notár Barbarič', 'Harry Hole'],
      }],
      additionalLinks: [{
        title: 'Vianočné darčeky',
        icon: 'xmas-small',
        iconColor: 'text-color-success',
      }, {
        title: 'Darčekové poukážky',
        icon: 'footer-package',
        iconColor: 'text-color-primary',
      },{
        title: 'Bestsellery',
      }, {
        title: 'Novinky',
      }, {
        title: 'Pripravujeme',
      }, {
        title: 'Akcie',
      }, {
        title: 'Kolekcie',
      },],
      showAd: true,
    }, {
      title: 'Doplnky',
      id: 'doplnky',
      mainLinkTitle: 'Zobraziť všetky doplnky',
      categories: categoriesDoplnky,
      showAd: false,
    },
  ]

mixin megaMenuContent(props = {})
  -
    const {
      id,
      title,
      mainLinkTitle,
      additionalLinks,
      recommended,
      categories,
      showAd
    } = props;

  .mega-menu__content(data-mega-menu-target, id=`mega-menu-${id}`)
    .mega-menu__content-wrap
      if additionalLinks
        .mega-menu__recommended.overflow-scroll-shadow
          .overflow-scroll-x
            ul.list--expanded.p-none.mb-none.mega-menu__recommended__links
              each link in additionalLinks
                li
                  a.d-flex.align-items-center.link.link--black(href='#')
                    if link.icon
                      +icon(link.icon).icon--medium(class= link.iconColor).mr-tiny
                    =link.title
      .mega-menu__categories
        .row.mx-none.mb-m-medium
          each category in categories
            .col.col--m-4.col--12.mega-menu__categories__category
              a(href="#").d-flex.align-items-center.pt-small.pb-small.pt-m-medium.pb-m-none.link.link--black.mega-menu__categories__title.mb-none
                .mr-tiny.mega-menu__categories__icon
                  if category.icon.startsWith('fa-')
                    +faIcon(category.icon.replace('fa-', '')).text-color-primary.fa-fw
                  else
                    +icon(category.icon).icon--large.text-color-primary
                h3.mb-none=category.title
              if category.entries
                ul.mega-menu__categories__subcategories.text-medium.show-m.mt-tiny.mb-small
                  each item in category.entries
                    li.mb-none
                      a.pt-tiny.pb-tiny.d-block.link.link--black(href='#')= item
                  li
                    a.d-block.mt-tiny.link.link--grey(href='#')
                      | + Ďalšie kategórie
        if recommended
          .row.mx-none.mt-l-large.mb-medium
            each group, i in recommended
              .col.col--l-6.mt-medium
                .d-block.mb-tiny.text-transform-upper.text-size-small.m-none= group.title
                ul.list-inline.list-inline--bulleted.text-size-small.p-none.mb-none
                  each item in group.entries
                    li
                      a.link.link--black(href='#')= item
      if showAd
        .mega-menu__banner.mb-medium.mb-l-none
          a(href="#")
            img.img--fluid(src=`${assetsPrefix}images/content/banners/square.jpg`)


.header__mega-menu.mega-menu(data-mega-menu)
  .mega-menu__contents(data-mega-menu-contents)
    div.text-color-white.mega-menu__mobile-navigation.btn-layout.btn-layout--horizontal.mb-none.hide-l.overflow-scroll-x
      each item in mainNav
        .btn-dropdown.btn-dropdown--no-icon.m-none
          if item.trigger
            a.btn(
              data-mega-menu-trigger=`#${item.trigger}`,
              data-toggle="self",
              aria-haspopup="true",
              id=`toggle-${item.trigger}`
            )= item.title
          else
            a.btn(href=item.link)= item.title
    each item in megaMenu
      +megaMenuContent(item)
