include ./../../mixins/icon

-
  const categoriesKnihy = [{
    title: 'Beletria',
    icon: 'fa-book-open',
    entries: ['Detektívky, thrillery a horory', 'Sci-fi, fantasy a komiksy', 'Romantické a erotické', 'Svetová beletria', 'Slovenská beletria', 'Klasika', 'Historické', 'Romány'],
  }, {
    title: 'Pre deti',
    icon: 'fa-smile-beam',
    entries: ['Pre najmenších', 'Pre prvákov', 'Pre pubertiakov', 'Beletria', 'Rozprávky', 'Sci-fi, fantasy a komiksy', 'Leporelá', 'Náučné knihy'],
    hideEntries: true,
  }, {
    title: 'Odborná a náučná',
    icon: 'fa-lightbulb-on',
    entries: ['Motivácia a sebarozvoj', 'Management a biznis', 'Spoločnosť', 'História', 'Zdravie a životný štýl', 'Náboženstvo a ezoterika', 'Hobby', 'Encyklopédie'],
    hideEntries: true,
  }, {
    title: 'Kuchárky',
    icon: 'fa-knife-kitchen',
  }, {
    title: 'Životopisy a myšlienky',
    icon: 'fa-head-side-brain',
  }, {
    title: 'Učebnice a slovníky',
    icon: 'fa-graduation-cap',
  }, {
    title: 'Cudzojazyčná literatúra',
    icon: 'fa-flag',
  }, {
    title: 'Mapy a cestovanie',
    icon: 'fa-map-marked-alt',
  }];

  const categoriesDoplnky = [{
    title: 'Doplnky a darčeky',
    icon: 'fa-gift',
  }, {
    title: 'Vecičky od Martinusu',
    icon: 'martinus',
  }, {
    title: 'Káva, čaj a pochutiny',
    icon: 'fa-mug-hot',
  }, {
    title: 'Hrnčeky a fľaše',
    icon: 'fa-coffee-togo',
  }, {
    title: 'Papierníctvo',
    icon: 'fa-pencil-paintbrush',
  }, {
    title: 'Zápisníky a kalendáre',
    icon: 'fa-calendar',
  }, {
    title: 'Hudba',
    icon: 'fa-music-alt',
  }, {
    title: 'LP platne',
    icon: 'fa-record-vinyl',
  }];

  const megaMenu = [
    {
      title: 'Knihy',
      id: 'knihy',
      mainLinkTitle: 'Zobraziť všetky knihy',
      categories: categoriesKnihy,
      recommended: [{
        title: 'Top autori',
        entries: ['Jo Nesbo', 'Dominik Dán', 'J. K. Rowlingová', 'Juraj Červenák']
      }, {
        title: 'Top série',
        entries: ['Harry Potter', 'Zaklínač', 'Pieseň ľadu a ohňa', 'Harry Hole'],
      }],
      additionalLinks: [{
        title: 'Bestsellery',
        icon: 'fas fa-heart text-color-theme',
      }, {
        title: 'Akcie a zľavy',
        icon: 'fas fa-percentage text-color-success',
      }, {
        title: 'Novinky',
        icon: 'fas fa-star text-color-yellow',
      }, {
        title: 'Pripravujeme',
        icon: 'fas fa-spinner',
      }]
    }, {
      title: 'Doplnky',
      id: 'doplnky',
      mainLinkTitle: 'Zobraziť všetky doplnky',
      categories: categoriesDoplnky,
    },
  ]

mixin megaMenuContentTest(props = {})
  -
    const {
      id,
      title,
      mainLinkTitle,
      additionalLinks,
      recommended,
      categories,
    } = props;

  .mega-menu__content(data-mega-menu-target, id=`mega-menu-${id}`)
    .mega-menu__mobile-header(
      data-toggle='self, parent, [data-mega-menu-contents]',
      data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-arrow-left`,
      data-toggle-expand,
      aria-haspopup="true"
    )
      .bar
        .bar__item.bar__item--fill= title
        .bar__item
          +icon('arrow-right').icon--medium.text-color-grey
    .mega-menu__content-wrap
      .mega-menu__categories.mega-menu-categories
        .row.border-bottom-grey
          .col
            .mega-menu--title.flex.align-items-justify.align-items-middle.mb-medium
              h2.no-mrg-bottom= title
              a.link.text-size-medium= mainLinkTitle
        .row
          each category in categories
            .col.col--l-4.col--m-6.col--category.pt-medium
              .flex.pl-medium
                .category-icon
                  if category.icon.startsWith('fa-')
                    i.text-color-theme.fa-2x.fa-fw.fad(class= category.icon)
                  else
                    +icon(category.icon).icon--large.text-color-theme
                div
                  a(href="#").link.link--black.mega-menu-categories__title
                    h3.mt-tiny.mb-medium=category.title
                  if category.entries
                    ul.no-pad-left.text-medium(class=category.hideEntries?'show-m':'')
                      each item in category.entries
                        li.mb-small
                          a.link.link--black(href='#')= item
                      li
                        a.link(href='#')
                          | + Ďalšie kategórie
        if additionalLinks
          .row
            .col
              ul.list--extra-links.list-inline.list-inline--expanded.text-medium.mt-medium.flex.flex-wrap.align-items-center.align-items-middle
                each link in additionalLinks
                  li.col--category
                    a.block.pt-medium.pb-medium.link(href='#').text-center
                      i.fa-lg(class=link.icon)
                      | &nbsp;
                      = link.title
      if recommended
        .mega-menu__recommended
          .row
            each group in recommended
              .col--6.col--m-4.col--l-12
                ul.list--expanded.text-size-medium.no-pad
                  li.text-transform-upper.text-size-small= group.title
                  each item in group.entries
                    li
                      a.link(href='#')= item

.header__mega-menu.mega-menu.mega-menu-test-2(data-mega-menu)
  .mega-menu__contents(data-mega-menu-contents)
    each item in megaMenu
      +megaMenuContentTest(item)
