mixin annotationAuthor(props = {})
  -
    const {
      photo = "http://mrtns.eu/customers/_l/MD/lMDJH4EFG.jpg?v=1553763224",
      name = "Ivana Hrenáková",
      link = "https://www.martinus.sk/u/kendy",
      position = "projektová manažérka pre marketing",
      bio = "Knihomoľ telom, dušou aj zamestnaním.",
    } = props;

  .bar
    .bar__item(style="position: relative;")
      .portrait.portrait--large(style=`background-image: url(${photo});`)
      div(style="position: absolute; bottom: 0; right: 0;")
        img(src="images/content/logo-small.svg")
    .bar__item.bar__item--fill
      a(href=`${link}`).link #{name}
      br
      strong.text-color-grey #{position}
      p #{bio}