mixin annotationAuthor(props = {})
  -
    const { photo, name, link, position, bio } = props;
  .bar
    .bar__item(style="position: relative;")
      if photo
        .portrait.portrait--large(style=`background-image: url(${photo});`)
      if link
        div(style="position: absolute; bottom: 0; right: 0;")
          img(src="https://i1.martinus.sk/assets/martinus/lb/images/content/logo-small.svg")
    .bar__item.bar__item--fill
      if link
        a(href=`${link}`).link #{name}
      else
        strong #{name}
      br
      strong.text-color-grey #{position}
