include ../product
include ../icon

mixin bookVertical(props = {})
  -
    const {
      cover,
      coverSize,
      title,
      authors,
      publisher,
      description,
      review,
      id,
      recommender,
    } = props;

  .section.product-item.no-mrg-bottom.book-vertical
    .wrapper-main.text-center
      +product().no-mrg-bottom
        +productCover({
          cover: cover,
          size: 'xlarge'
        }).mb-medium.text-center
      h2(data-toggle=`#u${id}`).text-bold.mb-small
        a.link.link--product.text-bold #{title}
      ul.list--dot.no-pad.mb-small
        li
          each val, key in authors
            if key >= 1
              span , 
            a.link(href=`${val.url}`) #{val.name}
        li
          span.text-color-grey #{publisher}
      a(data-toggle=`#u${id}` style="display:block;").link.text-medium.text-color-theme.mb-medium Viac o knihe
        +icon('arrow-right', 'icon--small')