mixin bookCover(props = {})
  -
    const { cover, type = "book", size = "large", clickable = true, review, recommender, id } = props;

    const tag = 'a';

  //data-toggle= `#u${id}`
  .product__cover&attributes(attributes)
    #{tag}.thumbnail(
      class= type ? `thumbnail--${type}`: '',
      class= size ? `thumbnail--${size}`: '',
      class= clickable ? `thumbnail--clickable`: '',
      class='mj-boty2020-modal'
      href=`https://www.martinus.sk?uItem=${id}`,
      data-target=`#u${id}`
    )
      .thumbnail__img-wrap
        img(src=`${assetsPrefix}${cover}`).img
