include ../product
include ../icon

mixin bookHorizontal(props = {})
  -
    const {
      cover = "https://mrtns.eu/tovar/_l/658/l658361.jpg",
      coverSize = "xlarge",
      title = "Normálni ľudia",
      author = "Sally Rooney",
      authorUrl = null,
      publisher = "Lindeni",
      description = "Tento román sprevádzajú zmiešané reakcie, pretože niečím vyrušuje... V mnohých ohľadoch je ako mozaika. Počas čítania sa vám môže zdať, že sa tam vlastne veľa nedeje, po poslednej bodke sa však pred vami zjaví celý obraz. Je to romanca, spoločenský román aj dráma z prostredia rodiny. Ale predovšetkým je to skvelá knižka o dvoch dušiach, ktoré k sebe patria.",
      id = 658361,
      recommender = "Ivana Hrenáková",
      recommenderUrl = null,
    } = props;

  .section.product-item.no-mrg-bottom
    .wrapper-main
      .row
        .col--4.col--s-shrink.text-left
          +product().no-mrg-bottom
            +productCover({
              cover: cover,
              size: coverSize
            }).mb-medium
        .col--s-fill
          h2(data-toggle=`#modal-${id}`).text-bold.mb-small
            a.link.link--product.text-bold #{title}
          ul.list--dot.no-pad
            li
              a.link(href="#") #{author}
            li
              span.text-color-grey #{publisher}
          p #{description}
          a(data-toggle=`#modal-${id}`).link.text-medium.text-color-theme Viac o knihe
            +icon('arrow-right', 'icon--small')