include ../product
include ../icon

mixin bookVertical(props = {})
  -
    const {
      cover,
      coverSize,
      title,
      authors,
      publisher,
      description,
      review,
      showReview,
      id,
      recommender,
    } = props;

  .section.product-item.mb-none.book-vertical
    .wrapper-main.text-center
      +product().mb-none
        +productCover({
          cover: cover,
          size: 'xlarge'
        }).mb-medium.text-center
      h2.text-bold.mb-small
        a.link.link--product.text-bold.mj-boty2020-modal(
          href=`https://www.martinus.sk/?uItem=${id}`,
          data-target=`#u${id}`
          ) #{title}
      ul.list-inline.list-inline--bulleted.p-none.mb-small
        li
          each val, key in authors
            if key >= 1
              span ,
            if val.url
              a.link(href=`${val.url}`) #{val.name}
            else
              strong #{val.name}
        li
          span.text-color-grey #{publisher}
      a(
        href=`https://www.martinus.sk/?uItem=${id}`,
        style="display:block;",
        data-target=`#u${id}`
        ).link.text-medium.text-color-primary.mb-medium.mj-boty2020-modal Viac o knihe
        +icon('arrow-right', 'icon--small')
