include ../product
include ../icon

mixin bookVertical(props = {})
  -
    const {
      cover,
      coverSize,
      title,
      authors,
      publisher,
      description,
      review,
      showReview,
      id,
      recommender,
    } = props;

  .section.product-item.no-mrg-bottom.book-vertical
    .wrapper-main.text-center
      +product().no-mrg-bottom
        +productCover({
          cover: cover,
          size: 'xlarge'
        }).mb-medium.text-center
      h2.text-bold.mb-small
        a.link.link--product.text-bold.mj-boty2020-modal(
          href=`https://www.martinus.sk/?uItem=${id}`,
          data-review=review,
          data-recommender=JSON.stringify(recommender)
          ) #{title}
      ul.list--dot.no-pad.mb-small
        li
          each val, key in authors
            if key >= 1
              span ,
            if val.url
              a.link(href=`${val.url}`) #{val.name}
            else
              strong #{val.name}
        li
          span.text-color-grey #{publisher}
      a(
        href=`https://www.martinus.sk/?uItem=${id}`,
        style="display:block;",
        data-review=review,
        data-recommender=JSON.stringify(recommender)
        ).link.text-medium.text-color-theme.mb-medium.mj-boty2020-modal Viac o knihe
        +icon('arrow-right', 'icon--small')
