include ../product
include ../icon
include ./annotation
include ./annotationAuthor

mixin bookHorizontal(props = {})
  -
    const {
      cover,
      coverSize,
      title,
      authors,
      publisher,
      description,
      review,
      showReview,
      prefereDescription,
      id,
      recommender,
    } = props;

  .section.product-item.no-mrg-bottom
    .wrapper-main
      .row
        .col--4.col--s-shrink.text-left.ofst--center
          +product().no-mrg-bottom
            +productCover({
              cover: cover,
              size: coverSize
            }).mb-medium
        .col--s-fill
          h2.text-bold.mb-small
            a.link.link--product.text-bold.mj-boty2020-modal(
              href=`https://www.martinus.sk/?uItem=${id}`,
              data-target=`#u${id}`
            ) #{title}
          ul.list-inline.list-inline--bulleted.no-pad
            li
              each val, key in authors
                if key >= 1
                  span ,
                if val.url
                  a.link(href=`${val.url}`) #{val.name}
                else
                  strong #{val.name}
            li
              span.text-color-grey #{publisher}
          if showReview
            +annotation({annotation: review})
            +annotationAuthor(recommender)
          else
            p.mb-small #{prefereDescription ? description : review || description}
          a(
            href=`https://www.martinus.sk/?uItem=${id}`,
            style="display:block;",
            data-target=`#u${id}`
          ).link.text-medium.text-color-primary.mb-large.mj-boty2020-modal Viac o knihe
            +icon('arrow-right', 'icon--small')
