include ../product
include ../icon

mixin bookVertical(props = {})
  -
    const {
      cover = "https://mrtns.eu/tovar/_l/721/l721103.jpg",
      coverSize = "xlarge",
      title = "Tajný príbeh",
      authors = [
        { name: "Donna Tartt", url: "https://www.martinus.sk/authors/donna-tartt" },
      ],
      publisher = "Slovart",
      description = "Strhujúci debut autorky svetového bestsellera Stehlík. Úprimná spoveď hlavného hrdinu Richarda Papena, ktorý sa v spomienkach vracia do svojich študentských rokov na malej vermontskej univerzite, kde našiel taký životný štýl, po akom vždy túžil...",
      review = "Len ťažko sa dá vypichnúť konkrétna vec, ktorá z tejto knihy robí veľký román. Príbeh, prostredie, postavy, štýl písania – všetko spolu hrá ako celok. Je to príbeh, ktorý vám pripomenie, že život nie je vôbec čierno-biely, buď-alebo, dobrý-zlý. A že to, čo je logické, ešte nemusí byť správne či morálne.",
      id = 721103,
      recommender = {
        name: "Ivana Hrenáková",
        position: "projektová manažérka pre marketing",
        bio: "Knihomoľ telom, dušou aj zamestnaním.",
      },
    } = props;

  .section.product-item.no-mrg-bottom.book-vertical
    .wrapper-main.text-center
      +product().no-mrg-bottom
        +productCover({
          cover: cover,
          size: 'xlarge'
        }).mb-medium.text-center
      h2(data-toggle=`#u${id}`).text-bold.mb-small
        a.link.link--product.text-bold #{title}
      ul.list--dot.no-pad
        li
          each val, key in authors
            if key >= 1
              span , 
            a.link(href=`${val.url}`) #{val.name}
        li
          span.text-color-grey #{publisher}
      a(data-toggle=`#u${id}`).link.text-medium.text-color-theme Viac o knihe
        +icon('arrow-right', 'icon--small')