include ./categoriesLinks

mixin categoriesLinksAdult(activeIndex)
  -
    const suffix = "-dospeli"
  section.section#dospely
    .wrapper-main
      h2 Kategórie
  section.section.pt-none.sticky
    .wrapper-main
      +categoriesLinks({
        links: [
          {
            title: "Beletria",
            id: `#beletria${suffix}`,
          },
          {
            title: "Reportáž a literatúra faktu",
            id: `#reportaz-a-literatura-faktu${suffix}`,
          },
          {
            title: "Populárno - náučná literatúra",
            id: `#popularno-naucna-literatura${suffix}`,
          },
          {
            title: "Dizajn",
            id: `#dizajn${suffix}`,
          },
          {
            title: "Tipy vydavateľov",
            id: `#tipy-vydavatelov${suffix}`,
          },
        ],
        activeIndex,
    })
