include ./categoriesLinks

mixin categoriesLinksChild(activeIndex)
  -
    const suffix = "#deti"
  section.section
    .wrapper-main
      .mb-large
      h2 Kategórie pre deti
    #deti(style="padding-top: 60px; margin-top: -60px;")
    .sticky(data-sticky, data-scroll-offset=`{"0": ${header.size.default}, "768": ${header.size.m}}`)
      .wrapper-main
        +categoriesLinks({
          links: [
            {
              title: "Vo veku 0-3 roky",
              id: `beletria${suffix}`
            },
            {
              title: "Vo veku 4-6 rokov",
              id: `knihy-pre-deti-vo-veku-4-6-rokov${suffix}`
            },
            {
              title: "Vo veku 7-10 rokov",
              id: `knihy-pre-deti-vo-veku-7-10-rokov${suffix}`
            },
            {
              title: "Vo veku 11-13 rokov",
              id: `knihy-pre-deti-vo-veku-11-13-rokov${suffix}`
            },
            {
              title: "Vo veku 14-16 rokov",
              id: `knihy-pre-deti-vo-veku-14-16-rokov${suffix}`
            },
          ],
          activeIndex,
      })