include ../product
include ../faIcon
include ../booksCarouselRecommended
include ./checkoutModal
include ./bookCover

mixin prispievatelkyCarousel(props = {})
  -
    const {} = props;

    var swiperConfig = {
      slidesPerView: 1,
      breakpoints: {
        640: {
          slidesPerView: 2,
        },
        768: {
          slidesPerView: 3,
        },
        1024: {
          slidesPerView: 4,
        }
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel&attributes(attributes)
    .swiper.swiper--fullwidth.swiper--prispievatelky(data-swiper-options=swiperConfig)
      +booksCarouselSwiperWrapper({})(data-equal-columns)
        each val in prispievatelky
          .swiper-slide.carousel__product-detail
            .text-center
              .portrait.portrait--large.portrait--center.mb-medium(style=`background-image: url(${val.photo});`)
              p.mb-small
                strong #{val.name}
              p.mb-small.text-color-grey #{val.category}
              p #{val.bio}

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +faIcon('arrow-left').fa-2x
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +faIcon('arrow-right').fa-2x
