extends templates/layout

include ./../mixins/loader

//- Options
block prepend opts
  - var page = helpers.getPageIds('components.loaders', l_sitemap);
  - var categoryID = page.category;
  - var pageID = page.page;

//- Content
block prepend content

  +main-info(['app/styles/modules/_loader.scss'], contents)

    +p-big Documentation for loader components.

  //- end: main info

//- Content
block append content

  //- TABS
  +content-section(contents[0], true)

    +p Preview of loader element which is specified as shown on example below. Loader should be used in case, when content or response is not available instantly and user needs to wait.

    +p By default, loading state should be announced inside <a href="alerts#{htmlPostfix}">alert</a> component.

    +demo
      +demo-example
        +loader

      +demo-code
        :code
          <svg class="icon icon-loader icon--medium text-color-grey loader" role="img" aria-hidden="true">
            <use xlink:href="../icons_/app.svg#icon-loader"></use>
          </svg>

    +content-sub-section('Sizes')

      +p Same as icon sizes there are fours loader sizes: small, medium, large and xlarge. Size for icon can be specified with class <code class='l-code-inline'>.loader--[small/medium/large/xlarge]</code> on the loader element.

      +demo
        +demo-example
          ul.l-icons
            li.l-icons_item
              +loader({ size: 'xlarge'})
              br
              abbr(title=icon).text-color-grey XL
            li.l-icons_item
              +loader({ size: 'large'})
              br
              abbr(title=icon).text-color-grey L
            li.l-icons_item
              +loader({ size: 'medium'})
              br
              abbr(title=icon).text-color-grey M
            li.l-icons_item
              +loader({ size: 'small'})
              br
              abbr(title=icon).text-color-grey S
        +demo-code
          :code
            <svg class="icon icon-loader icon--xlarge text-color-grey loader" role="img" aria-hidden="true">
              <use xlink:href="../icons_/app.svg#icon-loader"></use>
            </svg>
            <svg class="icon icon-loader icon--large text-color-grey loader" role="img" aria-hidden="true">
              <use xlink:href="../icons_/app.svg#icon-loader"></use>
            </svg>
            <svg class="icon icon-loader icon--medium text-color-grey loader" role="img" aria-hidden="true">
              <use xlink:href="../icons_/app.svg#icon-loader"></use>
            </svg>
            <svg class="icon icon-loader icon--small text-color-grey loader" role="img" aria-hidden="true">
              <use xlink:href="../icons_/app.svg#icon-loader"></use>
            </svg>

    +content-sub-section('Color variants')

      +p Two color variants are available: <code class='l-code-inline'>default (grey)/white</code>.

      +demo
        +demo-example
          ul.l-icons
            li.l-icons_item
              +loader
              br
              abbr(title=icon).text-color-grey Default
            li.l-icons_item.l-icons_item-dark
              +loader({ color: 'white'})
              br
              abbr(title=icon).text-color-grey White
        +demo-code
          :code
            <svg class="icon icon-loader icon--medium text-color-grey loader" role="img" aria-hidden="true">
              <use xlink:href="../icons_/app.svg#icon-loader"></use>
            </svg>
            <svg class="icon icon-loader icon--medium text-color-white loader" role="img" aria-hidden="true">
              <use xlink:href="../icons_/app.svg#icon-loader"></use>
            </svg>

//- end: section
