mixin accountHeader(props = {})
  -
    const {
      name = 'Bartolomej Najsčítanejší',
      nav = [
        {
          title: 'Moja knižnica',
          href: 'my-library.html',
        },
        {
          title: 'Na stiahnutie',
          href: 'to-download',
        },
        {
          title: 'Objednávky',
          href: 'orders.html',
        },
        {
          title: 'Účet',
          href: 'my-account.html',
        },
      ],
      navActive = 0,
      saveButton = false,
    } = props;

  section.section.section--secondary.section--small.mb-none&attributes(attributes)
    .wrapper-main
      .row.align-items-middle
        .col--m-4.mb-medium
          .bar.no-mrg-bottom
            .bar__item
              img.img--fluid.img--circle.thumbnail.thumbnail--medium(src=`images/content/user-photo.png`, alt="Tomáš Ulej")
            .bar__item.bar__item--fill
              h1.h3.text-color-black.text-semibold.no-mrg-bottom= name
              h2.h5 Môj martinus
        .col--m-8.mb-medium.show-m
          .bar.no-mrg-bottom
            .bar__item.bar__item--fill
              +inlineNav({ items: nav, active: navActive }).no-mrg-bottom.show-l
            .bar__item.text-right.show-l
              button.btn.btn--clean.btn--small.no-mrg-bottom
                | Odhlásiť sa
                +icon('logout', 'icon--medium').icon--right

  section.section.section--secondary.section--toolbar.hide-l(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-scroll-offset=header.size.default)&attributes(attributes)
    .wrapper-main
      .bar.bar--small.mb-small
        .bar__item.bar__item--fill
          if nav
            - const activeNavItem = nav.splice(navActive, 1)[0];
            .btn-layout.btn-layout--vertical
              .btn-dropdown
                button.btn.btn--ghost(
                  data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                  data-toggle-expand,
                  aria-haspopup="true"
                )
                  = activeNavItem.title
                  +icon('chevron-down', 'icon-dropdown').icon--medium
                .dropdown(data-dropdown, data-toggle-expand)
                  .dropdown__wrap
                    each item in nav
                      -
                        const title = typeof item === 'string' ? item : item.title;
                        const href = typeof item === 'string' ? '#' : (item.href || '#');
                      a(href= href).dropdown__item= title
          else
            block
        if saveButton
          .bar__item
            button.btn
              +icon('save', 'icon--medium').icon--left
              | Uložiť zmeny
        .bar__item.text-right
          button.btn.btn--clean.btn--small.no-mrg-bottom
            span.show-m Odhlásiť sa
            +icon('logout', 'icon--medium').icon--right
