include ./../mixins/addTo
include ./../mixins/xmas

mixin addTo2(props = {})
  -
    const {
    text = 'Pridať do',
    icon = 'heart',
    iconClass = '',
    link = false,
    status = true,
    id = Math.floor((Math.random() * 1000)),
    buttonClass = 'btn--clean',
    info = false,
    purchased = false,
    } = props;

  if purchased
    .mb-medium.text-color-grey
      +icon('check-circle').icon--small
      | #{' '}Zakúpené dňa 10.9. 2019
  .btn-dropdown.btn-dropdown--no-icon&attributes(attributes)
    if link
      a.link.text-medium(id=`wishlist-button-${id}`, data-toggle="self, next",  aria-expanded="false", data-toggle-expand)=text
    else
      button.btn.no-mrg(id=`wishlist-button-${id}`, data-toggle="self, next",  aria-expanded="false", data-toggle-expand, class=buttonClass ? buttonClass : "")
        +icon(icon).icon--medium(class=text ? "icon--left" : "", class=iconClass ? iconClass : "")
        | #{text}

    .dropdown.dropdown--arrowhead(id=`wishlist-dropdown-${id}` data-dropdown, data-dropdown-interactive, data-toggle-expand, aria-expanded="false")
      .dropdown__wrap(style="min-width: 150px;")
        div(id=`my-library-dropdown-${id}` data-toggle-class="hide")
          if !status
            .dropdown__item.text-size-small Odložte si knihu do jedného zo zoznamov
          each item, i in ['Wishlist', 'Vianoce', 'Slovenská klasika']
            .dropdown__item
              .checkbox
                input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                label(for=`list-check${i}`).radiocheck__control
                label(for=`list-check${i}`).radiocheck__label=item
          a(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`).dropdown__item.dropdown__item--more Ďalšie zoznamy
          a(data-toggle=`#wishlist-add-item-${id}, #my-library-dropdown-${id}`).dropdown__item
            | Nový zoznam
            +icon('plus').icon--left.icon--medium.text-color-success
          if status
            a(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-states-${id}`).dropdown__item.dropdown__item--more Označiť ako
        .hide(id=`my-library-dropdown-list-${id}` data-toggle-class="hide")
          .bar.no-mrg-bottom
            .bar__item.no-mrg-right
              button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-list-${id}, #my-library-dropdown-${id}`)
                +icon('chevron-left', 'icon--medium', 'Naspäť')
            .bar__item.bar__item--fill
              h5.dropdown__group Presunúť do:
            .bar__item
              button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`)
                +icon('close', 'icon--small', 'Naspäť')
          a(href="#").dropdown__item Do školy
          a(href="#").dropdown__item Pre brata
        .hide(id=`wishlist-add-item-${id}` data-toggle-class="hide")
          .card.mb-none
            .card__content.card__content--condensed
              .bar.flex-nowrap
                .bar__item.no-mrg-right
                  button.btn.btn--clean.btn--small(data-toggle=`#wishlist-add-item-${id}, #my-library-dropdown-${id}`)
                    +icon('chevron-left', 'icon--medium', 'Naspäť')
                .bar__item.align-self-center.text-center.text-nowrap
                  | Nový zoznam
                .bar__item
                  button.btn.btn--clean.btn--small(data-toggle=`#wishlist-add-item-${id}, #my-library-dropdown-${id}`)
                    +icon('close', 'icon--small', 'Naspäť')
              .form-control.form-control--input
                input(name=`new-wishlist-${id}`, id=`new-wishlist-${id}`, placeholder="napr. otcovi na Vianoce").input
              .btn-layout--vertical
                button(type="button").btn.btn--full.no-mrg-bottom Vytvoriť
        .hide(id=`my-library-dropdown-states-${id}` data-toggle-class="hide")
          .bar.no-mrg-bottom
            .bar__item.no-mrg-right
              button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-states-${id}, #my-library-dropdown-${id}`)
                +icon('chevron-left', 'icon--medium', 'Naspäť')
            .bar__item.bar__item--fill
              h5.dropdown__group Označiť ako:
            .bar__item
              button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-states-${id}`)
                +icon('close', 'icon--small', 'Naspäť')
          a(href="#").dropdown__item
            +icon('circle').icon--small.text-color-grey.text-space-right
            b Neprečítané
          a(href="#").dropdown__item
            +icon('time').icon--small.text-color-blue.text-space-right
            | Práve čítam
          a(href="#", data-toggle="#book-read-modal").dropdown__item
            +icon('check-circle').icon--small.text-color-success.text-space-right
            | Prečítaná

  if info
    span Pridané do: #{' '}
      a.link Môj Wishlist
      | #{', '}
      a.link Moje naj
      | #{', '}
      a.link Slovenské fantasy


.price-box
  ul.tab-nav.tab-nav--block.tab-nav--rounded(data-tabs-container)
    li.tab-nav__item.flex-noshrink(data-tabs-item)
      a.tab-nav__content.tab-nav__content--card(href='#web' role="tab")
        span.tab-nav__content-wrap
          span.block.text-ellipsis Na webe
          span.status.status--success.text-color-grey.text-normal.text-ellipsis do 3 dní
    li.tab-nav__item(data-tabs-item)
      a.tab-nav__content.tab-nav__content--card(href='#shop' role="tab")
        span.tab-nav__content-wrap.text-nowrap
          span.block.text-ellipsis Odložiť v kníhkupectve
          span.status.status--success.text-color-grey.text-normal.text-ellipsis Bratislava, Obchodná

  .tabs
    section#web.tab
      article.card.card--well.text-center.text-size-medium

        .card__content
          .row
            .col--6.col--m-12.text-right.text-center-m
              .h1.price-box__price.no-mrg-bottom 12,99 €
            .col--6.col--m-12.text-left.text-center-m
              p.text-color-grey-dark.mb-none.mb-small-m
                span.show-m Bežná cena#{' '}
                span.hide-m Bežne#{' '}
                span.text-strikethrough 15,42 €
              .badges.badges--inline.align-items-center.no-mrg-bottom
                .badge.badge--primary Ušetríte 3,50 €

              .mb-tiny
              .badge.badge--large
                +icon('tip-heart').icon--medium.text-space-right-tiny
                span.text-space-right-tiny alebo
                a.link podporte vydavateľov

        .card__content

          +xmas()

          p.mb-small.text-color-grey-dark Máme na#{' '}
            em(data-tooltip, title="Toto je tooltip vysvetlivka") sklade
            | ,#{' '}posielame#{' '}
            em(data-tooltip, title="Táto kniha sa môže na cestu ku vám vybrať prakticky okamžite! Ak si ju objednáte do 13:00 v pracovný deň, odošleme vám ju ešte dnes, inak najneskôr nasledujúci pracovný deň.") ihneď
            | .
          .btn-layout--vertical

            if (pageTitle == 'Detail knihy')
              button.btn.btn--primary.btn--large.mb-small.is-consent-show-m(data-toggle='#checkout-notice')
                +icon('cart').icon--left.icon--medium
                | Vložiť do košíka
            else if (pageTitle == 'Detail knihy 2')
              button.btn.btn--primary.btn--large.mb-small.is-consent-show-m(data-toggle='#checkout-notice')
                +icon('cart').icon--left.icon--medium
                | Vložiť do košíka
            else
              button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                +icon('cart').icon--left.icon--medium
                | Vložiť do košíka

            if (pageTitle == 'Detail knihy 2')
              .flex.align-items-middle.is-consent-show-m
                button.btn.btn--success.btn--medium.mb-none.flex-fill.text-space-right-tiny(data-toggle='#quick-checkout')
                  +icon('fwd').icon--left.icon--medium
                  | Zrýchlený nákup
                +icon('info').icon--medium.text-color-grey(data-tooltip, title="S tymto butonom nakupite strasne rychlo, ze si ani nevsimnete")

            +addTo2({info: true, buttonClass: 'btn--ghost', purchased: true})

    section#shop.tab.text-size-medium
      article.card.card--well.text-center

        .card__content
          .h1.price-box__price 13,90 €

        .card__content
          .form-control.form-control--select.align-items-center.no-mrg
            select#store-list-select.store-list-select.select--ghost.select--store.select--lowercase(data-select-store, data-select-small)

          .mb-tiny
          .mb-small
            +icon('xmas-small').icon--small.text-color-success.text-space-right-tiny
            a(href="#").link Otváracie hodiny počas Vianoc


        .card__content
          .btn-layout--vertical
            button.btn.btn--primary.btn--large.mb-small(data-toggle="#book-reservation") Rezervovať na 48 hod.

            +addTo()
      script.
        document.addEventListener('myAppLoaded', function() {
          const dataStoreList = {"choices":[{"label":"Kn\u00edhkupectv\u00e1 Martinus","id":1,"choices":[{"value":"24","label":"Bansk\u00e1 Bystrica","id":"24","selected":true,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 8:00 \u2013 20:00","status":"orange","statusText":"Posledn\u00e9 kusy","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"10","label":"Bratislava - Cubicon","id":"10","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 20:00","status":"orange","statusText":"Posledn\u00e9 kusy","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"7","label":"Bratislava - Obchodn\u00e1","id":"7","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Piatok 8:30 \u2013 21:00, Sobota \u2013 Nede\u013ea 10:00 \u2013 20:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"12","label":"Ko\u0161ice - Gal\u00e9ria","id":"12","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 21:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"31","label":"Ko\u0161ice - Urban","id":"31","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 21:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"22","label":"Lu\u010denec","id":"22","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 21:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"26","label":"Martin","id":"26","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 8:00 \u2013 20:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"4","label":"Nitra","id":"4","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 20:00","status":"orange","statusText":"Posledn\u00e9 kusy","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"18","label":"Poprad","id":"18","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 21:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"19","label":"Pova\u017esk\u00e1 Bystrica","id":"19","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 18:00, Sobota 8:00 \u2013 12:00","status":"orange","statusText":"Posledn\u00e9 kusy","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"29","label":"Pre\u0161ov","id":"29","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 21:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"28","label":"Trnava","id":"28","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 21:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"5","label":"\u017dilina","id":"5","selected":false,"customProperties":{"type":"martinus","openingHours":"Pondelok \u2013 Nede\u013ea 9:00 \u2013 21:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}}]},{"label":"Spriatelen\u00e9 kn\u00edhkupectv\u00e1","id":2,"choices":[{"value":"117","label":"Doln\u00fd Kub\u00edn (Zrno)","id":"117","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 16:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"111","label":"Humenn\u00e9 (Na korze)","id":"111","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 17:00, Sobota 9:00 \u2013 12:00","status":"orange","statusText":"Posledn\u00e9 kusy","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"121","label":"Ilava (Knihy Korn\u00e9lia)","id":"121","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 16:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"110","label":"Ke\u017emarok (Alter ego)","id":"110","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 18:00, Sobota 8:30 \u2013 12:00","status":"orange","statusText":"Posledn\u00e9 kusy","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"109","label":"Myjava (Kniha Myjava)","id":"109","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 8:00 \u2013 17:00, Sobota 8:00 \u2013 12:00","status":"orange","statusText":"Posledn\u00e9 kusy","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"112","label":"Nov\u00e9 Mesto nad V\u00e1hom (Kniha Malovec)","id":"112","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 8:00 \u2013 18:00, Sobota 9:00 \u2013 12:00","status":"success","statusText":"Na predajni","behaviours":["reservation"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"127","label":"Rev\u00faca (KnihArt)","id":"127","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 17:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"129","label":"Rimavsk\u00e1 Sobota (KnihArt)","id":"129","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 17:00","status":"orange","statusText":"Posledné kusy", "behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"125","label":"Ro\u017e\u0148ava (KnihArt)","id":"125","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 9:00 \u2013 17:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"133","label":"Sabinov (SaBa)","id":"133","selected":false,"customProperties":{"type":"partner","openingHours":"Pondelok \u2013 Piatok 8:30 \u2013 16:30, Sobota 8:30 \u2013 12:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}},{"value":"141","label":"Trebi\u0161ov (\u0160UM)","id":"141","selected":false,"customProperties":{"type":"partner","openingHours":"Utorok \u2013 Piatok 15:00 \u2013 18:00","status":"grey","statusText":"Nedostupn\u00e9","behaviours":["reservation","not_available"],"has_click_and_collect":true,"has_click_and_deliver":false}}]}]};
          new window.myApp.Select('#store-list-select', dataStoreList);
        });

