.price-box
  ul.tab-nav.tab-nav--block.tab-nav--rounded(data-tabs-container)
    li.tab-nav__item.flex-noshrink(data-tabs-item)
      a.tab-nav__content.tab-nav__content--card(href='#web' role="tab")
        span.tab-nav__content-wrap
          | Na webe
          br
          span.status.status--success.text-color-grey.text-normal.text-ellipsis do 3 dní
    li.tab-nav__item(data-tabs-item)
      a.tab-nav__content.tab-nav__content--card(href='#shop' role="tab")
        span.tab-nav__content-wrap.text-nowrap
          span.inline-block.text-ellipsis Odložiť v kníhkupectve
          br
          span.status.status--success.text-color-grey.text-normal.text-ellipsis Bratislava, Obchodná

  .tabs
    section#web.tab
      article.card.card--well.text-center.text-size-medium

        .card__content
          .row
            .col--6.col--m-12.text-right.text-center-m
              .h1.price-box__price.no-mrg-bottom 12,99 €
            .col--6.col--m-12.text-left.text-center-m
              p.text-color-grey-dark.mb-none.mb-small-m
                span.show-m Bežná cena#{' '}
                span.hide-m Bežne#{' '}
                span.text-strikethrough 15,42 €
              .badges.badges--inline.align-items-center.no-mrg-bottom
                .badge.badge--primary Ušetríte 3,50 €

        .card__content
          p.mb-small.text-color-grey-dark Máme na#{' '}
            em(data-tooltip, title="Toto je tooltip vysvetlivka") sklade
            | ,#{' '}posielame#{' '}
            em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
            | .
          .btn-layout--vertical
            button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
              +icon('cart').icon--left.icon--medium
              | Vložiť do košíka

            +addTo()

    section#shop.tab.text-size-medium
      article.card.card--well.text-center

        .card__content
          .h1.price-box__price 13,90 €

        .card__content
          .form-control.form-control--select.align-items-center.no-mrg
            select.store-list-select.select--ghost.select--lowercase(data-select-store)
              option(placeholder, selected, disabled) Vyberte kníhkupectvo

        .card__content
          .btn-layout--vertical
            button.btn.btn--primary.btn--large.mb-small(data-toggle="#book-reservation") Rezervovať na 48 hod.

            +addTo()
