include ./../mixins/addTo
include ./../mixins/booksCarouselRecommended
include ./../mixins/pagination
include ./../mixins/icon
include ./../mixins/xmas

mixin productInfo(props = {})
  -
    const {
      item
    } = props;

  .col--fill
    h2.h3.mb-none
      a.link.link--product(href="detail-knihy.html")
        =item.title
        if item.subtitle
          .inline-block-m.text-color-grey.text-normal.ml-small-m #{item.subtitle}
    .text-medium.mb-small
      for author, i in item.author.split(', ')
        if i > 0
          | ,#{' '}
        a.link #{author}
      span.text-color-grey.ml-small
        | 1. diel série
    .badges.badges--inline.mb-small.show-m
      +productRatingBadge({ rating: item.rating })
      .badge.badge--blue
        | TOP #29
    p.text-medium.mb-none.product-item__description
      | Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké vybavení je nezbytné, jaké u nás žijí ryby a jak je lze ulovit. K tomu slouží také vhodné místo k lovu a správná nástraha.

mixin productRatingBadge(props = {})
  -
    const {
      rating
    } = props;

  a.badge
    +icon('star', '').text-color-yellow
    span.text-color-grey #{rating}
    span.link.text-space-left(href="#recenzie", data-scroll) 234x

mixin productType(props = {})
  -
    const {
      icon,
      title,
      className = 'product-item__variants__name',
    } = props;

  a(class= className).link.text-medium.flex.align-items-middle
    +icon(icon, 'text-color-grey mr-tiny icon--small flex-noshrink')
    span.text-ellipsis #{title}
    +icon('arrow-right', 'ml-tiny icon--small flex-noshrink')

mixin productPrice(props = {})
  -
    const {
      price,
      discount = false,
    } = props

  h2.text-bold.flex.align-items-middle.mb-tiny
    | #{price}
    if (discount)
      .badge.badge--primary.ml-small -#{discount} %

mixin productPriceInfo(props = {})
  -
    const {
      price,
      xmas = false,
      status = 'instock',
      discount = false,
    } = props

  .mt-tiny.product-item__info.flex-1
    div
      +productPrice({price, discount})
      ul.list--unstyled.text-medium.mb-medium-l
        if (status === 'instock')
          li.text-color-success
            | Na sklade
            span.show-s , posielame#{' '}
              em(data-tooltip, title="Toto je tooltip").text-color-success ihneď
        else if (status === 'lowstock')
          li.text-color-success
            | Na sklade
            span.show-s , objednávajte však#{' '}
              em(data-tooltip, title="Toto je tooltip").text-color-success rýchlo
        else if (status === 'presale')
          li.text-color-grey
            | Predobjednávka
        else if (status === 'instock-distributor')
          li.text-color-grey-dark
            | Posielame#{' '}
            em(data-tooltip, title="Toto je tooltip") do piatich dní
        if (xmas)
          li.text-color-success
            +icon('xmas', 'icon--medium mr-tiny')
            | Stíhame do Vianoc
    button.btn.btn--primary(data-toggle='#checkout-notice')
      +icon('cart').icon--left.icon--medium.mx-none
      span.text-semibold.ml-tiny.show-m Do košíka


section.section.section--toolbar.p-none.hide-l.bg-default(data-sticky,
  data-scroll-offset=filterStickyOffset ? filterStickyOffset : header.size.default, data-sticky-class="is-stuck", data-sticky-wrap, data-sticky-to="1024")
  .wrapper-main.px-none
    .bar.mb-none
      .bar__item.bar__item--fill.mr-none.text-center
        button.btn.btn--clean.mb-none.mr-none(data-toggle="#mobile-reduction").text-size-medium
          +icon('reduction', 'icon--medium').icon--left
          span Zúžiť výber
      .bar__item.bar__item--fill.border-left-grey.text-center
        button.btn.btn--fill.btn--clean.mb-none.mr-none(data-toggle="#mobile-order").text-size-medium
          +icon('order', 'icon--medium').icon--left
          span Zoradiť

section.section
  .wrapper-main
    .row
      #mobile-reduction.col--l-3.mobile-wrapper.mb-medium-l(data-toggle-lock)
        .mobile-wrapper__header
          .mobile-wrapper__header-title Zúženie výberu
          .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-reduction")
            +icon('close', 'icon--medium')
        .mobile-wrapper__content.p-none
          if filterSmall
            include category-filter-small
          else
            include category-filter
        .mobile-wrapper__footer
            .btn-layout.btn-layout--vertical.mb-none
              button.btn Zúžiť výber
      .col--l-9.col--12
        .div.mb-medium.show-l
          ul.tab-nav.flex
            each sortLink, i in sortLinks
              li.tab-nav__item(class= i===0 ? 'is-active': '')
                a.pb-small.flex.align-items-middle.text-center.line-small.tab-nav__content--link.text-transform-none(class= i > 0 ? 'border-bottom-grey': '')
                  | !{sortLink}

        if filters
          .flex.mb-tiny.align-items-middle
            .text-size-small.text-transform-upper.text-color-grey.inline-block-m.block.mr-medium Použité filtre
            a(href="#").link.text-size-medium Zrušiť filtre
          .row.pl-medium-m
            .row.overflow-scroll-x
              .col.pl-medium
                .badges.flex-nowrap
                  .badge.mb-small
                    | Klasické detektívky
                    button(type="button").btn.btn--clean.btn--small.btn--equal.mb-none
                      +icon('close').icon--small.icon--right
                  .badge.mb-small
                    | Agatha Christie
                    button(type="button").btn.btn--clean.btn--small.btn--equal.mb-none
                      +icon('close').icon--small.icon--right
                  .badge.mb-small.mr-medium
                    | rýchlovky (do 1h)
                    button(type="button").btn.btn--clean.btn--small.btn--equal.mb-none
                      +icon('close').icon--small.icon--right

        if searchCard
          p Našli sme v:
          .card.card--well
            .card__content
              .row
                .col--m-4.mb-medium.mb-none-m
                  .mb-medium
                    h2.h5 vydavatelia
                    ul.list--unstyled
                      for i in [1, 2]
                        li.bar.mb-tiny
                          .bar__item.bar__item--shrinkable.text-space-right-tiny
                            +icon('breadcrumbs').icon--medium.text-color-grey
                          .bar__item.bar__item--fill.line-small
                            a.link Ikar
                  h2.h5 čitateľské kolekcie
                  ul.list--unstyled
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.text-space-right-tiny
                          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.line-small
                          a.link Moje fantasy
                .col--m-4.mb-medium.mb-none-m
                  h2.h5 kategórie
                  ul.list--unstyled.mb-small
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.text-space-right-tiny
                          +icon('folder').icon--medium.text-color-grey
                        .bar__item.bar__item--fill.line-small
                          a.link Kategória
                          .mb-none
                            small.text-color-grey Kategoria
                            +icon('chevron-right').icon--small.text-color-grey
                            small.text-color-grey Kategoria
                            +icon('chevron-right').icon--small.text-color-grey
                            small.text-color-grey Kategoria
                  a.link.text-medium + ďalších 5
                    +icon('arrow-down').icon--small
                .col--m-4
                  .mb-medium
                    h2.h5 autori
                    ul.list--unstyled
                      for i in [1, 2]
                        li.bar.mb-tiny
                          .bar__item.bar__item--shrinkable.text-space-right-tiny
                            +icon('user').icon--medium.text-color-grey
                          .bar__item.bar__item--fill.line-small
                            a.link Meno Autora
                  h2.h5 čitateľské profily
                  ul.list--unstyled
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.text-space-right-tiny
                          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.line-small
                          a.link Janko Martinusak

        if description
          p.mb-large Vydavateľstvo Ikar je najväčší vydavateľský dom na Slovensku s produkciou cca 230 titulov ročne. Vydávame široké spektrum kníh pre všetky vekové kategórie od domácich aj zahraničných autorov. Medzi autormi, ktorých diela vydávame patria aj svetoví velikáni William Shakespeare, Gabriel García Márquez, či Fiodor Michajlovič Dostojevskij, ale aj autori slovenskej klasiky - Dobroslav Chrobák, Margita Figuli, František Švantner a ďalší. V našom vydaveteľskom dome našli svoje trvalé miesto viacerí úspešní súčasní slovenskí autori – Táňa Keleová-Vasilková, Andrea Coddington, Jozef Banáš, Jozef Karika...
        if carousel
          h2.mb-large Najobľúbenejšie tituly a kolekcie
          +booksCarouselRecommended().carousel--fade-inside.carousel--fade-inside-white
        #mobile-order.mobile-wrapper.mb-medium-l(data-toggle-lock).hide-l
          .mobile-wrapper__header
            .mobile-wrapper__header-title Radenie
            .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-order")
              +icon('close', 'icon--medium')
          .mobile-wrapper__content
            ul.list.pl-none
              each sortLink, i in sortLinks
                li.list__item
                  a.flex-1(class = i===0 ? 'text-color-theme': '')
                    strong !{sortLink}

        each item, i in books
          -
            var itemType = 'default';
            if (i == 0) itemType = 'group';
            if (i == 1) itemType = 'dropdown';

          if i === 0
            //GROUPED ITEM
            .product-item.bg-default.pb-medium.border-bottom-grey
              .row
                .col--shrink.pr-none-m
                  +productCover({
                    href: 'detail-knihy.html',
                    cover: `${item.cover}`,
                    collection: true,
                  })
                  .badges.badges--column.mb-small.hide-m
                    +productRatingBadge({rating: item.rating})
                    .badge.badge--blue
                      | TOP #29
                .col--fill
                  .row.product-item__variants
                    +productInfo({item})

                  .row.mt-small.product-item__variants
                    .col.col--l-4.flex.flex-column
                      +productType({ icon: 'products-books', title: 'Pevná väzba' })
                      +productPriceInfo({ price: '11,99 €', xmas: true, discount: 15, status: 'lowstock' })
                    .col.col--l-4.flex.flex-column
                      +productType({ icon: 'products-books', title: 'Pevná väzba, limitované vydanie' })
                      +productPriceInfo({ price: '22,79 €', status: 'instock-distributor' })
                    .col.col--l-4.flex.align-items-middle.text-medium
                      a.link.flex.align-items-middle.flex-1.product-item__variants__name
                        +icon('plus', 'mr-tiny')
                        | Ďalšie formáty
                        +icon('products-books', 'ml-tiny').text-color-grey
                        +icon('products-ebooks', 'ml-tiny').text-color-grey

          else
            // SINGLE ITEM
            .product-item.bg-default.pb-medium.border-bottom-grey(class=(i === 2 || i === 4) ? 'mb-none-m' : '' )
              .row
                .col--shrink.pr-none-m
                  +productCover({
                    href: 'detail-knihy.html',
                    cover: `${item.cover}`,
                    collection: false,
                  })
                  .badges.badges--column.mb-small.hide-m
                    +productRatingBadge({rating: item.rating})
                    .badge.badge--blue
                      | TOP #29
                .col--fill
                  .row.product-item__variants
                    +productInfo({item})
                    .col.col--l-4.mt-small.mt-none-l
                      +productType({ icon: 'products-books', title: 'Pevná väzba s prebalom', className: '' })
                      +productPriceInfo({ price: item.price, xmas: true, discount: 20 })

          //- HLADATE DARCEK
          if i === 2
            .section.section--small.bg-secondary.mb-large
              .product-item
                .row.mb-medium.mx-none
                  .col--m-2.text-center
                    +icon('footer-shipping').icon--xxlarge.text-color-success
                  .col--m-10.text-center.text-left-m
                    h2.h3.mb-tiny.text-color-success Vedeli ste, že...?
                    p.mb-none až 4 knihy z 5 máme na sklade a posielame ich do nasledujúceho dňa?

          //- DARCEKOVA POUKAZKA
          if i === 4
            .section.bg-secondary.show-m.mb-large
              .product-item
                .row.mb-large.mx-none
                  .col--m-fill
                    .row
                      .col--s-shrink.col--3.pr-none
                        .thumbnail
                          img(src="../images/content/gift/darcekova-poukazka@2x.png", alt="Darcekova poukazka", width="120")
                      .col--s-fill.col--9
                        h2.mb-small Nie ste si istý?
                          br
                          | Kúpte darčekovú poukážku
                        p Obdarujte svojich blízkych presne tým, po čom vždy túžili - a ani nemusíte vedieť, čo to je!
                        p.mb-none
                          strong Darujte im darčekovú poukážku,
                          | za ktorú si môžu vybrať čokoľvek z celej pomnuky Martinus.sk - desiatky tisíc kníh, filmov, puzzle a iných skvelých darčekov. Podmienky použitia nájdete
                          a(href="#") tu
                          | .
                  .col--m-shrink.product-item__price-box
                    .text-small.text.text-transform-upper.text-color-grey hodnota darčekovej poukážky
                    .btn-layout.btn-layout--vertical.mb-medium
                      .btn-dropdown.m-none
                        button.btn.btn--ghost.btn--icon-right.text-left(
                          data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                          data-toggle-expand,
                          aria-haspopup="true"
                        )
                          | 20,00 €
                          +icon('chevron-down', 'icon-dropdown').icon--medium
                        .dropdown(data-dropdown, data-toggle-expand)
                          a(href="#").dropdown__item 20,00 €
                          a(href="#").dropdown__item 15,00 €
                          a(href="#").dropdown__item 10,00 €
                    .text-center
                      .btn-layout--vertical
                        button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                          +icon('cart').icon--left.icon--medium
                          span.text-semibold Vložiť do košíka

        +pagination.align-items-center.mb-large

block append scripts
  script.
    document.addEventListener('myAppLoaded', function() {

      var carousel = new window.myApp.CarouselLite(document.querySelector('.mj-carousel'));
      });
