include ./../mixins/addTo
include ./../mixins/booksCarouselRecommended
include ./../mixins/pagination
include ./../mixins/icon
include ./../mixins/xmas

mixin itemGroup(id)
  div&attributes(attributes)
    +groupItem('Kniha', 0, 'Vydavatelstvo Publishing, 2019', true)
    +groupItem('E-kniha', 1, 'Vydavatelstvo Publishing, 2019')
    .hide(data-toggle-class="hide", id=`item-group-more${id}`)
      +groupItem('Audiokniha mp3', 2, 'Vydavatelstvo Publishing, 2019')
      +groupItem('Audiokniha cd', 3, 'Vydavatelstvo Publishing, 2019')
    .mb-medium
      a.link.text-size-medium(href="javascript:void(0)", data-toggle=`#item-group-more${id}, #item-group-more-description${id}, self`, data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť menej", data-collapse-trigger, data-parent-hop="2")
        +icon('plus')
        | <span data-toggle-text-target class="text-space-left-tiny text-space-right">Viac formátov</span>
      span.text-color-grey.text-size-small(id=`item-group-more-description${id}`, data-toggle-class="hide") (audiokniha mp3, audiokniha cd)

mixin groupItem(name, id, publisher, xmasmode)
  .bar.align-items-middle.mb-medium(class=(id !== 3) ? 'border-bottom-grey' : '')
    .bar__item.bar__item--fill.mb-small-m.no-mrg-top.no-mrg-horizontal--m-down
      .bar.bar--vertical.bar--vertical-small.mb-small.mb-none-m
        .bar__item.no-mrg
          a.text-semibold.text-medium.inline-block.link=name
          | #{' '}
          span.text-medium.text-color-grey.show-m=publisher
          //a.link.link--product Základy rybolovu pro kluky a holky
          .inline-block.hide-m.text-size-small
            if id == 0
              span.text-color-success.text-space-right-tiny Na sklade
              span.text-color-blue Novinka
            else if id == 1
              span.text-color-success.text-space-right-tiny PDF
              span.text-color-success.text-space-right-tiny EPUB
              span.text-color-success MOBI
            else if id == 3
              span.text-color-success Na sklade
        .bar__item.show-m
          .badges.mb-none
            if id == 0
              .badge.badge--green.mb-small.mb-none-m Na sklade
              .badge.badge--blue.mb-small.mb-none-m Novinka
            else if id == 1
              .badge.badge--green.mb-small.mb-none-m PDF
              .badge.badge--green.mb-small.mb-none-m EPUB
              .badge.badge--green.mb-small.mb-none-m MOBI
            else if id == 2
              .badge.badge--green.mb-small.mb-none-m MP3 na stiahnutie
            else if id == 3
              .badge.badge--green.mb-small.mb-none-m MP3 na CD
              .badge.badge--green.mb-small.mb-none-m Na sklade
    .bar__item.bar__item--shrinkable.no-mrg-top.mb-small.mb-none-m.no-mrg-horizontal--m-down
      .bar.bar--small.no-mrg.bar--no-wrap
        .bar__item.no-mrg
          .badge.badge--primary -20%
        .bar__item.no-mrg
          .text-bold.text-space-left 8,99
        .bar__item.no-mrg
          +xmas({type: 'icon', size: 'medium'}).text-space-left-tiny(class=xmasmode ? '' : 'invisible')

    .bar__item.bar__item--shrinkable.no-mrg-top.mb-small.mb-none-m
      .bar.bar--vertical.bar--vertical-small.mb-none.mb-tiny-m
        .bar__item.show-m.no-mrg(style="max-width: 200px;")
          if id == 1
            p.mb-tiny.text-color-grey-dark.text-medium.text-center Na sklade, objednávajte#{' '}
              em(data-tooltip, title="Toto je tooltip vysvetlivka") však rýchlo
              | .
          else
            p.mb-tiny.text-color-grey-dark.text-medium.text-center Posielame#{' '}
              em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
              | .
        .bar__item.no-mrg
          button.btn.btn--clean.btn--small.no-mrg.hide-m
            +icon('cart').icon--medium.text-color-theme
          button.btn.btn--primary.btn--small.mb-tiny(data-toggle='#checkout-notice').show-m
            +icon('cart').icon--left.icon--small
            span.text-semibold Vložiť do košíka

          +addTo({text: '', buttonClass: 'btn--small'})




mixin formatDropdown(props = {})
  -
    const {
      small = false
    } = props;

  .btn-layout.btn-layout--vertical(class=(small) ? 'mb-none' : '')&attributes(attributes)
    .btn-dropdown.no-mrg
      button.btn.btn--ghost.btn--icon-right.text-left(
      class=(small) ? 'btn--small' : '',
      data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
      data-toggle-expand,
      aria-haspopup="true"
      ) Pevná väzba
        +icon('chevron-down', 'icon-dropdown').icon--medium
      .dropdown(data-dropdown, data-toggle-expand)
        .dropdown__wrap
          a(href="#").dropdown__item
            .bar.text-small.no-mrg-bottom
              .bar__item.bar__item--fill
                div Kniha
                .text-color-grey Posielame ihneď
              .bar__item.text-right
                .text-semibold.text-color-black 18,00 €
                .text-color-grey -10%
          a(href="#").dropdown__item
            .bar.text-small.no-mrg-bottom
              .bar__item.bar__item--fill
                div Ekniha
                .text-color-grey Okamžite na stiahnutie
              .bar__item.text-right
                .text-semibold.text-color-black 16,00 €
                .text-color-grey -10%
          a(href="#").dropdown__item
            .bar.text-small.no-mrg-bottom
              .bar__item.bar__item--fill
                div Audiokniha na CD
                .text-color-grey Posielame ihneď
              .bar__item.text-right
                .text-semibold.text-color-black 8,00 €
                .text-color-grey -5%
          a(href="#").dropdown__item
            .bar.text-small.no-mrg-bottom
              .bar__item.bar__item--fill
                div Audiokniha MP3
                .text-color-grey Okamžite na stiahnutie
              .bar__item.text-right
                .text-semibold.text-color-black 12,00 €
                .text-color-grey -2%

section.section.section--toolbar.no-pad.hide-l.bg-default(data-sticky,
  data-scroll-offset=filterStickyOffset ? filterStickyOffset : header.size.default, data-sticky-class="is-stuck", data-sticky-wrap, data-sticky-to="1024")
  .wrapper-main
    .bar.mb-none
      .bar__item.bar__item--fill
        .btn-layout.btn-layout--horizontal.no-mrg-bottom
          button.btn.btn--clean.is-active.no-mrg-bottom(data-toggle="#mobile-reduction").no-mrg-right
            +icon('reduction', 'icon--medium').icon--left
            span.show-s Zúženie výberu
          button.btn.btn--clean.no-mrg-bottom(data-toggle="#mobile-order").no-mrg-right
            +icon('order', 'icon--medium').icon--left
            span.show-s Zoradiť
          button.btn.btn--clean.no-mrg-bottom
            +icon('close', 'icon--medium').icon--left
            | Zrušiť
      .bar__item.bar__item--shrinkable.text-right.hide-m
        | Titulov:#{' '}
        b 1762

section.section
  .wrapper-main
    .row
      #mobile-reduction.col--l-3.mobile-wrapper.mb-medium-l(data-toggle-lock)
        .mobile-wrapper__header
          .mobile-wrapper__header-title Zúženie výberu
          .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-reduction")
            +icon('close', 'icon--medium')
        .mobile-wrapper__content.no-pad
          if filterSmall
            include category-filter-small
          else
            include category-filter
        .mobile-wrapper__footer
            .btn-layout.btn-layout--vertical.no-mrg-bottom
              button.btn Zúžiť výber
      .col--l-9.col--12
        .div.mb-large.overflow-scroll-x
          ul.tab-nav.flex
            each sortLink, i in sortLinks
              li.tab-nav__item(class= i===0 ? 'is-active': '')
                a.tab-nav__content--link.text-transform-none(class= i > 0 ? 'border-bottom-grey': '')
                  | !{sortLink}

        if searchCard
          p Našli sme v:
          .card.card--well
            .card__content
              .row
                .col--m-4.mb-medium.mb-none-m
                  .mb-medium
                    h2.h5 vydavatelia
                    ul.list--unstyled
                      for i in [1, 2]
                        li.bar.mb-tiny
                          .bar__item.bar__item--shrinkable.text-space-right-tiny
                            +icon('breadcrumbs').icon--medium.text-color-grey
                          .bar__item.bar__item--fill.line-small
                            a.link Ikar
                  h2.h5 čitateľské kolekcie
                  ul.list--unstyled
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.text-space-right-tiny
                          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.line-small
                          a.link Moje fantasy
                .col--m-4.mb-medium.mb-none-m
                  h2.h5 kategórie
                  ul.list--unstyled.mb-small
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.text-space-right-tiny
                          +icon('folder').icon--medium.text-color-grey
                        .bar__item.bar__item--fill.line-small
                          a.link Kategória
                          .mb-none
                            small.text-color-grey Kategoria
                            +icon('chevron-right').icon--small.text-color-grey
                            small.text-color-grey Kategoria
                            +icon('chevron-right').icon--small.text-color-grey
                            small.text-color-grey Kategoria
                  a.link.text-medium + ďalších 5
                    +icon('arrow-down').icon--small
                .col--m-4
                  .mb-medium
                    h2.h5 autori
                    ul.list--unstyled
                      for i in [1, 2]
                        li.bar.mb-tiny
                          .bar__item.bar__item--shrinkable.text-space-right-tiny
                            +icon('user').icon--medium.text-color-grey
                          .bar__item.bar__item--fill.line-small
                            a.link Meno Autora
                  h2.h5 čitateľské profily
                  ul.list--unstyled
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.text-space-right-tiny
                          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.line-small
                          a.link Janko Martinusak

        if navIcons
          #category-description(data-collapse="200")
            .cms-article
              .row
                .col--3
                  img.img(src="images/content/author.png")
                .col--9
                  p Harry zápasí s minulosťou, ktorá sa #{' '}
                    a(href="#") ustavične vracia
                    | . Jeho najmladšiemu synovi Albusovi pripadla ťarcha rodinného dedičstva, o ktoré nikdy nemal záujem. Keď minulosť a prítomnosť vytvoria hrozivú výbušnú zmes, otec aj syn musia čeliť nepríjemnej pravde, že raz sa temnota zjaví na nečakaných miestach.

                  p Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.

                  p Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.

          .mb-large
            a.link.text-size-medium(href="javascript:void(0)", data-toggle="#category-description, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
              +icon('arrow-down')

          .mb-large.carousel-lite.mj-carousel(style="height: 5rem;").carousel-lite--fade-inside
            .carousel-lite__container.mj-carousel__scroll
              .carousel-lite__wrapper.mj-carousel__content.align-items-stretch
                each item, i in menu
                  a.carousel-lite__slide(style="width: 12rem; border: 1px solid #eee; padding: 10px 20px;").text-space-right.flex.align-items-middle
                    i.fal.fa-3x(class=`fa-${item.icon}`).text-color-error.text-space-right
                    span.link.line-small= item.title
            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev.mj-carousel__btn--prev(style="left: 10px;")
              +icon('arrow-left').icon--medium
            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next.mj-carousel__btn--next(style="right: 10px;")
              +icon('arrow-right').icon--medium

        if description
          p.mb-large Vydavateľstvo Ikar je najväčší vydavateľský dom na Slovensku s produkciou cca 230 titulov ročne. Vydávame široké spektrum kníh pre všetky vekové kategórie od domácich aj zahraničných autorov. Medzi autormi, ktorých diela vydávame patria aj svetoví velikáni William Shakespeare, Gabriel García Márquez, či Fiodor Michajlovič Dostojevskij, ale aj autori slovenskej klasiky - Dobroslav Chrobák, Margita Figuli, František Švantner a ďalší. V našom vydaveteľskom dome našli svoje trvalé miesto viacerí úspešní súčasní slovenskí autori – Táňa Keleová-Vasilková, Andrea Coddington, Jozef Banáš, Jozef Karika...
        if carousel
          h2.mb-large Najobľúbenejšie tituly a kolekcie
          +booksCarouselRecommended().carousel--fade-inside.carousel--fade-inside-white
        #mobile-order.mobile-wrapper.mb-medium-l(data-toggle-lock).hide-m
          .mobile-wrapper__header
            .mobile-wrapper__header-title Radenie
            .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-order")
              +icon('close', 'icon--medium')
          .mobile-wrapper__content
            .bar.mb-large
              .bar__item.text-left.show-m
                | Počet titulov:#{' '}
                b 1762
              .bar__item.bar__item--fill-l.bar__item--line.text-right.text-medium
                .bar__item-content Zoradiť podľa:
              .bar__item
                .form-control.form-control--select
                  select.js-select.select--ghost
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
            .hide-l.align-items-bottom.flex.flex-1
              .btn-layout.btn-layout--vertical.no-mrg-bottom
                button.btn Zoradiť

        if filters
          .badges.mb-tiny
            .text-space-right Filtre:
            .badge.mb-tiny
              | Žáner (Sci-fi)
              .btn.btn--small.btn--clean.btn--equal.mb-none
                +icon('close').icon--small
            .badge.mb-tiny
              | Väzba mäkká
              .btn.btn--small.btn--clean.btn--equal.mb-none
                +icon('close').icon--small
            .btn.btn--small.btn--clean.mb-none zmazať filter

        if navIcons
          ul.tab-nav(data-tabs-container).text-size-medium.mb-large.show-m.bg-secondary
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najobľúbenejšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najlacnejšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najdrahšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najnovšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najstaršie

        each item, i in books
          -
            var itemType = 'default';
            if (i == 0) itemType = 'group';
            if (i == 1) itemType = 'dropdown';

          if i === 0
            //GROUPED ITEM
            .product-item.product-item--border-bottom.bg-default
              .row.mb-medium.product-item__content
                .col--shrink.no-pad-right.show-m
                  +product
                    +productCover({
                      href: 'detail-knihy.html',
                      badge: categoryListBadge ? i + 1 : false,
                      cover: `${item.cover}`,
                      collection: true,
                      })
                .col--fill
                  .row.mb-medium.mb-none-m

                    .col--s-shrink.col--3.no-pad-right.hide-m
                      +product
                        +productCover({
                          href: 'detail-knihy.html',
                          badge: categoryListBadge ? i + 1 : false,
                          cover: `${item.cover}`,
                          collection: true,
                          })

                    .col--fill
                      .mb-small-m
                        h2.h3.mb-tiny
                          a.link.link--product(href="detail-knihy.html") #{item.title}
                          .badge EN
                        .text-color-grey.mb-small.text-medium #{item.author}
                        .badges.mb-small
                          a.badge.mb-none
                            +icon('star', 'icon--medium').text-color-yellow
                            span.text-normal.text-space-left 3.5
                            span.link.text-space-left(href="#recenzie", data-scroll) 234x

                        div(data-collapse="60")
                          p.text-medium.no-mrg-bottom.show-s Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké vybavení je nezbytné, jaké u nás žijí ryby a jak je lze ulovit. K tomu slouží také vhodné místo k lovu a správná nástraha. Po takové přípravě docela určitě brzy chytíte svou první rybu - nebo mnohem víc ryb než dřív.
                        .mb-medium.show-s
                          a(href="detail-knihy.html").link.text-medium Viac o knihe
                            +icon('arrow-right', 'icon--small')

                    .col--m-shrink.product-item__price-box
                      .text-center.show-m
                        h2.text-bold.mb-small od #{item.price}

                  +itemGroup(1)

          else
            .product-item.product-item--border-bottom.bg-default(class=(i === 2 || i === 4) ? 'no-mrg-bottom--m' : '' )
              .row
                .col--m-fill.product-item__content
                  .row.mb-medium
                    .col--s-shrink.col--3.no-pad-right
                      +product
                        +productCover({
                          href: 'detail-knihy.html',
                          badge: categoryListBadge ? i+1 : false,
                          cover: `${item.cover}`,
                          collection: i == 1,
                        })
                          img.book-flag.book-flag--medium(src="images/content/top100/10dni.png", style="position: absolute; right: 10px; top: -5px;")
                        if categoryListBadge
                          p.text-size-small
                            if (i % 3 === 0)
                              +icon('arrow-up-right').text-color-success.icon--small.text-vat
                            if (i % 3 === 1)
                              +icon('arrow-down-right').text-color-error.icon--small.text-vat
                            if (i % 3 === 2)
                              +icon('arrow-right').text-color-grey.icon--small.text-vat
                            | #{' '}
                            span.text-semibold 120
                            |  dní#{' '}
                            span.text-color-grey.show-m v TOP 100

                    .col--s-fill.col--9
                      .mb-small-m
                        h2.h3.mb-tiny
                          a.link.link--product(href="detail-knihy.html") #{item.title}
                            span.text-color-grey.text-space-left.text-normal Podnapdis na viac slov alebo aj riadkov
                          .badge CZ
                        .text-color-grey.mb-small.text-medium #{item.author}
                      .bar.bar--small.mb-small.show-s
                        .bar__item.bar__item--shrinkable
                          .badges.mb-none
                            a.badge.mb-small
                              +icon('star', 'icon--medium').text-color-yellow
                              span.text-normal.text-space-left #{item.rating}
                              span.link.text-space-left(href="#recenzie", data-scroll) 234x
                            .badge.badge--green.mb-small Na sklade
                            .badge.badge--blue.mb-small Novinka


                      div(data-collapse="60")
                        p.text-medium.no-mrg-bottom.show-s Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké vybavení je nezbytné, jaké u nás žijí ryby a jak je lze ulovit. K tomu slouží také vhodné místo k lovu a správná nástraha. Po takové přípravě docela určitě brzy chytíte svou první rybu - nebo mnohem víc ryb než dřív.
                      .mb-medium.show-s
                        a(href="detail-knihy.html").link.text-medium Viac o knihe
                          +icon('arrow-right', 'icon--small')

                      if itemType == 'dropdown'
                        +formatDropdown({small: true}).hide-m

                      .bar.bar--tiny.mb-none.hide-m
                        .bar__item
                          .badge.badge--primary -20%
                        .bar__item.bar__item--fill
                          .text-medium.text-semibold.text-space-left #{item.price}
                        .bar__item
                          button.btn.btn--clean.no-mrg
                            +icon('cart').icon--medium.text-color-theme
                        .bar__item
                          button.btn.btn--clean.no-mrg
                            +icon('heart').icon--medium

                .col--m-shrink.product-item__price-box
                  //- PUBLISHER PORTAL
                  if i === 0 && publisher
                    .card.card--material.card--material-blue
                      .card__label
                        | štatistiky
                      .card__content.card__content--condensed
                        p.text-medium
                          b Predaných titulov
                          br
                          | E-shopy (14 dní):#{' '}
                          b 433
                          br
                          | E-shopy (celkovo):#{' '}
                          b 233
                          br
                          | Kníhkupectvá (14 dní):#{' '}
                          b 54
                          br
                          | Kníhkupectvá (celkovo):#{' '}
                          b 43
                          br
                        p.text-medium
                          | U dodávateľov:#{' '}
                          b 32
                          br
                          | Vo wishlistoch má:#{' '}
                          b 233 ľudí
                          br
                          | Rezervovalo si:#{' '}
                          b 233 ľudí
                          br

                  else
                    if itemType == 'dropdown'
                      +formatDropdown.show-m

                    .text-center.show-m
                      h2.text-bold.mb-small #{item.price}
                      .badge.badge--primary.mb-small Zľava 10%
                      +xmas({status: 0})
                      p.mb-medium.text-color-grey-dark.text-medium Posielame#{' '}
                        em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
                        | .

                      .btn-layout--vertical
                        button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                          +icon('cart').icon--left.icon--medium
                          span.text-semibold Vložiť do košíka

                        +addTo()

          //- HLADATE DARCEK
          if i === 2
            .section.section--small.bg-secondary.mb-large
              .product-item
                .row.mb-medium.no-mrg-horizontal
                  .col--m-2.text-center
                    +icon('footer-shipping').icon--xxlarge.text-color-success
                  .col--m-10.text-center.text-left-m
                    h2.h3.mb-tiny.text-color-success Vedeli ste, že...?
                    p.mb-none až 4 knihy z 5 máme na sklade a posielame ich do nasledujúceho dňa?

          //- HLADATE DARCEK
          //if i === 2
            .section.bg-secondary.show-m.mb-large
              .product-item
                .row.mb-large.no-mrg-horizontal
                  .col--m-fill.product-item__content
                    .bar
                      .bar__item
                        .thumbnail
                          img(src="../images/content/gift/darcek@2x.png", alt="Darcek", width="120")
                      .bar__item.bar__item--fill
                        h2.mb-small Hľadáte darček?
                        .bar.no-mrg-bottom
                          .bar__item Pre:
                          .bar__item.bar__item--fill
                            ul.list-inline
                              each gift in ['babku', 'kamarátku', 'syna', 'dcéru', 'mamu', 'otca', 'brata']
                                li
                                  a.link !{gift}

          //- DARCEKOVA POUKAZKA
          if i === 4
            .section.bg-secondary.show-m.mb-large
              .product-item
                .row.mb-large.no-mrg-horizontal
                  .col--m-fill
                    .row
                      .col--s-shrink.col--3.no-pad-right
                        .thumbnail
                          img(src="../images/content/gift/darcekova-poukazka@2x.png", alt="Darcekova poukazka", width="120")
                      .col--s-fill.col--9
                        h2.mb-small Nie ste si istý?
                          br
                          | Kúpte darčekovú poukážku
                        p Obdarujte svojich blízkych presne tým, po čom vždy túžili - a ani nemusíte vedieť, čo to je!
                        p.no-mrg-bottom
                          strong Darujte im darčekovú poukážku,
                          | za ktorú si môžu vybrať čokoľvek z celej pomnuky Martinus.sk - desiatky tisíc kníh, filmov, puzzle a iných skvelých darčekov. Podmienky použitia nájdete
                          a(href="#") tu
                          | .
                  .col--m-shrink.product-item__price-box
                    .text-small.text.text-transform-upper.text-color-grey hodnota darčekovej poukážky
                    .btn-layout.btn-layout--vertical.mb-medium
                      .btn-dropdown.no-mrg
                        button.btn.btn--ghost.btn--icon-right.text-left(
                          data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                          data-toggle-expand,
                          aria-haspopup="true"
                        )
                          | 20,00 €
                          +icon('chevron-down', 'icon-dropdown').icon--medium
                        .dropdown(data-dropdown, data-toggle-expand)
                          a(href="#").dropdown__item 20,00 €
                          a(href="#").dropdown__item 15,00 €
                          a(href="#").dropdown__item 10,00 €
                    .text-center
                      .btn-layout--vertical
                        button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                          +icon('cart').icon--left.icon--medium
                          span.text-semibold Vložiť do košíka

        +pagination.align-items-center.mb-large

block append scripts
  script.
    document.addEventListener('myAppLoaded', function() {

      var carousel = new window.myApp.CarouselLite(document.querySelector('.mj-carousel'));
      });
