include ./../mixins/icon
include ./../mixins/xmas
.filter
  if xmas
    .filter__cat
      .filter__cat-name
        .form-control.form-control--group.mb-none
          .radiocheck-group
            .form-control.form-control--checkbox
              .form-check
                input.form-check-input(type="checkbox", id="filter-news")
                label.radiocheck__control(for="filter-news")
                label.form-check-label.text-medium(for="filter-news")
                  | Stíhame do Vianoc
                  +icon('xmas-small').icon--small.text-color-success
  dl.filter__cat
    dt.filter__cat-name
      .btn-layout--vertical.mb-none
        button.btn.btn--clean.btn--icon-right.btn--lowercase.text-left.px-none.text-transform-none.text-color-black(data-toggle="self, #filter-show-only", data-toggle-icon=`../icons_/app.svg#icon-chevron-${collapseFilters ? 'up' : 'down'}`, data-collapse-trigger) Zobraziť iba
          +icon(`chevron-${collapseFilters ? 'down' : 'up'}`, 'icon--medium').text-color-grey
    dd.filter__cat-items#filter-show-only(data-toggle-class="hide", class=collapseFilters ? 'hide' : '')
      .form-check
        input.form-check-input(type="checkbox", id="filter-news")
        label.form-check-label(for="filter-news") Novinky
      .form-check
        input.form-check-input(type="checkbox", id="filter-discount")
        label.form-check-label(for="filter-discount") Zľavnené tituly
      .form-check
        input.form-check-input(type="checkbox", id="filter-online-store")
        label.form-check-label(for="filter-online-store") Na sklade online long text fakt a este dlhsi
      .form-check
        input.form-check-input(type="checkbox", id="filter-book-store", name="book-store-option[type]" data-radiocheck-toggle="#filter-book-store-options")
        label.form-check-label(for="filter-book-store") V kníhkupectve
      .form-check
        input.form-check-input(type="checkbox", id="filter-presale")
        label.form-check-label(for="filter-presale") Predpredaj
  dl.filter__cat
    dt.filter__cat-name
      .btn-layout--vertical.mb-none
        button.btn.btn--clean.btn--icon-right.btn--lowercase.text-left.px-none.text-transform-none.text-color-black(data-toggle="self, #filter-product-type", data-toggle-icon=`../icons_/app.svg#icon-chevron-${collapseFilters ? 'up' : 'down'}`, data-collapse-trigger) Typ produktu
          +icon(`chevron-${collapseFilters ? 'down' : 'up'}`, 'icon--medium').text-color-grey
    dd.filter__cat-items#filter-product-type(data-toggle-class="hide", class=collapseFilters ? 'hide' : '')
      .form-check
        input.form-check-input(type="checkbox", id="filter-books")
        label.form-check-label(for="filter-books") Knihy#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-ebooks")
        label.form-check-label(for="filter-ebooks") E-knihy#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-audiobooks")
        label.form-check-label(for="filter-audiobooks") Audioknihy#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
  dl.filter__cat
    dt.filter__cat-name
      .btn-layout--vertical.mb-none
        button.btn.btn--clean.btn--icon-right.btn--lowercase.text-left.px-none.text-transform-none.text-color-black(data-toggle="self, #filter-formats", data-toggle-icon=`../icons_/app.svg#icon-chevron-${collapseFilters ? 'up' : 'down'}`, data-collapse-trigger) Formáty
          +icon(`chevron-${collapseFilters ? 'down' : 'up'}`, 'icon--medium').text-color-grey
    dd.filter__cat-items#filter-formats(data-toggle-class="hide", class=collapseFilters ? 'hide' : '')
      .form-check
        input.form-check-input(type="checkbox", id="filter-hardcover")
        label.form-check-label(for="filter-hardcover") Pevná väzba#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-brozovana-vazba")
        label.form-check-label(for="filter-brozovana-vazba") Brožovaná väzba#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-sita-vazba")
        label.form-check-label(for="filter-sita-vazba") Šitá väzba#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-mobi")
        label.form-check-label(for="filter-mobi") MOBI#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-online-epub")
        label.form-check-label(for="filter-online-epub") EPUB#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-pdf")
        label.form-check-label(for="filter-pdf") PDF#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-mp3")
        label.form-check-label(for="filter-mp3") MP3#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
  dl.filter__cat
    dt.filter__cat-name
      .btn-layout--vertical.mb-none
        button.btn.btn--clean.btn--icon-right.btn--lowercase.text-left.px-none.text-transform-none.text-color-black(data-toggle="self, #filter-authors", data-toggle-icon=`../icons_/app.svg#icon-chevron-${collapseFilters ? 'up' : 'down'}`, data-collapse-trigger) Autori
          +icon(`chevron-${collapseFilters ? 'down' : 'up'}`, 'icon--medium').text-color-grey
    dd.filter__cat-items#filter-authors(data-toggle-class="hide", class=collapseFilters ? 'hide' : '')
      .form-control.form-control--input.mb-small
        input.mt-none.input.input--small.filter__search(type="text", name="filter-author", id="filter-author", placeholder="Vyhľadajte autora")
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-1")
        label.form-check-label(for="filter-author-1") Milan Veselský#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-2")
        label.form-check-label(for="filter-author-2") Albert Uderzo#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-3")
        label.form-check-label(for="filter-author-3") Božena Němcová#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-4")
        label.form-check-label(for="filter-author-4") J. K. Rowling#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-5")
        label.form-check-label(for="filter-author-5") Milan Veselský#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-6a")
        label.form-check-label(for="filter-author-6a") Albert Uderzo#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-6b")
        label.form-check-label(for="filter-author-6b") Božena Němcová#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      .form-check
        input.form-check-input(type="checkbox", id="filter-author-7")
        label.form-check-label(for="filter-author-7") J. K. Rowling#{' '}
          span.text-color-grey.ml-tiny.text-size-small 635
      a.link.text-size-medium(href="javascript:void(0)", data-toggle="self, previous", data-toggle-icon="../icons_/app.svg#icon-arrow-up", data-toggle-text="Menej", data-collapse-trigger)
        +icon('plus')
        | <span data-toggle-text-target class="ml-tiny mr-small">Ďalších 60 autorov</span>
  dl.filter__cat
    dt.filter__cat-name
      .btn-layout--vertical.mb-none
        button.btn.btn--clean.btn--icon-right.btn--lowercase.text-left.px-none.text-transform-none.text-color-black(data-toggle="self, #filter-languages", data-toggle-icon=`../icons_/app.svg#icon-chevron-${collapseFilters ? 'up' : 'down'}`, data-collapse-trigger) Jazyky
          +icon(`chevron-${collapseFilters ? 'down' : 'up'}`, 'icon--medium').text-color-grey
    dd.filter__cat-items#filter-languages(data-toggle-class="hide", class=collapseFilters ? 'hide' : '')
      .form-control.form-control--group.mb-none(data-collapse="150")
        .radiocheck-group
          .form-control.form-control--checkbox
            .form-check
              input.form-check-input(type="checkbox", id="filter-slovak1")
              label.form-check-label(for="filter-slovak1") Slovenský#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
            .form-check
              input.form-check-input(type="checkbox", id="filter-czech2")
              label.form-check-label(for="filter-czech2") Český#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
            .form-check
              input.form-check-input(type="checkbox", id="filter-german1")
              label.form-check-label(for="filter-german1") Nemecký#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
            .form-check
              input.form-check-input(type="checkbox", id="filter-russian1")
              label.form-check-label(for="filter-russian1") Ruský#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
            .form-check
              input.form-check-input(type="checkbox", id="filter-slovak")
              label.form-check-label(for="filter-slovak") Slovenský#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
            .form-check
              input.form-check-input(type="checkbox", id="filter-czech")
              label.form-check-label(for="filter-czech") Český#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
            .form-check
              input.form-check-input(type="checkbox", id="filter-german")
              label.form-check-label(for="filter-german") Nemecký#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
            .form-check
              input.form-check-input(type="checkbox", id="filter-russian")
              label.form-check-label(for="filter-russian") Ruský#{' '}
                span.text-color-grey.ml-tiny.text-size-small 635
      a.link.d-block.text-center.text-size-medium(href="javascript:void(0)", data-toggle="self, previous", data-toggle-icon="../icons_/app.svg#icon-arrow-up", data-toggle-text="Menej", data-collapse-trigger)
        +icon('plus')
        | <span data-toggle-text-target class="ml-tiny mr-small">Ďalšie 4 jazyky</span>
