include ./../mixins/addTo
include ./../mixins/booksCarouselRecommended
include ./../mixins/pagination
include ./../mixins/icon
include ./../mixins/xmas

mixin itemGroup(id)
  div&attributes(attributes)
    +groupItem('Kniha', 0, 'Vydavatelstvo Publishing, 2019', true)
    +groupItem('E-kniha', 1, 'Vydavatelstvo Publishing, 2019')
    .hide(data-toggle-class="hide", id=`item-group-more${id}`)
      +groupItem('Audiokniha mp3', 2, 'Vydavatelstvo Publishing, 2019')
      +groupItem('Audiokniha cd', 3, 'Vydavatelstvo Publishing, 2019')
    .mb-medium
      a.link.text-size-medium(href="javascript:void(0)", data-toggle=`#item-group-more${id}, #item-group-more-description${id}, self`, data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť menej", data-collapse-trigger, data-parent-hop="2")
        +icon('plus')
        | <span data-toggle-text-target class="ml-tiny mr-small">Viac formátov</span>
      span.text-color-grey.text-size-small(id=`item-group-more-description${id}`, data-toggle-class="hide") (audiokniha mp3, audiokniha cd)

mixin groupItem(name, id, publisher, xmasmode)
  .bar.align-items-center.mb-medium(class=(id !== 3) ? 'border-bottom-grey' : '')
    .bar__item.bar__item--fill.mb-m-small.mt-none.no-mrg-horizontal--m-down
      .bar.bar--vertical.bar--vertical-small.mb-small.mb-m-none
        .bar__item.m-none
          a.text-semibold.text-medium.d-inline-block.link=name
          | #{' '}
          span.text-medium.text-color-grey.show-m=publisher
          //a.link.link--product Základy rybolovu pro kluky a holky
          .d-inline-block.hide-m.text-size-small
            if id == 0
              span.text-color-success.mr-tiny Na sklade
              span.text-color-blue Novinka
            else if id == 1
              span.text-color-success.mr-tiny PDF
              span.text-color-success.mr-tiny EPUB
              span.text-color-success MOBI
            else if id == 3
              span.text-color-success Na sklade
        .bar__item.show-m
          .badges.mb-none
            if id == 0
              .badge.badge--green.mb-small.mb-m-none Na sklade
              .badge.badge--blue.mb-small.mb-m-none Novinka
            else if id == 1
              .badge.badge--green.mb-small.mb-m-none PDF
              .badge.badge--green.mb-small.mb-m-none EPUB
              .badge.badge--green.mb-small.mb-m-none MOBI
            else if id == 2
              .badge.badge--green.mb-small.mb-m-none MP3 na stiahnutie
            else if id == 3
              .badge.badge--green.mb-small.mb-m-none MP3 na CD
              .badge.badge--green.mb-small.mb-m-none Na sklade
    .bar__item.bar__item--shrinkable.mt-none.mb-small.mb-m-none.no-mrg-horizontal--m-down
      .bar.bar--small.m-none.bar--no-wrap
        .bar__item.m-none
          .badge.badge--primary -20%
        .bar__item.m-none
          .text-bold.ml-small 8,99
        .bar__item.m-none
          +xmas({type: 'icon', size: 'medium'}).ml-tiny(class=xmasmode ? '' : 'invisible')

    .bar__item.bar__item--shrinkable.mt-none.mb-small.mb-m-none
      .bar.bar--vertical.bar--vertical-small.mb-none.mb-m-tiny
        .bar__item.show-m.m-none(style="max-width: 200px;")
          if id == 1
            p.mb-tiny.text-color-grey-dark.text-medium.text-center Na sklade, objednávajte#{' '}
              em(data-tooltip, title="Toto je tooltip vysvetlivka") však rýchlo
              | .
          else
            p.mb-tiny.text-color-grey-dark.text-medium.text-center Posielame#{' '}
              em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
              | .
        .bar__item.m-none
          button.btn.btn--clean.btn--small.m-none.hide-m
            +icon('cart').icon--medium.text-color-primary
          button.btn.btn--primary.btn--small.mb-tiny(data-toggle='#checkout-notice').show-m
            +icon('cart').icon--left.icon--small
            span.text-semibold Vložiť do košíka

          +addTo({text: '', buttonClass: 'btn--small'})




mixin formatDropdown(props = {})
  -
    const {
      small = false
    } = props;

  .btn-layout.btn-layout--vertical(class=(small) ? 'mb-none' : '')&attributes(attributes)
    .btn-dropdown.m-none
      button.btn.btn--ghost.btn--icon-right.text-left(
      class=(small) ? 'btn--small' : '',
      data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
      data-toggle-expand,
      aria-haspopup="true"
      ) Pevná väzba
        +icon('chevron-down', 'icon-dropdown').icon--medium
      .dropdown(data-dropdown, data-toggle-expand)
        .dropdown__wrap
          a(href="#").dropdown__item
            .bar.text-small.mb-none
              .bar__item.bar__item--fill
                div Kniha
                .text-color-grey Posielame ihneď
              .bar__item.text-right
                .text-semibold.text-color-black 18,00 €
                .text-color-grey -10%
          a(href="#").dropdown__item
            .bar.text-small.mb-none
              .bar__item.bar__item--fill
                div Ekniha
                .text-color-grey Okamžite na stiahnutie
              .bar__item.text-right
                .text-semibold.text-color-black 16,00 €
                .text-color-grey -10%
          a(href="#").dropdown__item
            .bar.text-small.mb-none
              .bar__item.bar__item--fill
                div Audiokniha na CD
                .text-color-grey Posielame ihneď
              .bar__item.text-right
                .text-semibold.text-color-black 8,00 €
                .text-color-grey -5%
          a(href="#").dropdown__item
            .bar.text-small.mb-none
              .bar__item.bar__item--fill
                div Audiokniha MP3
                .text-color-grey Okamžite na stiahnutie
              .bar__item.text-right
                .text-semibold.text-color-black 12,00 €
                .text-color-grey -2%

section.section.section--toolbar.p-none.hide-l.bg-default(data-sticky,
  data-scroll-offset=filterStickyOffset ? filterStickyOffset : header.size.default, data-sticky-class="is-stuck", data-sticky-wrap, data-sticky-to="1024")
  .wrapper-main
    .bar.mb-none
      .bar__item.bar__item--fill.mr-none.text-center
        button.btn.btn--clean.mb-none(data-toggle="#mobile-reduction").mr-none.text-size-medium
          +icon('reduction', 'icon--medium').icon--left
          span Zúžiť výber
      .bar__item.bar__item--fill.border-left-grey.text-center
        button.btn.btn--fill.btn--clean.mb-none(data-toggle="#mobile-order").mr-none.text-size-medium
          +icon('order', 'icon--medium').icon--left
          span Zoradiť

section.section
  .wrapper-main
    .row
      #mobile-reduction.col--l-3.mobile-wrapper.mb-l-medium(data-toggle-lock)
        .mobile-wrapper__header
          .mobile-wrapper__header-title Zúženie výberu
          .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-reduction")
            +icon('close', 'icon--medium')
        .mobile-wrapper__content.p-none
          include category-filter
        .mobile-wrapper__footer
            .btn-layout.btn-layout--vertical.mb-none
              button.btn Zúžiť výber
      .col--l-9.col--12
        .div.mb-medium.show-l
          ul.tab-nav.tab-nav--compact.d-flex
            each sortLink, i in sortLinks
              li.tab-nav__item(class= i===0 ? 'is-active': '')
                a.tab-nav__content--link(class= i > 0 ? 'border-bottom-grey': '')
                  if (typeof sortLink === 'object')
                    +faIcon(sortLink.icon, 'far')
                  else
                    | !{sortLink}
            li.tab-nav__item.flex-1
              div.tab-nav__content.border-bottom-grey.justify-content-end.text-size-small.text-color-grey.text-center
                | 2358 produktov

        if showActiveFilters
          .d-flex.mb-tiny.align-items-center
            .text-size-small.text-transform-upper.text-color-grey.d-m-inline-block.d-block.mr-medium Použité filtre
            a(href="#").link.text-size-medium Zrušiť filtre
          .row.pl-m-medium
            .row.overflow-scroll-x
              .col.pl-medium
                .badges.flex-nowrap
                  .badge.mb-small
                    | Klasické detektívky
                    button(type="button").btn.btn--clean.btn--small.btn--equal.mb-none
                      +icon('close').icon--small.icon--right
                  .badge.mb-small
                    | Agatha Christie
                    button(type="button").btn.btn--clean.btn--small.btn--equal.mb-none
                      +icon('close').icon--small.icon--right
                  .badge.mb-small.mr-medium
                    | rýchlovky (do 1h)
                    button(type="button").btn.btn--clean.btn--small.btn--equal.mb-none
                      +icon('close').icon--small.icon--right

        if searchCard
          .card.card--well
            .card__content
              .row
                .col--m-4.mb-medium.mb-m-none
                  .mb-medium
                    h2.h5 Vydavatelia
                    ul.list--unstyled
                      for i in [1, 2]
                        li.bar.mb-tiny
                          .bar__item.bar__item--shrinkable.mr-tiny
                            +faIcon('house', 'far').text-color-grey.fa-lg
                          .bar__item.bar__item--fill.line-small
                            a.link Ikar
                  h2.h5 Čitateľské kolekcie
                  ul.list--unstyled
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.mr-tiny
                          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.line-small
                          a.link Moje fantasy
                .col--m-4.mb-medium.mb-m-none
                  h2.h5 Kategórie
                  ul.list--unstyled.mb-small
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.mr-tiny
                          +faIcon('rectangle-history', 'far').fa-lg.text-color-grey
                        .bar__item.bar__item--fill.line-small
                          a.link Kategória
                  a.link.text-medium + Ďalších 5
                    +faIcon('arrow-down', 'far').icon--small.ml-tiny
                .col--m-4
                  .mb-medium
                    h2.h5 Autori
                    ul.list--unstyled
                      for i in [1, 2]
                        li.bar.mb-tiny
                          .bar__item.bar__item--shrinkable.mr-tiny
                            +faIcon('circle-user', 'far').fa-lg.text-color-grey
                          .bar__item.bar__item--fill.line-small
                            a.link Meno Autora
                  h2.h5 Čitateľské profily
                  ul.list--unstyled
                    for i in [1, 2]
                      li.bar.mb-tiny
                        .bar__item.bar__item--shrinkable.mr-tiny
                          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.line-small
                          a.link Janko Martinusak

        if navIcons
          #category-description(data-collapse="200")
            .cms-article
              .row
                .col--3
                  img.img(src="images/content/author.png")
                .col--9
                  p Harry zápasí s minulosťou, ktorá sa #{' '}
                    a(href="#") ustavične vracia
                    | . Jeho najmladšiemu synovi Albusovi pripadla ťarcha rodinného dedičstva, o ktoré nikdy nemal záujem. Keď minulosť a prítomnosť vytvoria hrozivú výbušnú zmes, otec aj syn musia čeliť nepríjemnej pravde, že raz sa temnota zjaví na nečakaných miestach.

                  p Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.

                  p Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.

          .mb-large
            a.link.text-size-medium(href="javascript:void(0)", data-toggle="#category-description, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
              +icon('arrow-down')

          .mb-large.carousel-lite.mj-carousel(style="height: 5rem;").carousel-lite--fade-inside
            .carousel-lite__container.mj-carousel__scroll
              .carousel-lite__wrapper.mj-carousel__content.align-items-stretch
                each item, i in menu
                  a.carousel-lite__slide(style="width: 12rem; border: 1px solid #eee; padding: 10px 20px;").mr-small.d-flex.align-items-center
                    +faIcon(item.icon).text-color-error.mr-small.fa-3x
                    span.link.line-small= item.title
            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev.mj-carousel__btn--prev(style="left: 10px;")
              +faIcon('arrow-left').fa-2x
            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next.mj-carousel__btn--next(style="right: 10px;")
              +faIcon('arrow-right').fa-2x


        if description
          p.mb-large Vydavateľstvo Ikar je najväčší vydavateľský dom na Slovensku s produkciou cca 230 titulov ročne. Vydávame široké spektrum kníh pre všetky vekové kategórie od domácich aj zahraničných autorov. Medzi autormi, ktorých diela vydávame patria aj svetoví velikáni William Shakespeare, Gabriel García Márquez, či Fiodor Michajlovič Dostojevskij, ale aj autori slovenskej klasiky - Dobroslav Chrobák, Margita Figuli, František Švantner a ďalší. V našom vydaveteľskom dome našli svoje trvalé miesto viacerí úspešní súčasní slovenskí autori – Táňa Keleová-Vasilková, Andrea Coddington, Jozef Banáš, Jozef Karika...
        if carousel
          h2.mb-large Najobľúbenejšie tituly a kolekcie
          +booksCarouselRecommended().carousel--fade-inside.carousel--fade-inside-white
        #mobile-order.mobile-wrapper.mb-l-medium(data-toggle-lock).hide-l
          .mobile-wrapper__header
            .mobile-wrapper__header-title Radenie
            .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-order")
              +icon('close', 'icon--medium')
          .mobile-wrapper__content
            ul.list.pl-none
              each sortLink, i in sortLinks
                li.list__item
                  a.flex-1(class = i===0 ? 'text-color-primary': '')
                    if (typeof sortLink === 'object')
                      strong !{sortLink.title}
                    else
                      strong !{sortLink}


        if filters
          .badges.mb-tiny
            .mr-small Filtre:
            .badge.mb-tiny
              | Žáner (Sci-fi)
              .btn.btn--small.btn--clean.btn--equal.mb-none
                +icon('close').icon--small
            .badge.mb-tiny
              | Väzba mäkká
              .btn.btn--small.btn--clean.btn--equal.mb-none
                +icon('close').icon--small
            .btn.btn--small.btn--clean.mb-none zmazať filter

        if navIcons
          ul.tab-nav(data-tabs-container).text-size-medium.mb-large.show-m.bg-secondary
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najobľúbenejšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najlacnejšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najdrahšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najnovšie
            li.tab-nav__item(data-tabs-item)
              a.tab-nav__content.tab-nav__content--link najstaršie

        each item, i in books
          -
            var itemType = 'default';
            if (i == 0) itemType = 'group';
            if (i == 1) itemType = 'dropdown';

          if i === 0
            //GROUPED ITEM
            .product-item.product-item--border-bottom.bg-default
              .row.mb-medium.product-item__content
                .col--shrink.pr-none.show-m
                  +product
                    +productCover({
                      href: 'detail-knihy.html',
                      badge: categoryListBadge ? i + 1 : false,
                      cover: `${item.cover}`,
                      collection: true,
                      })
                .col--fill
                  .row.mb-medium.mb-m-none

                    .col--s-shrink.col--3.pr-none.hide-m
                      +product
                        +productCover({
                          href: 'detail-knihy.html',
                          badge: categoryListBadge ? i + 1 : false,
                          cover: `${item.cover}`,
                          collection: true,
                          })

                    .col--fill
                      .mb-m-small
                        h2.h3.mb-tiny
                          a.link.link--product(href="detail-knihy.html") #{item.title}
                          .badge EN
                        .text-color-grey.mb-small.text-medium #{item.author}
                        .badges.mb-small
                          a.badge.mb-none
                            +icon('star', 'icon--medium').text-color-yellow
                            span.text-normal.ml-small 3.5
                            span.link.ml-small(href="#recenzie", data-scroll) 234x

                        div(data-collapse="60")
                          p.text-medium.mb-none.show-s Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké vybavení je nezbytné, jaké u nás žijí ryby a jak je lze ulovit. K tomu slouží také vhodné místo k lovu a správná nástraha. Po takové přípravě docela určitě brzy chytíte svou první rybu - nebo mnohem víc ryb než dřív.
                        .mb-medium.show-s
                          a(href="detail-knihy.html").link.text-medium Viac o knihe
                            +icon('arrow-right', 'icon--small')

                    .col--m-shrink.product-item__price-box
                      .text-center.show-m
                        h2.text-bold.mb-small od #{item.price}

                  +itemGroup(1)

          else
            .product-item.product-item--border-bottom.bg-default(class=(i === 2 || i === 4) ? 'mb-none--m' : '' )
              .row
                .col--m-fill.product-item__content
                  .row.mb-medium
                    .col--s-shrink.col--3.pr-none
                      +product
                        +productCover({
                          href: 'detail-knihy.html',
                          badge: categoryListBadge ? i+1 : false,
                          cover: `${item.cover}`,
                          collection: i == 1,
                        })
                          img.book-flag.book-flag--medium(src="images/content/top100/10dni.png", style="position: absolute; right: 10px; top: -5px;")
                        if categoryListBadge
                          p.text-size-small
                            if (i % 3 === 0)
                              +icon('arrow-up-right').text-color-success.icon--small.text-vat
                            if (i % 3 === 1)
                              +icon('arrow-down-right').text-color-error.icon--small.text-vat
                            if (i % 3 === 2)
                              +icon('arrow-right').text-color-grey.icon--small.text-vat
                            | #{' '}
                            span.text-semibold 120
                            |  dní#{' '}
                            span.text-color-grey.show-m v TOP 100

                    .col--s-fill.col--9
                      .mb-m-small
                        h2.h3.mb-tiny
                          a.link.link--product(href="detail-knihy.html") #{item.title}
                            span.text-color-grey.ml-small.text-normal Podnapdis na viac slov alebo aj riadkov
                          .badge CZ
                        .text-color-grey.mb-small.text-medium #{item.author}
                      .bar.bar--small.mb-small.show-s
                        .bar__item.bar__item--shrinkable
                          .badges.mb-none
                            a.badge.mb-small
                              +icon('star', 'icon--medium').text-color-yellow
                              span.text-normal.ml-small #{item.rating}
                              span.link.ml-small(href="#recenzie", data-scroll) 234x
                            .badge.badge--green.mb-small Na sklade
                            .badge.badge--blue.mb-small Novinka


                      div(data-collapse="60")
                        p.text-medium.mb-none.show-s Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké vybavení je nezbytné, jaké u nás žijí ryby a jak je lze ulovit. K tomu slouží také vhodné místo k lovu a správná nástraha. Po takové přípravě docela určitě brzy chytíte svou první rybu - nebo mnohem víc ryb než dřív.
                      .mb-medium.show-s
                        a(href="detail-knihy.html").link.text-medium Viac o knihe
                          +icon('arrow-right', 'icon--small')

                      if itemType == 'dropdown'
                        +formatDropdown({small: true}).hide-m

                      .bar.bar--tiny.mb-none.hide-m
                        .bar__item
                          .badge.badge--primary -20%
                        .bar__item.bar__item--fill
                          .text-medium.text-semibold.ml-small #{item.price}
                        .bar__item
                          button.btn.btn--clean.m-none
                            +icon('cart').icon--medium.text-color-primary
                        .bar__item
                          button.btn.btn--clean.m-none
                            +icon('heart').icon--medium

                .col--m-shrink.product-item__price-box
                  //- PUBLISHER PORTAL
                  if i === 0 && publisher
                    .card.card--material.card--material-blue
                      .card__label
                        | štatistiky
                      .card__content.card__content--condensed
                        p.text-medium
                          b Predaných titulov
                          br
                          | E-shopy (14 dní):#{' '}
                          b 433
                          br
                          | E-shopy (celkovo):#{' '}
                          b 233
                          br
                          | Kníhkupectvá (14 dní):#{' '}
                          b 54
                          br
                          | Kníhkupectvá (celkovo):#{' '}
                          b 43
                          br
                        p.text-medium
                          | U dodávateľov:#{' '}
                          b 32
                          br
                          | Vo wishlistoch má:#{' '}
                          b 233 ľudí
                          br
                          | Rezervovalo si:#{' '}
                          b 233 ľudí
                          br

                  else
                    if itemType == 'dropdown'
                      +formatDropdown.show-m

                    .text-center.show-m
                      h2.text-bold.mb-small #{item.price}
                      .badge.badge--primary.mb-small Zľava 10%
                      +xmas({status: 0})
                      p.mb-medium.text-color-grey-dark.text-medium Posielame#{' '}
                        em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
                        | .

                      .btn-layout--vertical
                        button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                          +icon('cart').icon--left.icon--medium
                          span.text-semibold Vložiť do košíka

                        +addTo()

          //- HLADATE DARCEK
          if i === 2
            .section.section--small.bg-secondary.mb-large
              .product-item
                .row.mb-medium.mx-none
                  .col--m-2.text-center
                    +icon('footer-shipping').icon--xxlarge.text-color-success
                  .col--m-10.text-center.text-left-m
                    h2.h3.mb-tiny.text-color-success Vedeli ste, že...?
                    p.mb-none až 4 knihy z 5 máme na sklade a posielame ich do nasledujúceho dňa?

          //- HLADATE DARCEK
          //if i === 2
            .section.bg-secondary.show-m.mb-large
              .product-item
                .row.mb-large.mx-none
                  .col--m-fill.product-item__content
                    .bar
                      .bar__item
                        .thumbnail
                          img(src="../images/content/gift/darcek@2x.png", alt="Darcek", width="120")
                      .bar__item.bar__item--fill
                        h2.mb-small Hľadáte darček?
                        .bar.mb-none
                          .bar__item Pre:
                          .bar__item.bar__item--fill
                            ul.list-inline
                              each gift in ['babku', 'kamarátku', 'syna', 'dcéru', 'mamu', 'otca', 'brata']
                                li
                                  a.link !{gift}

          //- DARCEKOVA POUKAZKA
          if i === 4
            .section.bg-secondary.show-m.mb-large
              .product-item
                .row.mb-large.mx-none
                  .col--m-fill
                    .row
                      .col--s-shrink.col--3.pr-none
                        .thumbnail
                          img(src="../images/content/gift/darcekova-poukazka@2x.png", alt="Darcekova poukazka", width="120")
                      .col--s-fill.col--9
                        h2.mb-small Nie ste si istý?
                          br
                          | Kúpte darčekovú poukážku
                        p Obdarujte svojich blízkych presne tým, po čom vždy túžili - a ani nemusíte vedieť, čo to je!
                        p.mb-none
                          strong Darujte im darčekovú poukážku,
                          | za ktorú si môžu vybrať čokoľvek z celej pomnuky Martinus.sk - desiatky tisíc kníh, filmov, puzzle a iných skvelých darčekov. Podmienky použitia nájdete
                          a(href="#") tu
                          | .
                  .col--m-shrink.product-item__price-box
                    .text-small.text.text-transform-upper.text-color-grey hodnota darčekovej poukážky
                    .btn-layout.btn-layout--vertical.mb-medium
                      .btn-dropdown.m-none
                        button.btn.btn--ghost.btn--icon-right.text-left(
                          data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                          data-toggle-expand,
                          aria-haspopup="true"
                        )
                          | 20,00 €
                          +icon('chevron-down', 'icon-dropdown').icon--medium
                        .dropdown(data-dropdown, data-toggle-expand)
                          a(href="#").dropdown__item 20,00 €
                          a(href="#").dropdown__item 15,00 €
                          a(href="#").dropdown__item 10,00 €
                    .text-center
                      .btn-layout--vertical
                        button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                          +icon('cart').icon--left.icon--medium
                          span.text-semibold Vložiť do košíka

        +pagination.justify-content-center.mb-large

block append scripts
  script.
    document.addEventListener('myAppLoaded', function() {

      var carousel = new window.myApp.CarouselLite(document.querySelector('.mj-carousel'));
      });
