section.section.section--toolbar.no-pad.hide-l.text-center.bg-default(data-sticky,
  data-scroll-offset=filterStickyOffset ? filterStickyOffset : header.size.default, data-sticky-class="is-stuck", data-sticky-wrap)
  button.btn.btn--clean.no-mrg-bottom(data-toggle="#mobile-reduction")
    +icon('reduction', 'icon--large').icon--left
    span Zúženie výberu
  button.btn.btn--clean.no-mrg-bottom(data-toggle="#mobile-order")
    +icon('order', 'icon--large').icon--left
    span Zoradit

section.section
  .wrapper-main
    .row
      #mobile-reduction.col--l-3.mobile-wrapper.mb-medium(data-toggle-lock)
        .mobile-wrapper__header
          .mobile-wrapper__header-title Zúženie výberu
          .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-reduction")
            +icon('close', 'icon--medium')
        .mobile-wrapper__content.no-pad
          include category-filter
          .hide-l.align-items-bottom.box.no-mrg-bottom
            .btn-layout.btn-layout--vertical.no-mrg-bottom
              button.btn Zúžiť výber
      .col--l-9.col--12
        #mobile-order.mobile-wrapper.mb-medium(data-toggle-lock)
          .mobile-wrapper__header
            .mobile-wrapper__header-title Radenie
            .btn.btn--clean.mobile-wrapper__close(data-toggle="#mobile-order")
              +icon('close', 'icon--medium')
          .mobile-wrapper__content
            .bar.mb-large
              .bar__item.bar__item--fill-l.text-right.text-medium Zoradiť:
              .bar__item
                .form-control.form-control--select
                  select.js-select.select--ghost
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
                    option(value="ba-obchodna") Bratislava, Obchodná
            .hide-l.align-items-bottom.flex.flex-1
              .btn-layout.btn-layout--vertical.no-mrg-bottom
                button.btn Zoradiť
        - for (var i = 0; i<8; i++)
          .product-item.product-item--border-bottom.bg-default(class=(i === 2 || i === 4) ? 'no-mrg-bottom--m' : '' )
            .row.no-mrg-horizontal
              .col--m-fill.product-item__content
                .row.mb-medium
                  .col--s-shrink.col--3.no-pad-right
                    a(href="detail-knihy.html").thumbnail.thumbnail--book.mb-small
                      if categoryListBadge
                        .thumbnail__status
                          .thumbnail-badge.thumbnail-badge--simple(data-thumbnail-badge=i+1)
                      img(src="images/content/books/sample-15.jpg", alt="Cover", width="120")
                    if categoryListBadge
                      p.text-size-small
                        if (i % 3 === 0)
                          +icon('arrow-up-right').text-color-success.icon--small.text-vat
                        if (i % 3 === 1)
                          +icon('arrow-down-right').text-color-error.icon--small.text-vat
                        if (i % 3 === 2)
                          +icon('arrow-right').text-color-grey.icon--small.text-vat
                        | #{' '}
                        span.text-semibold 120
                        |  dní#{' '}
                        span.text-color-grey v TOP 100
                  .col--s-fill.col--9
                    h2.h4.mb-tiny
                      a.link.link--product(href="detail-knihy.html") Rybaření pro záčátečníky a posledný skutok z lásky pre zlatú rybičku
                        span.text-color-grey.text-space-left.text-normal Podnapdis na viac slov alebo aj riadkov
                    .text-color-grey.mb-small-s.text-medium Armin Göllner
                    .bar.bar--small.mb-small.show-s
                      .bar__item
                        .badge
                          +icon('star', 'icon--small').text-color-yellow
                          span.text-normal.text-space-left 3,5
                      .bar__item.bar__item--border
                        a.link.text-medium.text-space-left(href="#recenzie", data-scroll) 234x
                      .bar__item
                        .badge.badge--blue Novinka

                    div(data-collapse="60")
                      p.text-small.no-mrg-bottom.show-s Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké vybavení je nezbytné, jaké u nás žijí ryby a jak je lze ulovit. K tomu slouží také vhodné místo k lovu a správná nástraha. Po takové přípravě docela určitě brzy chytíte svou první rybu - nebo mnohem víc ryb než dřív.
                    .mb-medium.show-s
                      a(href="detail-knihy.html").link.text-small Viac o knihe
                        +icon('arrow-right', 'icon--small')

              .col--m-shrink.product-item__price-box
                .btn-layout.btn-layout--vertical.mb-medium
                  .btn-dropdown.no-mrg
                    button.btn.btn--ghost.btn--icon-right.text-left(
                      data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                      data-toggle-expand,
                      aria-haspopup="true"
                    )
                      .bar.text-small.no-mrg-bottom
                        .bar__item.bar__item--fill
                          div Pevná väzba
                          .text-color-grey.text-small.text-transform-none.text-normal.hide-m Posielame ihneď
                        .bar__item.text-right.text-small.hide-m
                          .text-semibold.text-color-black 18,00 €
                          .text-color-grey -10%
                      +icon('chevron-down', 'icon-dropdown').icon--medium
                    .dropdown(data-dropdown, data-toggle-expand)
                      a(href="#").dropdown__item
                        .bar.text-small.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div Pevná väzba
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 18,00 €
                            .text-color-grey -10%
                      a(href="#").dropdown__item
                        .bar.text-small.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div Brožovaná väzba
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 16,00 €
                            .text-color-grey -10%
                      a(href="#").dropdown__item
                        .bar.text-small.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div E-kniha
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 8,00 €
                            .text-color-grey -5%
                      a(href="#").dropdown__item
                        .bar.text-small.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div Audio kniha
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 12,00 €
                            .text-color-grey -2%
                .text-center.show-m
                  h2.text-bold.mb-small 201,99 €
                  .badge.badge--primary.mb-small Zľava 10%
                  p.mb-medium.text-color-grey-dark.text-medium Posielame#{' '}
                    em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
                    | .
                    if i == 1
                      | Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.

                  .btn-layout--vertical
                    button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                      +icon('cart').icon--left.icon--medium
                      span.text-semibold Vložiť do košíka

                    +addTo()

          //- HLADATE DARCEK
          if i === 2
            .section.bg-secondary.show-m.mb-medium
              .product-item
                .row.mb-large.no-mrg-horizontal
                  .col--m-fill.product-item__content
                    .row
                      .col--s-shrink.col--3.no-pad-right
                        .thumbnail
                          img(src="../images/content/gift/darcek@2x.png", alt="Darcek", width="120")
                      .col--m-shrink
                        h2.mb-small Hľadáte darček?
                        .bar.no-mrg-bottom
                          .bar__item Pre:
                          .bar__item.bar__item--fill
                            ul.list-inline
                              each gift in ['babku', 'kamarátku', 'syna', 'dcéru', 'mamu', 'otca', 'brata']
                                li
                                  a.link !{gift}

          //- DARCEKOVA POUKAZKA
          if i === 4
            .section.bg-secondary.show-m.mb-medium
              .product-item
                .row.mb-large.no-mrg-horizontal
                  .col--m-fill
                    .row
                      .col--s-shrink.col--3.no-pad-right
                        .thumbnail
                          img(src="../images/content/gift/darcekova-poukazka@2x.png", alt="Darcekova poukazka", width="120")
                      .col--s-fill.col--9
                        h2.mb-small Nie ste si istý?
                          br
                          | Kúpte darčekovú poukážku
                        p Obdarujte svojich blízkych presne tým, po čom vždy túžili - a ani nemusíte vedieť, čo to je!
                        p.no-mrg-bottom
                          strong Darujte im darčekovú poukážku,
                          | za ktorú si môžu vybrať čokoľvek z celej pomnuky Martinus.sk - desiatky tisíc kníh, filmov, puzzle a iných skvelých darčekov. Podmienky použitia nájdete
                          a(href="#") tu
                          | .
                  .col--m-shrink.product-item__price-box
                    .text-small.text.text-transform-upper.text-color-grey hodnota darčekovej poukážky
                    .btn-layout.btn-layout--vertical.mb-medium
                      .btn-dropdown.no-mrg
                        button.btn.btn--ghost.btn--icon-right.text-left(
                          data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                          data-toggle-expand,
                          aria-haspopup="true"
                        )
                          | 20,00 €
                          +icon('chevron-down', 'icon-dropdown').icon--medium
                        .dropdown(data-dropdown, data-toggle-expand)
                          a(href="#").dropdown__item 20,00 €
                          a(href="#").dropdown__item 15,00 €
                          a(href="#").dropdown__item 10,00 €
                    .text-center
                      .btn-layout--vertical
                        button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
                          +icon('cart').icon--left.icon--medium
                          span.text-semibold Vložiť do košíka

        +pagination.align-items-center.mb-large
