include ./../mixins/icon

footer.footer
  .wrapper-main
    section.mb-medium.border-bottom-grey
      p.text-color-yellow
        | Aj z drobných vecí sa dajú urobiť veľké. Vďaka vašim Anjelským drobným ste
        | pri nákupoch na Martinuse darovali už
        b.text-color-white
          | 542 459,18 € na Dobrého
          | Anjela
        | .
        |                         Ďakujeme!
    section.row.mb-medium
      .col--l-2.col--12
        .row
          - var footerSections = ['Knihy', 'E-knihy', 'Filmy', 'Hry', 'Káva a čaj'];
          .col--6.col--m-12
            ul.list--unstyled.list--expanded.mb-medium.show-m
              each item in footerSections
                li
                  a.link.text-color-white(href='#')= item
            ul.list-inline.mb-medium.hide-m
              each item in footerSections
                li
                  a.link.text-color-white(href='#')= item
      .col--l-3.col--12
        h5 Kníhkupectvá

        .bar.bar--small
          .bar__item
            a.link.text-color-white.text-size-medium.text-bold.mr-small(href="#")= footer.activeStore
            - var state = 'closing'; //- open, closing, closed
            span.text-size-medium.clickable(class='text-color-' + footer.store[state].color, data-tooltip, data-html="#store-tooltip", data-tippy-theme="light")
              = footer.store[state].text
              +icon('info').icon--small.text-color-grey-light(style="position: relative; top: -0.05em;")

        .row
          .col--6.col--l-5
            ul.list--unstyled.mb-medium
              each item in ['Bratislava', 'Košice', 'Lučenec', 'Martin', 'Nitra', 'Poprad']
                li
                  a.link.text-color-white.text-size-medium.text-normal(href='#')= item
          .col--6.col--l-7
            ul.list--unstyled.mb-medium
              each item in ['Považská Bystrica', 'Banská Bystrica', 'Trnava', 'Žilina']
                li
                  a.link.text-color-white.text-size-medium.text-normal(href='#')= item
              li
                a.link.text-color-white.text-size-medium.text-normal(href='#')
                  b Besedy

      .col--l-2.col--6
        h5 Nakupujte u nás
        ul.list--unstyled.mb-medium
          each item in ['Prečo práve u nás?', 'Ako nakupovať', 'Najčastejšie otázky', 'Poštovné', 'Možnosti platby']
            li
              a.link.text-color-white.text-size-medium.text-normal(href='#')= item
      .col--l-2.col--6
        h5 Martinus.sk
        ul.list--unstyled.mb-medium
          each item in ['Náš príbeh', 'Náš blog', 'Kontakty', 'Partnerský systém', 'Pridaj sa k nám', 'Marketing']
            li
              a.link.text-color-white.text-size-medium.text-normal(href='#')= item
      .col--l-2.col--6
        h5 Kontakt
        ul.list--unstyled.mb-medium
          li
            a.link.text-color-white.text-size-medium.text-normal(href='#') info@martinus.sk
          li.text-color-white.text-size-medium.text-normal Telefón: 043/3260 360
          li.text-color-white.text-size-medium.text-normal v pracovné dni 8:00-18:00

    section.row.mb-medium.align-items-center
      .col--m-9.col--l-8
        .bar
          .bar__item.bar__item--fill
            .form-control.form-control--m-inline.form-control--input.mb-none
              .form-label.form-label--large
                label.text-color-white.form-label--large(for='newsletter-input') Knižné a filmové novinky na e-mail (pre osoby staršie ako 16 rokov):
              .bar.bar--small.mb-none
                .bar__item.bar__item--fill
                  input.input.input--dark(type='text', placeholder='Napíšte nám váš e-mail', id='newsletter-input')
                .bar__item
                  button.btn.btn--primary Odoslať

      .col--m-3.col--l-4
        .bar.footer__social
          .bar__item
            a(href='#')
              +icon('fb').icon--medium
          .bar__item
            a(href='#')
              +icon('google').icon--medium
          .bar__item
            a(href='#')
              +icon('instagram').icon--medium
          .bar__item
            a(href='#')
              +icon('youtube').icon--medium

    section.row.align-items-center
      .col--l-7
        .bar.bar--small.mb-medium.footer__copy.align-items-center
          .bar__item
            img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus")
          .bar__item.bar__item--fill &copy; 2000-2019 Martinus. Internetové kníhkupectvo. Všetky práva vyhradené.
      .col--l-5.text-right
        ul.list-inline
          li
            a.link.text-color-white(href='#').text-normal.text-medium Odvolanie súhlasu s cookies
          li
            a.link.text-color-white(href='#').text-normal.text-medium Obchodné podmienky
          li
            a.link.text-color-white(href='#').text-normal.text-medium Ochrana súkromia

block append tooltips
  #store-tooltip.hide.card
    .card__content.card__content--condensed.text-left
      .mb-small
        a.link.text-bold Považská Bystrica
      .mb-medium
        .row
          .col--6
            | Pondelok
          .col--6.text-nowrap
            | 09:00 - 21:00
        .row
          .col--6
            | Utorok
          .col--6.text-nowrap
            | 09:00 - 21:00
        .row
          .col--6
            | Streda
          .col--6.text-nowrap
            | 09:00 - 21:00
        .row
          .col--6
            | Štvrtok
          .col--6.text-nowrap
            | 09:00 - 21:00
        .row
          .col--6
            | Piatok
          .col--6.text-nowrap
            | 09:00 - 21:00
        .row
          .col--6
            | Sobota
          .col--6.text-nowrap
            | 09:00 - 21:00
        .row
          .col--6
            | Nedeľa
          .col--6.text-nowrap
            | 09:00 - 21:00

      .mb-none
        a.btn.btn--small.btn--ghost.mb-small
          | Viac o kníhkupectve
          +icon('arrow-right').icon--right.icon--medium

      a.link.text-medium Zmeniť moje kníhkupectvo
