include ../mixins/icon

mixin myLibrarySidenav2()

  -
    const subNav = [
      {
        title: 'Všetky knihy',
        href: 'my-library.html',
        pill: 120,
        locked: true
      },
      /*{
        title: 'Kúpené na webe',
        href: 'my-library.html',
        pill: 12,
        icon: 'cart',
        iconColor: 'text-color-grey',
        locked: true
      },
      {
        title: 'Kúpené v kníhkupectve',
        href: 'my-library.html',
        pill: 12,
        icon: 'footer-stores',
        iconColor: 'text-color-grey',
        locked: true
      },
      {
        title: 'Neprečítané',
        href: 'my-library.html',
        pill: 2,
        icon: 'circle',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Čítam',
        href: 'my-library.html',
        icon: 'time',
        iconColor: 'text-color-blue'
      },
      {
        title: 'Prečítané',
        href: 'my-library.html',
        pill: 8,
        icon: 'check-circle',
        iconColor: 'text-color-success'
      },*/
      {
        title: 'Wishlist',
        href: 'my-library.html',
        pill: 12,
        icon: 'guard',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Vianoce 2017',
        href: 'my-library.html',
        pill: 8,
        icon: 'link',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Slovenské fantasy',
        href: 'my-library.html',
        pill: 2,
        icon: 'eye',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Klasika',
        href: 'my-library.html',
        pill: 2,
        icon: 'eye',
        iconColor: 'text-color-grey'
      },
    ];

  //h2.h3 Moje zoznamy a kolekcie

  ul.list.list--expanded.list--with-hover.p-none.mb-large(role="navigation")
    each item, index in subNav
      li(class= index === 0 ? 'is-active' : '')
        a(href=item.href, data-scroll, data-scroll-offset=header.size.default + 40)
          if item.icon
            +icon(item.icon).icon--small.mr-small(class=`${item.iconColor}`, data-tooltip, title="Popis stavu")
          span(class= item.locked ? '' : '')= item.title
          if item.pill
            .pill.ml-small(class= index === 0 ? 'pill--blue' : 'pill--white')= item.pill

  .btn-layout.btn-layout--vertical
    button.btn(data-toggle='#add-list')
      | Pridať zoznam alebo kolekciu
  p.text-small.text-center.text-color-grey Napr. Na vianoce, Pre brata,...

  h2.h3 Filter
  .form-control
    .checkbox
      input.radiocheck__input#check-purchases(type="checkbox")
      label(for="check-purchases").radiocheck__control
      label(for="check-purchases").radiocheck__label.text-medium Zakúpené knihy#{' '}
        span.text-color-grey (15)
  .form-control
    .checkbox
      input.radiocheck__input#check-purchases-offline(type="checkbox")
      label(for="check-purchases-offline").radiocheck__control
      label(for="check-purchases-offline").radiocheck__label.text-medium Zakúpené v kníhkupectve#{' '}
        span.text-color-grey (3)
  .form-control
    .checkbox
      input.radiocheck__input#check-unread(type="checkbox")
      label(for="check-unread").radiocheck__control
      label(for="check-unread").radiocheck__label.text-medium.text-color-grey Neprečítané#{' '}
        span.text-color-grey (9)
  .form-control
    .checkbox
      input.radiocheck__input#check-read(type="checkbox")
      label(for="check-read").radiocheck__control
      label(for="check-read").radiocheck__label.text-medium.text-color-success Prečítané#{' '}
        span.text-color-grey (34)
  .form-control
    .checkbox
      input.radiocheck__input#check-reading(type="checkbox")
      label(for="check-reading").radiocheck__control
      label(for="check-reading").radiocheck__label.text-medium.text-color-blue Čítam#{' '}
        span.text-color-grey (2)

mixin myLibrarySidenav()
  -
    const subNav = [
      {
        title: 'Všetky moje tituly',
        href: 'my-library.html',
        pill: 69,
      },
      {
        title: 'Kúpené v kníkupectve',
        href: 'my-library.html',
        pill: 102,
        icon: 'smart-list',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Kúpené na webe',
        href: 'my-library.html',
        pill: 9,
        icon: 'smart-list',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Čítam',
        href: 'my-library.html',
        icon: 'time',
        iconColor: 'text-color-blue'
      },
      {
        title: 'Prečítané',
        href: 'my-library.html',
        pill: 8,
        icon: 'check-circle',
        iconColor: 'text-color-success'
      },
      {
        title: 'Neprečítané',
        href: 'my-library.html',
        pill: 2,
        icon: 'circle',
        iconColor: 'text-color-grey'
      },
    ];
    const subNav2 = [
      {
        title: 'Wishlist',
        href: 'my-library.html',
        pill: 120,
        icon: 'guard',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Vianoce 2017',
        href: 'my-library.html',
        pill: 8,
        icon: 'link',
        iconColor: 'text-color-grey'
      },
      {
        title: 'Pre bratranca',
        href: 'my-library.html',
        pill: 2,
        icon: 'eye',
        iconColor: 'text-color-grey'
      },
    ];

  ul.list.list--expanded.list--with-hover.p-none.mb-large(role="navigation")
    each item, index in subNav
      li(class= index === 6 ? 'is-active' : '')
        a(href=item.href, data-scroll, data-scroll-offset=header.size.default + 40)
          if item.icon
            +icon(item.icon).icon--small.mr-small(class=`${item.iconColor}`)
          = item.title
          if item.pill
            .pill.ml-small(class= index === 6 ? 'pill--blue' : 'pill--white')= item.pill

  h2.h3 Moje zoznamy a kolekcie

  ul.list.list--expanded.list--with-hover.p-none.mb-large(role="navigation")
    each item, index in subNav2
      li(class= index === 6 ? 'is-active' : '')
        a(href=item.href, data-scroll, data-scroll-offset=header.size.default + 40)
          if item.icon
            +icon(item.icon).icon--small.mr-small(class=`${item.iconColor}`)
          = item.title
          if item.pill
            .pill.ml-small(class= index === 6 ? 'pill--blue' : 'pill--white')= item.pill

  .btn-layout.btn-layout--vertical
    button.btn(data-toggle='#add-list')
      | Pridať zoznam alebo kolekciu
    //.btn-dropdown.btn-dropdown--no-icon.mb-none
      button.btn(
        data-toggle='self, next',
        data-toggle-expand,
        aria-haspopup="true"
      )
        | Pridať zoznam
      #addList.dropdown.dropdown--align-right.dropdown--nowrap(data-dropdown, data-dropdown-interactive, data-toggle-expand)
        .dropdown__wrap
          .card.mb-none
            .card__content.card__content--condensed
              .bar.flex-nowrap
                .bar__item.bar__item--fill.text-nowrap
                  | Nový zoznam
                .bar__item
                  button.btn.btn--clean.btn--small(data-toggle='#addList')
                    +icon('close', 'icon--small', 'Naspäť')
              .form-control.form-control--input
                input(name="addListInput", id="addListInput", placeholder="napr. otcovi na Vianoce").input
              .btn-layout--vertical
                button(type="button").btn.btn--full.mb-none Vytvoriť

  p.text-small.text-center.text-color-grey Napr. Na vianoce, Pre brata,...
