include ./../mixins/icon

.mb-medium
  .row.mb-large
    .col--shrink.no-pad-right.hide-l
      button.btn.btn--clean.no-mrg-bottom
        +icon('arrow-left', 'icon--medium')
    .col--fill
      h1.h2.mb-none Objednávka č. 123
      .text-color-grey Objednané 12. 4. 2017
    .col--shrink
      a(data-tooltip, title="Bla bla bla zatial nepotrvrdena platba, dont panic...")
        +icon('info', 'icon--medium')
      button.btn.btn--primary.no-mrg-bottom
        | Zaplatiť#{' '}
        span.show-m kartou online
      span.text-space-left
      button.btn.btn--ghost.no-mrg-bottom.text-space-right.show-m
        +icon('trash', 'icon--medium').icon--left
        | Stornovať
      button.btn.btn--clean.no-mrg-bottom.text-space-right.hide-m
        +icon('trash', 'icon--medium')
  .row.mb-large.show-m
  .row.mb-large-m
    // progress bar
    .order-progress.mb-large
      .swiper-container(data-swiper-options=swiperConfig)
        .swiper-wrapper
          - for (var i = 1; i < 7; ++i)
            .order-progress__item.swiper-slide.text-center(class=(i===currentStep) ? 'current' : '')
              .order-progress__icon(class=i<currentStep ? 'text-color-success' : '')
                +icon('order-progress-'+i, 'icon--xxlarge')
              .mb-small(class=i<currentStep ? 'text-color-success' : '')
                if (i<currentStep)
                  +icon('check-circle', 'icon--medium').bg-default
                if (i===currentStep)
                  +icon('time', 'icon--medium').bg-default
                if (i>currentStep)
                  .order-progress__blank-circle
              .text-medium.order-progress__status(class=i===currentStep ? 'text-semibold' : '')
                if (i == currentStep)
                  | Dokončili ste
                else
                  | Dokončili ste objednávku


  .bar
    .bar__item.bar__item--fill
      h2 Sumár objednávky
    .bar__item
      button.btn.btn--ghost.no-mrg-bottom
        +icon('download', 'icon--medium').icon--left
        | Stiahnuť faktúru

  .row
    .col--l-6
      .order-summary.mb-large.card.card--material
        .card__content.mb-medium

          .order-summary__item.border-bottom-grey.mb-medium
            .bar.mb-none
              .bar__item.bar__item--fill.bar__item--shrinkable
                h3.h5.text-color-black Spôsob doručenia
            .bar.text-medium.align-items-top
              .bar__item.bar__item--fill
                b slovenská pošta
                div
                  | Roman Klčo, Malá Maňa 32, 94145 Maňa,
                  br
                  | Slovenská republika
                  br
                  | SMS poslať na číslo
                  b #{' '}+421914134156
              .bar__item.text-right
                .text-semibold 2,99 €
            .bar.text-medium.align-items-top
              .bar__item.bar__item--fill
                b 1x červený papier
                  br
                  | Neprikladať faktúru
              .bar__item.text-right
                .text-semibold 1,99 €

          .order-summary__item.border-bottom-grey.mb-medium
            .bar.mb-none
              .bar__item.bar__item--fill.bar__item--shrinkable
                h3.h5.text-color-black Spôsob doručenia
            .bar.mb-medium.text-medium
              .bar__item.bar__item--fill
                b 1x červený papier
                  br
                  | Neprikladať faktúru

          .order-summary__item.border-bottom-grey.mb-medium
            .bar.mb-none
              .bar__item.bar__item--fill.bar__item--shrinkable
                h3.h5.no-mrg-bottom.text-color-black Spôsob platby
              .bar__item.text-right
                button.btn.btn--clean.show-m.no-pad
                  +icon('download', 'icon--small').icon--left
                  | faktúra

            .mb-medium
              .bar.mb-none.text-medium
                .bar__item.bar__item--fill
                  b Kartou (vopred)
                .bar__item.text-right
                  .text-semibold 1,99 €
              .bar.mb-none.text-medium
                .bar__item.bar__item--fill
                  b Darčeková poukážka
                .bar__item.text-right
                  .text-semibold -10,00 €
              .bar.mb-none.text-medium
                .bar__item.bar__item--fill
                  b Anjelské drobné
                .bar__item.text-right
                  .text-semibold 0,25 €

          .order-summary__item.border-bottom-grey.mb-medium
            .bar.mb-none
              .bar__item.bar__item--fill.bar__item--shrinkable
                h3.h5.text-color-black Poznámka
            .bar.mb-medium.text-medium
              .bar__item.bar__item--fill
                b Ste uplne super a tesim sa na knizky

          .order-summary__item
            .bar.mb-none
              .bar__item.bar__item--fill.bar__item--shrinkable
                h3.h5.text-color-black Fakturačná adresa
            .bar.mb-medium.text-medium
              .bar__item.bar__item--fill
                b Jozef Novák, Budyšínska 51, 851 02 Bratislava

          .text-right
            span.text-large.text-space-right Spolu k úhrade
            span.h2.text-bold 10,00 €

        .card__content.bg-secondary
          .bar.align-items-center.no-mrg-top
            .bar__item.text-medium Zásielku pripravili:
            .bar__item
              each a, i in Array(5)
                img(class=i !== 4 ? 'text-space-right' : '', src="/images/content/user-photo.png", width="45", alt="Avatar")

    .col--l-6
      .order-packages

        .form-control.form-control--input.mb-large
          .form-label
            label(for="kniha-autocomplete").text-transform-upper.text-small.text-color-grey.visually-hidden Knihy
          #kniha-autocomplete-container

        // digital
        .package.mb-large
          .bar.align-items-middle.mb-medium
            .bar__item
              +icon('check-circle', 'icon--medium').text-color-success
            .bar__item
              h2.h5
                | Elektronický obsah

          .package__item.mb-small.border-bottom-grey
            .bar.align-items-middle.mb-small
              .bar__item.no-pad-right
                .thumbnail.thumbnail--book.thumbnail--small
                  .thumbnail__img-wrap
                    img(src="https://i1.martinus.sk/tovar/_l/279/l279265.jpg")
              .bar__item.bar__item--fill
                .text-semibold Muž, ktorý hľadal svoj tieň
                .text-small.text-color-grey David Lagercrantz
                a.btn.btn--small.btn--clean.no-pad
                  +icon('download', 'icon--small')
                  | #{' '}Stiahnuť
              .bar__item.bar__item--shrinkable.text-right
                .text-medium
                  span.text-color-grey 1x#{' '}
                  span.text-semibold 8,84 €
                button.btn.btn--clean.no-pad-top.no-pad-bottom
                  +icon('heart', 'icon--medium')
                span.text-medium V#{' '}
                  a.link(href="#") knižnici
              .bar__item.bar__item--shrinkable.text-right
                button.btn.btn--clean.no-mrg(type="button")
                  +icon('trash', 'icon--medium')

          .package__item.mb-small
            .bar.align-items-middle.mb-small
              .bar__item.no-pad-right
                .thumbnail.thumbnail--book.thumbnail--small
                  .thumbnail__img-wrap
                    img(src="https://i1.martinus.sk/tovar/_l/242/l242240.jpg")
              .bar__item.bar__item--fill
                .text-semibold Darčeková poukážka - 15 EUR
                a.btn.btn--small.btn--clean.no-pad
                  +icon('download', 'icon--small')
                  | #{' '}Stiahnuť
                a.btn.btn--small.btn--clean.no-pad.text-space-left
                  +icon('eye', 'icon--small')
                  | #{' '}Zobraziť
              .bar__item.bar__item--shrinkable.text-right
                .text-medium
                  span.text-color-grey 1x#{' '}
                  span.text-semibold 15,00 €
                button.btn.btn--clean.no-pad-top.no-pad-bottom
                  +icon('heart', 'icon--medium')
                span.text-medium V#{' '}
                  a.link(href="#") knižnici
              .bar__item.bar__item--shrinkable.text-right
                button.btn.btn--clean.no-mrg(type="button")
                  +icon('trash', 'icon--medium')

        // zasielka 1
        .package.mb-large
          .bar.align-items-middle.mb-medium
            .bar__item
              +icon('check-circle', 'icon--medium').text-color-success
            .bar__item.bar__item--fill
              h2.h5
                | Zásielka 1.
              .text-small
                span.text-color-grey 13. 4. 2017#{' '}
                span.text-color-black Kuriér GLS#{' '}
                a(href="#").link HSKDJF546546
            .bar__item.text-right
              a.btn.btn--small.btn--clean.no-pad
                +icon('download', 'icon--small')
                | #{' '}faktúra
            .bar__item.bar__item--shrinkable.text-right
              button.btn.btn--clean.no-mrg(type="button")
                +icon('trash', 'icon--medium')

          .package__item.mb-small
            .bar.align-items-middle.mb-small
              .bar__item.no-pad-right
                .thumbnail.thumbnail--book.thumbnail--small
                  .thumbnail__img-wrap
                    img(src="images/content/books/sample-1.jpg")
              .bar__item.bar__item--fill
                .text-semibold Rybaření pro začátečníky a názov na dva riadky
                .text-small.text-color-grey Armin Göllner
              .bar__item.bar__item--shrinkable.text-right
                .text-medium
                  span.text-color-grey 1x#{' '}
                  span.text-semibold 123,26 €
                button.btn.btn--clean.no-pad-top.no-pad-bottom
                  +icon('heart', 'icon--medium')
                span.text-medium V#{' '}
                  a.link(href="#") knižnici
              .bar__item.bar__item--shrinkable.text-right
                button.btn.btn--clean.no-mrg(type="button")
                  +icon('trash', 'icon--medium')


        // neodoslane
        .package.mb-large
          .bar.align-items-middle.mb-medium
            .bar__item
              +icon('time', 'icon--medium').text-color-grey
            .bar__item
              h2.h5
                | Vybavuje sa
          .package__item.mb-small
            .bar.align-items-middle.mb-small
              .bar__item.no-pad-right
                .thumbnail.thumbnail--book.thumbnail--small
                  .thumbnail__img-wrap
                    img(src="images/content/books/sample-15.jpg")
              .bar__item.bar__item--fill
                .text-semibold Rybaření pro začátečníky a názov na dva riadky
                .text-small.text-color-grey Armin Göllner
                b.text-size-medium.text-color-success Na sklade
              .bar__item.bar__item--shrinkable.text-right
                .text-medium
                  span.text-color-grey 1x#{' '}
                  span.text-semibold 123,26 €
                button.btn.btn--clean.no-pad-top.no-pad-bottom
                  +icon('heart', 'icon--medium')
                span.text-medium V#{' '}
                  a.link(href="#") knižnici
              .bar__item.bar__item--shrinkable.text-right
                button.btn.btn--clean.no-mrg(type="button")
                  +icon('trash', 'icon--medium')

          .package__item.mb-small
            .bar.align-items-middle.mb-small
              .bar__item.no-pad-right
                .thumbnail.thumbnail--book.thumbnail--small
                  .thumbnail__img-wrap
                    img(src="images/content/books/sample-15.jpg")
              .bar__item.bar__item--fill
                .text-semibold Rybaření pro začátečníky
                .text-small.text-color-grey Armin Göllner
                b.text-size-medium.text-color-yellow Objednané u distribútora
              .bar__item.bar__item--shrinkable.text-right
                .text-medium
                  span.text-color-grey 1x#{' '}
                  span.text-semibold 123,26 €
                button.btn.btn--clean.no-pad-top.no-pad-bottom
                  +icon('heart', 'icon--medium')
                span.text-medium V#{' '}
                  a.link(href="#") knižnici
              .bar__item.bar__item--shrinkable.text-right
                button.btn.btn--clean.no-mrg(type="button")
                  +icon('trash', 'icon--medium')

          .package__item.mb-small
            .bar.align-items-middle.mb-small
              .bar__item.no-pad-right
                .thumbnail.thumbnail--book.thumbnail--small
                  .thumbnail__img-wrap
                    img(src="images/content/books/sample-15.jpg")
              .bar__item.bar__item--fill
                .text-semibold Rybaření pro začátečníky
                .text-small.text-color-grey Armin Göllner
                b.text-size-medium.text-color-blue Predpredaj
              .bar__item.bar__item--shrinkable.text-right
                .text-medium
                  span.text-color-grey 1x#{' '}
                  span.text-semibold 123,26 €
                button.btn.btn--clean.no-pad-top.no-pad-bottom
                  +icon('heart', 'icon--medium')
                span.text-medium V#{' '}
                  a.link(href="#") knižnici
              .bar__item.bar__item--shrinkable.text-right
                button.btn.btn--clean.no-mrg(type="button")
                  +icon('trash', 'icon--medium')

        // zrusene
        .package.mb-large
          .bar.align-items-middle.mb-medium
            .bar__item
              +icon('close', 'icon--medium').text-color-error
            .bar__item
              h2.h5
                | Zrušené
          .package__item.mb-small
            .bar.align-items-middle.mb-small
              .bar__item.no-pad-right
                .thumbnail.thumbnail--book.thumbnail--small
                  .thumbnail__img-wrap
                    img(src="images/content/books/sample-15.jpg")
              .bar__item.bar__item--fill
                .text-semibold Rybaření pro začátečníky a názov na dva riadky
                .text-small.text-color-grey Armin Göllner
              .bar__item.bar__item--shrinkable.text-right
                .text-medium
                  span.text-color-grey 1x#{' '}
                  span.text-semibold 123,26 €
                button.btn.btn--clean.no-pad-top.no-pad-bottom
                  +icon('heart', 'icon--medium')
                span.text-medium V#{' '}
                  a.link(href="#") knižnici
              .bar__item.bar__item--shrinkable.text-right
                button.btn.btn--clean.no-mrg(type="button")
                  +icon('trash', 'icon--medium')

block scripts
  script.
    window.myApp = window.myApp = {};
    window.addEventListener('DOMContentLoaded', () => {
      const allResults = {
        item: [
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            image: 'images/content/books/sample-15.jpg',
            name: 'Základy rybolovu pro kluky a holky',
            description: 'J.K. Rowling, <span class="text-color-success">Na sklade</span>',
            price: '8,99€'
          },
          {
            raw: 'Základy rybolovu pro kluky a holky 2 Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            image: 'images/content/books/sample-15.jpg',
            name: 'Základy rybolovu pro kluky a holky 2',
            description: 'Dan Brown, <span class="text-color-success">Do troch dní</span>',
            price: ''
          },
          {
            raw: 'Základy rybolovu pro kluky a holky 3 Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            image: 'images/content/books/sample-15.jpg',
            name: 'Základy rybolovu pro kluky a holky 3',
            description: 'Dominik Dan, <span class="text-color-grey">Do troch týždňov</span>',
            price: '8,99€'
          },
        ],
      };

      const filter = type => (query, populateResults) => {
        const results = allResults[type];
        const filteredResults = results.filter(result =>
            result.raw.match(new RegExp(query, 'gi')),
          );
        populateResults(filteredResults);
      };

      window.myApp.autocompleteKniha = new window.myApp.Autocomplete(
      document.getElementById('kniha-autocomplete-container'),
        {
          autocompleteOptions: {
            id: 'kniha-autocomplete',
            source: filter('item'),
            onConfirm: (value) => {
              console.log(value);
            },
            placeholder: 'Pridať knihu do objednávky? Začnite písať...'
          },
        templateType: 'item',
        },
      );
    });