mixin book-figure-horizontal(props = {})
  -
    const {
      cover = 'images/content/books/sample-15.jpg',
      title = 'Základy rybolovu pro kluky a holky',
      author = 'Frank Weissert, Jack Thorne a John Tiffany',
      discount,
      rating = 4.5,
      price = '12,99 €',
    } = props;

  a(href=`${assetsPrefix}detail-knihy${htmlPostfix}`)
  figure.figure.figure--horizontal.no-mrg
    .figure__img.figure-book__cover.book-thumbnail.book-thumbnail--small
      img(src=`${assetsPrefix}${cover}`)
    figcaption.figure__caption
      p.text-semibold.text-size-medium.no-mrg(title=title)= title
      p.text-color-grey.text-size-small.mb-small= author
      .bar.bar--small
        .bar__item
          if discount
            .badge.badge--primary= discount
          else
            .badge
              +icon('star').text-color-yellow.icon--small
              | #{' '}
              = rating
        .bar__bar__item--fill.text-right
          .text-medium.text-semibold= price
