mixin booksCarouselRecommended()
  -
    var swiperConfig = {
      slidesPerView: 'auto',
      slidesPerGroup: 7,
      nextButton: '.carousel__btn--next',
      prevButton: '.carousel__btn--prev',
      breakpoints: {
        1024: {
          slidesPerGroup: 5,
        },
        768: {
          spaceBetween: 20,
          slidesPerGroup: 3,
        },
        640: {
          spaceBetween: 20,
          slidesPerGroup: 2,
        },
        480: {
          spaceBetween: 20,
          slidesPerGroup: 1,
        }
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel.carousel--fade-outside
    .swiper-container.swpier-container--fullwidth(data-swiper-options=swiperConfig)
      .swiper-wrapper
        each item, i in [...books, ...books, ...books, ...books]
          a.swiper-slide(href=`${assetsPrefix}detail-knihy${htmlPostfix}`).carousel__product-detail
            .product.mb-small.text-left
              .product__cover.thumbnail.thumbnail--book.thumbnail--clickable.mb-small
                img(src=`${assetsPrefix}${item.cover}`).img
              .product__title
                p.text-semibold.text-size-medium.no-mrg.text-ellipsis(title=item.title)= item.title
                ul.list-inline.list-inline--delimited.text-color-grey.text-size-small.no-mrg.text-ellipsis
                  - var authors = item.author.split(', ')
                  each author in authors
                    li= author
            .bar.bar--tiny.no-mrg
              .bar__item
                if item.discount
                  .badge.badge--primary= item.discount
                else
                  .badge
                    +icon('star').text-color-yellow.icon--small
                    | #{' '}
                    = item.rating
              .bar__item.bar__item--fill.text-right
                .text-medium.text-semibold= item.price

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +icon('arrow-left').icon--medium
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +icon('arrow-right').icon--medium

mixin booksCarouselHorizontal(props = {})
  -
    const {
      duration,
    } = props;
    var swiperConfig = {
      nextButton: '.carousel__btn--next',
      prevButton: '.carousel__btn--prev',
      slidesPerView: 'auto',
      slidesPerGroup: 1,
      spaceBetween: 20,
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel.carousel--fade-outside.carousel--fade-outside-white
    .swiper-container(data-swiper-options=swiperConfig)
      .swiper-wrapper
        each item, i in [...books, ...books, ...books, ...books]
          a.swiper-slide(href=`${assetsPrefix}detail-knihy${htmlPostfix}`).carousel__product-detail
            .product.mb-small.text-left
              .product__cover.thumbnail.thumbnail--book.thumbnail--clickable.mb-small
                img(src=`${assetsPrefix}${item.cover}`).img
                if duration
                  .thumbnail__status
                    +discountBadge(duration)
              .product__title
                p.text-semibold.text-size-medium.no-mrg.text-ellipsis(title=item.title)= item.title
                ul.list-inline.list-inline--delimited.text-color-grey.text-size-small.no-mrg.text-ellipsis
                  - var authors = item.author.split(', ')
                  each author in authors
                    li= author
            .bar.bar--tiny.no-mrg
              if (i == 2)
                .bar__item
                  p &nbsp;
              else
                .bar__item
                  if item.discount
                    .badge.badge--primary= item.discount
                  else
                    .badge
                      +icon('star').text-color-yellow.icon--small
                      | #{' '}
                      = item.rating
                .bar__item.bar__item--fill.text-right
                  .text-medium.text-semibold= item.price

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +icon('arrow-left').icon--medium
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +icon('arrow-right').icon--medium
