include product
include faIcon

mixin booksCarouselSwiperWrapper(props = {})
  -
    const {
      counter = false
    } = props;

  if counter
    ul.swiper-wrapper.list--counter.p-none
      block
  else
    .swiper-wrapper
      block

mixin booksCarouselSwiperSlide(props = {})
  -
    const {
      counter = false
    } = props;

  if counter
    li.swiper-slide.carousel__product-detail
      a(href=`${assetsPrefix}detail-knihy${htmlPostfix}`)
        block
  else
    a(href=`${assetsPrefix}detail-knihy${htmlPostfix}`).swiper-slide.carousel__product-detail
      block

mixin booksCarouselRecommended(props = {})
  -
    const {
      collections = true,
      ads = true,
      counter = false,
      cartButton = false,
      productInfo = true,
    } = props;

    var swiperConfig = {
      slidesPerView: 'auto',
      slidesPerGroup: 7,
      breakpoints: {
        1024: {
          slidesPerGroup: 5,
        },
        768: {
          spaceBetween: 20,
          slidesPerGroup: 3,
        },
        640: {
          spaceBetween: 20,
          slidesPerGroup: 2,
        },
        480: {
          spaceBetween: 20,
          slidesPerGroup: 1,
        }
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel&attributes(attributes)
    .swiper.swiper--fullwidth(data-swiper-options=swiperConfig, id='slider-' + Math.random())
      +booksCarouselSwiperWrapper({counter: counter})(data-equal-columns)
        each item, i in [...books, ...books, ...books, ...books]
          +booksCarouselSwiperSlide({counter: counter})(data-equal-column)
            +product().mb-small.text-left
              if item.ad && ads
                .h5.mb-tiny reklama
              +productCover({lazy: true, cover: item.cover, collection: i < 2 && collections})
              +productTitle({
                collection: i < 2 && collections,
                title: i < 2 && collections ? `Kolekcia ${i + 1}` : item.title, author: i < 2 && collections ? false : item.author, ad: item.ad && ads })
              if productInfo
                if cartButton
                  +productBuy({price: item.price})
                else
                  +productMeta({
                    discount: item.discount,
                    rating: item.rating,
                    price: item.price,
                    collection: i < 2 && collections,
                    soldOut: item.soldOut,
                    upcoming: item.upcoming,
                  })

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +faIcon('arrow-left').fa-2x
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +faIcon('arrow-right').fa-2x
