mixin carouselTiles(tiles)
  .carousel-tiles
    -
      var swiperConfig = {
        nextButton: '.carousel__btn--next',
        prevButton: '.carousel__btn--prev',
        slidesPerView: 'auto',
        slidesPerGroup: 1,
        spaceBetween: 20,
        centeredSlides: true,
        loop: true,
      };
      swiperConfig = JSON.stringify(swiperConfig);
    .carousel
      .swiper-container(data-swiper-options=swiperConfig, data-swiper-up="m")
        .swiper-wrapper
          each item, i in tiles
            .swiper-slide.carousel__tile.carousel-tile.carousel-tile__bg(class=`carousel-tile__bg--${item.color}`)
              a(href="#").carousel__link
                h2.hide-m.carousel-tile__header.text-color-white= item.title
                img.img--fluid.show-m(src=`${assetsPrefix}images/content/banners/banner-tile-${i+1}.png`)

        button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
          +icon('arrow-left').icon--medium
        button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
          +icon('arrow-right').icon--medium
