//- ---------------------------------------------
//- ICONS
//- mixins icons

mixin icon(iconName, className='', alt='', sprite=`${assetsPrefix}icons_/app.svg`)
  if alt
    svg.icon(class=`icon-${iconName} ${className.length ? className : ''}` role='presentation' aria-label=alt)&attributes(attributes)
      use(xlink:href=`${sprite}#icon-${iconName}`)
  else
    svg.icon(class=`icon-${iconName} ${className.length ? className : ''}` role='img' aria-hidden='true')&attributes(attributes)
      use(xlink:href=`${sprite}#icon-${iconName}`)

mixin icon-sg(iconName, className='', alt='', sprite=`${assetsPrefix}icons_/styleguide.svg`)
  +icon(iconName, className, alt, sprite)&attributes(attributes)
