include icon

mixin libraryCarousel()
  -
    var swiperConfig = {
      slidesPerView: 4,
      spaceBetween: 20,
      breakpoints: {
        1024: {
          slidesPerView: 3,
        },
        768: {
          slidesPerView: 3,
        },
        640: {
          slidesPerView: 2,
        },
        480: {
          slidesPerView: 1,
        }
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel.carousel--fade-outside
    .swiper-container(data-swiper-options=swiperConfig)
      .swiper-wrapper
        each item, i in books
          -
            var id = Math.floor((Math.random() * 10000));
          .swiper-slide(href="#")
            .card
              .card__content.card__content--condensed
                .bar
                  .bar__item
                    a(href="detail-knihy.html").thumbnail.thumbnail--medium
                      .thumbnail__img-wrap
                        img(src=`${item.cover}`, alt="Kniha", width="74")
                  .bar__item.bar__item--fill
                    .line-small.text-medium.mb-tiny
                      a.text-semibold.link.link--product(href="detail-knihy.html")=item.title
                    .text-size-small.text-color-grey.mb-small=item.author
                    .btn-layout.btn-layout--horizontal
                      button.btn.btn--ghost.btn--small(
                        data-toggle='self, next',
                        data-toggle-expand,
                        aria-haspopup="true"
                      )
                        | Presunúť
                        +icon('chevron-down').icon--small.icon--right
                      .dropdown.dropdown--nowrap(data-dropdown, data-dropdown-interactive, data-toggle-expand, style="width: 200px")
                        .dropdown__wrap
                          div(id=`my-library-dropdown-${id}` data-toggle-class="hide")
                            each item, i in ['Wishlist', 'Vianoce', 'Slovenská klasika']
                              .dropdown__item
                                .checkbox
                                  input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                                  label(for=`list-check${i}`).radiocheck__control
                                  label(for=`list-check${i}`).radiocheck__label=item
                            a(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`).dropdown__item.dropdown__item--more Všetky zoznamy
                          .hide(id=`my-library-dropdown-list-${id}` data-toggle-class="hide")
                            .bar.no-mrg-bottom
                              .bar__item.bar__item--fill
                                h5.dropdown__group Presunúť do:
                              .bar__item
                                button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`)
                                  +icon('close', 'icon--small', 'Naspäť')
                            each item, i in ['Wishlist', 'Vianoce', 'Slovenská klasika']
                              .dropdown__item
                                .checkbox
                                  input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                                  label(for=`list-check${i}`).radiocheck__control
                                  label(for=`list-check${i}`).radiocheck__label=item
                      button.btn.btn--clean.btn--small.no-mrg(type="button" data-toggle=`#cart-item${i}`)
                        +icon('trash', 'icon--medium')

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +icon('arrow-left').icon--medium
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +icon('arrow-right').icon--medium
