include icon

mixin libraryCarousel()
  -
    var swiperConfig = {
      nextButton: '.carousel__btn--next',
      prevButton: '.carousel__btn--prev',
      slidesPerView: 4,
      spaceBetween: 20,
      breakpoints: {
        1024: {
          slidesPerView: 3,
        },
        768: {
          slidesPerView: 3,
        },
        640: {
          slidesPerView: 2,
        },
        480: {
          slidesPerView: 1,
        }
      },
    };
    swiperConfig = JSON.stringify(swiperConfig);
  .carousel.carousel--fade-outside
    .swiper-container(data-swiper-options=swiperConfig)
      .swiper-wrapper
        each item, i in books
          .swiper-slide(href="#")
            .card
              .card__content.card__content--condensed
                .bar
                  .bar__item
                    a(href="detail-knihy.html").thumbnail.thumbnail--medium
                      .thumbnail__img-wrap
                        img(src=`${item.cover}`, alt="Kniha", width="74")
                  .bar__item.bar__item--fill
                    .line-small.text-medium.mb-tiny
                      a.text-semibold.link.link--product(href="detail-knihy.html")=item.title
                    .text-size-small.text-color-grey.mb-small=item.author
                    .checkbox
                      input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`, checked).radiocheck__input
                      label(for=`list-check${i}`).radiocheck__control
                      label(for=`list-check${i}`).radiocheck__label.text-medium Moja knižnica

      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
        +icon('arrow-left').icon--medium
      button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
        +icon('arrow-right').icon--medium
