include ./discount-badge
include ./review
include ./product-horizontal
include ./section-header
include ./books-carousel
include ./library-carousel
include ./carousel-tiles
include ./addTo
include ./checkout-card-done
include ./user-menu
include ./loader

//- ---------------------------------------------
//- ICONS
//- mixins icons

mixin icon(iconName, className='', alt='', sprite=`${assetsPrefix}icons_/app.svg`)
  if alt
    svg.icon(class=`icon-${iconName} ${className.length ? className : ''}` role='presentation' aria-label=alt)&attributes(attributes)
      use(xlink:href=`${sprite}#icon-${iconName}`)
  else
    svg.icon(class=`icon-${iconName} ${className.length ? className : ''}` role='img' aria-hidden='true')&attributes(attributes)
      use(xlink:href=`${sprite}#icon-${iconName}`)

mixin icon-sg(iconName, className='', alt='', sprite=`${assetsPrefix}icons_/styleguide.svg`)
  +icon(iconName, className, alt, sprite)&attributes(attributes)
