mixin product-horizontal(props = {})
  -
    const {
      cover = 'images/content/books/sample-15.jpg',
      coverSize = 'medium-large',
      title = 'Základy rybolovu pro kluky a holky',
      author = 'Frank Weissert, Jack Thorne, John Tiffany',
      description,
      discount,
      discountUnderBook = false,
      rating = 4.5,
      price = '9999,99 €',
      duration,
      count,
      trash,
      truncnateTitle,
      showCartButton,
    } = props;

  article.product.product--horizontal&attributes(attributes)
    .product__img.product__cover
      .thumbnail.thumbnail--book(class=`thumbnail--${coverSize}`, class=`${discount && discountUnderBook ? 'mb-medium' : ''}`)
        a(href=`${assetsPrefix}detail-knihy${htmlPostfix}`)
          .thumbnail__img-wrap
            img(src=`${assetsPrefix}${cover}`).img
        if duration
          .thumbnail__status
            +discountBadge(duration)
      if discount && discountUnderBook
        .badge.badge--primary= discount

    .product__caption
      .bar.bar--small.no-mrg-bottom
        .bar__item.bar__item--fill
          if truncnateTitle
            .text-ellipsis
              a.text-semibold.text-size-medium.link.link--product(href=`${assetsPrefix}detail-knihy${htmlPostfix}`, title=title)= title
          else
            a.text-semibold.text-size-medium.link.link--product(href=`${assetsPrefix}detail-knihy${htmlPostfix}`, title=title)= title
          ul.list-inline.list-inline--delimited.text-color-grey.text-size-small.mb-small
            - var authors = author.split(', ')
            each author in authors
              li= author
          .bar.bar--small.mb-small
            if discount && !discountUnderBook
              .bar__item
                .badge.badge--primary= discount
            else if rating
              .bar__item
                .badge
                  +icon('star').text-color-yellow.icon--small
                  | #{' '}
                  = rating
            if count
              .bar__item.text-size-medium= count

            if edit
              .bar__item
                  a.btn.btn--small.btn--primary.btn--equal(href="#")
                    +icon('edit')

            .bar__item.bar__item--fill.text-right
              .text-medium.text-semibold= price

            if showCartButton
              .bar__item
                a.btn.btn--small.btn--clean.btn--equal.text-color-theme(href="#")
                  +icon('cart').icon--medium

          if description
            p.text-size-small.mb-small= description
              | #{' '}
              a.link(href='#') Čítať viac#{' '}
                +icon('arrow-right')
        if trash
          .bar__item.align-self-top
            a.btn.btn--small.btn--clean.btn--equal(href="#")
              +icon('close').icon--medium
