include discountBadge
include icon
include xmas

mixin productHorizontal(props = {})
  -
    const {
      cover = 'images/content/books/sample-15.jpg',
      coverSize = 'medium-large',
      title = 'Základy rybolovu pro kluky a holky',
      author = 'Frank Weissert, Jack Thorne, John Tiffany',
      description,
      discount,
      discountUnderBook = false,
      rating = 4.5,
      price = '9999,99 €',
      duration,
      count,
      trash,
      truncnateTitle,
      showCartButton,
      titleClass = 'text-size-medium',
      breakBeforePrice,
      edit = false
    } = props;

  article.product.product--horizontal&attributes(attributes)
    .product__img.product__cover
      .thumbnail.thumbnail--book(class=`thumbnail--${coverSize}`, class=`${discount && discountUnderBook ? 'mb-medium' : ''}`)
        a(href=`${assetsPrefix}detail-knihy${htmlPostfix}`)
          .thumbnail__img-wrap
            img(src=`${assetsPrefix}${cover}`).img
        if duration
          .thumbnail__status
            +discountBadge(duration)
      if discount && discountUnderBook
        .badge.badge--primary= discount

    .product__caption
      .bar.bar--small.mb-none
        .bar__item.bar__item--fill
          if truncnateTitle
            .text-ellipsis
              a.text-semibold.link.link--product.d-block.mb-small.line-medium(class=titleClass, href=`${assetsPrefix}detail-knihy${htmlPostfix}`, title=title)= title
          else
            a.text-semibold.link.link--product.d-block.mb-small.line-medium(class=titleClass, href=`${assetsPrefix}detail-knihy${htmlPostfix}`, title=title)= title
          ul.list-inline.list-inline--delimited.text-color-grey.mb-small.text-size-small.mb-small
            - var authors = author.split(', ')
            each author in authors
              li.m-none= author
          .bar.bar--small.bar--vertical-small.mb-small
            if xmas
              .bar__item
                +xmas({type: 'icon'})
            if discount && !discountUnderBook
              .bar__item
                .badge.badge--primary= discount
            else if rating
              .bar__item
                .badge
                  +icon('star').text-color-yellow.icon--small
                  | #{' '}
                  = rating
            if count
              .bar__item.text-size-medium= count

            if edit
              .bar__item
                  button.btn.btn--clean.m-none
                    +icon('edit').icon--medium.icon--left
                    | Upraviť

            if breakBeforePrice
              .bar__break

            .bar__item
              .text-medium.text-semibold= price

            if showCartButton
              .bar__item
                a.btn.btn--small.btn--clean.btn--equal.text-color-primary(href="#")
                  +icon('cart').icon--medium

          if description
            p.text-size-small.mb-small= description
              | #{' '}
              a.link(href='#') Čítať viac#{' '}
                +icon('arrow-right')
        if trash
          .bar__item.align-self-start
            a.btn.btn--small.btn--clean.btn--equal(href="#")
              +icon('trash').icon--medium
