include discountBadge
include icon
include xmas

mixin productCover(props = {})
  -
    const {
      cover,
      discount,
      rating,
      duration,
      type = 'book',
      size = 'large',
      href,
      clickable = true,
      collection = false,
      badge,
      minHeight = false,
    } = props;

    const tag = href ? 'a': 'div';

  .product__cover(class=collection===true ? 'collection' : '')&attributes(attributes)
    #{tag}.thumbnail(
      href= href ? href : undefined,
      class= type ? `thumbnail--${type}` : '',
      class= size ? `thumbnail--${size}` : '',
      class= clickable ? `thumbnail--clickable`: ''
    )
      if collection
        each i, index in Array(5)
          .thumbnail__img-wrap(style=(index==0 && minHeight != false) ? `min-height: ${minHeight}; box-shadow: none;` : '')
            img(src=`${assetsPrefix}images/content/books/sample-${index + 1}.jpg`).img
      else
        .thumbnail__img-wrap
          img(src=`${assetsPrefix}${cover}`).img

      if discount || rating
        .thumbnail__info
          if discount
            .badge.badge--primary= discount
          else if rating
            .badge
              +icon('star').text-color-yellow.icon--small
              | #{' '}
              = rating

    if duration || badge
      .thumbnail__status
        if duration
          +discountBadge(duration)
        if badge
          .thumbnail-badge.thumbnail-badge--simple(data-thumbnail-badge=badge)

    block

mixin productTitle(props = {})
  -
    const {
      title,
      author,
      href,
      ad,
      collection = false,
      small = false,
    } = props;

  .product__title&attributes(attributes)
    p.text-semibold.no-mrg.text-ellipsis(title=title, class= small ? 'text-size-small' : 'text-size-medium', class= href ? '' : 'link', class= !collection ? 'link--product' : '', class= ad ? 'text-color-orange' : '')
      if href
        a.link.link--product(href=href)= title
      else
        span= title
    if author
      ul.list-inline.list-inline--delimited.text-color-grey.text-size-small.no-mrg.text-ellipsis
        - const authors = author.split(', ')
        each item in authors
          li.no-mrg= item

mixin productMeta(props = {})
  -
    const {
      empty,
      discount,
      rating,
      price,
      collection,
      soldOut,
      upcoming,
    } = props;

  .product__meta&attributes(attributes)
    if !empty
      .bar.bar--tiny.mb-none
        if collection
          .bar__item
            .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
          .bar__item.bar__item--fill
            .text-color-grey.text-small.text-ellipsis Kolekciu pripravil
            .text-small.text-ellipsis Jana Šlinská

        else
          if xmas
            .bar__item
              +xmas({type: 'icon'})
          if discount || rating || soldOut
            .bar__item
              if discount
                .badge.badge--primary= discount
              else if soldOut
                .badge.badge--primary.text-size-small Vypredané
              else if rating
                .badge
                  +icon('star').text-color-yellow.icon--small
                  | #{' '}
                  = rating

          if upcoming
            .bar__item
              .badge.badge--primary.text-size-small Chystáme

          if price
            .bar__item.bar__item--fill
              .text-medium.text-semibold(class=upcoming || soldOut ? 'text-size-small': '')= price


mixin productDownload(props = {})
  -
    const {
      buttonClass = 'primary',
      title = 'Stiahnuť'
    } = props;

  .product__action&attributes(attributes)
    .btn-layout.btn-layout--vertical.no-mrg-bottom
      .btn-dropdown
        button.btn(
          class='btn--' + buttonClass,
          data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
          data-toggle-expand,
          aria-haspopup="true"
        )
          = title
          +icon('chevron-down', 'icon-dropdown').icon--medium
        .dropdown(data-dropdown, data-toggle-expand, style="width: 200px")
          .dropdown__wrap
            h5.dropdown__group Stiahnuť ako:
            a(href="#", data-toggle="#audiobook-modal").dropdown__item
              +icon('download').icon--small.text-space-right
              span.text-transform-upper.text-small mp3
            a(href="#").dropdown__item
              +icon('download').icon--small.text-space-right
              span.text-transform-upper.text-small pdf
            a(href="#").dropdown__item
              +icon('download').icon--small.text-space-right
              span.text-transform-upper.text-small epub
            a(href="#").dropdown__item
              +icon('download').icon--small.text-space-right
              span.text-transform-upper.text-small mobi
            h5.dropdown__group Poslať:
            a(href="#", data-toggle="#e-reader-modal").dropdown__item
              +icon('upload').icon--small.text-space-right
              span.text-transform-upper.text-small poslať do čítačky
            a(href="#").dropdown__item
              +icon('upload').icon--small.text-space-right
              span.text-transform-upper.text-small darovať

mixin productBuy(props = {})
  -
    const {
      price = '143,50 €'
    } = props;

  .product__action&attributes(attributes)
    .btn-layout.btn-layout--vertical.no-mrg-bottom
      button.btn.btn--primary
        +icon('cart').icon--left.icon--medium
        = price

mixin productToRate(props = {})
  -
    const {
      stars = 3,
      id = Math.floor((Math.random() * 10000)),
    } = props;
  .product__action&attributes(attributes)
    .btn-layout.btn-layout--vertical.no-mrg-bottom(data-toggle-class="hide")
      button.btn(data-toggle=`parent, #product-rating-${id}`) Hodnotiť
    .badge.badge--large.badge--block.hide(id=`product-rating-${id}`, data-toggle-class="hide")
      .radiocheck-group.rating-star.rating-star--highlight-on-hover.align-items-spaced
        - for (var index = 0; index<5; index++)
          input.rating-star__input.radiocheck__input(type="radio", name="review-rating", id="review-rating-"+index)
          label.radiocheck__label.no-mrg-left.rating-star__item(for="review-rating-"+index)
            +icon('star').icon--medium


mixin productRating(props = {})
  -
    const {
      stars = 3,
    } = props;
  .product__action&attributes(attributes)
    .badge.badge--large.badge--block
      .radiocheck-group.rating-star.rating-star--highlight-on-hover.align-items-spaced
        - for (var index = 0; index<5; index++)
          input.rating-star__input.radiocheck__input(type="radio", name="review-rating", id="review-rating-"+index)
          label.radiocheck__label.no-mrg-left.rating-star__item(for="review-rating-"+index, class= index < stars ? 'is-active': '')
            // or `.text-color-yellow` on svg
            +icon('star').icon--medium


mixin productStatus(props = {})
  -
    const {
      status,
      actionDropdown,
      id = Math.floor((Math.random() * 10000)),
    } = props;

  .product__status
    .bar.bar--tiny.no-mrg-bottom
      if status
        .bar__item
          if status === 'read'
            p.no-mrg-bottom.text-small.text-color-success
              +icon('check-circle').text-space-right-tiny.text-vam
              | Prečítané
          else if status === 'reading'
            p.no-mrg-bottom.text-small.text-color-blue
              +icon('time').text-space-right-tiny.text-vam
              | Práve čítam
          else if status === 'notread'
            p.no-mrg-bottom.text-small.text-color-grey
              | Neprečítané

      if actionDropdown
        .bar__item.align-self-right
          .btn-dropdown.btn-dropdown--no-icon
            button.btn.btn--clean.btn--small(
              data-toggle='self, next',
              data-toggle-expand,
              aria-haspopup="true"
            )
              +icon('dots').icon--medium
            .dropdown.dropdown--align-right.dropdown--nowrap(data-dropdown, data-dropdown-interactive, data-toggle-expand, style="width: 200px")
              .dropdown__wrap
                div(id=`my-library-dropdown-${id}` data-toggle-class="hide")
                  if actionDropdown != 'my-library'
                    h5.dropdown__group Stiahnuť ako:
                    a(href="#", data-toggle="#audiobook-modal").dropdown__item
                      +icon('download').icon--small.text-space-right
                      span.text-transform-upper.text-small mp3
                    a(href="#").dropdown__item
                      +icon('download').icon--small.text-space-right
                      span.text-transform-upper.text-small pdf
                    a(href="#").dropdown__item
                      +icon('download').icon--small.text-space-right
                      span.text-transform-upper.text-small epub
                    a(href="#").dropdown__item
                      +icon('download').icon--small.text-space-right
                      span.text-transform-upper.text-small mobi
                    h5.dropdown__group Poslať:
                    a(href="#", data-toggle="#e-reader-modal").dropdown__item
                      +icon('upload').icon--small.text-space-right
                      span.text-transform-upper.text-small poslať do čítačky
                    a(href="#").dropdown__item
                      +icon('upload').icon--small.text-space-right
                      span.text-transform-upper.text-small darovať
                    hr.mb-small
                  if !status
                    .dropdown__item.text-size-small Odložte si knihu do jedného zo zoznamov
                  each item, i in ['Wishlist', 'Vianoce', 'Slovenská klasika']
                    .dropdown__item
                      .checkbox
                        input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                        label(for=`list-check${i}`).radiocheck__control
                        label(for=`list-check${i}`).radiocheck__label=item
                  a(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`).dropdown__item.dropdown__item--more Všetky zoznamy
                  if status
                    a(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-states-${id}`).dropdown__item.dropdown__item--more Označiť ako
                  a.dropdown__item
                    +icon('trash').icon--small.text-space-right
                    | Odstrániť z knižnice
                .hide(id=`my-library-dropdown-list-${id}` data-toggle-class="hide")
                  .bar.no-mrg-bottom
                    .bar__item.no-mrg-right
                      button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-list-${id}, #my-library-dropdown-${id}`)
                        +icon('chevron-left', 'icon--medium', 'Naspäť')
                    .bar__item.bar__item--fill
                      h5.dropdown__group Presunúť do:
                    .bar__item
                      button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`)
                        +icon('close', 'icon--small', 'Naspäť')
                  a(href="#").dropdown__item Do školy
                  a(href="#").dropdown__item Pre brata
                .hide(id=`wishlist-add-item-${id}` data-toggle-class="hide")
                  .card.mb-none
                    .card__content.card__content--condensed
                      .bar.flex-nowrap
                        .bar__item.no-mrg-right
                          button.btn.btn--clean.btn--small(data-toggle=`#wishlist-add-item-${id}, #my-library-dropdown-${id}`)
                            +icon('chevron-left', 'icon--medium', 'Naspäť')
                        .bar__item.align-self-center.text-center.text-nowrap
                          | Nový zoznam
                        .bar__item
                          button.btn.btn--clean.btn--small(data-toggle=`#wishlist-add-item-${id}, #my-library-dropdown-${id}`)
                            +icon('close', 'icon--small', 'Naspäť')
                      .form-control.form-control--input
                        input(name=`new-wishlist-${id}`, id=`new-wishlist-${id}`, placeholder="napr. otcovi na Vianoce").input
                      .btn-layout--vertical
                        button(type="button").btn.btn--full.no-mrg-bottom Vytvoriť
                .hide(id=`my-library-dropdown-states-${id}` data-toggle-class="hide")
                  .bar.no-mrg-bottom
                    .bar__item.no-mrg-right
                      button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-states-${id}, #my-library-dropdown-${id}`)
                        +icon('chevron-left', 'icon--medium', 'Naspäť')
                    .bar__item.bar__item--fill
                      h5.dropdown__group Označiť ako:
                    .bar__item
                      button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-states-${id}`)
                        +icon('close', 'icon--small', 'Naspäť')
                  a(href="#").dropdown__item
                    +icon('circle').icon--small.text-color-grey.text-space-right
                    b Neprečítané
                  a(href="#").dropdown__item
                    +icon('time').icon--small.text-color-blue.text-space-right
                    | Práve čítam
                  a(href="#", data-toggle="#book-read-modal").dropdown__item
                    +icon('check-circle').icon--small.text-color-success.text-space-right
                    | Prečítaná

mixin productPreview(props = {})
  -
    const {
      text = 'Pozrieť ukážku'
    } = props;

  .product__preview-link.text-center
    button.btn.btn--clean(data-toggle="#product-preview")
      +icon('eye').icon--left.icon--medium
      = text

mixin product(props = {})
  -
    const {
      size
    } = props;

  .product(class= size ? `product--${size}`: '')&attributes(attributes)
    block

mixin productType(props = {})
  -
    const {
      icon,
      title
    } = props;

  a.link.text-medium.flex.align-items-middle
    +icon(icon, 'text-color-grey mr-tiny icon--small flex-noshrink')
    span.text-ellipsis #{title}
    +icon('arrow-right', 'ml-tiny icon--small flex-noshrink')
