include icon

mixin review(props = {})
  -
    const {
      avatar,
      name = 'Kamil Peteraj',
      address = false,
      stars = 4,
      date = '2. 3. 2017',
      likes = 0,
      dislikes = 0,
      reply,
      id = Math.floor((Math.random() * 1000)),
      source = false,
      verified = false,
      martinus = false,
      profile = false,
      footer = true,
    } = props;
  article.review(class= reply ? 'review--reply' : '')
    header.review__header.bar.mb-small
      .review__header-avatar.bar__item
        if avatar
          .portrait(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
        else
          +icon('avatar').icon--xlarge.text-color-grey
        if martinus
          div(style="position: absolute; bottom: 0; right: 0;")
            img(src="images/content/logo-small.svg", width="16").block
        else if profile
          .badge.badge--blue.line-small(style="position: absolute; bottom: 0; right: 0;") 13
      .review__header-name.bar__item.bar__item--fill
        if profile
          a.link(data-tooltip, data-html="#reader-tooltip", data-theme="light")= name
        else
          .text-semibold= name
        if address
          div.text-color-grey-dark= address
      if profile
        .bar__item.bar__item--fill
          .club-badge.club-badge--small.inline-block.bg-grey
            img(src="images/content/club/badges/badges-01.png")
          .club-badge.club-badge--small.inline-block.bg-grey
            img(src="images/content/club/badges/badges-03.png")
          .club-badge.club-badge--small.inline-block.bg-grey
            img(src="images/content/club/badges/badges-04.png")
      .bar__break.hide-m
      .review__header-rating-date.bar__item.bar.mb-small
        .rating-star.bar__item.align-items-center
          each star, starIndex in Array(5)
            +icon('star').rating-star__item.icon--large(class=`${starIndex < stars ? 'is-active' : ''}`)
        .review__header-date.bar__item
          span.text-color-grey-dark= date

    div.review__body.mb-not-last
      p
        if verified
          .text-transform-upper.text-size-small.inline-block.text-semibold.text-space-right.text-color-beige
            +icon('check-circle').icon--small.text-space-right-tiny.icon--inline
            | overený nákup
        block
    if footer
      footer.review__footer
        .bar
          .bar__item.bar__item--shrinkable
            .btn-layout.btn-layout--horizontal.align-items-middle
              if !reply
                button.btn.btn--clean.no-mrg-right(data-toggle=`#reply-review-${id}`)
                  +icon('react').icon--left.icon--medium
                  | Reagovať
              button.btn.btn--clean.no-mrg-right
                +icon('like').icon--left.icon--medium
                span.text-normal.text-size-medium= likes

              button.btn.btn--clean.no-mrg-right
                +icon('dislike').icon--left.icon--medium
                span.text-normal.text-size-medium= dislikes

              button.btn.btn--clean.no-mrg-right(data-toggle="#flag-review" data-toggle-self="false")
                +icon('flag').icon--medium
          if source
            .bar__break.hide-m
            .bar__item.bar__item--fill
              .text-color-grey.text-left.text-right-m.text-medium Pôvodne uverejnené na Martinus.sk
        if !reply
          .card.card--well.mb-medium.hide(data-toggle-class="hide", id=`reply-review-${id}`)
            .card__content
              include ./../modules/review-form
