mixin review(props = {})
  -
    const {
      avatar,
      name = 'Kamil Peteraj',
      address = 'Martinus, Obchodná BA',
      stars = 4,
      date = '2. 3. 2017',
      likes = 0,
      dislikes = 0,
      reply,
    } = props;
  article.review(class= reply ? 'review--reply' : '')
    header.review__header.bar.mb-small
      .review__header-avatar.bar__item
        if avatar
          img.img.img--circle(src="http://placehold.it/48x48")
        else
          +icon('avatar').icon--xlarge.text-color-grey
      .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
        .text-semibold= name
        if address
          div.text-color-grey-800= address
      .bar__break.hide-m
      .review__header-rating-date.bar__item.bar
        .rating-star.bar__item.align-items-center
          each star, starIndex in Array(5)
            +icon('star').rating-star__item.icon--large(class=`${starIndex < stars ? 'is-active' : ''}`)
        .review__header-date.bar__item
          span.text-color-grey-800= date

    div.review__body.mb-not-last
      block
    footer.review__footer.bar.bar--small
      if !reply
        .review__footer-react.bar__item
          button.btn.btn--clean
            +icon('react').icon--left.icon--medium
            | Reagovať
      .review__footer-likes.bar__item
        figure.figure.figure--horizontal.no-mrg
          +icon('like').icon--medium.text-color-grey-800
          figcaption.figure__caption.text-size-medium= likes

      .review__footer-dislikes.bar__item
        figure.figure.figure--horizontal.no-mrg
          +icon('dislike').icon--medium.text-color-grey-800
          figcaption.figure__caption.text-size-medium= dislikes

      .review__footer-flag.bar__item
        +icon('flag').icon--medium.text-color-grey-800
