include icon

mixin review(props = {})
  -
    const {
      avatar,
      name = 'Kamil Peteraj',
      address = 'Martinus, Obchodná BA',
      stars = 4,
      date = '2. 3. 2017',
      likes = 0,
      dislikes = 0,
      reply,
      id = Math.floor((Math.random() * 1000)),
    } = props;
  article.review(class= reply ? 'review--reply' : '')
    header.review__header.bar.mb-small
      .review__header-avatar.bar__item
        if avatar
          .portrait(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
        else
          +icon('avatar').icon--xlarge.text-color-grey
      .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
        .text-semibold= name
        if address
          div.text-color-grey-dark= address
      .bar__break.hide-m
      .review__header-rating-date.bar__item.bar
        .rating-star.bar__item.align-items-center.no-mrg-top
          each star, starIndex in Array(5)
            +icon('star').rating-star__item.icon--large(class=`${starIndex < stars ? 'is-active' : ''}`)
        .review__header-date.bar__item.no-mrg-top
          span.text-color-grey-dark= date

    div.review__body.mb-not-last
      block
    footer.review__footer.btn-layout.btn-layout--horizontal.align-items-middle
      if !reply
        button.btn.btn--clean.no-mrg-right(data-toggle=`#reply-review-${id}`)
          +icon('react').icon--left.icon--medium
          | Reagovať
      button.btn.btn--clean.no-mrg-right
        +icon('like').icon--left.icon--medium
        span.text-normal.text-size-medium= likes

      button.btn.btn--clean.no-mrg-right
        +icon('dislike').icon--left.icon--medium
        span.text-normal.text-size-medium= dislikes

      button.btn.btn--clean.no-mrg-right(data-toggle="#flag-review" data-toggle-self="false")
        +icon('flag').icon--medium
    if !reply
      .card.card--well.mb-medium.hide(data-toggle-class="hide", id=`reply-review-${id}`)
        .card__content
          include ./../modules/review-form
