//- -----------------------------------------------
//- STYLEGUIDE LAYOUT
//- -----------------------------------------------

- var projectName = 'Light'
- const assetsPrefix = '../';
- const htmlPostfix = '.html';

//- -----------------------------------------------
//- VARIABLES AND DATA

include ../mixins/components

//- -----------------------------------------------
//- OPTIONS

block opts

- var contents;
- var page;
- if(categoryID != -1) {
- var category = l_sitemap[categoryID].topics;
-   if(category[pageID].sub != undefined) {
-     contents = category[pageID].sub[subPageID].contents
-     page = category[pageID].sub[subPageID]
-   } else {
-     contents = category[pageID].contents
-     page = category[pageID]
-   }
- }

//- -----------------------------------------------
//- HTML

doctype html
html.no-js

  //- -----------------------------------------------
  //- HEAD

  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")

    title #{projectName} - Styleguide
    meta(name='author', content='Lighting Beetle s.r.o.')
    meta(name='description', content='Light is SCSS/Pug foundation for living styleguides')
    meta(name='keywords', content='Living Styleguide, Styleguide, SCSS, Pug')
    link(rel="icon", type="image/png", href=`${assetsPrefix}images/favicon.png`)
    meta(name="theme-color", content="#ff5722")

    link(rel="stylesheet", href=`${assetsPrefix}fonts/Tabac/fonts.css`)
    link(rel="stylesheet", href=`${assetsPrefix}fonts/opensans/fonts.css`)

    link(rel="stylesheet", href=`${assetsPrefix}styles/main.css`)
    link(rel="stylesheet", href=`${assetsPrefix}styles/light.css`)

    script(src=`${assetsPrefix}scripts/plugins/modernizr.js`)

  //- -----------------------------------------------
  //- BODY

  body(data-bs-spy='scroll', data-bs-target='.js-scrollspy', data-bs-offset=150)#top

    // offcanvas
    .l-offcanvas(data-role='offcanvas')

      // content main
      article.l-content-main

        include ../includes/header

        .l-content-main_inner

          block content

            unless categoryID == 0
              include ../includes/nav_sub

      aside.l-wrap-navs

          include ../includes/nav_main


      // end: content main

    // end: offcanvas

    //- -----------------------------------------------
    //- SCRIPTS

    script(src=`${assetsPrefix}scripts/vendor.js`)
    script(src=`${assetsPrefix}scripts/main.js`)
    script(src=`${assetsPrefix}scripts/light.js`)

    block scripts

    .alert-container(data-alert-area)
