//- -----------------------------------------------
//- VARIABLES AND DATA

- const assetsPrefix = '';
- const htmlPostfix = '.html';

//- -----------------------------------------------
//- HTML

doctype html
html.no-js

  //- -----------------------------------------------
  //- HEAD

  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")

    title= pageTitle

    meta(name="description", content="")
    meta(name='keywords', content='')
    link(rel="shortcut icon", href=`${assetsPrefix}favicon.ico`)

    link(rel="stylesheet", href=`${assetsPrefix}fonts/Tabac-Sans/style.css`)
    link(rel="stylesheet", href=`${assetsPrefix}styles/banners.css`)

    script(src=`${assetsPrefix}scripts/plugins/modernizr.js`)

    block head

  //- -----------------------------------------------
  //- BODY

  body.bg-secondary

    a(href="#").banner-468x60
      .bar.bg-white
        .bar__item.bar__item--shrinkable
          img(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="Title").banner-img
        .bar__item.bar__item--fill
          p.banner-author.text-ellipsis.color-grey Elena Favilli a Francesca Cavallo
          h1.banner-title.text-ellipsis.color-primary Príbehy na dobrú noc pre rebelky asdasd aa sda a sda sdasdasdasdasd
        .bar__item.bar__item--shrinkable
          .banner-btn.btn-black Zistiť viac
        .bookmark.bookmark--full
          img(src=`${assetsPrefix}images/content/logo/bookmark-full.svg`, alt="Martinus").bookmark__logo

    a(href="#").banner-468x60
      .bar.bg-yellow
        .bar__item.bar__item--shrinkable
          img(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="Title").banner-img
        .bar__item.bar__item--fill
          p.banner-author.text-ellipsis.color-white Elena Favilli a Francesca Cavallo
          h1.banner-title.text-ellipsis.color-white Príbehy na dobrú noc pre rebelky asdasd aa sda a sda sdasdasdasdasd
        .bar__item.bar__item--shrinkable
          .banner-btn.btn-white Zistiť viac
        .bookmark.bookmark--full
          img(src=`${assetsPrefix}images/content/logo/bookmark-full.svg`, alt="Martinus").bookmark__logo

    a(href="#").banner-300x300.banner-padding
      .banner-content.bg-blue
        .section-title
          .section-title__item.banner-author.mb-none.color-white.bg-light-primary.text-ellipsis Elena Favilli a Francesca Cavallo
          .section-title__item.banner-title.mb-none.color-white.bg-primary Príbehy na dobrú noc pre rebelky
        .banner-cover
          img.banner-img(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="")
        .banner-btn.btn-white Zistiť viac
      .bookmark.bookmark--full
        img(src=`${assetsPrefix}images/content/logo/bookmark-full.svg`, alt="Martinus").bookmark__logo

    a(href="#").banner-300x300.banner-padding
      .banner-content.bg-white
        .section-title
          .section-title__item.banner-author.mb-none.color-white.bg-light-primary.text-ellipsis Elena Favilli a Francesca Cavallo
          .section-title__item.banner-title.mb-none.color-white.bg-primary Príbehy na dobrú noc pre rebelky
        .banner-cover
          img.banner-img(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="")
        .banner-btn.btn-black.bg-white Zistiť viac
      .bookmark.bookmark--full
        img(src=`${assetsPrefix}images/content/logo/bookmark-full.svg`, alt="Martinus").bookmark__logo

    a(href="#").banner-160x600.banner-padding
      .banner-content.bg-violet
        .banner-product-name
          p.banner-author.mb-medium.text-semibold.color-white Elena Favilli a Francesca Cavallo
          h1.banner-title.mb-medium.color-white Príbehy na dobrú noc pre rebelky
        .banner-cover
          img.banner-img(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="")
        .banner-btn-container.text-center
          .banner-btn.btn-white zistiť viac
      .bookmark.bookmark--full
        img(src=`${assetsPrefix}images/content/logo/bookmark-full.svg`, alt="Martinus").bookmark__logo

    a(href="#").banner-160x600.banner-padding
      .banner-content.bg-white
        .banner-product-name
          p.banner-author.mb-medium.text-semibold.color-grey Elena Favilli a Francesca Cavallo
          h1.banner-title.mb-medium.color-primary Príbehy na dobrú noc pre rebelky
        .banner-cover
          img.banner-img(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="")
        .banner-btn-container.text-center
          .banner-btn.btn-black zistiť viac
      .bookmark.bookmark--full
        img(src=`${assetsPrefix}images/content/logo/bookmark-full.svg`, alt="Martinus").bookmark__logo
