extends layouts/_default

include ./mixins/addTo
include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/product
include ./mixins/xmas

block opts
    - var pageTitle = 'Bestsellery'

block content
  -
    var swiperConfig = {
      slidesPerView: 1,
    };

    var menu = [
      {title: "Knihy", icon: "books"},
      {title: "E-knihy", icon: "ebooks"},
      {title: "Filmy", icon: "movies"},
      {title: "Hry", icon: "games"},
    ];

  main.collection
    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Bestsellery'] })

    section.section.section--secondary
      .wrapper-main
        .row.align-items-middle
          .col--12.col--m-3
            h1.mb-medium Bestsellery
          .col--12.col--m-6.mb-medium.mb-none-m
            .bar.mb-none.align-items-center.show-m
              each item, i in menu
                .bar__item.text-center
                  a.card.card--clickable(class=i < 1 ? 'bg-white' : 'bg-secondary')
                    .card__content
                      +icon(`products-${item.icon}`).icon--xlarge.text-color-grey
                      .h3.mb-none= item.title
            .bar.mb-none.align-items-center.hide-m
              each item, i in menu
                .bar__item.text-center
                  a.card.card--clickable(class=i < 1 ? 'bg-white' : 'bg-secondary')
                    .card__content.card__content--condensed
                      +icon(`products-${item.icon}`).icon--medium.text-color-grey
                      .h3.mb-none= item.title
          .col--12.col--m-2.ofst--m-1.mb-medium.mb-none-m
            select.js-select.select--ghost
              option Rok
              option 2018
              option 2017
              option 2016
              option 2015
              option 2014
              option 2013
              option 2012

        //nav
          ul.list-inline
            each item, i in ['Knihy', 'Filmy', 'Hry']
              li
                a.link.link--black(href="#", class= i == 0 ? 'text-bold' : '')
                  +icon('footer-reading').icon--medium.text-space-right.text-color-grey
                  = item

    -
      var collapseFilters = true;
    include modules/category-list

  include ./modules/seen-items
  include ./modules/seen-items-delete


block append modals
  include ./modules/product-preview
