extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/pagination

block opts
    - var pageTitle = 'Blog Homepage'
    - var blogHeader = true;

block content
  main

    section.section.section--breadcrumbs
      .wrapper-main
        nav
          ul.list-inline.inline-nav.mb-none
            each item in ['Recenzie', 'Lookbook', 'Tlačové správy', 'Drobnôstky', 'Nejaká kategória']
              li.inline-nav__item
                a.inline-nav__link #{item}
        .mb-small
        h1.mb-small Lookbook

    section.section
      .wrapper-main
        .row
          .col--3.show-l
            .author-photo.text-right
              .portrait(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
          .col--l-9.col--12
            .bar.mb-medium.mb-l-none
              .bar__item.bar__item--shrinkable.hide-l
                .portrait.portrait--medium.hide-m(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .portrait.portrait--large.show-m(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
              .bar__item.bar__item--fill
                h1.mb-none.mb-m-small J. K. Rowling
                .text-color-grey.mb-none.mb-l-medium
                  span * 3. júl 1965
                  span.ml-small 52 rokov
            .row
              .col--12
                p Joanne K. Rowlingová, britská autorka, matka dcéry Jessiky, po napísaní a vydaní kníh o huncútskom čarodejníkovi Harrym Potterovi najčítanejšia detská autorka sveta. Jej najznámejším dielom je aj naďalej séria o Harrym Potterovi, v ktorej jej vyšlo 7 románov, jedna divadelná hra a množstvo dodatočných kníh.

    section.section
      .wrapper-main
        .row
          .col--m-6
            img.img(src="images/content/text-page/text-page-1.jpg")
          .col--m-6
            h1.h1.mb-medium
              a.link.text-bold Nadpis hlavného článku
            .bar.mb-medium.text-medium
              .bar__item.flex.align-items-middle
                .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                span.text-semibold.ml-small Callie Krueger
              .bar__item.bar__item--border
              .bar__item
                .h5.show-m štvrtok #{' '}
                  b 21. decembra 2017
                  | #{' '}16:50
                .h5.hide-m št #{' '}
                  b 21.12. 2017
                  | #{' '}16:50
              .bar__item.show-s
                +icon('time').mr-tiny
                b 15 minút čítania
              .bar__item.hide-s
                +icon('time').mr-tiny
                b 15

            p.hide-m-only V rubrike O knihách a ľuďoch vám vždy posledný pondelok v mesiaci prezradíme o niekom z nášho kníhkupectva čosi viac ;-) Dostane 15 otázok. Niektoré o knihách, niektoré zo života. A dostane ešte jedno privilégium: odporučiť vám knihu, na ktorú bude nasledujúci týždeň zľava až 25%!

            .text-right
              a.btn.btn--clean
                | Celý článok
                +icon('arrow-right').icon--right

        hr

        each i in [0, 1]
          .row.mb-medium
            each j in [0, 1]
              .col--m-6
                h2.h2.mb-medium
                  a.link Nadpis ďalšieho článku
                .bar.mb-medium.text-medium
                  .bar__item.flex.align-items-middle
                    .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    span.text-semibold.ml-small Callie Krueger
                  .bar__item.bar__item--border
                  .bar__item
                    .h5.show-m štvrtok #{' '}
                      b 21. decembra 2017
                      | #{' '}16:50
                    .h5.hide-m št #{' '}
                      b 21.12. 2017
                      | #{' '}16:50
                  .bar__item.show-l
                    +icon('time').mr-tiny
                    b 15 minút čítania
                  .bar__item.hide-l
                    +icon('time').mr-tiny
                    b 15

                .row
                  .col--m-6
                    img.img(src="images/content/stores/store-ba.jpg")
                  .col--m-6
                    p(data-collapse="150") V rubrike O knihách a ľuďoch vám vždy posledný pondelok v mesiaci prezradíme o niekom z nášho kníhkupectva čosi viac ;-) Dostane 15 otázok. Niektoré o knihách, niektoré zo života. A dostane ešte jedno privilégium: odporučiť vám knihu, na ktorú bude nasledujúci týždeň zľava až 25%!
                    .text-right
                      a.btn.btn--clean
                        | Celý článok
                        +icon('arrow-right').icon--right

        +pagination.align-items-center.mb-large

    section.section.section--secondary
      .wrapper-main
        .row
          .col--m-6

            .card
              .card__content.card__content--overflow
                .bar
                  .bar__item.bar__item--fill
                    h2.h3
                      +icon('youtube').mr-small
                      | Náš Youtube
                -
                  var swiperConfig = {
                    slidesPerView: 3,
                    slidesPerGroup: 3,
                    spaceBetween: 10,
                    breakpoints: {
                      768: {
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                      },
                    },
                  };
                  swiperConfig = JSON.stringify(swiperConfig);
                .carousel.carousel--fade-outside.carousel--fade-outside-white
                  .swiper-container(data-swiper-options=swiperConfig)
                    .swiper-wrapper
                      each i in [0, 1, 2, 3, 5, 6, 7, 8]
                        a.swiper-slide(href=`#`)
                          img.img(src="images/content/stores/store-ba.jpg")

                    button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
                      +icon('arrow-left').icon--medium
                    button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
                      +icon('arrow-right').icon--medium

          .col--m-6

            .card
              .card__content.card__content--overflow
                .bar
                  .bar__item.bar__item--fill
                    h2.h3
                      +icon('instagram').mr-small
                      | Náš Instagram

                -
                  var swiperConfig = {
                  slidesPerView: 3,
                  slidesPerGroup: 3,
                  spaceBetween: 10,
                  breakpoints: {
                    768: {
                        slidesPerView: 2,
                        slidesPerGroup: 2,
                      },
                    },
                  };
                  swiperConfig = JSON.stringify(swiperConfig);
                .carousel.carousel--fade-outside.carousel--fade-outside-white
                  .swiper-container(data-swiper-options=swiperConfig)
                    .swiper-wrapper
                      each i in [0, 1, 2, 3, 5, 6, 7, 8]
                        a.swiper-slide(href=`#`)
                          img.img(src="images/content/stores/store-ba.jpg")

                    button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
                      +icon('arrow-left').icon--medium
                    button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
                      +icon('arrow-right').icon--medium

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};
