extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon

block opts
    - var pageTitle = 'Blog Article'
    - var blogHeader = true;

block content
  main
    section.section.section--breadcrumbs
      .wrapper-main
        nav
          ul.list-inline.inline-nav.mb-none
            each item in ['Recenzie', 'Lookbook', 'Tlačové správy', 'Drobnôstky', 'Nejaká kategória']
              li.inline-nav__item
                a.inline-nav__link #{item}

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Recenzie', 'Recenzia na knihu']})

    section.section
      .wrapper-main
        h1.h1.mb-medium 7 zaujímavostí o fenoméne Pýcha a predsudok
        .bar.mb-medium.text-medium
          .bar__item.flex.align-items-middle
            .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
            span.text-semibold.text-space-left Tomáš Ulej
          .bar__item.bar__item--border
          .bar__item
            .h5.show-m štvrtok #{' '}
              b 21. decembra 2017
              | #{' '}16:50
            .h5.hide-m št #{' '}
              b 21.12. 2017
              | #{' '}16:50
          .bar__item.show-s
            +icon('time').text-space-right-tiny
            b 15 minút čítania
          .bar__item.hide-s
            +icon('time').text-space-right-tiny
            b 15

        p.h4 Ak ste si tiež zamilovali svetovú klasiku z pera Jane Austen, možno vás poteší pár doplňujúcich informácii o príbehu a jeho autorke. Nech žije Elizabeth, pán Darcy a všetká tá galantnosť dávnych čias! :-) Gratulujeme – práve túto nedeľu oslávi román svoje 203. narodeniny.

    section.section.parallax-image(style="background-image: url('images/content/text-page/text-page-1.jpg');")

    section.section
    .wrapper-main
      .row
        .ofst--m-2
        .col--m-8
          h2.h3 1. Príbeh, ktorý (takmer) napísal sám život…

          p Ako nás na slovenčine v škole učili: literatúra je vždy odrazom doby. Ani v prípade diel od Austenovej tomu nie je inak. Podľa všetkého sa námetom Pýchy a predsudku do značnej miery stala práve autorkina osobná skúsenosť: žiaľ, nenaplnená láska k mladému mužovi menom Tom Lefroy. Nemala dostatočný majetok, aby sa mu mohla rovnať – a tak sa zasnúbil s inou – zámožnejšou… Možno aj preto dopriala románu šťastný koniec.

          h2.h3 2. Najskôr ako korešpondencia

          p Ako veľa iných Austenovej kníh, aj Pýcha a predsudok bola vydaná pôvodne vo forme listov. V tej dobe išlo o bežný spôsob písania literárnych diel.

          h2.h3 3. Lýdia ušla do škótskeho Las Vegas

          p Koho prepadne neodkladná túžba uzavrieť zväzok manželský, navštívi dnes Las Vegas. Ale čo ak žijete v 19. storočí v Anglicku? Netreba si zúfať – hneď v prvom meste za škótskou hranicou vás zosobášia, hoci ste nedovŕšili 21 rokov a nemáte súhlas rodičov, pričom dokonca netreba prihliadať ani na všakovaké náboženské náležitosti. Nuž, a tak sa Lýdia vybrala na cestu do Gretna Green (aj keď tam nakoniec nedorazila) ;-)

          h2.h3 4. Aj Austenová mala blízky vzťah so svojou sestrou, podobne ako Elizabeth

          p Písali si takmer každý deň, zverovali sa jedna druhej a vždy chceli bývať v jednej miestnosti, hoci každá mohla mať svoju spálňu. Taký bol vzťah dvoch sestier Jane a Cassandry Austenových. Niet sa čomu čudovať, že v románe nachádzame podobne vykreslený sesterský vzťah.

          h2.h3 5. Pán Darcy je fakt boháč!

          p V novinách The Telegraph vyrátali v roku 2013, že v tom období by majetok pána Darcyho predstavoval 12 miliónov libier. Nie sa teda čomu čudovať, že ohľadom voľby tej „najsprávnejšej“ snúbenice pre tohto zámožného muža vzniklo toľko úsilia..

          h2.h3 6. Inšpirácia pre názov

          p Román dostal svoj názov podľa knihy Cecilia od Fanny Burney, kde sa fráza “pýcha a predsudok” vyskytla trikrát.

          h2.h3 7. Kniha bola prvýkrát publikovaná anonymne

          p Ak by ste si kúpili počas života niektorú knihu od Austenovej, v podstate by ste nevedeli, že práve ona je autorka :-) Vyhýbala sa dokonca aj pseudonymom a podpisovala sa ako „Lady“ alebo „od autorky Rozumu a citu“. Totožnosť úspešnej autorky odhalil jej brat až po jej smrti.

          h2.h3 Bonus na záver

          p Austenovej knihy sú špecifické košatými dialógmi, ktoré sú tak veľmi presiaknuté dobovou galantnosťou. Veď napríklad veta s pomerne jednoznačným významom
            i #{' '}“Od prvého momentu som vedela, že ťa nikdy nebudem chcieť.”
            | #{' '}je v Elizabethinom podaní prerozprávaná nasledovne:
            i #{' '}“Od samého začiatku – takmer by som povedala, od prvej chvíle, čo vás poznám, vaše správanie vzbudilo vo mne najhlbšie presvedčenie o vašej arogancii, povýšenosti a sebeckom pohŕdaní citmi iných ľudí, a položilo základ toho nesúhlasu, na ktorom nasledujúce udalosti vystavali nemenný odpor, a nepoznala som vás ešte ani mesiac a už som cítila, že ste posledným mužom na svete, za ktorého by som bola ochotná vydať sa.”



  section.section

block scripts
  script.
    window.myApp = window.myApp = {};
    window.myApp.scrollOffset = {0: 85, 768: 95};
