extends layouts/_default

block opts
  - const pageTitle = 'Knihovrátok od Martinusu'

  -
    const swiperConfig = {
      slidesPerView: "auto",
      spaceBetween: 20,
      centeredSlides: true,
      breakpoints: {
        768: {
          slidesPerView: 3,
          centeredSlides: false,
          simulateTouch: false,
          spaceBetween: 40,
        },
      },
    };
block content
  header.buybacks-header.bg-orange.mb-large
    .wrapper-main.pt-large.pb-large
      .row.mt-l-medium.mb-l-medium
        .col--l-6.col--xl-8.text-color-white
          h3.mb-small Výkup kníh Knihovrátok
          h1.mb-medium Vymeňte čítané knihy za nové príbehy
          p.h4.mb-medium.text-color-white Máte doma knižky, ktoré už nebudete čítať? <strong>Vymeníme vám ich za poukážku na nákup</strong> v Martinuse a ponúkneme ich ďalším čitateľom.
          a.btn.btn--primary.pl-medium.pr-medium.mb-none(href="buybacks.html") Predať knihy Martinusu
  main.wrapper-main.mt-medium.mb-large
    h2.text-center Ako funguje Knihovrátok?
    .row
      .col--m-4
        .text-center
          i.fal.fa-mouse-pointer.text-color-orange.fa-3x.mb-medium
        h3
          span.counter.counter--primary.mr-tiny 1
          | Zaevidujte knihy, ktoré chcete predať
        p Prihláste sa do svojho martinusáckeho účtu a v časti Moje výkupy pridajte knihy na výkup. Zistíte tu aj to, či vami vybrané tituly vykupujeme a uvidíte aj predbežnú sumu.
      .col--m-4
        .text-center
          i.fal.fa-shipping-fast.text-color-orange.fa-3x.mb-medium
        h3
          span.counter.counter--primary.mr-tiny 2
          | Doručte knižky k nám
        p Doprajte svojej sove deň voľna :-) Knižky môžete odovzdať v jednom z našich kníhkupectiev, či poslať poštou alebo Packetou na našu centrálu.
      .col--m-4
        .text-center
          i.fal.fa-gift-card.text-color-orange.fa-3x.mb-medium
        h3
          span.counter.counter--primary.mr-tiny 3
          | Pošleme vám poukážku
        p Po tom, čo knižní škriatkovia skontrolujú stav vašich knižiek, pošleme vám na e-mail kód darčekovej poukážky v zodpovedajúcej hodnote. Takto môžete zaplniť prázdne miesto v knižnici.
  main.bg-secondary.mb-large
    .text-center.wrapper-main.mt-large
      h2 Aké knihy vykupujeme?
      p.mb-large Také, o ktoré je stále záujem a s čistým svedomím ich pošleme ďalej.<br>Najviac vykupujeme beletriu, záujem však býva aj o veľa odborných titulov.
    .wrapper-main.pb-large
      .carousel--buybacks.mb-medium
        .swiper-container(data-swiper-options=swiperConfig)
          .swiper-wrapper
            .swiper-slide.text-center-l
              h3.mb-small
                | Ako nové<br>
                strong.text-size-medium.text-color-success
                  +icon('check-circle').mr-tiny
                  | vykupujeme
              img(src=`${assetsPrefix}/images/content/buybacks/ako-nove.jpg`)
            .swiper-slide.text-center-l
              h3.mb-small
                | Mierne opotrebované<br>
                strong.text-size-medium.text-color-success
                  +icon('check-circle').mr-tiny
                  | vykupujeme
              img(src=`${assetsPrefix}/images/content/buybacks/mierne-opotrebovane.jpg`)
            .swiper-slide.text-center-l
              h3.mb-small
                | Poškodené alebo staré<br>
                strong.text-size-medium.text-color-error
                  +icon('close').mr-tiny
                  | nevykupujeme :-(
              img(src=`${assetsPrefix}/images/content/buybacks/poskodene.jpg`)
      p.text-center.mb-none
        a.link(href="#how-to-distinguish", data-scroll, data-scroll-offset=85, data-toggle='.faq-how-to-distinguish-q,.faq-how-to-distinguish-a')
          | Ako rozlíšim mierne opotrebovanú a poškodenú knihu?
          +icon('arrow-down')
  .main.wrapper-main
    h2.text-center Časté otázky
    .row
      .col--l-8.ofst--l-2
        .faq.mb-large
          h3.faq__question.mb-small.is-active(data-toggle='self,next', data-toggle-expand, data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-down`)
            span Čo získam, keď knihy odo mňa odkúpite?
            +icon('chevron-up').icon--medium.text-color-grey
          p.faq__answer(data-toggle-expand).is-active Darčekovú poukážku na ďalší nákup cez www.martinus.sk či v našich kníhkupectvách. Takto si môžete svoju knižnú poličku z času na čas osviežiť. Definitívnu hodnotu darčekovej poukážky vám e-mailom oznámia naši knižní škriatkovia do 21 dní, odkedy balík prijmeme v našom sklade v Martine alebo od odovzdania v kamennom kníhkupectve.
          hr
          h3.faq__question.mb-small(data-toggle='self,next', data-toggle-expand, data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`)
            span Môžem ponúknuť do Knihovrátka všetky knihy, ktoré mám doma?
            +icon('chevron-down').icon--medium.text-color-grey
          p.faq__answer(data-toggle-expand) Darčekovú poukážku na ďalší nákup cez www.martinus.sk či v našich kníhkupectvách. Takto si môžete svoju knižnú poličku z času na čas osviežiť. Definitívnu hodnotu darčekovej poukážky vám e-mailom oznámia naši knižní škriatkovia do 21 dní, odkedy balík prijmeme v našom sklade v Martine alebo od odovzdania v kamennom kníhkupectve.
          hr#how-to-distinguish
          h3.faq__question.mb-small.faq-how-to-distinguish-q(data-toggle='self,next', data-toggle-expand, data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`)#how-to-distinguish-question
            span Ako rozlíšim mierne opotrebovanú a poškodenú knihu?
            +icon('chevron-down').icon--medium.text-color-grey
          p.faq__answer.faq-how-to-distinguish-a(data-toggle-expand) Darčekovú poukážku na ďalší nákup cez www.martinus.sk či v našich kníhkupectvách. Takto si môžete svoju knižnú poličku z času na čas osviežiť. Definitívnu hodnotu darčekovej poukážky vám e-mailom oznámia naši knižní škriatkovia do 21 dní, odkedy balík prijmeme v našom sklade v Martine alebo od odovzdania v kamennom kníhkupectve.
          hr
  main.bg-secondary
    .wrapper-main.text-center.pt-large.pb-large
      h2 Vyskúšajte Knihovrátok
      a.btn.btn--primary.mr-medium.pl-medium Predať knihy Martinusu
