include ./mixins/icon

//- -----------------------------------------------
//- VARIABLES AND DATA

- const assetsPrefix = '';
- const htmlPostfix = '.html';

//- -----------------------------------------------
//- HTML

doctype html
html.no-js

  //- -----------------------------------------------
  //- HEAD

  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")

    title= pageTitle

    meta(name='author', content='Lighting Beetle s.r.o.')
    meta(name="description", content="")
    meta(name='keywords', content='')
    link(rel="shortcut icon", href=`${assetsPrefix}favicon.ico`)
    meta(name="theme-color", content=project.theme)

    meta(name='verify-v1', content='T+OHlS5UzwUGqeLzY9VCoZi05W1LWAjmytPCIQ2f3kw=')

    link(rel="stylesheet", href=`${assetsPrefix}fonts/Tabac-Sans/style.css`)

    link(rel="stylesheet", href=`${assetsPrefix}styles/main.css`)

    script(src=`${assetsPrefix}scripts/plugins/modernizr.js`)

    block head

  //- -----------------------------------------------
  //- BODY

  body(class=`${pageClass}` + `${headerWarning}`)

    #page-container

      main
        section.section.section--secondary
          .wrapper-main
            h2 Martinus cena fantázie

            .alert.alert--error-light Z telefónneho čísla XXXX už bolo hlasované.

            form
              .row.row--form.mb-medium
                .col--m-6
                  .form-control.form-control--input
                    .form-label
                      label Meno
                    input.input(type="text", placeholder="Zadajte vaše meno a priezvisko")
                .col--m-6
                  .form-control.form-control--input.has-erroryarn
                    .form-label
                      label Telefónne číslo
                    input.input.is-error(type="text", placeholder="Zadajte vaše telefónne číslo, napr. 0905778881")

              .row.mb-medium
                each item, i in [1,2,3,4,5,6,7,8,9,10]
                  .col--m-6.mb-small
                    .radio
                      input.radiocheck__input(type="radio", id=`radio${item}`, name="hlas")
                      label.radiocheck__control(for=`radio${item}`)
                      label.radiocheck__label(for=`radio${item}`).line-small
                        .mb-none Toto je nazov poviedky ktora sutazi#{' '}
                          a.link(href="#")
                            +icon('arrow-up-right')
                        span.text-medium.text-color-grey Autor Poviedky

              .row.mb-medium
                .col--m-8.ofst--m-2.text-center
                  button.btn.btn--primary Hlasovať
                  p.text-small Po odoslaní hlasovania budú údaje o vašom mene a telefónnom čísle uložené do našej databázy pre účely vyhodnotenia súťaže a overenia hlasovania. Po skončení súťaže všetky osobné informácie anonymizujeme.

        section.section.section--secondary
          .wrapper-main
            h2 Martinus cena fantázie

            .card.mb-medium
              .card__content
                .bar.mb-none
                  .bar__item
                    a.btn.btn--clean
                      +icon('arrow-left').icon--left
                      | Späť na výber
                  .bar__break.hide-m
                  .bar__item
                    dl
                      dt Váše údaje
                      dd
                        b Roman Cooper,#{' '}
                        span.text-medium.text-grey +421 *** 134 156
                  .bar__item.bar__item--border.show-m
                  .bar__break.hide-m
                  .bar__item
                    dl
                      dt Váš výber
                      dd
                        b Poviedka Oceľové oči,#{' '}
                        span.text-medium.text-grey Michal Brat


            .row.mb-medium
              .col--m-6.ofst--m-3
                p.text-italic Pre overenie hlasovania, prosím, zadajte kód z sms, ktorá vám o chvíľu príde na váš mobil.
                .form-control.form-control--input
                  .form-label
                    label Kód z SMS
                  input.input(type="text")
                .text-center
                  button.btn.btn--primary Odoslať hlasovanie

      .alert-container(data-alert-area)

    //- -----------------------------------------------
    //- SCRIPTS
    script.
      window.myApp = window.myApp || {};
      window.myApp.selectLanguage = 'sk';
    script(src=`${assetsPrefix}scripts/vendor.js`)
    script(src=`${assetsPrefix}scripts/main.js`)
