extends layouts/_default

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselHorizontal

block append head
  link(rel="stylesheet", href=`https://unpkg.com/leaflet@1.3.4/dist/leaflet.css`, integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==", crossorigin="")

block opts
    - var pageTitle = 'Knižná šifra'
    - var campaignHeader = true
    - var pageClass = 'ks-page'

block content
  main

    section.section.ks-header.text-color-white
      .wrapper-main
        .row.align-items-top.mb-none
          .col--m-3.mb-medium.text-center
            a(href="#")
              img(src="images/content/campaign/knizna-sifra4/logo/sk.svg", width="270")
          .col--m-5.col--l-6.mb-medium.mb-none-m
            h1.mb-medium.ks-text Hľadaj knihy ukryté v obraze
            .show-m
              p.mb-none
                ul.list--counter.no-pad.ks-list
                  li.mb-small
                    b Počas marca#{' '}
                    | sa bude obraz postupne odkrývať.
                    br
                    | Ak si chceš pomôcť, skoč sa pozrieť na celý obraz.
                  li.mb-small Keď ťa vyžrebujeme, za každý uhádnutý názov získavaš knižku. Ak počas marca urobíš v Martinuse ľubovoľný nákup, tvoju výhru zdvojnásobíme
                  li.mb-small Za každú knižku zakúpenú na www.martinus.sk počas marca získaš pomôcku k niektorej časti obrazu.
                    a(href="#", data-toggle="#rules").link.ks-link--inverse #{' '}kompletné pravidlá.
            .hide-m
              .mb-none#ks-description(data-collapse="70")
                ul.list--counter.no-pad.ks-list
                  li.mb-small Počas marca sa bude obraz postupne odkrývať. Ak si chceš pomôcť, skoč sa pozrieť na celý obraz.
                  li.mb-small Keď ťa vyžrebujeme, za každý uhádnutý názov získavaš knižku. Ak počas marca urobíš v Martinuse ľubovoľný nákup, tvoju výhru zdvojnásobíme
                  li.mb-small Za každú knižku zakúpenú na www.martinus.sk počas marca získaš pomôcku k niektorej časti obrazu.
                    a(href="#", data-toggle="#rules").link.ks-link--inverse #{' '}kompletné pravidlá.
              a.link.ks-link--inverse.text-size-medium(href="javascript:void(0)", data-toggle="#ks-description, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                +icon('arrow-down')
          .col--m-4.col--l-3.mb-none-m

            .text-center.text-right-m
              .btn.btn--primary.btn--medium.mb-small(data-toggle="#login")
                +icon('user').icon--small.icon--left
                | Prihlásiť sa
              .btn.btn--medium.mb-small
                +icon('facebook').icon--small.icon--left
                | Prihlásiť sa na facebooku

            .ks-user
              .bar.bar--vertical
                .bar__item.border-bottom-grey.ks-border--inverse
                  .bar
                    .bar__item.bar__item--shrinkable.text-ellipsis.ko-user__email.no-mrg-bottom
                      +icon('user').icon--medium.text-space-right
                      span.text-semibold klco.roman@gmail.com
                    .bar__item.bar__item--fill.text-right.no-mrg-bottom
                      a(href="#").link.link--product
                        +icon('logout').icon--medium
                .bar__item.text-center.text-left-m
                  | Môžeš vyhrať:#{' '}
                  b.text-bold.ks-text-color-inverse.h2 12
                  b #{' '}zo 128 kníh
                  .mb-small
                    .ks-progress
                      - var i = 0;
                      while i < 12
                        .ks-progress__item.ks-progress__item--active
                        - i++;
                      while i > 11 && i < 64
                        .ks-progress__item
                        - i++;
                  .text-small
                    a.link.ks-link--inverse Zdvojnásob svoju výhru nákupom v Martinus.sk!

    block tab

  .modal-overlay#login(data-modal)
    article.modal
      .modal__wrap
        .modal__header
          .modal__header__headline
            h2 Prihlásenie
          .modal__header__action
            .btn.btn--clean(data-toggle="#login")
              +icon('close').icon--medium
        .modal__content
          form
            .form-control.form-control--input
              .input-addons
                input.input(type="text", placeholder="Tvoj e-mail...")
                .input-addons__item.no-pad
                  button.btn.btn--primary
                    | Prihlásiť

  .modal-overlay#bonus(data-modal)
    article.modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            .h5 bonusová otázka na dnešný deň
            .h2.text-transform-upper Nadpis
          .modal__header__action
            .btn.btn--clean(data-toggle="#bonus")
              +icon('close').icon--medium
        .row.ko-video-background
          .ofst--m-1
          .col--m-10
            .ko-video
              | <iframe width="560" height="315" src="https://www.youtube.com/embed/docIm4sExSk?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        .modal__content
          .mb-medium
          .row
            .ofst--m-1
            .col--m-10
              h3.h2 Zadaj odpoveď
              form.mb-large
                .form-control.form-control--input#input-guess
                  .input-addons
                    input.input(type="text", placeholder="Text odpovede...")
                    .input-addons__item.no-pad
                      .btn.btn--primary#btn-guess
                        | Hľadaj

              .card.card--success
                .card__content
                  .bar.mb-none
                    .bar__item
                      +icon('check-circle').icon--large.text-color-success
                    .bar__item.bar__item--fill.text-color-success
                      | Gratulujeme! Získavaš naviac 2 knihy, ktoré bla bla...
                    .bar__item.bar__item--shrinkable
                      button.btn.btn--small.btn--clean ďalej
                        +icon('arrow-right')

  .modal-overlay#gift-about(data-modal)
    article.modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            .h2.text-transform-upper Podarí sa ti získať darček?
          .modal__header__action
            .btn.btn--clean(data-toggle="#gift")
              +icon('close').icon--medium
        .modal__content
          .row
            .ofst--m-1
            .col--m-10

              p.mb-medium
                | Jedine pre tých, ktorí zdolajú tohtoročnú Poslednú knižnú šifru a nájdu v obraze#{' '}
                b všetkých 64 kníh, sme pripravili prekvapenie!
                | #{' '}Viac vám o ňom prezradíme, keď sa bude blížiť koniec hry  ;-)

              .text-center.mb-medium
                img(src="images/content/campaign/knizna-sifra4/gift.svg", width="60%", style="")

  .modal-overlay#gift(data-modal)
    article.modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            img(src="images/content/campaign/knizna-sifra4/gift.svg", width="200", style="position: absolute; top: -20px; left: -20px; width: 200px;")
            .h5 odomknutý darček
            .h2.text-transform-upper Gratulujeme!
          .modal__header__action
            .btn.btn--clean(data-toggle="#gift")
              +icon('close').icon--medium
        .modal__content
          .row
            .ofst--m-1
            .col--m-10

              p Gratulujeme! Podarilo sa ti lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eget dignissim ipsum. Nam eu porta tortor. Curabitur nec sem et mauris eleifend malesuada ac at ipsum.

              .card.card--success.mb-large
                .card__content
                  .bar.mb-none.align-items-center
                    .bar__item
                      +icon('check-circle').icon--large.text-color-success
                    .bar__item.bar__item--fill.text-color-success
                      .h2 ABCD-EFGH-IJKL-MNOP
                    .bar__item.bar__item--shrinkable
                      button.btn.btn--small.btn--clean skopírovať

              h2 Obľúbené vianočné darčeky

              +booksCarouselHorizontal

              .text-center
                a(href="#").btn.btn--primary
                  | vianočný pomocník
                  +icon('arrow-right').icon--right

  .modal-overlay#gdpr(data-modal, style="background-color: rgba(0, 0, 0, 0.8);")
    article.modal.modal--medium
      .modal__wrap
        .modal__header.mb-none.bg-blue
          .modal__header__headline.text-center
            .h2.text-transform-upper Môžeme si u vás odložiť koláčiky?
          .modal__header__action
            .btn.btn--clean(data-toggle="#gift")
              +icon('close').icon--medium
        .modal__content
          .row.align-items-middle
            .col--m-4
              .text-center.mb-medium
                img(src="images/content/cookies.svg", width="100%", style="").show-m
                img(src="images/content/cookies.svg", width="60%", style="").hide-m
            .col--m-8
              p.mb-medium
                | Na marketingové účely a tiež preto, aby sme vám v budúcnosti lepšie vedeli odporučiť knihy, ktoré by sa vám mohli páčiť, si potrebujeme uložiť do vášho prehliadača údaje (cookies). Tieto údaje zdieľame aj s tretími stranami. Súhlasíte s ich uložením?#{' '}
                a.link Viac informácii
          .btn-layout.btn-layout--horizontal.align-items-center
            button.btn.btn--primary Súhlasím a chcem pokračovať


block append scripts
  script(src=`https://unpkg.com/leaflet@1.3.4/dist/leaflet.js`, integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==", crossorigin="")
  script
    .
      document.getElementById('select-tabs').addEventListener('change', function () {
        window.location.href = this.value;
      });

      var map = L.map('image-map', {
        minZoom: 1,
        maxZoom: 4,
        center: [0, 0],
        zoom: 1,
        zoomControl: false,
        crs: L.CRS.Simple,
        scrollWheelZoom: false,
      });

      var zoom = L.control.zoom({
        zoomInTitle: 'Priblížiť',
        zoomOutTitle: 'Oddialiť',
        position: 'topright'
      });
      zoom.addTo(map);

      var w = 2562,
          h = 2562,
          url = 'http://www.martinus.sk/kniznasifra/index.php?getimage';

      var southWest = map.unproject([0, h], map.getMaxZoom()-1);
      var northEast = map.unproject([w, 0], map.getMaxZoom()-1);
      var bounds = new L.LatLngBounds(southWest, northEast);

      L.imageOverlay(url, bounds).addTo(map);

      map.setMaxBounds(bounds);