extends layouts/_default

block opts
  - var pageClass = 'bg-secondary'
  -
    const categories = [
      {
        title: "Beletria",
        id: 'beletry',
        items: [
          {
            icon: 'books',
            title: 'Spoločenské romány',
          },
          {
            icon: 'book-heart',
            title: 'Romantika',
          },
          {
            icon: 'wand-magic',
            title: 'Fantasy',
          },
          {
            icon: 'ufo',
            title: 'Sci-fi',
          },
          {
            icon: 'grimace',
            title: 'Horor',
          },
          {
            icon: 'fingerprint',
            title: 'Detektívka',
          },
          {
            icon: 'surprise',
            title: 'Triler',
          },
          {
            icon: 'history',
            title: 'Historický román',
          },
          {
            icon: 'laugh-beam',
            title: 'Humor',
          },
          {
            icon: 'bookmark',
            title: 'Klasika',
          },
          {
            icon: 'feather',
            title: 'Poézia',
          },
          {
            icon: 'user',
            title: 'Young adult',
          },
          {
            icon: 'smile',
            title: 'Detská literatúra',
          },
          {
            icon: 'question',
            title: 'Niečo iné',
          }
        ]
      }, {
        title: "Literatúra faktu",
        id: 'factual',
        items: [
          {
            icon: 'head-side-brain',
            title: 'Životopis',
          },
          {
            icon: 'history',
            title: 'História',
          },
          {
            icon: 'graduation-cap',
            title: 'Učebnica',
          },
          {
            icon: 'map-marked',
            title: 'Cestovanie',
          },
          {
            icon: 'praying-hands',
            title: 'Ezoterika',
          },
          {
            icon: 'atlas',
            title: 'Encyklopédia',
          },
          {
            icon: 'hat-chef',
            title: 'Kuchárska kniha',
          },
          {
            icon: 'file-alt',
            title: 'Reportáže',
          },
          {
            icon: 'question',
            title: 'Niečo iné',
          }
        ]
      }
    ];

block content
  main
    section.section.bg-yellow.pt-medium
      .wrapper-main
        .row.align-items-middle.mb-medium
          .col--s-5.col--l-3
            a(href="campaign-pomocnik.html")
              img(src="images/content/pomocnik/kp-logo.svg", alt="Knihomoľský pomocník").kp-logo
    section.section.mb-large
      .wrapper-main
        .row.kp-nav.mb-medium
          .col--4
            .kp-nav__item.pt-small.pb-small.pt-medium-m.pb-medium-m
              div
                .h3.text-color-theme-400.mb-none 01
                .h2.mb-none Pre koho?
          .col--4
            .kp-nav__item.pt-small.pb-small.pt-medium-m.pb-medium-m.is-active
              div
                .h3.text-color-theme.mb-none 02
                .h2.mb-none Akú knihu?
          .col--4
            .kp-nav__item.pt-small.pb-small.pt-medium-m.pb-medium-m
              div
                .h3.text-color-theme.mb-none 03
                .h2.mb-none Potvrdenie

        .row
          .col--m-7.ofst--center
            p.text-center.pt-medium.pb-medium Ktorý knižný žáner má váš knihomoľ či knihomoľka v knižnici najčastejšie? Prosím, vyberte žánre, ktoré sú mu/jej najbližšie, či už z beletrie alebo literatúry faktu (pokojne z oboch!). Ak neviete, nevadí – zvoľte „niečo iné“ a opíšte nám, ako by mala knižka vyzerať.

        .flex.align-items-center
          .btn-group.btn-group--horizontal(data-tabs-container)
            each category in categories
              a(role="tab", data-tabs-item, href=`#kd-tab-${category.id}`).btn.btn--ghost
                =category.title

        article.tabs
          each category in categories
            .tab(id=`kd-tab-${category.id}`)
              .row
                -
                  let i = 0;

                each item in category.items
                  - i++
                  .col--s-6.col--l-4.mb-medium
                    input(type="checkbox", id=`check-${i}`, name="for-whom").kp-checkbox.visually-hidden
                    label(for=`check-${i}`).btn.btn--carousel.kp-label.pt-small.pb-small.flex.align-items-center.align-items-middle.mb-none
                      i(class=`fa-${item.icon}`).fal.fa-fw.fa-2x.text-color-theme-400.mr-small
                      span.h3.mb-none
                        =item.title

        .flex.align-items-center.align-items-middle.mt-large
          a(href="campaign-pomocnik-step1.html").btn.btn-full.btn--icon-left.mb-none
            +icon('chevron-left').icon--medium
            | Naspäť
          div.ml-medium.mr-medium.text-semibold Krok 2/3
          a(href="campaign-pomocnik-step3.html").btn.btn-full.btn--icon-right.btn--primary.mb-none
            +icon('chevron-right').icon--medium
            | Odoslať
