extends campaign-knizna-sifra-layout

include ./mixins/icon

block tab

  section.section.section--small.show-l
    .wrapper-main
      ul.tab-nav.tab-nav--block
        li.tab-nav__item.is-active
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-sifra.html')
            .tab-nav__content-wrap Hľadaj skryté knihy
        li.tab-nav__item
          a.tab-nav__content.tab-nav__content--link(href='campaign-knizna-sifra-about.html')
            .tab-nav__content-wrap Výhry a pravidlá

  section.section.section--secondary.hide-l.section--small(style="z-index: 1999;")
    .wrapper-main
      select.js-select.select--ghost#select-tabs
        option(value="campaign-knizna-sifra.html", selected) Hľadaj skryté knihy
        option(value="campaign-knizna-sifra.html") Výhry a pravidlá
      .mb-medium

  section.section.section--secondary(style="position:relative;")
    .wrapper-main.hide-m
      a(href="#").card.ks-bonus-mobile
        .card__content.card__content--condensed.text-center
          h2.h3.text-color-white.mb-none
            | Psst!#{' '}
            span.text-small Tajný bonus

    a(href="#").ks-bonus.clickable.show-m
      .ks-bonus__txt.text-center
        h2.h3.text-color-white.mb-none Psst!
        .text-color-white.text-small Tajný bonus

    .wrapper-main
      #image-map.ks-map

  section.section
    .wrapper-main
      .row
        .col--m-8.ofst--m-2
          .card.card--well.mb-large
            .card__content
              h2.mb-none Aké knihy sa ti podarilo nájsť?
              p.text-color-grey Zadaj postupne všetky knihy, ktoré si našiel ukryté v obraze.
              .bar
                .bar__item.bar__item--fill.no-mrg--m-down
                  .form-control.form-control--input
                    .input-addons.input-addons--large
                      .input-addons__item.show-m
                        +icon('search').icon--medium
                      input.input.input--large(type="text", placeholder="Napr. Malý princ")
                      .input-addons__item.no-pad.hide-m
                        button.btn.btn--primary.btn--large.btn--equal
                          +icon('search').icon--medium.icon--left
                .bar__item.bar__item--shrinkable.show-m
                  button.btn.btn--primary.btn--large Hľadať
              .bar.mb-none
                .bar__item.bar__item--fill.no-mrg--m-down
                  .alert.alert--error-light
                    | Mrzí nás to, ale túto knihu do obrazu maliar nezašifroval :-(
                .bar__break.hide-m
                .bar__item.bar__item--shrinkable
                  a.btn.btn--clean.btn--small
                    | späť
                    span.show-m #{' '}na obraz
                    +icon('arrow-up').icon--small
                .bar__item.bar__item--shrinkable
                  a.btn.btn--clean.btn--small
                    | nájdené knihy#{' '}
                    +icon('arrow-down').icon--small

          p.mb-large.text-center
            b Nezabudni#{' '}
            | – Šifra je najväčšia zábava, keď sa máš komu pochváliť úspechmi :-) Zdieľaj na:
            a(href="#")
              +icon('facebook').icon--medium
            a(href="#")
              +icon('instagram').icon--medium

  section.section.section--secondary
    .wrapper-main
      h2 Úspešne odšifrované knihy#{' '}
        span.ks-status
          span.ks-status__num 2
          span.text-color-grey #{' '}/ 64

      .row.mb-large

        .col--m-2.col--6.flex
          article.card.card--material.card--material-green.no-pad-top
            a(href="#")
              img(src="images/content/campaign/knizna-sifra4/img-card.jpg", width="100%")
            .bar.bar--vertical.mb-none
              .bar__item.bar__item--fill.no-mrg
                .card__content.line-small.no-pad-bottom
                  a.link.link--product.text-medium Steve Jobs
                  .text-color-grey.text-small.mb-small Walter Isaacson
              .bar__item.bar__item--shrinkable.no-mrg
                .card__content.line-small
                  a(href="#").btn.btn--small.btn--ghost.block.mb-none viac info

        .col--m-2.col--6.flex
          article.card.card--material.card--material-green.no-pad-top
            a(href="#")
              img(src="images/content/campaign/knizna-sifra4/img-card.jpg", width="100%")
            .bar.bar--vertical.mb-none
              .bar__item.bar__item--fill.no-mrg
                .card__content.line-small.no-pad-bottom
                  a.link.link--product.text-size-medium Velmi dlhy nazov knihy na dva alebo tri riadky
                  .text-color-grey.text-small.mb-small Walter Isaacson
              .bar__item.bar__item--shrinkable.no-mrg
                .card__content.line-small
                  a(href="#").btn.btn--small.btn--ghost.block.mb-none viac info

        each item, i in [1,2,3,4]
          .col--m-2.col--4.flex
            article.card.block(style="width: 100%; border: 2px dotted #ccc;")
