extends layouts/_default

block opts
    - var pageTitle = 'Kosik'

block content
  main.bg-secondary
    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center.card.no-pad-horizontal
            .card__content.mb-medium
              .bar.bar--small
                .bar__item
                  h1.h2 Váš košík
                .bar__item
                  .pill.pill--blue 4

              ul.list.list--cart.list--unstyled
                each item, i in books
                  li.list__item(id=`cart-item${i}` data-toggle-class="is-hidden")
                    .cart-item
                      .cart-item__thumbnail
                        a.thumbnail.thumbnail--book.thumbnail--medium-large.thumbnail--clickable(href="detail-knihy.html")
                          .thumbnail__img-wrap
                            img.img(src=`${assetsPrefix}${item.cover}`)
                      .cart-item__content
                        .cart-item__column.cart-item__column--product-name
                          a.text-semibold.no-mrg.block.link.link--product.line-medium(href="detail-knihy.html")=item.title
                          ul.list-inline.list-inline--delimited.text-color-grey.text-size-small.mb-small
                            - var authors = item.author.split(', ')
                            each author in authors
                              li= author
                          .badges.show-m
                            if (item.ebook)
                              .badge.text-nowrap E-kniha
                            if (item.preorder)
                              .badge.badge--orange.text-nowrap Predpredaj
                          if (i == 1 || i == 2)
                            .bar.bar--small.text-size-small.no-mrg.show-m
                              .bar__item
                                img.img.img--circle.thumbnail.thumbnail--small(src="http://placehold.it/100x100")
                              .bar__item
                                span.text-transform-upper.text-color-grey Tento titul číta aj
                                |
                                |
                                a.link(href="#") Jana Šlinská

                        .cart-item__column.cart-item__column--wishlist
                          +addTo({ text: '' }).no-mrg-bottom
                        .cart-item__column.cart-item__column--qty
                          .form-control.form-control--input.no-mrg
                            .input-addons.input-addons--small.align-items-right
                              .input-addons__item.input-addons__item--no-border.no-pad
                                button(type="button" data-number-spinner="decrease" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                                  +icon('minus', 'icon--medium', 'mínus')
                              input(type="number" id=`product-${i}-qty` min="0" max="100" step="1" value="1").input.input--small.input--short.no-pad-horizontal.text-center
                              .input-addons__item.input-addons__item--no-border.no-pad
                                button(type="button" data-number-spinner="increase" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                                  +icon('plus', 'icon--medium', 'plus')
                        .cart-item__column.cart-item__column--price
                          .text-semibold.text-size-medium.text-nowrap= item.price
                        .cart-item__column.cart-item__column--remove
                          button.btn.btn--clean.no-mrg(type="button" data-toggle=`#cart-item${i}`)
                            +icon('trash', 'icon--medium')
                li.list__item.align-items-bottom.mt-small
                  .list__item__section.list__item__section--primary.text-right
                    span.h3 Spolu
                  .list__item__section.list__item__section--secondary
                    span.h2
                      strong 21.45€
            .card_footer
              .col--m-9.ofst--center
                .btn-layout--vertical.btn-layout--s-horizontal.btn-layout--fill.mb-large
                  a(href="/homepage.html").btn.btn--ghost Späť do kníhkupectva
                  a(href="/homepage.html").btn.btn--primary Objednať tituly

        .row
          .col--l-8.ofst--center.card.no-pad-horizontal
            .card__content.mb-medium
              .bar.bar--small
                .bar__item
                  h1.h2 Váš košík
                .bar__item
                  .pill.pill--blue 4

              ul.list.list--cart.list--unstyled
                each item, i in books
                  li.list__item(id=`cart-item${i}` data-toggle-class="is-hidden")
                    .cart-item
                      .cart-item__content
                        .cart-item__column.cart-item__column--product-name
                          span.text-semibold.line-medium(class=item.ebook ? 'text-space-right' : '')= item.title
                          if item.ebook
                            span.badge.text-nowrap E-kniha
                        .cart-item__column.cart-item__column--wishlist
                          +addTo({ text: '' }).no-mrg-bottom
                        .cart-item__column.cart-item__column--qty
                          .form-control.form-control--input.no-mrg
                            .input-addons.input-addons--small.align-items-right
                              .input-addons__item.input-addons__item--no-border.no-pad
                                button(type="button" data-number-spinner="decrease" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                                  +icon('minus', 'icon--medium', 'mínus')
                              input(type="number" id=`product-${i}-qty` min="0" max="100" step="1" value="1").input.input--small.input--short.no-pad-horizontal.text-center
                              .input-addons__item.input-addons__item--no-border.no-pad
                                button(type="button" data-number-spinner="increase" data-controls=`#product-${i}-qty`).btn.btn--small.btn--clean.btn--equal
                                  +icon('plus', 'icon--medium', 'plus')
                        .cart-item__column.cart-item__column--price
                          .text-semibold.text-size-medium.text-nowrap= item.price
                        .cart-item__column.cart-item__column--remove
                          button.btn.btn--clean.no-mrg(type="button" data-toggle=`#cart-item${i}`)
                            +icon('trash', 'icon--medium')
                li.list__item.align-items-bottom.mt-small
                  .list__item__section.list__item__section--primary.text-right
                    span.h3 Spolu
                  .list__item__section.list__item__section--secondary
                    span.h2
                      strong 21.45€

            .card_footer
              .col--m-9.ofst--center
                .btn-layout--vertical.btn-layout--s-horizontal.btn-layout--fill.mb-large
                  a(href="/homepage.html").btn.btn--ghost Späť do kníhkupectva
                  a(href="/homepage.html").btn.btn--primary Objednať tituly
