extends layouts/_default

block opts
    - var pageTitle = 'Košík - Platba'

block content
  main.bg-secondary
    section.section-progress
      .wrapper-main
        .row
          .bar.bar__progress.col--l-8.ofst--center
            .bar__item.done.bar__item--fill.text-center
              | Košík
            .bar__item.done.bar__item--fill.text-center
              | Doručenie
            .bar__item.in-progress.bar__item--fill.text-center
              | Platba
            .bar__item.bar__item--fill.text-center
              | Sumár

    section.section
      .wrapper-main
        .row
          .col--l-8.ofst--center
            .card.mb-small
              .card__content
                .bar
                  .bar__item
                    h2 Váš košík
                  .bar__item.bar__item--fill
                    .badge--circle.badge--circle--blue 4
                  .bar__item
                    button.btn.btn--clean.no-mrg.no-pad
                      +icon('edit').icon--medium.icon--left
                      | Upraviť
                ul.list.list--cart
                  div(data-collapse="115")
                    each item, i in books
                      li.list__item(id=`cart-item${i}` data-toggle-class="is-active")
                        .cart-item
                          .cart-item__content
                            .cart-item__column.cart-item__column--product-name
                              .text-semibold.no-mrg.text-ellipsis= item.title
                            .cart-item__column.cart-item__column--qty
                              .text-semibold.no-mrg
                                | 1x
                            .cart-item__column.cart-item__column--price
                              .text-semibold.text-size-medium.text-nowrap= item.price
                  a.link.text-size-medium.col--m-4.col--s-12.ofst--center(href="javascript:void(0)", data-toggle="previous, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť všetký(+3)", data-collapse-trigger) <span data-toggle-text-target>Zobraziť všetký(+3)</span>#{' '}
                    +icon('arrow-down')

              .card__footer
                .bar.align-items-right.align-items-bottom
                  .bar__item.bar__item--fill.text-right
                    h3
                      | Spolu
                  .bar__item
                    h2.text-bold
                      | 21.45€

              .card__done
                 +icon('check-circle').icon--medium.text-color-success

            .card.mb-small
              .card__content
                .bar
                  .bar__item.bar__item--fill
                    h2 Zvoľte spôsob doručenia
                  .bar__item
                    button.btn.btn--clean.no-mrg.no-pad
                      +icon('edit').icon--medium.icon--left
                      | Upraviť

              .card__content.no-pad-top.mb-medium
                .bar.no-mrg
                  .bar__item.bar__item--fill.text-size-medium
                    | Balíkomat
                  .bar__item.text-size-medium
                    strong 1.99€

              .card__done
                +icon('check-circle').icon--medium.text-color-success

            .card.mb-small
              .card__content
                .bar
                  .bar__item.bar__item--fill
                    h2 Je to darček ?

              .card__content.no-pad-top.no-mrg
                p.text-size-medium
                  | Radi Vám tovar zabalíme do niektorého z dostupných darčekových papierov alebo špecialnej ochrannej fólie :)

              .card__content
                each item, i in books
                  .bar(id=`cart-item${i}`).align-items-top
                    .bar__item
                      img(src=`${assetsPrefix}${item.cover}`).thumbnail.thumbnail--book.thumbnail--small.thumbnail--clickable
                    .bar__item.bar__item--fill.text-size-medium=item.title
                    .bar__item.bar__item--fill
                      .form-control.form-control--select
                        select.js-select
                            option(selected disabled placeholder) Bez špeciálneho balenia 0.00€
                            option Bez špeciálneho balenia 0.00€
              .card__content.no-pad
                hr.no-mrg

              .card__content
                .row
                  .col--s-11.col--m-6.ofst--center
                    .form-control.form-control--checkbox.text-center.mb-large
                      .checkbox.radiocheck--large.radiocheck--transparent
                        input.radiocheck__input(type='checkbox', id='gift_no_invoice', name='gift_no_invoice')
                        label.radiocheck__control(for='gift_no_invoice')
                        label.radiocheck__label(for='gift_no_invoice')
                          | Nepriložiť faktúru, je to prekvapenie

                    .btn-layout--vertical.no-mrg
                      button.btn.btn--primary.is-disabled(type="submit")
                        | hotovo, mam zabalené !

            .card.mb-small
              .card__content
                .bar
                  .bar__item.bar__item--fill
                    h2 Spôsob platby ?

              .card__content.no-pad-top

                .form-control.form-control--radio.mb-small
                  .radio.radiocheck--large.radiocheck--transparent
                    input.radiocheck__input(type='radio', id='payment_card', name='payment_options')
                    label.radiocheck__control(for='payment_card')
                    label.radiocheck__label.text-semibold(for='payment_card')
                      | Kartou (vopred)
                      +icon('like').icon--medium.icon--right
                      +icon('like').icon--medium.icon--right

                .form-control.form-control--checkbox.text-space-left.mb-medium
                  .checkbox.radiocheck--large.radiocheck--transparent
                    input.radiocheck__input(type='checkbox', id='payment_save_card', name='payment_save_card')
                    label.radiocheck__control(for='payment_save_card')
                    label.radiocheck__label.text-semibold(for='payment_save_card')
                      p.text-size-medium.no-mrg
                        strong Bezpečne zapamätať číslo mojej karty#{' '}
                        | pre ďalšie nákupy

                .form-control.form-control--radio.mb-small
                  .radio.radiocheck--large.radiocheck--transparent.align-items-top
                    input.radiocheck__input(type='radio', id='payment_ib', name='payment_options')
                    label.radiocheck__control(for='payment_ib')
                    label.radiocheck__label.radiocheck__label--multiline(for='payment_ib')
                      p.text-semibold.no-mrg
                        | Internet bankingom mojej banky
                      p.text-size-medium.no-mrg
                        | Tatra Banka, SLSP, VÚB, UniCredit, ČSOB, Poštová banka, Sberbank

                .row.text-space-left
                  .col--m-4
                    ul.list.list--clean
                      li.list__item
                        .form-control.form-control--radio.no-mrg
                          .radio.radiocheck--large.radiocheck--transparent
                            input.radiocheck__input(type='radio', id='payment_ib_option1', name='payment_ib_options')
                            label.radiocheck__control(for='payment_ib_option1')
                            label.radiocheck__label.text-semibold(for='payment_ib_option1')
                              | TatraPay

                      li.list__item
                        .form-control.form-control--radio.no-mrg
                          .radio.radiocheck--large.radiocheck--transparent
                            input.radiocheck__input(type='radio', id='payment_ib_option2', name='payment_ib_options')
                            label.radiocheck__control(for='payment_ib_option2')
                            label.radiocheck__label.text-semibold(for='payment_ib_option2')
                              | UniPlatba

                      li.list__item
                        .form-control.form-control--radio.no-mrg
                          .radio.radiocheck--large.radiocheck--transparent
                            input.radiocheck__input(type='radio', id='payment_ib_option3', name='payment_ib_options')
                            label.radiocheck__control(for='payment_ib_option3')
                            label.radiocheck__label.text-semibold(for='payment_ib_option3')
                              | Sberbank WEBpay

                  .col--m-5
                    ul.list.list--clean
                      li.list__item
                        .form-control.form-control--radio.no-mrg
                          .radio.radiocheck--large.radiocheck--transparent
                            input.radiocheck__input(type='radio', id='payment_ib_option4', name='payment_ib_options')
                            label.radiocheck__control(for='payment_ib_option4')
                            label.radiocheck__label.text-semibold(for='payment_ib_option4')
                              | SporoPay

                      li.list__item
                        .form-control.form-control--radio.no-mrg
                          .radio.radiocheck--large.radiocheck--transparent
                            input.radiocheck__input(type='radio', id='payment_ib_option5', name='payment_ib_options')
                            label.radiocheck__control(for='payment_ib_option5')
                            label.radiocheck__label.text-semibold(for='payment_ib_option5')
                              | Poštová banka Platba ONLINE

                      li.list__item
                        .form-control.form-control--radio.no-mrg
                          .radio.radiocheck--large.radiocheck--transparent
                            input.radiocheck__input(type='radio', id='payment_ib_option6', name='payment_ib_options')
                            label.radiocheck__control(for='payment_ib_option6')
                            label.radiocheck__label.text-semibold(for='payment_ib_option6')
                              | ePlatby VÚB

                .form-control.form-control--radio.mb-small
                  .radio.radiocheck--large.radiocheck--transparent
                    input.radiocheck__input(type='radio', id='payment_paypal', name='payment_options')
                    label.radiocheck__control(for='payment_paypal')
                    label.radiocheck__label.text-semibold(for='payment_paypal')
                      | PayPal

                .form-control.form-control--radio.mb-small
                  .radio.radiocheck--large.radiocheck--transparent
                    input.radiocheck__input(type='radio', id='payment_viamo', name='payment_options')
                    label.radiocheck__control(for='payment_viamo')
                    label.radiocheck__label.text-semibold(for='payment_viamo')
                      | Viamo

                .form-control.form-control--radio.no-mrg
                  .radio.radiocheck--large.radiocheck--transparent
                    input.radiocheck__input(type='radio', id='payment_mcm', name='payment_options')
                    label.radiocheck__control(for='payment_mcm')
                    label.radiocheck__label.text-semibold(for='payment_mcm')
                      | MasterCard Mobile

                .form-control.form-control--radio.no-mrg
                  .radio.radiocheck--large.radiocheck--transparent.align-items-top
                    input.radiocheck__input(type='radio', id='payment_invoice', name='payment_options')
                    label.radiocheck__control(for='payment_invoice')
                    label.radiocheck__label.radiocheck__label--multiline.mb-medium(for='payment_invoice')
                      p.text-semibold.no-mrg
                        | Predfaktúra
                      p.text-size-medium.no-mrg
                        | Tovar bude odoslaný až po pripísaní platby na náš účet.

              .card__content.no-pad-top.mb-medium
                .row
                  .col--m-11.col--s-12.ofst--center
                    a.link.text-size-medium
                      | Využiť darčekovú poukážku alebo ISIC, ITIC, EURO<26 zľavu

              .card__content
                .row
                  .col--s-11.col--m-7.ofst--center
                    .btn-layout--vertical.mb-small
                      button.btn.btn--primary.is-disabled(type="submit")
                        | Potvrdiť výber

