extends layouts/_default

block opts
    - var pageTitle = 'Kategoria'
    - var filterStickyOffset = header.size.default + 71
    - var subcategories = true
    - var carousel = true
    - var formats = false

block content
  section.section--breadcrumbs
    .wrapper-main
      .bar.no-mrg-bottom
        .bar__item.bar__item--shrinkable
          +breadcrumbs({ breadcrumbs: ['Knihy'] })

  section.section--secondary.section.section--toolbar.cat-no-border-bottom.no-pad-top
    .wrapper-main
      .bar.no-mrg-bottom
        .bar__item
          h1 Deti a mládež
        .bar__item.bar__item--fill
          button.btn.btn--clean
            +icon('eye', 'icon--large').icon--medium.icon--left
            span.show-m sledovať kategóriu
      .mb-medium.show-l
      p.mb-medium Vydavateľstvo Ikar je najväčší vydavateľský dom na Slovensku s produkciou cca 230 titulov ročne. Vydávame široké spektrum kníh pre všetky vekové kategórie od domácich aj zahraničných autorov. Medzi autormi, ktorých diela vydávame patria aj svetoví velikáni William Shakespeare, Gabriel García Márquez, či Fiodor Michajlovič Dostojevskij, ale aj autori slovenskej klasiky - Dobroslav Chrobák, Margita Figuli, František Švantner a ďalší. V našom vydaveteľskom dome našli svoje trvalé miesto viacerí úspešní súčasní slovenskí autori – Táňa Keleová-Vasilková, Andrea Coddington, Jozef Banáš, Jozef Karika...

  section.section--secondary.section.section--toolbar.hide-l(data-sticky, data-scroll-offset=header.size.default, data-sticky-class="is-stuck", data-sticky-wrap)
    .wrapper-main
      .btn-layout.btn-layout--vertical.mb-small
        .btn-dropdown.no-mrg
          button.btn.btn--ghost.btn--icon-right.text-left(
            data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
            data-toggle-expand,
            aria-haspopup="true"
          )
            | Všetky
            +icon('chevron-down', 'icon-dropdown').icon--medium
          .dropdown(data-dropdown, data-toggle-expand)
            each link, i in ['Všetky', 'Rozprávky, básničky', 'Knihy pre najmenšich, Walt Disney', 'Špeciálne, darčekové', 'Beletria', 'Encyklopédie, náučné knihy', 'Komiks', 'Voľný čas, samolepky']
              a(href="#").dropdown__item !{link}

  include modules/category-list
