extends layouts/_default

include ./mixins/icon
include ./mixins/product
include ./mixins/productHorizontal

mixin userAbout ()
  h5 O mne
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris viverra lobortis massa, sit amet viverra risus. Nullam ac pellentesque purus, non placerat tortor. Praesent maximus orci ac risus sollicitudin interdum. Vivamus diam mauris, blandit at convallis sed, rutrum vel libero.

  h5 Obľúbené literárne žánre
  .badges
    .badge.mb-small Sci-fi & Fantasy
    .badge.mb-small Detektívky
    .badge.mb-small Odborná literatúra

  h5 Obľúbení autori
  .badges
    .badge.mb-small Douglas Adams
    .badge.mb-small George Orwell
    .badge.mb-small Odborná literatúra

  h5 Moje wishlisty
  ul.list--unstyled.mb-large
    li
      a.link Najlepšie fantasy
    li
      a.link Vesmírne opery

block opts
  - var pageTitle = 'Môj profil'
  - var headerWarning = false

block content
  main.account

    section.section.bg-blue-ci
      .wrapper-main
        .row
          .col--m-3
            .bar
              .bar__item(style="position: relative;")
                .portrait.portrait--xlarge.show-m(style="background-image: url('images/content/avatars/f.jpg');")
                .portrait.portrait--large.hide-m(style="background-image: url('images/content/avatars/f.jpg');")
                .badge.badge--blue(style="position: absolute; top: 0;")
                  .h1.mb-none 13
                div(style="position: absolute; bottom: 0;")
                  img(src="images/content/logo-small.svg")
              .bar__break.show-m
              .bar__item
                .bar.mb-none
                  .bar__item.bar__item--fill
                    h1.h2.text-color-white.mb-tiny Nataša Martinus
                .bar
                  .bar__item
                    //span.badge
                      | 1239 bodov
                    //+icon('info').icon--medium.text-color-white(title="Lorem ipsum dolor sit amet", data-tooltip)
                    //a.btn.btn--small.btn--clean
                      +icon('edit').icon--small
                      | #{' '}Upraviť
                    a.btn.btn--small
                      +icon('eye').icon--medium.icon--left
                      | #{' '}Sledovať
                  .bar__item.bar__item--shrinkable
                    a.btn.btn--small.btn--equal
                      +icon('fb').icon--small
                    | #{' '}
                    a.btn.btn--small.btn--equal
                      +icon('link').icon--small



          .col--m-9.text-center
            -
              var swiperConfig = {
                nextButton: '.carousel__btn--next',
                prevButton: '.carousel__btn--prev',
                slidesPerView: 'auto',
                slidesPerGroup: 5,
                spaceBetween: 20,
                breakpoints: {
                  768: {
                    slidesPerGroup: 2,
                  },
                  480: {
                    slidesPerGroup: 1,
                  }
                },
              };
              swiperConfig = JSON.stringify(swiperConfig);
            .carousel.carousel--shelf.mb-large.inline-block.mb-none-m
              .swiper-container(data-swiper-options=swiperConfig)
                .swiper-wrapper
                  each item, index in books
                    if index < 3
                      +product({size: 'large'}).mb-none.text-left.inline-block.swiper-slide
                        +productCover({cover: item.cover, href: '#'}).mb-none
                  each item, index in [1,2]
                    +product({size: 'large'}).mb-none.text-left.inline-block.swiper-slide
                      +productCover({cover: 'images/content/book-empty.svg', href: '#'}).mb-none

    section.section
      .wrapper-main
        .row

          .col--l-3.show-l(data-sticky-container)
            div(data-sticky, data-sticky-class="is-stuck", data-scroll-offset=header.size.default + 40)
              +userAbout

          .hide-l.mb-large
            #user-about(data-collapse="150")
              +userAbout
            a.link.text-medium(href="javascript:void(0)", data-toggle="#user-about, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť menej")
              | <span data-toggle-text-target>Zobraziť viac</span>
              +icon('arrow-down').icon--left

          .col--l-9.col--12

            h2 Moje benefity
              +icon('info').icon--medium(title="Lorem ipsum dolor sit amet", data-tooltip)
            .row
              .col--m-3.col--6
                .card.card--material.card--material-green.line-small
                  .card__label 379 bodov
                  .card__content.card__content--condensed
                    b.text-medium Knihomoľská taška
              .col--m-3.col--6
                .card.card--material.card--material-green.line-small
                  .card__label 749 bodov
                  .card__content.card__content--condensed
                    b.text-medium Zľava 2€ nad 19€
              .col--m-3.col--6
                .card.card--material
                  .card__label 1199 bodov
                  .card__content.card__content--condensed.line-small
                    b.text-medium.text-color-grey-dark Zľava 25% na najdrahšiu knihu
              .col--m-3.col--6
                .card.card--material
                  .card__label 1999 bodov
                  .card__content.card__content--condensed.line-small
                    b.text-medium.text-color-grey-dark Zľava 15% na celý nákup

            h2 Moje odznaky

            .mb-large
              #badges.club-badges(data-collapse="150").mb-small
                .club-badges__item
                  .club-badge
                    img(src="images/content/club/badges/badges-01.png")
                .club-badges__item
                  .club-badge.bg-blue-ci
                    img(src="images/content/club/badges/badges-02.png")
                    .year
                      .badge.badge--blue 2018
                .club-badges__item
                  .club-badge.bg-yellow
                    img(src="images/content/club/badges/badges-03.png")
                .club-badges__item
                  .club-badge.bg-green
                      img(src="images/content/club/badges/badges-04.png")
                .club-badges__item
                  .club-badge.bg-violet
                    img(src="images/content/club/badges/badges-05.png")
                .club-badges__item
                  .club-badge
                    img(src="images/content/club/badges/badges-01.png")
                .club-badges__item
                  .club-badge.bg-blue-ci
                    img(src="images/content/club/badges/badges-02.png")
                    .year
                      .badge.badge--blue 2018
                .club-badges__item
                  .club-badge.bg-yellow
                    img(src="images/content/club/badges/badges-03.png")
                .club-badges__item
                  .club-badge.bg-green
                    img(src="images/content/club/badges/badges-04.png")
                .club-badges__item
                  .club-badge.bg-violet
                    img(src="images/content/club/badges/badges-05.png")
                .club-badges__item
                  .club-badge
                    img(src="images/content/club/badges/badges-01.png")
                .club-badges__item
                  .club-badge.bg-blue-ci
                    img(src="images/content/club/badges/badges-02.png")
                    .year
                      .badge.badge--blue 2018
                .club-badges__item
                  .club-badge.bg-yellow
                    img(src="images/content/club/badges/badges-03.png")
                .club-badges__item
                  .club-badge.bg-green
                    img(src="images/content/club/badges/badges-04.png")
                .club-badges__item
                  .club-badge.bg-violet
                    img(src="images/content/club/badges/badges-05.png")

              a.link.text-medium(href="javascript:void(0)", data-toggle="#badges, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť menej")
                | <span data-toggle-text-target>Zobraziť viac</span>
                +icon('arrow-down').icon--left

            h2 Moje čitateľské kolekcie

            -
              var swiperConfig = {
                slidesPerView: 'auto',
                slidesPerGroup: 7,
                nextButton: '.carousel__btn--next',
                prevButton: '.carousel__btn--prev',
                breakpoints: {
                  1024: {
                    slidesPerGroup: 5,
                  },
                  768: {
                    spaceBetween: 20,
                    slidesPerGroup: 3,
                  },
                  640: {
                    spaceBetween: 20,
                    slidesPerGroup: 2,
                  },
                  480: {
                    spaceBetween: 20,
                    slidesPerGroup: 1,
                  }
                },
              };
              swiperConfig = JSON.stringify(swiperConfig);
            .carousel&attributes(attributes)
              .swiper-container.swpier-container--fullwidth(data-swiper-options=swiperConfig)
                .swiper-wrapper
                  each item,i in books
                    if i < 2
                      a(href=`${assetsPrefix}detail-knihy${htmlPostfix}`).swiper-slide.carousel__product-detail
                        +product().mb-small.text-left
                          +productCover({cover: item.cover, collection: true})
                          +productTitle({
                            collection: true, title: 'Kolekcia', author: false
                          })
                  a(href=`${assetsPrefix}my-library${htmlPostfix}#add-list`).swiper-slide.carousel__product-detail(style="position: relative;")
                    +product().mb-small.text-left
                      .product__cover.collection
                        .thumbnail.thumbnail--book.thumbnail--large
                          each i, index in Array(3)
                            .thumbnail__img-wrap
                              img(src=`${assetsPrefix}images/content/book-empty.svg`).img
                      +productTitle({
                        collection: true, title: 'Pridať kolekciu', author: false
                      })
                    +icon('plus').icon--xxlarge.text-color-grey(style="position: absolute; left: 25%; transform: translateX(-25%); top: 15%; z-index: 4;")

              button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
                +icon('arrow-left').icon--medium
              button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
                +icon('arrow-right').icon--medium

            h2 Moje aktivity

            .row.mb-large
              .col--1.show-m
                .bar
                  .bar__item.bar__item--shrinkable
                    .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
              .col--12.col--m-11
                .bar
                  .bar__item.bar__item--fill
                    .bar.mb-none
                      .bar__item.bar__item--shrinkable.hide-m
                        .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                      .bar__item.bar__item--fill
                        p
                          b Nataša Martinus
                          | #{' '}získal/a odznak#{' '}
                          b Magický návrat
                  .bar__break.hide-m
                  .bar__item.bar__item--shrinkable.text-right
                    .h5 24.5.2018 20:31

                hr.mb-medium

                .card.card--well.inline-block
                  .card__content
                    .club-badge.club-badge--large.bg-blue-ci
                      img(src="images/content/club/badges/badges-02.png")
                      .year
                        .badge.badge--blue 2018

            .row.mb-large
              .col--1.show-m
                .bar
                  .bar__item.bar__item--shrinkable
                    .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
              .col--12.col--m-11
                .bar
                  .bar__item.bar__item--fill
                    .bar.mb-none
                      .bar__item.bar__item--shrinkable.hide-m
                        .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                      .bar__item.bar__item--fill
                        p
                          b Nataša Martinus
                          | #{' '}pridal/a knihu do knižnice ako#{' '}
                          b prečítanú
                  .bar__break.hide-m
                  .bar__item.bar__item--shrinkable.text-right
                    .h5 24.5.2018 20:31

                hr.mb-medium
                -
                  var item = {
                  xmas: false
                  };
                .card.card--well.inline-block
                  .card__content
                    +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'})).no-mrg

            each i in [1, 2, 3]
              .row.mb-large
                .col--1.show-m
                  .bar
                    .bar__item.bar__item--shrinkable
                      .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .col--12.col--m-11
                  .bar
                    .bar__item.bar__item--fill
                      .bar.mb-none
                        .bar__item.bar__item--shrinkable.hide-m
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill
                          p
                            b Nataša Martinus
                            | #{' '}napísal/a recenziu
                    .bar__break.hide-m
                    .bar__item.bar__item--shrinkable
                      .rating-star.bar__item.align-items-center.no-mrg-top
                        each star, starIndex in Array(5)
                          +icon('star').rating-star__item.icon--large(class=`${starIndex < 3 ? 'is-active' : ''}`)
                    .bar__item.bar__item--shrinkable.text-right
                      .h5 24.5.2018 20:31

                  hr.mb-medium

                  p Fakt parádna kniha síce knihy mám prečítané iba dve a to Kráska a netvor a túto no ale i tak páčil sa mi nájme Chosé a samozrejme Richard Krauz ale každá postava má niečo do seba a samozrejme je to odľahčené Dánovím humorom. Ale smutné je že sa to deje na Slovensku nie len po prevrate.

                  -
                    var item = {
                    xmas: false
                    };
                  .card.card--well.inline-block
                    .card__content
                      +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'})).no-mrg