extends layouts/_default

block opts
    - var pageTitle = 'Detail knihy'

block content
  main
    div(data-sticky-container)
      section.section--secondary.section.section--toolbar.hide-m(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-margin-top="80")
        .wrapper-main
          .bar.bar--small.mb-small
            .bar__item.bar__item--fill
              .btn-layout.btn-layout--vertical
                .btn-dropdown.no-mrg
                  button.btn.btn--clean.btn--icon-right.text-left(
                    data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                    data-toggle-expand,
                    aria-haspopup="true"
                  )
                    | Pevná väzba#{' '}
                    span.text-color-grey.text-nowrap 12,99 €
                    +icon('chevron-down', 'icon-dropdown').icon--medium
                  .dropdown(data-dropdown, data-toggle-expand)
                    a(href="#").dropdown__item Brožovaná väzba#{' '}
                      span.text-color-grey.text-nowrap 10,29 €
                    a(href="#").dropdown__item E-kniha#{' '}
                      span.text-color-grey.text-nowrap 6,50 €
                    a(href="#").dropdown__item Audio kniha#{' '}
                      span.text-color-grey.text-nowrap 16,25 €
            .bar__item
              .btn-layout.btn-layout--vertical
                .btn-dropdown.no-mrg
                  button.btn.btn--clean.btn--icon-right(
                    data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                    data-toggle-expand,
                    aria-haspopup="true"
                  )
                    | SK
                    +icon('chevron-down', 'icon-dropdown').icon--medium
                  .dropdown(data-dropdown, data-toggle-expand)
                    a(href="#").dropdown__item CZ

      section.section
        .wrapper-main
          .row.product-detail
            .col--m-4.col--l-3
              .product-detail__preview
                .product-detail__image
                  .thumbnail.thumbnail--book.thumbnail--large-shadow.mb-medium.clickable(data-toggle="#product-preview")
                    img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/books/sample-15.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                .product-detail__preview-link.text-center
                  button.btn.btn--clean(data-toggle="#product-preview")
                    +icon('eye').icon--left.icon--medium
                    | Pozrieť ukážku

            article.col--m-8.col--l-6
              .btn-layout.btn-layout--vertical.mb-large.show-m
                .btn-group--horizontal
                  a(href="#").btn.btn--ghost.is-active Pevná väzba#{' '}
                    span.text-color-grey.text-nowrap 12,99 €
                  a(href="#").btn.btn--ghost Brožovaná väzba#{' '}
                    span.text-color-grey.text-nowrap 10,29 €
                  a(href="#").btn.btn--ghost E-kniha#{' '}
                    span.text-color-grey.text-nowrap 6,50 €
                  .btn-dropdown
                    a.btn.btn--ghost(href="#", data-toggle="self, next", data-toggle-expand, aria-haspopup="true") Viac formatov (2)#{' '}
                      +icon('chevron-down', 'icon-dropdown').icon--medium
                    .dropdown(data-dropdown, data-toggle-expand)
                      a.dropdown__item(href="#") Audio kniha#{' '}
                        span.text-color-grey.text-nowrap 16,25 €
                      a.dropdown__item(href="#") Audio kniha#{' '}
                        span.text-color-grey.text-nowrap 16,25 €


              ul.list-inline.list-inline--delimited.product-detail__author.mb-small
                li
                  a.link(href="#") Frank Weissert
                li
                  a.link(href="#") Jack Thorne
                li
                  a.link(href="#") John Tiffany
              h1.product-detail__title Základy rybolovu pro kluky a holky
              h3.product-detail__subtitle.mb-medium.mb-large-m Praktický návod ako stretnúť, spoznať a získať ženu svojich snov

              .bar.bar--small.mb-medium
                .bar__item.show-m
                  .btn-layout.btn-layout--vertical
                    .btn-dropdown.no-mrg
                      button.btn.btn--ghost.btn--small.btn--icon-right(
                        data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                        data-toggle-expand,
                        aria-haspopup="true"
                      )
                        | Slovenčina
                        +icon('chevron-down', 'icon-dropdown').icon--medium
                      .dropdown(data-dropdown, data-toggle-expand)
                        a(href="#").dropdown__item Český jazyk
                  //- .form-control.form-control--select.no-mrg
                    select.js-select.select--inline.select--clean.select--small
                      option Český jazyk
                      option Slovenčina
                .bar__item
                  .rating-star
                    .rating-star__icon
                    .rating-star__icon
                    .rating-star__icon
                    .rating-star__icon.rating-star__icon--half
                    .rating-star__icon.rating-star__icon--empty
                    .rating-star__value
                      b 4,5
                .bar__item.bar__item--border
                .bar__item
                  a.link.text-medium(href="#recenzie", data-scroll) 234 x
                .bar__item.bar__item--shrinkable.show-m
                  .badges.no-mrg
                    .badge.badge--green Bestseller
                    .badge.badge--orange Top #98

              .bar.mb-medium.show-m
                .bar__item
                  dl.no-mrg
                    dt Vydavateľstvo
                    dd
                      a.link(href="#") Inspira Publishing
                      span.text-color-grey , 2016
                .bar__item.bar__item--border
                .bar__item
                  dl.no-mrg
                    dt Edícia
                    dd
                      a.link(href="#") Rybolov
                .bar__item.bar__item--border
                .bar__item
                  .bar.bar--small.align-items-top.no-mrg-bottom
                    .bar__item
                      img.img.img--circle.thumbnail.thumbnail--small(src="http://placehold.it/100x100")
                    .bar__item.bar__item--fill
                      dl.no-mrg
                        dt Tento titul číta aj
                        dd
                          a.link(href="#") Jana Šlinská
              .show-m
                p Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké

                p
                  a.link.text-medium(href="#popis-knihy", data-scroll) Čítaj viac#{' '}
                     +icon('arrow-down')


            .col--l-3.col--m-6.ofst--m-4.ofst--l-0
              include ./modules/card-cart

      section.section.section--secondary.controversial
        .wrapper-main
          .row
            .col--m-6.ofst--m-center
              .text-medium.text-uppercase.text-color-grey-dark.mb-medium Upozornenie
              p Obsah tejto knihy je vnímaný ako kontroverzný. Pri čítaní každej knihy odporúčame nezabúdať na kritické myslenie a názory odborníkov v danej oblasti. Zisk z predaja tejto knihy putuje na podporu neziskových organizácií SuperTrieda a Slovenská debatná asociácia
                a.link.text-medium.text-space-left Prečo?
              a.link.text-medium(href="#popis-knihy", data-scroll) Zobraziť anotáciu ku knihe od vydavateľa
                +icon('arrow-down')


      section.section.section--secondary.section--overflow
        .wrapper-main
          +section-header({ header: 'Odporúčané knihy a kolekcie', more: false })

          +booksCarouselRecommended

      section.section.no-pad
        .wrapper-main.no-pad
          a(href='#')
            img.img.img--fluid(src="images/content/banner-1280x100.jpg").no-mrg
    div(data-sticky-container)
      section.section.section--secondary.section--toolbar.hide-m(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-margin-top="80")
        .wrapper-main
          .bar.bar--small.mb-small
            .bar__item.bar__item--fill
              .form-control.form-control--select.no-mrg
                select.select--clean#detail-sections-spy
                  option(value="popis-knihy") Popis knihy
                  option(value="podrobnosti") Podrobnosti
                  option(value="recenzie") Recenzie
                  option(value="o-autorovi") O autorovi
                  option(value="vydavatelstvo") Vydavateľstvo

      section.section
        .wrapper-main
          .row(data-sticky-container)
            .col--l-2.col--m-3.show-m
              div(data-sticky, data-sticky-class="is-stuck", data-margin-top="120")
                .thumbnail.thumbnail--book.mb-medium
                  img.img.img--fluid(src="images/content/books/sample-15.jpg", alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                h2.mb-medium O knihe
                ul.list.list--expanded.no-pad(role="navigation", data-gumshoe, data-gumshoe-select="#detail-sections-spy")
                  li
                    a(href="#popis-knihy", data-scroll) Popis knihy
                  li
                    a(href="#podrobnosti", data-scroll) Podrobnosti
                  li
                    a(href="#recenzie", data-scroll) Recenzie
                  li
                    a(href="#o-autorovi", data-scroll) O autorovi
                  li
                    a(href="#vydavatelstvo", data-scroll) Vydavateľstvo
            .col--m-9.col--l-7
              section.mb-large#popis-knihy

                h2.mb-medium Popis knihy
                div#book-desription(data-collapse="300")
                  p Vždy bolo ťažké byť Harrym Potterom a nie je to ľahké ani dnes, keď je prepracovaným zamestnancom Ministerstva mágie, manželom a otcom troch školopovinných detí.

                  p Harry zápasí s minulosťou, ktorá sa ustavične vracia. Jeho najmladšiemu synovi Albusovi pripadla ťarcha rodinného dedičstva, o ktoré nikdy nemal záujem. Keď minulosť a prítomnosť vytvoria hrozivú výbušnú zmes, otec aj syn musia čeliť nepríjemnej pravde, že raz sa temnota zjaví na nečakaných miestach.

                  p Nová hra Jacka Thorna Harry Potter a prekliate dieťa vychádza z pôvodného nového príbehu J.K. Rowlingovej, Johna Tiffanyho a Jacka Thorna. Je to ôsmy príbeh o Harrym Potterovi a prvý, ktorý sa objavil na javisku. Toto knižné vydanie scenára prináša pokračovanie príbehu Harryho Pottera, jeho priateľov a rodiny bezprostredne po svetovej premiére hry v londýnskom West Ende 30. júla 2016.

                  p Prvá oficiálna divadelná hra o Harrym Potterovi mala premiéru v sobotu 30. júla v Palace Theatre v londýnskom West Ende. Prvých 175-tisíc vstupeniek sa minulý rok vypredalo v priebehu ôsmich hodín. Tvorcovia sa preto rozhodli, že hru, ktorú mali pôvodne uvádzať do 27. mája 2017, predĺžia až do 10. decembra toho roku.

                  p.mb-medium Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.
                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#book-desription, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

              section.mb-large.hide-l
                .row
                  .col--s-8.ofst--s-center
                    include ./modules/card-buy-together
        
              section.mb-large
                .card.card--well.no-pad-bottom
                  .card__content
                    #mistake.row.no-mrg-bottom(data-toggle-class="hide")
                      .col--m-8
                        .text-semibold Našli ste v našom obsashu nejaké nepresnosti?
                        div Dajte nám o tom vedieť.
                      .col--m-4.text-right
                        button.btn.btn--ghost.no-mrg(data-toggle="#mistake, #mistake-detail") Nahlásiť chybu
                    #mistake-detail.hide(data-toggle-class="hide")
                      .row
                        .col--fill
                          .text-semibold Našli ste v našom obsashu nejaké nepresnosti?
                          .text-semibold.mb-medium Dajte nám o tom vedieť.
                          p Máte o knihe viac informácií ako je na tejto stránke alebo ste našli chybu? Budeme vám veľmi vďační, ak nám pomôžete s doplnením informácií na našich stránkach.
                        .col--shrink
                          button.btn.btn--clean.text-color-grey
                            +icon('close').icon--medium(data-toggle="#mistake, #mistake-detail")
                      .row
                        .col--m-6
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey meno a priezvisko
                            input.input(type="text", placeholder="Zadajte Vaše meno a priezvisko")
                        .col--m-6
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey e-mail
                            input.input(type="e-mail", placeholder="Zadajte Váš e-mail")
                      .row
                        .col--12
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey text
                            textarea.input(rows="4", placeholder="Napíšte informácie, ktoré chcete doplniť alebo opraviť")
                      .row.mb-medium
                        .col--12
                          .form-control.form-control--checkbox
                            .checkbox.radiocheck--medium
                              input.radiocheck__input(type="checkbox", id="mistake-agree")
                              label.radiocheck__control(for="mistake-agree")
                              label.radiocheck__label(for="mistake-agree") Potvrdzujem, že vyššie uvedené informácie neporušujú autorské práva iných osôb 
                                span.text-semibold a súhlasím s ich využitím firmou Martinus, s.r.o.
                      .row
                        .col--12.text-center
                          button.btn(type="submit") odoslať upozornenie

              section.mb-large#podrobnosti
                .card.card--well.text-medium.no-pad-bottom
                  .card__content
                    .row.no-mrg-bottom
                      .col--6.col--s-4
                        dl
                          dt Počet strán
                          dd 271
                        dl
                          dt Väzba
                          dd pävná s prebalom
                        dl
                          dt Rozmer
                          dd 100x90x25cm
                      .col--6.col--s-4
                        dl
                          dt Hmotnosť
                          dd 330g
                        dl
                          dt Jazyk
                          dd slovenský
                        dl
                          dt ISBN
                          dd 9788055153025

                      .col--6.col--s-4
                        dl
                          dt Rok vydania
                          dd 2017
                        dl
                          dt Katalógové číslo
                          dd 162431



              section.mb-large
                h5.mb-medium Kategorizácia

                ul.list-inline
                  li
                    a.link(href="#") Knihy
                  li(role="presentional")
                    +icon('chevron-right')
                  li
                    a.link(href="#") Deti a mládež
                  li(role="presentional")
                    +icon('chevron-right')
                  li
                    a.link(href="#") Enciklopédie, náučné knihy
                  li(role="presentional")
                    +icon('chevron-right')
                  li
                    a.link(href="#") Ostatné

                ul.list-inline
                  li
                    a.link(href="#") Knihy
                  li(role="presentional")
                    +icon('chevron-right')
                  li
                    a.link(href="#") Próza
                  li(role="presentional")
                    +icon('chevron-right')
                  li
                    a.link(href="#") Ďalšie druhy prózy

                ul.list-inline
                  li
                    a.link(href="#") Knihy
                  li(role="presentional")
                    +icon('chevron-right')
                  li
                    a.link(href="#") Hobby
                  li(role="presentional")
                    +icon('chevron-right')
                  li
                    a.link(href="#") Špeciálna kategória

              section.mb-large#recenzie
                h2 Recenzie

                .card.card--well.mb-large
                  .card__content
                    .row.align-items-center.align-items-middle
                      .col--3.show-l
                        div.text-center
                          +icon('avatar').text-space-half.icon--xlarge.text-color-grey
                          br
                          | Ja
                          //- img.img.img--circle(src="http://placehold.it/48x48")
                      .col--l-5.col--l-border.text-center
                        p.mb-small Ako sa vám páčila kniha?
                        .rating-star.rating-star--highlight-on-hover.align-items-center.mb-small.no-mrg-l(data-stars)
                          each i in Array(5)
                            a(href="#").rating-star__item
                              +icon('star').icon--xlarge

                      .col--l-4
                        .btn-layout.btn-layout--vertical.no-mrg
                          button.btn Pridať recenziu

                .row.align-items-center.align-items-middle.book-rating.mb-large
                  .col--l-5
                    .rating-text.text-center
                      .rating-text__value
                        span.text-bold 4,7
                        span.text-color-grey  / 5
                        p.text-medium.text-color-grey.mb-small 1024 hodnotení
                    .rating-star.align-items-center.mb-medium.no-mb-l
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star-half').rating-star__item.icon--large.is-active
                  .col--l-7.col--l-border
                    table.book-rating__table.table.table--clean.no-mrg
                      tbody
                        -
                          const barRating = [857, 10, 24, 3, 12];
                          const barRatingSum = barRating.reduce((a, b) => (a + b), 0);
                        each rating, ratingIndex in barRating
                          tr
                            td
                              .rating-star
                                each star, starIndex in Array(5)
                                  +icon('star').rating-star__item.icon--medium(class=(starIndex <= (4 - ratingIndex)) && 'is-active')
                            td
                              span= barRating[ratingIndex]
                            td(width="100%")
                              -
                                const width = `${Math.floor(barRating[ratingIndex] / barRatingSum * 100)}%`;
                              .rating-bar(class=`rating-bar--${5 - ratingIndex}`, style=`width: ${width};`)

                hr

                +review
                  .text-semibold Nadpis recenzie
                  p Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +review({ reply: true, name: 'Darina Dobrovská', address: false, review: 0, likes: 25})
                  .text-semibold Nadpis recenzie
                  p Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +review({ avatar: true, name: 'Tomáš Ulej a mam strasne dlhe meno a uvidime co sa stane'})
                  .text-semibold Nadpis recenzie
                  p Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                .pagination.btn-layout.btn-layout--horizontal.align-items-middle
                  button.btn.btn--ghost.btn--equal.is-active 1
                  button.btn.btn--ghost.btn--equal 2
                  button.btn.btn--ghost.btn--equal.show-s 3
                  div ...
                  button.btn.btn--ghost.btn--equal.show-s 20
                  button.btn.btn--ghost
                    | Ďalšie
                    +icon('arrow-right').icon--right.icon--medium

              hr

              section.mb-large#o-autorovi
                h2 O autorovi

                div#about-author(data-collapse="150")
                  p Narodila sa v marci 1976. V osemnástich rokoch odišla z rodnej Žiliny na vysokú školu do Bratislavy a tam aj ostala. Celý profesionálny život sa venuje žurnalistike, začala ako moderátorka v Rock FM rádiu, potom spolu s Julom Viršíkom tri roky vysielala rannú šou v rádiu Koliba, neskôr OKEY. Aj vďaka bestsellerom Všetko alebo nič, Stalo sa mi všetko a Všetko alebo nič: Príbeh pokračuje, ktoré vyšli s úspechom aj v Česku, sa stala najobľúbenejšou slovenskou autorkou kníh za rok 2009. Ďalšia jej kniha Svet mi je dlžný bola najpredávanejším slovenským titulom roka 2010. Jedna z najpredávanejších slovenských autoriek sa okrem písania venuje aj svojmu vydavateľstvu Evitapress, ktoré založila v roku 2007.
                  article.card.card--well
                    .card__content
                      .row
                        .col--m-shrink
                          img(src="/images/content/author.png", width="100", alt="J. K. Rowling")
                        .col--m-fill
                          h4.mb-small Beseda s autorom: J. K. Rowling
                          .text-color-grey.mb-medium Udalost
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate dictum ante, id ultricies mi bibendum ac. Nulla pretium nisi lorem, eget faucibus leo feugiat sed. Aliquam posuere nibh sit amet aliquam vehicula. Curabitur lobortis nibh vestibulum lobortis luctus. Curabitur a dolor quam. Ut ullamcorper at orci id sollicitudin. 
                      .row.mb-medium
                        .col--12
                          .border-bottom-grey
                      .row
                        .col--12
                          h4.mb-small Terminy
                          - for (var i = 0; i < 4; ++i) {
                            .bar.mb-medium.text-medium.border-bottom-grey
                              .bar__item.mb-small
                                +icon('calendar', 'icon--medium').text-color-grey
                              .bar__item.text-space-right.mb-small
                                .text-semibold 21. 8. 2017, 17:00
                              .bar__item.mb-small
                                +icon('pin', 'icon--medium').text-color-grey
                              .bar__item.bar__item--fill.mb-small Bratislava (Obchodna)
                              .bar__item.mb-small
                                a.link(href="#") Udalosť na Faceboku
                          - }
                          a.link.text-medium Všetky besedy v Martinuse
                            +icon('arrow-right')

                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#about-author, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

              section.mb-large#vydavatelstvo
                h2 Vydavateľstvo

                div#publisher(data-collapse="150")
                  p Vydavateľstvo Evitapress sa časom vyprofilovalo na spoločnosť, pod hlavičkou ktorej vydávajú svoje knižky najčítanejšie slovenské autorky. Našimi čitateľmi sú hlavne ženy, ku knižkám z Evitapressu ich pritiahli ich námety, uveriteľnosť a moderný súčasný jazyk našich spisovateliek. Najžiadanejšie „príbehy, ktoré píše život“ vydávame v edícii Evitovky, pre naše najmladšie čitateľky v tínedžerskom veku máme Evitínky, pre milovníčky romantických príbehov Srdcovky, pre tých, čo milujú napínavé romány Detektívky a unikátne kúsky vydávame
                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#publisher, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

            .col--l-3.show-l
              include ./modules/card-buy-together

    section.section.section--secondary.section--overflow
      .wrapper-main
        +section-header({ header: 'Odporúčané knihy a kolekcie' })

        +booksCarouselRecommended

    include ./modules/seen-items

block append modals
  include ./modules/product-preview

block append scripts
    script.
      document.addEventListener('myAppLoaded', function() {
        var productPreviewProductSelect = new window.myApp.Select('#product-preview-product-select', {
          choices: [
            {
              value: 'Pevná väzba 12,99 €',
              label: 'Pevná väzba 12,99 €',
              id: 1,
              customProperties: {
                price: '11,50 €',
                delivery: 'posielame ihneď'
              }
            },
            {
              value: 'E-book 10,99 €',
              label: 'E-book 10,99 €',
              id: 1,
              customProperties: {
                price: '11,50 €',
              }
            },
          ]
        });
      });

      document.addEventListener('myAppInit', function() {
        var productPreview;

        window.addEventListener('modalOpen', function() {
          productPreview = new window.myApp.ProductPreview();
        });

        window.addEventListener('resize', function() {
          if (productPreview) {
            productPreview.update();
          }
        });
      });
