extends layouts/_default

include ./mixins/booksCarouselRecommended
include ./mixins/breadcrumbs
include ./mixins/pagination
include ./mixins/review
include ./mixins/sectionHeader
include ./mixins/icon
include ./mixins/addTo
include ./mixins/collectionItem

include ./mixins/userMenu
include ./mixins/icon

block opts
  - let pageTitle = 'Detail knihy 2';
  - let bookHeader = true;
  - let pageClass = 'is-consent';
  -
    const mainNav = [{
      title: 'Knihy',
      trigger: 'mega-menu-knihy',
      link: '#',
    }, {
      title: 'E-Knihy',
      link: '#',
    }, {
      title: 'Audioknihy',
      link: '#',
    }, {
      title: 'Hry',
      link: '#',
    }, {
      title: 'Filmy',
      link: '#',
    }, {
      title: 'Doplnky',
      trigger: 'mega-menu-doplnky',
      link: '#',
    },];

mixin itemGroup(id)
  div&attributes(attributes)
    h2.h3 Ďalšie formáty tejto knihy
    //+groupItem('Kniha', 0)
    //+groupItem('Kniha, český jazyk', 0)
    +groupItem('E-kniha', 1, 'Vydavatelstvo Publishing, 2019', true)
    +groupItem('Audiokniha mp3', 2, 'Vydavatelstvo Publishing, 2019', true)
    .hide(data-toggle-class="hide", id=`item-group-more${id}`)
      +groupItem('Audiokniha cd', 3, 'Vydavatelstvo Publishing, 2019', true)
    .mb-medium
      //a.link.text-size-medium(href="javascript:void(0)", data-toggle=`#item-group-more${id}, #item-group-more-description${id}, self`, data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Zobraziť menej", data-collapse-trigger, data-parent-hop="2")
        +icon('plus')
        | <span data-toggle-text-target class="text-space-left-tiny text-space-right">Viac formátov</span>
      a.link.text-size-medium(data-toggle="#modal-formats")
        +icon('plus')
        | Zobraziť viac#{' '}
      span.text-color-grey.text-size-small(id=`item-group-more-description${id}`, data-toggle-class="hide") (audiokniha mp3, audiokniha cd)

mixin groupItem(name, id, details, inline)
  .bar.align-items-middle.mb-medium(class=(id !== 3) ? 'border-bottom-grey' : '')
    .bar__item.bar__item--fill.mb-small-m.no-mrg-top.no-mrg-horizontal--m-down
      .bar.bar--vertical.bar--vertical-small.mb-small.mb-none-m
        .bar__item.no-mrg
          a.text-semibold.text-medium.inline-block.link=name
          | #{' '}
          span.text-medium.text-color-grey(class=inline ? 'show-m' : '')=details
          //a.link.link--product Základy rybolovu pro kluky a holky
          .inline-block.text-size-small(class=inline ? 'hide-m' : 'hide')
            if id == 0
              span.text-color-success.text-space-right-tiny Na sklade
              span.text-color-blue Novinka
            else if id == 1
              span.text-color-success.text-space-right-tiny PDF
              span.text-color-success.text-space-right-tiny EPUB
              span.text-color-success MOBI
            else if id == 3
              span.text-color-success Na sklade
        .bar__item(class=inline ? 'show-m' : '')
            if id == 0
              .badge.badge--green.mb-small.mb-none-m Na sklade
              .badge.badge--blue.mb-small.mb-none-m Novinka
            else if id == 1
              .badge.badge--green.mb-small.mb-none-m PDF
              .badge.badge--green.mb-small.mb-none-m EPUB
              .badge.badge--green.mb-small.mb-none-m MOBI
            else if id == 2
              .badge.badge--green.mb-small.mb-none-m MP3 na stiahnutie
            else if id == 3
              .badge.badge--green.mb-small.mb-none-m MP3 na CD
              .badge.badge--green.mb-small.mb-none-m Na sklade
    .bar__item.bar__item--shrinkable.no-mrg-top.mb-none.no-mrg-horizontal--m-down
      .bar.bar--small.no-mrg.bar--no-wrap
        .bar__item.no-mrg
          .badge.badge--primary -20%
        .bar__item.no-mrg
          .text-bold.text-space-left 8,99
        .bar__item.no-mrg
          a.link.text-space-left-tiny
            +icon('arrow-right').icon--medium


mixin groupItem2(name, id, details, inline)
  .bar.align-items-middle.mb-medium(class=(id !== 3) ? 'border-bottom-grey' : '')
    .bar__item.bar__item--fill.mb-small-m.no-mrg-top.no-mrg-horizontal--m-down
      .bar.bar--vertical.bar--vertical-small.mb-small.mb-none-m
        .bar__item.no-mrg
          a.text-semibold.text-medium.inline-block.link=name
          | #{' '}
          span.text-medium.text-color-grey(class=inline ? 'show-m' : '')=details
          //a.link.link--product Základy rybolovu pro kluky a holky
          .inline-block.text-size-small(class=inline ? 'hide-m' : 'hide')
            if id == 0
              span.text-color-success.text-space-right-tiny Na sklade
              span.text-color-blue Novinka
            else if id == 1
              span.text-color-success.text-space-right-tiny PDF
              span.text-color-success.text-space-right-tiny EPUB
              span.text-color-success MOBI
            else if id == 3
              span.text-color-success Na sklade
        .bar__item(class=inline ? 'show-m' : '')
          if id == 0
            .badge.badge--green.mb-small.mb-none-m Na sklade
            .badge.badge--blue.mb-small.mb-none-m Novinka
          else if id == 1
            .badge.badge--green.mb-small.mb-none-m PDF
            .badge.badge--green.mb-small.mb-none-m EPUB
            .badge.badge--green.mb-small.mb-none-m MOBI
          else if id == 2
            .badge.badge--green.mb-small.mb-none-m MP3 na stiahnutie
          else if id == 3
            .badge.badge--green.mb-small.mb-none-m MP3 na CD
            .badge.badge--green.mb-small.mb-none-m Na sklade
          else if id == 4
            .badge.mb-small.mb-none-m Bazár
            .badge.badge--green.mb-small.mb-none-m Ako nová
          else if id == 5
            .badge.mb-small.mb-none-m Bazár
            .badge.badge--yellow.mb-small.mb-none-m Mierne opotrebená
          else if id == 6
            .badge.mb-small.mb-none-m Bazár
            .badge.badge--primary.mb-small.mb-none-m Poškodená
    .bar__item.bar__item--shrinkable.no-mrg-top.mb-none.no-mrg-horizontal--m-down
      .bar.bar--small.no-mrg.bar--no-wrap
        .bar__item.no-mrg
          .badge.badge--primary -20%
        .bar__item.no-mrg
          .text-bold.text-space-left.text-space-right 8,99
        .bar__item.no-mrg
          if id != 0
            button.btn.btn--primary.btn--small.btn--equal.mb-none(data-toggle='#checkout-notice')
              +icon('cart').icon--small
      .text-center.mb-small.text-medium
        if id == 0
          .text-color-grey-dark vypredané
        else if id < 4
          .text-color-success posielame do 3 dní

block header
  - const bookClassHide = bookHeader ? 'book-detail-hide' : '';
  - const headerPromo = false;

    header.header
      .header__wrapper(data-sticky)
        .wrapper-main.position-relative

          img(src="images/content/logo/xmas.png").logo-xmas
          style.
            .logo-xmas{
              top: -68px;
              left: 5px;
              position: absolute;
              z-index: 10;
            }
            @media screen and (min-width: 1024px) {
              .logo-xmas{
                left: 34px;
              }
            }

            @media screen and (max-width: 1024px) {
              .is-search-active .logo-xmas {
                display: none;
              }
            }
            .header__wrapper::after{
              background: rgb(196,7,11);
              background: linear-gradient(90deg, rgba(126,0,3,1) 0%, rgba(250,61,65,1) 50%, rgba(143,0,3,1) 100%);
            }

          .bar.header__bar
            .bar__item.header__logo
              a(href="#", class=bookClassHide)
                img(src=`${assetsPrefix}images/content/logo.svg`, alt="Martinus").show-l
                img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus").hide-l
              if bookHeader
                a(href="#").book-detail-show
                  img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus")
            .bar__item.header__nav(class=bookClassHide)
              .btn-layout.btn-layout--horizontal
                for item in mainNav
                  .btn-dropdown.no-mrg.show-l
                    if item.trigger
                      a.btn.btn--clean.header-btn(
                        data-mega-menu-trigger=`#${item.trigger}`
                        data-toggle="self",
                        aria-haspopup="true"
                      )= item.title
                    else
                      a.btn.btn--clean.header-btn(
                        href=item.link
                      )= item.title
                .btn-dropdown.no-mrg.btn-dropdown--no-icon.hide-l
                  a.btn.btn--clean.text-transform-upper.header-btn(
                    data-mega-menu-trigger=`#${mainNav[0].trigger}`
                    data-toggle='self, #toggle-mega-menu-knihy',
                    data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-close`,
                    data-toggle-expand,
                    aria-haspopup="true"
                  )
                    +icon('menu').icon--medium

            if headerPromo
              .bar__item.bar__item--shrinkable.header__ad.show-m(class=bookClassHide)
                img(src="images/content/campaign/xmas2017/header-promo.png", style="height: 50px;")
                | <style>.header__wrapper::after{background: #7d609a;}</style>

            .bar__item.bar__item--fill.header__search.header-search
              .hide-m.header-search__toggle.no-mrg
                button.btn.btn--clean.header-btn.no-mrg-bottom(data-toggle=".header", data-toggle-class-target="is-search-active")
                  +icon('search').icon--medium
              .hide-m.header-search__back
                button.btn.btn--clean.header-btn.no-mrg-bottom(data-toggle=".header", data-toggle-class-target="is-search-active")
                  +icon('arrow-left').icon--medium
              .header-search__search(style="position: relative;")
                .form-control.form-control--input.no-mrg-bottom
                  .input-addons
                    input.input.input--dark#search-in-header(type='text', placeholder="Titul, kategória alebo autor", data-input, data-toggle-focus)
                    .input-addons__item.header-search__empty.input-addons__item--dark
                      +icon('search', '', 'Search').icon--medium
                    .input-addons__item.input-addons__item.no-pad.header-search__value
                      .btn.btn--primary.text-nowrap
                        +icon('search', '', 'Search').icon--medium.icon--left
                        | Hladať
                block headerSearchDropdown

            .bar__item.header__user(class=bookClassHide)
              +userMenu()

            .bar__item.header__cart(class=bookClassHide)
              a.btn.btn--clean.header-btn(href="cart.html", data-notification="4")
                +icon('cart').icon--medium

            if bookHeader
              .bar__item.bar__item--fill.header__book.book-detail-show
                .bar.bar--no-wrap.mb-none.align-self-right
                  .bar__item
                    .thumbnail.thumbnail--book.thumbnail--small
                      .thumbnail__img-wrap
                        img.img.img--fluid(src="images/content/books/sample-15.jpg", alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                  .bar__item.bar__item--shrinkable.text-color-white.text-size-medium.line-small.header__book__name.show-l
                    | Základy rybolovu pro kluky a holky
                  .bar__item.show-s
                    .h3.text-color-white.text-bold 14,65 €
                  .bar__item.show-m
                    button.btn.btn--primary.btn--equal
                      +icon('cart').icon--medium
                  .bar__item.bar__item--shrinkable.text-color-success.text-size-medium.line-small.header__buy__text
                    | Pridajte ešte tento titul do košíka a dopravu máte zdarma



      include ./modules/header/megamenu
      include ./modules/checkout-notice

block content

  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Deti a mládež', 'Encyklopédie, náučné knihy', 'Ostatné', 'Základy rybolovu pro kluky a holky'] })

    section.section
      .wrapper-main
        .row.product-detail
          .col--5.col--s-3.col--m-4.col--l-3
            .product-detail__preview
              .product-detail__image
                .thumbnail.thumbnail--book.thumbnail--large-shadow.thumbnail--huge.mb-medium.clickable(data-toggle="#product-preview")
                  .thumbnail__img-wrap
                    img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                  img.book-flag.book-flag--large(src="images/content/top100/10dni.png", style="position: absolute; right: 10px; top: -5px;")

                .product-detail__preview-link.text-left
                  .text-space-right
                  button.btn.btn--clean.mb-none(data-toggle="#product-preview")
                    +icon('eye').icon--left.icon--medium
                    span.show-m Pozrieť ukážku
                    span.hide-m ukážka
              .show-m
                .product-detail__preview-link.text-center
                  button.btn.btn--clean(data-toggle="self, #audio-preview" data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-pause` data-toggle-text="Zastaviť")
                    +icon('play').icon--left.icon--medium
                    span.show-m(data-toggle-text-target) Prehrať ukážku
                  audio#audio-preview(data-audioplayer)
                    source(type="audio/aac" src="http://techslides.com/demos/samples/sample.aac")
                    .alert.alert--error-light Váš prehliadač nepodporuje HTML5 audio prehrávač.

          article.col--7.col--s-9.col--m-8.col--l-6

            h1.product-detail__title.mb-small Základy rybolovu pro kluky a holky
            h3.h4.product-detail__subtitle.mb-small Praktický návod ako stretnúť, spoznať a získať ženu svojich snov
            ul.list-inline.list-inline--delimited.product-detail__author.mb-medium.mb-large-m
                li
                  a.link(href="#", data-tooltip, data-html="#author-tooltip", data-tippy-theme="light") Frank Weissert
                li
                  a.link(href="#", data-tooltip, data-html="#author-tooltip", data-tippy-theme="light") Jack Thorne
                li
                  a.link(href="#", data-tooltip, data-html="#author-tooltip", data-tippy-theme="light") John Tiffany
            .bar.bar--small.hide-m
              .bar__item.text-medium
                a.link(href="#") Inspira Publishing
                span.text-color-grey , 2016

            .bar.bar--small.mb-medium
              .bar__item
                .badges.no-mrg
                  .badge
                    .rating-star
                      +icon('star').rating-star__item.icon--medium.is-active
                      +icon('star').rating-star__item.icon--medium.is-active
                      +icon('star').rating-star__item.icon--medium.is-active
                      +icon('star-half').rating-star__item.icon--medium.is-active
                      +icon('star').rating-star__item.icon--medium
                      .rating-star__value
                        | 3,5
                    a.link.text-medium.text-space-left.show-m(href="#recenzie", data-scroll) 234x
              .bar__item.bar__item--shrinkable.show-m
                .badges.no-mrg
                  .badge.badge--green Bestseller
                  .badge.badge--orange Top #98
              .bar__item.bar__item--shrinkable
                .text-medium
                  +icon('coffee').icon--medium.text-space-right-tiny.text-color-grey
                  em(data-tooltip, title="Lorem ipsum dolor sit amet").text-color-grey 3 hodiny čítania

            .bar.mb-medium.show-m
              .bar__item
                dl.no-mrg
                  dt Vydavateľstvo
                  dd
                    a.link(href="#") Inspira Publishing
                    span.text-color-grey , 2016
              .bar__item.bar__item--border
              .bar__item
                dl.no-mrg
                  dt Edícia
                  dd
                    a.link(href="#") Rybolov
              .bar__item.bar__item--border
              .bar__item.bar__item--fill
                .bar.bar--small.align-items-top.no-mrg-bottom
                  .bar__item
                    .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                  .bar__item.bar__item--fill
                    dl.no-mrg
                      dt Tento titul číta aj
                      dd
                        a.link(href="#") Jana Šlinská

            //p.text-medium.hide-m Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy...

            //p.show-m
              | Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké...#{' '}
              a.link(href="#popis-knihy", data-scroll, data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.m + 20}}`) čítaj viac#{' '}
                +icon('arrow-down')

            .show-m
              h2.h3 Ďalšie formáty tejto knihy
              a.btn.btn--ghost.text-space-right.mb-small
                .flex.align-items-middle
                  .flex-shrinkable
                    +icon('products-ebooks').icon--left.icon--medium
                  .flex-fill.text-left
                    | E-kniha#{' '}
                    .text-color-grey 9,99€
              a.btn.btn--ghost.text-space-right.mb-small
                .flex.align-items-middle
                  .flex-shrinkable
                    +icon('products-audiobooks').icon--left.icon--medium
                  .flex-fill.text-left
                    | audiokniha#{' '}
                    .text-color-grey 13,99€
              a.btn.btn--ghost.text-space-right.mb-small
                .flex.align-items-middle
                  .flex-shrinkable
                    +icon('products-books').icon--left.icon--medium
                  .flex-fill.text-left
                    | pevná väzba#{' '}
                    .text-color-grey 13,99€

              a.btn.btn--ghost.mb-small
                .flex.align-items-middle
                  .flex-shrinkable
                    +icon('arrow-down').icon--left.icon--medium
                  .flex-fill.text-left
                    | všetky
                    br
                    | formáty

            //+itemGroup(1).show-m


          .col--l-3.col--m-6.ofst--m-4.ofst--l-0

            .hide-m.mb-medium
              h2.h3 Ďalšie formáty tejto knihy
              .btn-layout.btn-layout--horizontal
                a.btn.btn--ghost.mb-small
                  | E-kniha#{' '}
                  .text-color-grey 9,99€
                a.btn.btn--ghost.mb-small
                  | audiokniha#{' '}
                  .text-color-grey 13,99€
                a.btn.btn--ghost.mb-small
                  | ďalšie formáty#{' '}
                  .text-color-grey od 13,99€
            //+itemGroup(2).hide-m

            include ./modules/card-cart

            .social-buttons.text-center.mb-medium.mb-none-l
              | <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
              | <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>


    section.section.section--secondary.section--overflow
      .wrapper-main
        +sectionHeader({ header: 'Odporúčané knihy a kolekcie', more: false })

        -
          const collections = true,
                ads = true,
                counter = false,
                cartButton = false,
                productInfo = true;

        .carousel-lite.mb-large.mj-carousel
          .carousel-lite__container.mj-carousel__scroll
            .carousel-lite__wrapper.mj-carousel__content
              each item, i in [...books, ...books, ...books, ...books]
                +product().mb-small.text-left.carousel-lite__slide
                  if item.ad && ads
                    .h5.mb-tiny reklama
                  +productCover({cover: item.cover, collection: i < 2 && collections})
                  +productTitle({
                    collection: i < 2 && collections,
                    title: i < 2 && collections ? `Kolekcia ${i + 1}` : item.title, author: i < 2 && collections ? false : item.author, ad: item.ad && ads })
                  if productInfo
                    if cartButton
                      +productBuy({price: item.price})
                    else
                      +productMeta({
                        discount: item.discount,
                        rating: item.rating,
                        price: item.price,
                        collection: i < 2 && collections,
                        soldOut: item.soldOut,
                        upcoming: item.upcoming,
                      })

            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev.mj-carousel__btn--prev
              +icon('arrow-left').icon--medium
            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next.mj-carousel__btn--next
              +icon('arrow-right').icon--medium

    section.section.section--secondary.no-pad-top(style="background-color: #133f7e;")
      .wrapper-main
        a(href='#')
          img.show-m.img.img--fluid(src="images/content/banners/banner.jpg").no-mrg
          img.hide-m.img.img--fluid(src="images/content/banners/banner-mobile.jpg").no-mrg

    div(data-sticky-container)
      section.section
        .wrapper-main
          .row(data-sticky-container)
            .col--l-2.col--m-3.show-m
              div(data-observe-book-detail=bookHeader, data-sticky, data-sticky-class="is-stuck", data-scroll-offset=header.size.m + 40, style="padding: 20px;")
                .thumbnail.thumbnail--book.mb-medium.thumbnail--xlarge
                  .thumbnail__img-wrap
                    img.img.img--fluid(src="images/content/books/sample-15.jpg", alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")

                .h2.text-bold.mb-small.text-center 12,99 €
                .btn-layout--vertical.mb-large
                  button.btn.btn--primary.btn--medium.mb-small(data-toggle='#checkout-notice')
                    | Do košíka

                ul.list.list--with-hover.list--expanded.no-pad(role="navigation", data-gumshoe, data-gumshoe-select="#detail-sections-spy")
                  - const aboutBookScrollOffset = `{"0": ${header.size.default + 80}, "768": ${header.size.m + 10}}`;
                  li
                    a(href="#popis-knihy", data-scroll, data-scroll-offset=aboutBookScrollOffset ) Popis knihy
                  li
                    a(href="#podrobnosti", data-scroll, data-scroll-offset=aboutBookScrollOffset) Podrobnosti
                  li
                    a(href="#recenzie", data-scroll, data-scroll-offset=aboutBookScrollOffset) Recenzie
                  li
                    a(href="#o-autorovi", data-scroll, data-scroll-offset=aboutBookScrollOffset) O autorovi
                  li
                    a(href="#vydavatelstvo", data-scroll, data-scroll-offset=aboutBookScrollOffset) Vydavateľstvo
            .col--m-9.col--l-7

              h2.mb-large Ďalšie formáty tejto knihy

              h3 Čítané kusy
              +groupItem2('Bazárový titul', 4, '')
              +groupItem2('Bazárový titul', 5, '')
              +groupItem2('Bazárový titul', 6, '')

              h3 Knihy
              +groupItem2('Kniha, ', 0, 'pevná väzba, vydavatelstvo Publishing, 2019')
              +groupItem2('Kniha', 0, 'brožovaná väzba, vydavatelstvo Publishing, 2019')

              h3 E-knihy a audioknihy
              +groupItem2('E-kniha', 1, 'vydavatelstvo Publishing, 2019')
              +groupItem2('Audiokniha mp3', 2, 'vydavatelstvo Publishing, 2019')
              +groupItem2('Audiokniha cd', 3, 'vydavatelstvo Publishing, 2019')

              .card.card--notice
                .card__content
                  p Milí Martinusáci, v čase od 29. 6. 2017 do 20. 8. 2017 prebieha vo vydavateľstve Orbis Pictus Istropolizana dovolenka. Objednávky na tituly z tohto vydavateľstva budeme vybavovať v rámci našich možností čo najskôr, no napriek našej snahe môže nastať situácia, že s ich vybavovaním budeme meškať. (Prípadné nevybavené objednávky budeme evidovať a vybavíme ich ako najskôr to bude možné po skončení ich dovolenkovej prestávky.) Ďakujeme za pochopenie.

              section.mb-large#popis-knihy(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)

                h2.mb-medium Popis knihy
                div#book-description(data-collapse="300")
                  .cms-article
                    p
                      i Vždy bolo ťažké byť Harrym Potterom a nie je to ľahké ani dnes, keď je prepracovaným zamestnancom Ministerstva mágie.
                      b - J.K. Rownling

                    h3 Nejaky podnadpis

                    p Harry zápasí s minulosťou, ktorá sa #{' '}
                      a(href="#") ustavične vracia
                      | . Jeho najmladšiemu synovi Albusovi pripadla ťarcha rodinného dedičstva, o ktoré nikdy nemal záujem. Keď minulosť a prítomnosť vytvoria hrozivú výbušnú zmes, otec aj syn musia čeliť nepríjemnej pravde, že raz sa temnota zjaví na nečakaných miestach.

                    h3 Video
                    .cms-video
                      | <iframe width="560" height="315" src="https://www.youtube.com/embed/o8okQYKphKU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                    ul
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu

                    h3 Zoznam titulov
                    ol
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu

                    p.mb-medium Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.

                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#book-description, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

              section.mb-large.hide-l
                .row
                  .col--s-8.ofst--s-center
                    include ./modules/card-buy-together

              section.mb-large
                .card.card--well.no-pad-bottom
                  .card__content
                    #mistake.row.no-mrg-bottom(data-toggle-class="hide")
                      .col--m-8
                        .text-semibold Našli ste v našom obsashu nejaké nepresnosti?
                        div Dajte nám o tom vedieť.
                      .col--m-4.text-right
                        button.btn.btn--ghost.no-mrg(data-toggle="#mistake, #mistake-detail") Nahlásiť chybu
                    #mistake-detail.hide(data-toggle-class="hide")
                      .row
                        .col--fill
                          .text-semibold Našli ste v našom obsashu nejaké nepresnosti?
                          .text-semibold.mb-medium Dajte nám o tom vedieť.
                          p Máte o knihe viac informácií ako je na tejto stránke alebo ste našli chybu? Budeme vám veľmi vďační, ak nám pomôžete s doplnením informácií na našich stránkach.
                        .col--shrink
                          button.btn.btn--clean.text-color-grey
                            +icon('close').icon--medium(data-toggle="#mistake, #mistake-detail")
                      .row
                        .col--m-6
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey meno a priezvisko
                            input.input(type="text", placeholder="Zadajte Vaše meno a priezvisko")
                        .col--m-6
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey e-mail
                            input.input(type="e-mail", placeholder="Zadajte Váš e-mail")
                      .row
                        .col--12
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey text
                            textarea.input(rows="4", placeholder="Napíšte informácie, ktoré chcete doplniť alebo opraviť")
                      .row.mb-medium
                        .col--12
                          .form-control.form-control--checkbox
                            .checkbox.radiocheck--medium
                              input.radiocheck__input(type="checkbox", id="mistake-agree")
                              label.radiocheck__control(for="mistake-agree")
                              label.radiocheck__label(for="mistake-agree") Potvrdzujem, že vyššie uvedené informácie neporušujú autorské práva iných osôb
                                span.text-semibold a súhlasím s ich využitím firmou Martinus, s.r.o.
                      .row
                        .col--12.text-center
                          button.btn(type="submit") odoslať upozornenie

              section.mb-large#podrobnosti(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                .card.card--well.text-medium.no-pad-bottom
                  .card__content
                    .row.no-mrg-bottom
                      .col--6.col--s-4
                        dl
                          dt Počet strán
                          dd 271
                        dl
                          dt Väzba
                          dd pävná s prebalom
                        dl
                          dt Rozmer
                          dd 100x90x25cm
                      .col--6.col--s-4
                        dl
                          dt Hmotnosť
                          dd 330g
                        dl
                          dt Jazyk
                          dd slovenský
                        dl
                          dt ISBN
                          dd 9788055153025

                      .col--6.col--s-4
                        dl
                          dt Rok vydania
                          dd 2017
                        dl
                          dt Katalógové číslo
                          dd 162431
                    .row.no-mrg-bottom
                      .col--12
                        dl
                          dt.mb-small Kategorizácia
                          dd
                            ul.list-inline.list-inline--condensed.mb-small
                              li
                                a.link(href="#") Knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Deti a mládež
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Enciklopédie, náučné knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Ostatné

                            ul.list-inline.list-inline--condensed.mb-small
                              li
                                a.link(href="#") Knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Próza
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Ďalšie druhy prózy

                            ul.list-inline.list-inline--condensed.mb-small
                              li
                                a.link(href="#") Knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Hobby
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Špeciálna kategória

              section.mb-large
                .bar
                  .bar__item.bar__item--fill
                    h2 Čo si myslíme my?
                  .bar__item.bar__item--shrinkable
                    a.link
                      span Naše recenzie na ďalšie knihy
                      +icon('arrow-right').text-space-left-tiny
                .card.card--info.mb-large
                  .card__content
                    .bar
                      .bar__item
                        .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                      .bar__item.bar__item--fill
                        .text-semibold Adela Ostrolúcka
                        .text-size-medium Event Manager
                      .bar__break.hide-m
                      .bar__item
                        +icon('smile', 'icon--medium').text-color-success
                      .bar__item
                        .rating-star
                          each star, starIndex in Array(5)
                            +icon('star').rating-star__item.icon--medium(class=(starIndex <= 4) && 'is-active')
                      .bar__item
                        .text-size-medium 2.3.2017
                    p.bg-blue.mb-none(data-collapse="150") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí. Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                    a.link.text-size-medium(href="javascript:void(0)", data-toggle="previous, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                      +icon('arrow-down')

                  #review-martinus-more.hide(data-toggle-class="hide")
                    .mb-large
                    .card__content.mb-large
                      .bar
                        .bar__item
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill
                          .text-semibold Adela Ostrolúcka
                          .text-size-medium Event Manager
                        .bar__break.hide-m
                        .bar__item
                          +icon('smile', 'icon--medium').text-color-success
                        .bar__item
                          .rating-star
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--medium(class=(starIndex <= 4) && 'is-active')
                        .bar__item
                          .text-size-medium 2.3.2017
                      p.bg-blue.mb-none Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí. Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.

                    .card__content.mb-large
                      .bar
                        .bar__item
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill
                          .text-semibold Adela Ostrolúcka
                          .text-size-medium Event Manager
                        .bar__break.hide-m
                        .bar__item
                          +icon('smile', 'icon--medium').text-color-success
                        .bar__item
                          .rating-star
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--medium(class=(starIndex <= 4) && 'is-active')
                        .bar__item
                          .text-size-medium 2.3.2017
                      p.bg-blue.mb-none Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí. Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.

                  .card__content
                    .bar
                      .bar__item.bar__item--fill.text-right
                        a.btn.btn--small.btn--ghost(href="javascript:void(0)", data-toggle="#review-martinus-more, self", data-toggle-icon="icons_/app.svg#icon-minus", data-toggle-text="Menej hodnotení od ľudí z Martinusu")
                          +icon('plus').icon--left
                          | <span data-toggle-text-target>Viac hodnotení od ľudí z Martinusu</span>

              section.mb-large#recenzie(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                h2 Recenzie

                .card.card--well.mb-large
                  .card__content
                    .row.align-items-center.align-items-middle
                      .col--l-7.text-center
                        p.mb-small Ako sa vám páčila kniha?
                        #rating-star.radiocheck-group.rating-star.rating-star--highlight-on-hover.align-items-center.mb-small.no-mrg-l(data-stars)
                          - for (var abc = 0; abc<5; abc++)
                          input.rating-star__input.radiocheck__input(type="radio", name="review-rating", id="review-rating-" + abc)
                          label.radiocheck__label.no-mrg-left.rating-star__item(for="review-rating-" + abc)
                            +icon('star').icon--xlarge

                      .col--l-5
                        .btn-layout.btn-layout--vertical.no-mrg
                          button.btn(data-toggle="#add-review-modal") Pridať recenziu
                    .row.hide#add-review(data-toggle-class="hide")
                      .col--12.mb-medium
                      .col--12.mb-medium
                        .border-bottom-grey-2
                      .col--12
                        .h4.mb-medium Máte chvíľu čas? Napíšte recenziu
                        include ./modules/review-form

                .row.align-items-center.align-items-middle.book-rating.mb-large
                  .col--l-5
                    .rating-text.text-center
                      .rating-text__value
                        span.text-bold 4,7
                        span.text-color-grey  / 5
                        p.text-medium.text-color-grey.mb-small 1024 hodnotení
                    .rating-star.align-items-center.mb-medium.no-mb-l
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star-half').rating-star__item.icon--large.is-active
                  .col--l-7.col--l-border
                    table.book-rating__table.table.table--clean.no-mrg
                      tbody
                        -
                          const barRating = [857, 10, 24, 3, 12];
                          const barRatingSum = barRating.reduce((a, b) => (a + b), 0);
                        each rating, ratingIndex in barRating
                          tr
                            td
                              .rating-star
                                each star, starIndex in Array(5)
                                  +icon('star').rating-star__item.icon--medium(class=(starIndex <= (4 - ratingIndex)) && 'is-active')
                            td
                              span= barRating[ratingIndex]
                            td(width="100%")
                              -
                                const width = `${Math.floor(barRating[ratingIndex] / barRatingSum * 100)}%`;
                              .rating-bar(class=`rating-bar--${5 - ratingIndex}`, style=`width: ${width};`)

                hr

                //- najuzitocnejsie recenzie
                h2 Najužitočnejšie recenzie
                article.card.card--well.mb-large
                  .card__content
                    .row
                      .col--l-6.mb-medium.mb-none-l
                        header.review__header
                          .bar
                            .review__header-avatar.bar__item
                              .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                              +icon('smile', 'icon--medium').text-color-success.bg-default.icon-useful
                            .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
                              .text-semibold Kamil Peteraj
                              .text-medium Martinus, Obchodná BA
                          .bar
                            .bar__item
                              .badge
                                +icon('star', 'icon--small').text-color-yellow
                                | 4.5
                            .bar__item
                              .text-medium 2.3.2017
                        p#user-review-1.bg-secondary.no-mrg-bottom(data-collapse="200") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                        .product-read-more.mb-small
                          a.link.text-size-medium(href="javascript:void(0)", data-toggle="#user-review-1, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                            +icon('arrow-down')
                        footer.review__footer.btn-layout.btn-layout--horizontal.align-items-middle.no-mrg-bottom
                          button.btn.btn--clean.no-mrg-right
                            +icon('react').icon--left.icon--medium
                            | Reagovať
                          button.btn.btn--clean.no-mrg-right
                            +icon('like').icon--left.icon--medium
                            span.text-normal.text-size-medium= likes

                          button.btn.btn--clean.no-mrg-right
                            +icon('dislike').icon--left.icon--medium
                            span.text-normal.text-size-medium= dislikes

                          button.btn.btn--clean.no-mrg-right(data-toggle="#flag-review" data-toggle-self="false")
                            +icon('flag').icon--medium

                      .col--l-6.col--l-border
                        header.review__header
                          .bar
                            .review__header-avatar.bar__item
                              +icon('avatar').icon--xlarge.text-color-grey
                              +icon('sad', 'icon--medium').text-color-error.bg-default.icon-useful
                            .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
                              .text-semibold Kamil Peteraj
                          .bar
                            .bar__item
                              .badge
                                +icon('star', 'icon--small').text-color-yellow
                                | 4.5
                            .bar__item
                              .text-medium 2.3.2017
                        p#user-review-2.bg-secondary.no-mrg-bottom(data-collapse="200") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                        .product-read-more.mb-small
                          a.link.text-size-medium(href="javascript:void(0)", data-toggle="#user-review-2, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                            +icon('arrow-down')
                        footer.review__footer.btn-layout.btn-layout--horizontal.align-items-middle.no-mrg-bottom
                          button.btn.btn--clean.no-mrg-right
                            +icon('react').icon--left.icon--medium
                            | Reagovať
                          button.btn.btn--clean.no-mrg-right
                            +icon('like').icon--left.icon--medium
                            span.text-normal.text-size-medium= likes

                          button.btn.btn--clean.no-mrg-right
                            +icon('dislike').icon--left.icon--medium
                            span.text-normal.text-size-medium= dislikes

                          button.btn.btn--clean.no-mrg-right(data-toggle="#flag-review" data-toggle-self="false")
                            +icon('flag').icon--medium

                +review({source: true, verified: true, martinus: true,})
                  | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +review({reply: true, name: 'Darina Dobrovská', review: 0, likes: 25, profile: true,})
                  | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +review({reply: false, name: 'Ondrej Vykecal', review: 0, likes: 25, verified: true,})
                  span#review-123456-spoiler-notice(data-toggle-class="hide")
                    span.text-color-grey Tento príspevok je spoiler, takze urcite zvaz ci si to kuknes, lebo to mozes niekedy v buducnosti olutovat. Ked to tak neurobis, tak budes mat problem a tak podobne.
                    br
                    button.link(href="#review-123456-spoiler" data-toggle="#review-123456-spoiler, #review-123456-spoiler-notice") Prajete si ho zobraziť?
                  span#review-123456-spoiler.hide(data-toggle-class="hide")
                    | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.


                +review({avatar: true, name: 'Tomáš Ulej a mam strasne dlhe meno a uvidime co sa stane'})
                  | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +pagination

              hr

              section.mb-large#o-autorovi(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                .bar
                  .bar__item.bar__item--fill
                    h2 O autorovi
                  .bar__break.hide-s
                  .bar__item
                    a.link(href="author.html") Prejsť na stránku autora
                      +icon('arrow-right')

                div#about-author(data-collapse="150")
                  p Narodila sa v marci 1976. V osemnástich rokoch odišla z rodnej Žiliny na vysokú školu do Bratislavy a tam aj ostala. Celý profesionálny život sa venuje žurnalistike, začala ako moderátorka v Rock FM rádiu, potom spolu s Julom Viršíkom tri roky vysielala rannú šou v rádiu Koliba, neskôr OKEY. Aj vďaka bestsellerom Všetko alebo nič, Stalo sa mi všetko a Všetko alebo nič: Príbeh pokračuje, ktoré vyšli s úspechom aj v Česku, sa stala najobľúbenejšou slovenskou autorkou kníh za rok 2009. Ďalšia jej kniha Svet mi je dlžný bola najpredávanejším slovenským titulom roka 2010. Jedna z najpredávanejších slovenských autoriek sa okrem písania venuje aj svojmu vydavateľstvu Evitapress, ktoré založila v roku 2007.
                  article.card.card--well
                    .card__content
                      .row
                        .col--m-shrink
                          img(src="/images/content/author.png", width="100", alt="J. K. Rowling")
                        .col--m-fill
                          h4.mb-small Beseda s autorom: J. K. Rowling
                          .text-color-grey.mb-medium Udalost
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate dictum ante, id ultricies mi bibendum ac. Nulla pretium nisi lorem, eget faucibus leo feugiat sed. Aliquam posuere nibh sit amet aliquam vehicula. Curabitur lobortis nibh vestibulum lobortis luctus. Curabitur a dolor quam. Ut ullamcorper at orci id sollicitudin.
                      .row.mb-medium
                        .col--12
                          .border-bottom-grey-2
                      .row
                        .col--12
                          h4.mb-small Terminy
                          - for (var i = 0; i < 4; ++i) {
                          .bar.mb-medium.text-medium.border-bottom-grey-2
                            .bar__item.mb-small
                              +icon('calendar', 'icon--medium').text-color-grey
                            .bar__item.text-space-right.mb-small
                              .text-semibold 21. 8. 2017, 17:00
                            .bar__item.mb-small
                              +icon('pin', 'icon--medium').text-color-grey
                            .bar__item.bar__item--fill.mb-small Bratislava (Obchodna)
                            .bar__item.mb-small
                              a.link(href="#") Udalosť na Faceboku
                          - }
                          a.link.text-medium Všetky besedy v Martinuse
                            +icon('arrow-right')

                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#about-author, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

              section.mb-large#vydavatelstvo(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                .bar
                  .bar__item.bar__item--fill
                    h2 Vydavateľstvo
                  .bar__break.hide-s
                  .bar__item
                    a.link(#href="#") Všetky knihy vydavateľstva
                      +icon('arrow-right')

                div#publisher(data-collapse="150")
                  p Vydavateľstvo Evitapress sa časom vyprofilovalo na spoločnosť, pod hlavičkou ktorej vydávajú svoje knižky najčítanejšie slovenské autorky. Našimi čitateľmi sú hlavne ženy, ku knižkám z Evitapressu ich pritiahli ich námety, uveriteľnosť a moderný súčasný jazyk našich spisovateliek. Najžiadanejšie „príbehy, ktoré píše život“ vydávame v edícii Evitovky, pre naše najmladšie čitateľky v tínedžerskom veku máme Evitínky, pre milovníčky romantických príbehov Srdcovky, pre tých, čo milujú napínavé romány Detektívky a unikátne kúsky vydávame
                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#publisher, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

            .col--l-3.show-l
              include ./modules/card-buy-together

              article.card.card--well
                .card__content
                  h2.text-center Nachádza sa v kolekcii
                +collectionItemContent({user: true})

    section.section.section-sticky-bottom.hide-m
      .wrapper-main
        .btn-layout--horizontal.mb-medium
          button.btn.btn--primary.btn--medium.mb-small(data-toggle='#checkout-notice').flex-fill
            +icon('cart').icon--left.icon--medium
            | Vložiť do košíka
          button.btn.btn--success.btn--medium.mb-none.flex-fill.text-space-right-tiny(data-toggle='#quick-checkout')
            +icon('fwd').icon--left.icon--medium
            | Zrýchlený nákup

block append tooltips
  //- author tooltip
  include ./modules/tooltip-author

block append scripts
    script.
      document.addEventListener('myAppLoaded', function() {

        var carousel = new window.myApp.CarouselLite(document.querySelector('.mj-carousel'));

        /*var myAlert = new window.myApp.Alert({
          icon: 'check-circle',
          text: 'Upokoj sa, všetko ide podľa plánu. <a class="link" href="#">Viac informácií nájdete tu</a>.'
        });*/

        var productPreviewProductSelect = new window.myApp.Select('#product-preview-product-select', {
          choices: [
            {
              value: 'pevna-vazba',
              label: 'Pevná väzba',
              id: 1,
              customProperties: {
                price: '11,50 €',
                delivery: 'posielame ihneď',
              }
            },
            {
              value: 'e-book',
              label: 'E-book',
              id: 2,
              customProperties: {
                price: '9,50 €',
                delivery: 'posielame ihneď',
              }
            },
          ]
        });

        var dataStoreList = {
          "choices": [{
              "value": 24,
              "label": "Bansk\u00e1 Bystrica",
              "id": 24,
              "selected": false,
              "customProperties": {"status": "success"}
          }, {
              "value": 10,
              "label": "Bratislava (Cubicon)",
              "id": 10,
              "selected": false,
              "customProperties": {"status": "success"}
          }, {
              "value": 7,
              "label": "Bratislava (Obchodn\u00e1)",
              "id": 7,
              "selected": true,
              "customProperties": {"status": "success"}
          }, {
              "value": 12,
              "label": "Ko\u0161ice (OC Gal\u00e9ria)",
              "id": 12,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 22,
              "label": "Lu\u010denec (OC Gal\u00e9ria)",
              "id": 22,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 1,
              "label": "Martin",
              "id": 1,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 4,
              "label": "Nitra (OC Centro)",
              "id": 4,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 18,
              "label": "Poprad (OC F\u00f3rum)",
              "id": 18,
              "selected": false,
              "customProperties": {"status": "success"}
          }, {
              "value": 19,
              "label": "Pova\u017esk\u00e1 Bystrica",
              "id": 19,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 5,
              "label": "\u017dilina (SC Mirage)",
              "id": 5,
              "selected": false,
              "customProperties": {"status": "orange"}
          }]
        };

        var storeListSelect = new window.myApp.Select('.store-list-select', dataStoreList);
        storeListSelect.elements[0].setChoiceByValue('ba-cubicon');
      });

      document.addEventListener('myAppInit', function() {
        var productPreview;

        window.addEventListener('modalOpen', function() {
          productPreview = new window.myApp.ProductPreview();
        });

        window.addEventListener('resize', function() {
          if (productPreview) {
            productPreview.update();
          }
        });
      });

block modals
  .modal-overlay#modal-formats(data-modal)
    .modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__action
            .thumbnail.thumbnail--book.thumbnail--medium.mb-none
              .thumbnail__img-wrap
                img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
          .modal__header__headline.text-center
            .h2.h3 Všetky formáty titulu
          .modal__header__action
            .btn.btn--clean(data-toggle="#modal-formats")
              +icon('close').icon--medium

        .modal__content
          +groupItem('Kniha, ', 0, 'pevná väzba, vydavatelstvo Publishing, 2019')
          +groupItem('Kniha', 0, 'brožovaná väzba, vydavatelstvo Publishing, 2019')
          +groupItem('E-kniha', 1, 'vydavatelstvo Publishing, 2019')
          +groupItem('Audiokniha mp3', 2, 'vydavatelstvo Publishing, 2019')
          +groupItem('Audiokniha cd', 3, 'vydavatelstvo Publishing, 2019')

  .modal-overlay#quick-checkout(data-modal)
    article.modal.modal--small
      section.modal__content.no-pad
        .bar.bar--vertical
          .bar__item.bar__item--fill.no-mrg-bottom

            article.card.card--success.mb-small.mb-medium-m
              .card__content
                .bar.border-bottom-grey.no-mrg--m-down
                  .bar__item.bar__item--fill.no-mrg--m-down
                    h3.text-color-success.mb-medium.text-semibold.mb-none.mb-small-m Zrýchlený nákup
                  .bar__item.no-mrg--m-down
                    button.btn.btn--clean.mb-none.mb-small-m(data-toggle="#quick-checkout")
                      +icon('close').icon--medium.icon--right

                .card.card--notice
                  .card__content.card__content--condensed.text-medium
                    p.mb-tiny Prajete si zapamätať tieto nastavenia pre ďalšie zrýchlené nákupy? Kedykoľvek ich môžete zmeniť v#{' '}
                      a.link nastaveniach účtu
                    .checkbox
                      input.radiocheck__input(type='checkbox', id='quick-checkout-remember', name='quick-checkout-remember')
                      label.radiocheck__control(for='quick-checkout-remember')
                      label.radiocheck__label.text-semibold(for='quick-checkout-remember')
                        | Zapamätať nastavenie pre ďalšie zrýchlené nákupy

                .mb-small.mb-none-m
                +productHorizontal({
                  trash: true,
                  rating: false,
                  titleClass: 'text-color-grey-dark text-medium',
                  coverSize: 'medium',
                  trash: false,
                }).no-mrg-bottom
            .text-center
              a.link(href="#").text-size-medium.text-space-right Zobraziť všetky (+3)#{' '}

          .bar__item.no-mrg-bottom
            .card
              .card__content.no-pad-bottom
                .flex.mb-small
                  .flex-shrinkable.text-space-right
                    h3.mb-none Doručenie
                  .flex-shrinkable
                    a.link zmeniť
                b Slovenská pošta na adresu:
                .mb-medium
                  | Lighting Beetle s.r.o.
                  br
                  | Bydučínska 51
                  br
                  | 12585 Bratislava
                  small.text-color-grey.flex.align-items-middle
                    +icon('info').icon--small
                    span.text-space-right-tiny Doručovacia adresa je rovnaká ako fakturačná
                    a.link zmeniť

                .flex
                  .flex-shrinkable.text-space-right
                    h3.mb-none Platba
                  .flex-shrinkable
                    a.link zmeniť
                b Kartou#{' '}
                | **** **** **** 4567
                img.text-space-left(src=`${assetsPrefix}images/content/banks/sk/visa.png`, alt="VISA", width="32")

          .bar__item
            article.card
              .card__content

                .bar.align-items-bottom.mb-none
                  .bar__item Spolu
                  .bar__item.bar__item--fill.text-right
                    h1 21,77 €

                .bar.align-items-bottom.text-color-grey.text-size-medium
                  .bar__item.bar__item--fill.text-right U nás ušetríte 2,00 €

                .row
                  .col--s-11.col--m-7.ofst--center
                    button.block-fill.clickable(type="submit")
                      .btn-layout--vertical.mb-small
                        .btn.btn--primary
                          | záväzne objednať a zaplatiť
                      p.no-mrg.text-center.text-size-small Objednávka vyžaduje platbu za tovar
