extends layouts/_default

include ./mixins/booksCarouselRecommended
include ./mixins/breadcrumbs
include ./mixins/pagination
include ./mixins/review
include ./mixins/sectionHeader
include ./mixins/icon
include ./mixins/collectionItem

block opts
    - var pageTitle = 'Detail knihy';
    - var bookHeader = true;
    - var pageClass = 'is-consent';
    - var gdpr = true;

block content
  main
    div(data-sticky-container)
      section.section--secondary.section.section--toolbar.hide-m(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-scroll-offset=header.size.default)
        .wrapper-main
          .bar.bar--small.mb-small
            .bar__item.bar__item--fill
              .btn-layout.btn-layout--vertical
                .btn-dropdown.m-none
                  button.btn.btn--clean.btn--lowercase.btn--icon-right.text-left(
                    data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                    data-toggle-expand,
                    aria-haspopup="true"
                  )
                    span.text-size-medium Slovenčina, pevná väzba#{' '}
                    span.text-color-grey.text-nowrap 12,99 €
                    +icon('chevron-down', 'icon-dropdown').icon--medium
                  .dropdown(data-dropdown, data-toggle-expand)
                    .dropdown__wrap
                      a(href="#").dropdown__item.text-wrap
                        .bar.mb-none
                          .bar__item.bar__item--fill
                            div Slovenčina, e-kniha
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 18,00 €
                            .text-color-grey -10%
                      a(href="#").dropdown__item.text-wrap
                        .bar.mb-none
                          .bar__item.bar__item--fill
                            div Slovenčina, brožovaná väzba
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 16,00 €
                            .text-color-grey -10%
                      a(href="#").dropdown__item.text-wrap
                        .bar.mb-none
                          .bar__item.bar__item--fill
                            div Český jazyk, E-kniha
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 8,00 €
                            .text-color-grey -5%
                      a(href="#").dropdown__item.text-wrap
                        .bar.mb-none
                          .bar__item.bar__item--fill
                            div Český jazyk, audio kniha Donec id elit non mi porta gravida at eget metus.
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 12,00 €
                            .text-color-grey -2%

      section.section--breadcrumbs
        .wrapper-main
          .bar.mb-none
            .bar__item.bar__item--shrinkable
              +breadcrumbs({ breadcrumbs: ['Knihy', 'Deti a mládež', 'Encyklopédie, náučné knihy', 'Ostatné', 'Základy rybolovu pro kluky a holky'] })

      section.section.mb-large
        .wrapper-main
          .row.product-detail
            .col--5.col--s-3.col--m-4.col--l-3
              h3.mb-large Tlačená kniha
              .product-detail__preview
                .product-detail__image.bookmark__wrap
                  .thumbnail.thumbnail--book.thumbnail--large-shadow.thumbnail--huge.mb-none.clickable(data-toggle="#product-preview")
                    .thumbnail__img-wrap
                      img.img.img--fluid(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                    .bookmark
                      +icon('martinus')
                .text-center
                  button.btn.btn--clean.mb-none(data-toggle="#product-preview")
                    +icon('eye').icon--left.icon--medium
                    span.show-l Zobraziť ukážku
                    span.hide-l Ukážka
            .col--5.col--s-3.col--m-4.col--l-3
              h3.mb-large E-kniha
              .product-detail__preview
                .product-detail__image.bookmark__wrap
                  .thumbnail.thumbnail--huge.mb-none.clickable(data-toggle="#product-preview")
                    .thumbnail__img-wrap
                      img.img.img--fluid(src=`${assetsPrefix}images/content/books/sample-25.jpg`)
                    .bookmark
                      +icon('martinus')
                .text-center
                  button.btn.btn--clean.mb-none(data-toggle="#product-preview")
                    +icon('download').icon--left.icon--medium
                    span.show-l Stiahnuť ukážku
                    span.hide-l Ukážka
            .col--5.col--s-3.col--m-4.col--l-3
              h3.mb-large Audiokniha
              .product-detail__preview
                .product-detail__image.bookmark__wrap
                  .thumbnail.thumbnail--huge.mb-none.clickable(data-toggle="#product-preview")
                    .thumbnail__img-wrap
                      img.img.img--fluid(src=`${assetsPrefix}images/content/books/sample-24.jpg`)
                    .bookmark
                      +icon('martinus')
                .show-m
                  .product-detail__preview-link.text-center
                    button.btn.btn--clean(data-toggle="self, #audio-preview" data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-pause` data-toggle-text="Zastaviť")
                      +icon('play').icon--left.icon--medium
                      span.show-m(data-toggle-text-target) Prehrať ukážku
                    audio#audio-preview(data-audioplayer)
                      source(type="audio/aac" src="http://techslides.com/demos/samples/sample.aac")
                      .alert.alert--error-light Váš prehliadač nepodporuje HTML5 audio prehrávač.
            .col--5.col--s-3.col--m-4.col--l-3
              h3.mb-large Ostatný tovar
              .product-detail__preview
                .product-detail__image
                  .thumbnail.thumbnail--huge.mb-none.clickable(data-toggle="#product-preview")
                    .thumbnail__img-wrap
                      img.img.img--fluid(src=`${assetsPrefix}images/content/books/sample-23.jpg`)
                .text-center
                  button.btn.btn--clean.mb-none(data-toggle="#product-preview")
                    +icon('eye').icon--left.icon--medium
                    span Viac fotiek

block append modals
  include ./modules/product-preview

  //- flag review modal
  include ./modules/flag-review

  //- book reservation modal
  include ./modules/book-reservation

block append tooltips
  //- author tooltip
  include ./modules/tooltip-author

  #reader-tooltip.hide.card
    .card__content.card__content--condensed.text-left
      .bar.mb-small.mb-m-medium
        .bar__item
          a.h3.link Darina Dobrovská
        .bar__item.bar__item--fill
          .bar.mb-none.justify-content-end
            .bar__item
              button.btn.btn--clean
                +icon('eye', 'icon--medium').icon--left.text-color-grey
                span.show-m sledovať
              button.btn.btn--small.mb-none.btn--clean
                +icon('check-circle').icon--small.icon--left
                | #{' '}Sledované
      .row.align-items-start
        .col--2.col--m-3
          .portrait(style="background-image: url('images/content/avatars/f.jpg');")
        .col--10.col--m-9.pl-none
          #badges.club-badges(data-collapse="150").mb-small
            .club-badges__item
              .club-badge
                img(src="images/content/club/badges/badges-01.png")
            .club-badges__item
              .club-badge.bg-yellow
                img(src="images/content/club/badges/badges-02.png")
            .club-badges__item
              .club-badge.bg-green
                img(src="images/content/club/badges/badges-03.png")
            .club-badges__item
              .club-badge.bg-violet
                img(src="images/content/club/badges/badges-04.png")
            .club-badges__item
              .club-badge
                img(src="images/content/club/badges/badges-05.png")
            .club-badges__item
              .club-badge
                img(src="images/content/club/badges/badges-06.png")
            .club-badges__item
              .club-badge.bg-yellow
                img(src="images/content/club/badges/badges-07.png")
            .club-badges__item
              .club-badge.bg-green
                img(src="images/content/club/badges/badges-08.png")

          .bar
            .bar__item.bar__item--shrinkable.mr-small
              .product__img.product__cover
                .thumbnail.thumbnail--book.thumbnail--small
                  a(href=`${assetsPrefix}detail-knihy${htmlPostfix}`)
                    .thumbnail__img-wrap
                      img(src=`https://mrtns.eu/tovar/_m/320/m320007.jpg?v=1534842754`).img
            .bar__item.bar__item--fill
              .h5.mb-none Práve čítam
              a.link.link--product Základy rybolovu pro kluky a holky

          p.text-left.mb-none Milujem knihy... Všetky... Nové, staré, hrubé, tenké... Hlavne tie, ktoré sú moje! Raz som povedala mame, že by som chcela vlastné kníhkupectvo. Podľa nej to bol zlý nápad, lebo by som nedovolila, aby si ľudia brali moje knihy...


    .card__footer
      button.btn.btn--clean.mb-none
        span.ml-small zobraziť čitateľský profil
        +icon('arrow-right')

block append scripts
    script.
      document.addEventListener('myAppInit', function () {
        let productPreview;

        window.addEventListener('modalOpen', function () {
          productPreview = new window.myApp.ProductPreview();
        });

        window.addEventListener('resize', function () {
          if (productPreview) {
            productPreview.update();
          }
        });
      });
