extends layouts/_default

include ./mixins/booksCarouselRecommended
include ./mixins/breadcrumbs
include ./mixins/pagination
include ./mixins/review
include ./mixins/sectionHeader
include ./mixins/icon

block opts
    - var pageTitle = 'Detail knihy';
    - var bookHeader = true;
    - var pageClass = 'is-consent';
    - var gdpr = true;

block content
  main
    div(data-sticky-container)
      section.section--secondary.section.section--toolbar.hide-m(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-scroll-offset=header.size.default)
        .wrapper-main
          .bar.bar--small.mb-small
            .bar__item.bar__item--fill
              .btn-layout.btn-layout--vertical
                .btn-dropdown.no-mrg
                  button.btn.btn--clean.btn--lowercase.btn--icon-right.text-left(
                    data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                    data-toggle-expand,
                    aria-haspopup="true"
                  )
                    span.text-size-medium Slovenčina, pevná väzba#{' '}
                    span.text-color-grey.text-nowrap 12,99 €
                    +icon('chevron-down', 'icon-dropdown').icon--medium
                  .dropdown(data-dropdown, data-toggle-expand)
                    .dropdown__wrap
                      a(href="#").dropdown__item.text-wrap
                        .bar.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div Slovenčina, e-kniha
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 18,00 €
                            .text-color-grey -10%
                      a(href="#").dropdown__item.text-wrap
                        .bar.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div Slovenčina, brožovaná väzba
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 16,00 €
                            .text-color-grey -10%
                      a(href="#").dropdown__item.text-wrap
                        .bar.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div Český jazyk, E-kniha
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 8,00 €
                            .text-color-grey -5%
                      a(href="#").dropdown__item.text-wrap
                        .bar.no-mrg-bottom
                          .bar__item.bar__item--fill
                            div Český jazyk, audio kniha Donec id elit non mi porta gravida at eget metus.
                            .text-color-grey Posielame ihneď
                          .bar__item.text-right
                            .text-semibold.text-color-black 12,00 €
                            .text-color-grey -2%

      section.section--breadcrumbs
        .wrapper-main
          .bar.no-mrg-bottom
            .bar__item.bar__item--shrinkable
              +breadcrumbs({ breadcrumbs: ['Knihy', 'Deti a mládež', 'Encyklopédie, náučné knihy', 'Ostatné', 'Základy rybolovu pro kluky a holky'] })

      .position-relative
        .wrapper-main
          .pagetip.pagetip--top.pagetip--right.pagetip--medium.animated
            .card.card--material.card--material-green
              .card__status
                button.btn.btn--clean.btn--equal
                  +icon('close').icon--small
              .card__content
                .bar.mb-none
                  .bar__item.bar__item--shrinkable
                    +icon('smile').icon--xlarge.text-color-success
                  .bar__item.bar__item--fill
                    p.text-size-medium Toto je veľmi populárna kniha. Za posledný týždeň si ju kúpilo 120 ľudí!

      section.section
        .wrapper-main
          .row.product-detail
            .col--5.col--s-3.col--m-4.col--l-3
              .product-detail__preview
                .product-detail__image
                  .thumbnail.thumbnail--book.thumbnail--large-shadow.thumbnail--huge.mb-medium.clickable(data-toggle="#product-preview")
                    .thumbnail__img-wrap
                      img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                    img.book-flag.book-flag--large(src="images/content/top100/10dni.png", style="position: absolute; right: 10px; top: -5px;")

                  .product-detail__preview-link.text-left
                    .text-space-right
                    button.btn.btn--clean.mb-none(data-toggle="#product-preview")
                      +icon('eye').icon--left.icon--medium
                      span.show-m Pozrieť ukážku
                      span.hide-m ukážka
                .show-m
                  .product-detail__preview-link.text-center
                    button.btn.btn--clean(data-toggle="self, #audio-preview" data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-pause` data-toggle-text="Zastaviť")
                      +icon('play').icon--left.icon--medium
                      span.show-m(data-toggle-text-target) Prehrať ukážku
                    audio#audio-preview(data-audioplayer)
                      source(type="audio/aac" src="http://techslides.com/demos/samples/sample.aac")
                      .alert.alert--error-light Váš prehliadač nepodporuje HTML5 audio prehrávač.

            article.col--7.col--s-9.col--m-8.col--l-6

              .btn-dropdown.mb-small.show-m
                button.btn.btn--small.btn--ghost.btn--icon-right.text-left(
                  data-toggle='self, next', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-chevron-up`,
                  data-toggle-expand,
                  aria-haspopup="true"
                )
                  | Slovenčina, pevná väzba
                  +icon('chevron-down', 'icon-dropdown').icon--medium
                .dropdown(data-dropdown, data-toggle-expand)
                  .dropdown__wrap
                    a(href="#").dropdown__item.text-wrap
                      .bar.text-small.no-mrg-bottom
                        .bar__item.bar__item--fill
                          div Slovenčina, e-kniha
                          .text-color-grey Posielame ihneď
                        .bar__item.text-right
                          .text-semibold.text-color-black 18,00 €
                          .text-color-grey -10%
                    a(href="#").dropdown__item.text-wrap
                      .bar.text-small.no-mrg-bottom
                        .bar__item.bar__item--fill
                          div Slovenčina, brožovaná väzba
                          .text-color-grey Posielame ihneď
                        .bar__item.text-right
                          .text-semibold.text-color-black 16,00 €
                          .text-color-grey -10%
                    a(href="#").dropdown__item.text-wrap
                      .bar.text-small.no-mrg-bottom
                        .bar__item.bar__item--fill
                          div Český jazyk, E-kniha
                          .text-color-grey Posielame ihneď
                        .bar__item.text-right
                          .text-semibold.text-color-black 8,00 €
                          .text-color-grey -5%
                    a(href="#").dropdown__item.text-wrap
                      .bar.text-small.no-mrg-bottom
                        .bar__item.bar__item--fill
                          div Český jazyk, audio kniha Donec id elit non mi porta gravida at eget metus.
                          .text-color-grey Posielame ihneď
                        .bar__item.text-right
                          .text-semibold.text-color-black 12,00 €
                          .text-color-grey -2%

              h1.product-detail__title.mb-small Základy rybolovu pro kluky a holky
              h3.h4.product-detail__subtitle.mb-small Praktický návod ako stretnúť, spoznať a získať ženu svojich snov
              ul.list-inline.list-inline--delimited.product-detail__author.mb-medium.mb-large-m
                  li
                    a.link(href="#", data-tooltip, data-html="#author-tooltip", data-theme="light") Frank Weissert
                  li
                    a.link(href="#", data-tooltip, data-html="#author-tooltip", data-theme="light") Jack Thorne
                  li
                    a.link(href="#", data-tooltip, data-html="#author-tooltip", data-theme="light") John Tiffany
              .bar.bar--small.hide-m
                .bar__item.text-medium
                  a.link(href="#") Inspira Publishing
                  span.text-color-grey , 2016

              .bar.bar--small.mb-medium
                .bar__item
                  .badges.no-mrg
                    .badge
                      .rating-star
                        +icon('star').rating-star__item.icon--medium.is-active
                        +icon('star').rating-star__item.icon--medium.is-active
                        +icon('star').rating-star__item.icon--medium.is-active
                        +icon('star-half').rating-star__item.icon--medium.is-active
                        +icon('star').rating-star__item.icon--medium
                        .rating-star__value
                          | 3,5
                      a.link.text-medium.text-space-left.show-m(href="#recenzie", data-scroll) 234x
                .bar__item.bar__item--shrinkable.show-m
                  .badges.no-mrg
                    .badge.badge--green Bestseller
                    .badge.badge--orange Top #98
                .bar__item.bar__item--shrinkable
                  .text-medium
                    +icon('coffee').icon--medium.text-space-right-tiny.text-color-grey
                    em(data-tooltip, title="Lorem ipsum dolor sit amet").text-color-grey 3 hodiny čítania

              .bar.mb-medium.show-m
                .bar__item
                  dl.no-mrg
                    dt Vydavateľstvo
                    dd
                      a.link(href="#") Inspira Publishing
                      span.text-color-grey , 2016
                .bar__item.bar__item--border
                .bar__item
                  dl.no-mrg
                    dt Edícia
                    dd
                      a.link(href="#") Rybolov
                .bar__item.bar__item--border
                .bar__item.bar__item--fill
                  .bar.bar--small.align-items-top.no-mrg-bottom
                    .bar__item
                      .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    .bar__item.bar__item--fill
                      dl.no-mrg
                        dt Tento titul číta aj
                        dd
                          a.link(href="#") Jana Šlinská

              p.text-medium.hide-m Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy...

              p.show-m Těžko se najde něco napínavějšího než rybolov. Jako mladí sportovní rybáři se z této knihy dozvíte, jak na to, aby dobrodružství jménem rybolov vám od začátku dělalo opravdovou radost. Vysvětlíme vám, jaké

              p
                a.link.text-medium(href="#popis-knihy", data-scroll, data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.m + 20}}`) Čítaj viac#{' '}
                   +icon('arrow-down')


            .col--l-3.col--m-6.ofst--m-4.ofst--l-0
              include ./modules/card-cart

              .social-buttons.text-center.mb-medium.mb-none-l
                | <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-width="100" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                | <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      section.section
        .wrapper-main
          .card.card--info
            .card__content
              .bar
                .bar__item
                  h2 Vydavateľský portál
                .bar__item.bar__item--fill
                  a.link ísť na stránku vydavateľstva
                .bar__item.bar__item--shrinkable
                  .bar.mb-none
                    .bar__item.bar__item--shrinkable
                      | Zobrazovať dáta:#{' '}
                    .bar__item.bar__item--fill
                      select.js-select(data-select-dropdown-width="120px")
                        option za 14 dní
                        option za mesiac
                        option za 6 mesiacov
              div
                .badge.badge--green BB 6
                .badge.badge--green BA-C 6
                .badge.badge--green BA-O 6
                .badge.badge--green KE 6
                .badge.badge--green LC 6
                .badge.badge--green MT-G 6
                .badge.badge--green NR 6
                .badge.badge--green PP 6
                .badge.badge--green PB 6
                .badge.badge--green ZA 6
                .badge.badge--orange IKAR 100
              hr.mb-small
              .bar.mb-small
                .bar__item.bar__item--fill.text-size-medium.text-color-grey
                  b Janko Mrkvička, Ikar (21.2.2017)
                  | #{' '}EAN:#{' '}
                  b 233433233
                  | #{' '}MOC:#{' '}
                  b 10€
                  | #{' '}Naša cena:#{' '}
                  b 9,50€
                  | #{' '}Zľava:#{' '}
                  b 6%
                  | #{' '}Hodnotenie #{' '}
                  b 3,9
                .bar__break.hide-m
                .bar__item
                  button.btn.btn--small.btn--ghost
                    +icon('edit').icon--small.icon--left
                    | Chcem upraviť titul
              hr
              .row.mb-none
                .col--m-3.mb-medium.mb-none-m
                  .bar.bar--vertical.mb-none
                    .bar__item--shrinkable
                      h2.text-size-regular Vývoj predaja (E-shopy)
                    .bar__item
                      canvas#chart-1
                .col--m-3.mb-medium.mb-none-m
                  .bar.bar--vertical.mb-none
                    .bar__item--shrinkable
                      h2.text-size-regular Predaje (Kníhkupectvá)
                    .bar__item
                      canvas#chart-2
                .col--m-3.mb-medium.mb-none-m
                  .bar.bar--vertical.mb-none
                    .bar__item--shrinkable
                      h2.text-size-regular Jednotlivé kníhkupectvá
                    .bar__item
                      canvas#chart-3
                .col--m-3.mb-medium.mb-none-m
                  .bar.bar--vertical.mb-none
                    .bar__item--shrinkable
                      h2.text-size-regular Vývoj ceny
                    .bar__item
                      canvas#chart-4

      section.section.section--secondary.controversial
        .wrapper-main
          .row
            .col--m-6.ofst--m-center
              .text-medium.text-uppercase.text-color-grey-dark.mb-medium Upozornenie
              p Obsah tejto knihy je vnímaný ako kontroverzný. Pri čítaní každej knihy odporúčame nezabúdať na kritické myslenie a názory odborníkov v danej oblasti. Zisk z predaja tejto knihy putuje na podporu neziskových organizácií SuperTrieda a Slovenská debatná asociácia
                a.link.text-medium.text-space-left Prečo?
              a.link.text-medium(href="#popis-knihy", data-scroll, data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.m + 20}}`) Zobraziť anotáciu ku knihe od vydavateľa
                +icon('arrow-down')


      section.section.section--secondary.section--overflow
        .wrapper-main
          +sectionHeader({ header: 'Odporúčané knihy a kolekcie', more: false })

          +booksCarouselRecommended.carousel--fade-outside

      section.section.section--secondary.no-pad-top(style="background-color: #133f7e;")
        .wrapper-main
          a(href='#')
            img.show-m.img.img--fluid(src="images/content/banners/banner.jpg").no-mrg
            img.hide-m.img.img--fluid(src="images/content/banners/banner-mobile.jpg").no-mrg

    div(data-sticky-container)
      section.section.section--secondary.section--toolbar.hide-m(data-observe-book-detail=bookHeader, data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-scroll-offset=header.size.default)
        .wrapper-main
          .bar.bar--small.mb-small
            .bar__item.bar__item--fill
              .form-control.form-control--select.no-mrg
                select.select--clean#detail-sections-spy(data-scroll-offset=header.size.default + 80)
                  option(value="popis-knihy") Popis knihy
                  option(value="podrobnosti") Podrobnosti
                  option(value="recenzie") Recenzie
                  option(value="o-autorovi") O autorovi
                  option(value="vydavatelstvo") Vydavateľstvo

      section.section
        .wrapper-main
          .row(data-sticky-container)
            .col--l-2.col--m-3.show-m
              div(data-observe-book-detail=bookHeader, data-sticky, data-sticky-class="is-stuck", data-scroll-offset=header.size.m + 40, style="padding: 20px;")
                .thumbnail.thumbnail--book.mb-medium.thumbnail--xlarge
                  .thumbnail__img-wrap
                    img.img.img--fluid(src="images/content/books/sample-15.jpg", alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")

                .h2.text-bold.mb-small.text-center 12,99 €
                .btn-layout--vertical.mb-large
                  button.btn.btn--primary.btn--medium.mb-small(data-toggle='#checkout-notice')
                    | Do košíka

                ul.list.list--with-hover.list--expanded.no-pad(role="navigation", data-gumshoe, data-gumshoe-select="#detail-sections-spy")
                  - const aboutBookScrollOffset = `{"0": ${header.size.default + 80}, "768": ${header.size.m + 10}}`;
                  li
                    a(href="#popis-knihy", data-scroll, data-scroll-offset=aboutBookScrollOffset ) Popis knihy
                  li
                    a(href="#podrobnosti", data-scroll, data-scroll-offset=aboutBookScrollOffset) Podrobnosti
                  li
                    a(href="#recenzie", data-scroll, data-scroll-offset=aboutBookScrollOffset) Recenzie
                  li
                    a(href="#o-autorovi", data-scroll, data-scroll-offset=aboutBookScrollOffset) O autorovi
                  li
                    a(href="#vydavatelstvo", data-scroll, data-scroll-offset=aboutBookScrollOffset) Vydavateľstvo
            .col--m-9.col--l-7
              .card.card--notice
                .card__content
                  p Milí Martinusáci, v čase od 29. 6. 2017 do 20. 8. 2017 prebieha vo vydavateľstve Orbis Pictus Istropolizana dovolenka. Objednávky na tituly z tohto vydavateľstva budeme vybavovať v rámci našich možností čo najskôr, no napriek našej snahe môže nastať situácia, že s ich vybavovaním budeme meškať. (Prípadné nevybavené objednávky budeme evidovať a vybavíme ich ako najskôr to bude možné po skončení ich dovolenkovej prestávky.) Ďakujeme za pochopenie.

              section.mb-large#popis-knihy(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)

                h2.mb-medium Popis knihy
                div#book-description(data-collapse="300")
                  .cms-article
                    p
                      i Vždy bolo ťažké byť Harrym Potterom a nie je to ľahké ani dnes, keď je prepracovaným zamestnancom Ministerstva mágie.
                      b - J.K. Rownling

                    h3 Nejaky podnadpis

                    p Harry zápasí s minulosťou, ktorá sa #{' '}
                      a(href="#") ustavične vracia
                      | . Jeho najmladšiemu synovi Albusovi pripadla ťarcha rodinného dedičstva, o ktoré nikdy nemal záujem. Keď minulosť a prítomnosť vytvoria hrozivú výbušnú zmes, otec aj syn musia čeliť nepríjemnej pravde, že raz sa temnota zjaví na nečakaných miestach.

                    h3 Video
                    .cms-video
                      | <iframe width="560" height="315" src="https://www.youtube.com/embed/o8okQYKphKU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>

                    ul
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu
                      li Nejaka polozka zoznamu

                    h3 Zoznam titulov
                    ol
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu
                      li
                        a(href="#") Nejaka polozka zoznamu

                    p.mb-medium Slovenskú verziu scenára Harry Potter a prekliate dieťa v elektronickej verzii vydá spoločnosť Pottermore, globálny digitálny vydavateľ Harryho Pottera, ktorého založila sama J. K. Rowlingová v roku 2012.

                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#book-description, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

              section.mb-large.hide-l
                .row
                  .col--s-8.ofst--s-center
                    include ./modules/card-buy-together

              section.mb-large
                .card.card--well.no-pad-bottom
                  .card__content
                    #mistake.row.no-mrg-bottom(data-toggle-class="hide")
                      .col--m-8
                        .text-semibold Našli ste v našom obsashu nejaké nepresnosti?
                        div Dajte nám o tom vedieť.
                      .col--m-4.text-right
                        button.btn.btn--ghost.no-mrg(data-toggle="#mistake, #mistake-detail") Nahlásiť chybu
                    #mistake-detail.hide(data-toggle-class="hide")
                      .row
                        .col--fill
                          .text-semibold Našli ste v našom obsashu nejaké nepresnosti?
                          .text-semibold.mb-medium Dajte nám o tom vedieť.
                          p Máte o knihe viac informácií ako je na tejto stránke alebo ste našli chybu? Budeme vám veľmi vďační, ak nám pomôžete s doplnením informácií na našich stránkach.
                        .col--shrink
                          button.btn.btn--clean.text-color-grey
                            +icon('close').icon--medium(data-toggle="#mistake, #mistake-detail")
                      .row
                        .col--m-6
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey meno a priezvisko
                            input.input(type="text", placeholder="Zadajte Vaše meno a priezvisko")
                        .col--m-6
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey e-mail
                            input.input(type="e-mail", placeholder="Zadajte Váš e-mail")
                      .row
                        .col--12
                          .form-control.form-control--input
                            .form-label
                              label.text-transform-upper.text-small.text-color-grey text
                            textarea.input(rows="4", placeholder="Napíšte informácie, ktoré chcete doplniť alebo opraviť")
                      .row.mb-medium
                        .col--12
                          .form-control.form-control--checkbox
                            .checkbox.radiocheck--medium
                              input.radiocheck__input(type="checkbox", id="mistake-agree")
                              label.radiocheck__control(for="mistake-agree")
                              label.radiocheck__label(for="mistake-agree") Potvrdzujem, že vyššie uvedené informácie neporušujú autorské práva iných osôb
                                span.text-semibold a súhlasím s ich využitím firmou Martinus, s.r.o.
                      .row
                        .col--12.text-center
                          button.btn(type="submit") odoslať upozornenie

              section.mb-large#podrobnosti(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                .card.card--well.text-medium.no-pad-bottom
                  .card__content
                    .row.no-mrg-bottom
                      .col--6.col--s-4
                        dl
                          dt Počet strán
                          dd 271
                        dl
                          dt Väzba
                          dd pävná s prebalom
                        dl
                          dt Rozmer
                          dd 100x90x25cm
                      .col--6.col--s-4
                        dl
                          dt Hmotnosť
                          dd 330g
                        dl
                          dt Jazyk
                          dd slovenský
                        dl
                          dt ISBN
                          dd 9788055153025

                      .col--6.col--s-4
                        dl
                          dt Rok vydania
                          dd 2017
                        dl
                          dt Katalógové číslo
                          dd 162431
                    .row.no-mrg-bottom
                      .col--12
                        dl
                          dt.mb-small Kategorizácia
                          dd
                            ul.list-inline.list-inline--condensed.mb-small
                              li
                                a.link(href="#") Knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Deti a mládež
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Enciklopédie, náučné knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Ostatné

                            ul.list-inline.list-inline--condensed.mb-small
                              li
                                a.link(href="#") Knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Próza
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Ďalšie druhy prózy

                            ul.list-inline.list-inline--condensed.mb-small
                              li
                                a.link(href="#") Knihy
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Hobby
                              li(role="presentional")
                                +icon('chevron-right', 'text-vamd')
                              li
                                a.link(href="#") Špeciálna kategória

              section.mb-large
                h2 Čo si myslíme my?
                .card.card--info.mb-large
                  .card__content
                    .bar
                      .bar__item
                        .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                      .bar__item.bar__item--fill
                        .text-semibold Adela Ostrolúcka
                        .text-size-medium Event Manager
                      .bar__break.hide-m
                      .bar__item
                        +icon('smile', 'icon--medium').text-color-success
                      .bar__item
                        .rating-star
                          each star, starIndex in Array(5)
                            +icon('star').rating-star__item.icon--medium(class=(starIndex <= 4) && 'is-active')
                      .bar__item
                        .text-size-medium 2.3.2017
                    p.bg-blue.mb-none(data-collapse="150") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí. Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                    a.link.text-size-medium(href="javascript:void(0)", data-toggle="previous, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                      +icon('arrow-down')

                  #review-martinus-more.hide(data-toggle-class="hide")
                    .mb-large
                    .card__content.mb-large
                      .bar
                        .bar__item
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill
                          .text-semibold Adela Ostrolúcka
                          .text-size-medium Event Manager
                        .bar__break.hide-m
                        .bar__item
                          +icon('smile', 'icon--medium').text-color-success
                        .bar__item
                          .rating-star
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--medium(class=(starIndex <= 4) && 'is-active')
                        .bar__item
                          .text-size-medium 2.3.2017
                      p.bg-blue.mb-none Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí. Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.

                    .card__content.mb-large
                      .bar
                        .bar__item
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill
                          .text-semibold Adela Ostrolúcka
                          .text-size-medium Event Manager
                        .bar__break.hide-m
                        .bar__item
                          +icon('smile', 'icon--medium').text-color-success
                        .bar__item
                          .rating-star
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--medium(class=(starIndex <= 4) && 'is-active')
                        .bar__item
                          .text-size-medium 2.3.2017
                      p.bg-blue.mb-none Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí. Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.

                  .card__content
                    .bar
                      .bar__item.bar__item--fill.text-right
                        a.btn.btn--small.btn--ghost(href="javascript:void(0)", data-toggle="#review-martinus-more, self", data-toggle-icon="icons_/app.svg#icon-minus", data-toggle-text="Menej hodnotení od ľudí z Martinusu")
                          +icon('plus').icon--left
                          | <span data-toggle-text-target>Viac hodnotení od ľudí z Martinusu</span>

              section.mb-large#recenzie(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                h2 Recenzie

                .card.card--well.mb-large
                  .card__content
                    .row.align-items-center.align-items-middle
                      .col--l-7.text-center
                        p.mb-small Ako sa vám páčila kniha?
                        #rating-star.radiocheck-group.rating-star.rating-star--highlight-on-hover.align-items-center.mb-small.no-mrg-l(data-stars)
                          - for (var abc = 0; abc<5; abc++)
                            input.rating-star__input.radiocheck__input(type="radio", name="review-rating", id="review-rating-"+abc)
                            label.radiocheck__label.no-mrg-left.rating-star__item(for="review-rating-"+abc)
                              +icon('star').icon--xlarge

                      .col--l-5
                        .btn-layout.btn-layout--vertical.no-mrg
                          button.btn(data-toggle="#add-review-modal") Pridať recenziu
                    .row.hide#add-review(data-toggle-class="hide")
                      .col--12.mb-medium
                      .col--12.mb-medium
                        .border-bottom-grey-2
                      .col--12
                        .h4.mb-medium Máte chvíľu čas? Napíšte recenziu
                        include ./modules/review-form

                .row.align-items-center.align-items-middle.book-rating.mb-large
                  .col--l-5
                    .rating-text.text-center
                      .rating-text__value
                        span.text-bold 4,7
                        span.text-color-grey  / 5
                        p.text-medium.text-color-grey.mb-small 1024 hodnotení
                    .rating-star.align-items-center.mb-medium.no-mb-l
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star').rating-star__item.icon--large.is-active
                      +icon('star-half').rating-star__item.icon--large.is-active
                  .col--l-7.col--l-border
                    table.book-rating__table.table.table--clean.no-mrg
                      tbody
                        -
                          const barRating = [857, 10, 24, 3, 12];
                          const barRatingSum = barRating.reduce((a, b) => (a + b), 0);
                        each rating, ratingIndex in barRating
                          tr
                            td
                              .rating-star
                                each star, starIndex in Array(5)
                                  +icon('star').rating-star__item.icon--medium(class=(starIndex <= (4 - ratingIndex)) && 'is-active')
                            td
                              span= barRating[ratingIndex]
                            td(width="100%")
                              -
                                const width = `${Math.floor(barRating[ratingIndex] / barRatingSum * 100)}%`;
                              .rating-bar(class=`rating-bar--${5 - ratingIndex}`, style=`width: ${width};`)

                hr

                //- najuzitocnejsie recenzie
                h2 Najužitočnejšie recenzie
                article.card.card--well.mb-large
                  .card__content
                    .row
                      .col--l-6.mb-medium.mb-none-l
                        header.review__header
                          .bar
                            .review__header-avatar.bar__item
                              .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                              +icon('smile', 'icon--medium').text-color-success.bg-default.icon-useful
                            .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
                              .text-semibold Kamil Peteraj
                              .text-medium Martinus, Obchodná BA
                          .bar
                            .bar__item
                              .badge
                                +icon('star', 'icon--small').text-color-yellow
                                | 4.5
                            .bar__item
                              .text-medium 2.3.2017
                        p#user-review-1.bg-secondary.no-mrg-bottom(data-collapse="200") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                        .product-read-more.mb-small
                          a.link.text-size-medium(href="javascript:void(0)", data-toggle="#user-review-1, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                            +icon('arrow-down')
                        footer.review__footer.btn-layout.btn-layout--horizontal.align-items-middle.no-mrg-bottom
                          button.btn.btn--clean.no-mrg-right
                            +icon('react').icon--left.icon--medium
                            | Reagovať
                          button.btn.btn--clean.no-mrg-right
                            +icon('like').icon--left.icon--medium
                            span.text-normal.text-size-medium= likes

                          button.btn.btn--clean.no-mrg-right
                            +icon('dislike').icon--left.icon--medium
                            span.text-normal.text-size-medium= dislikes

                          button.btn.btn--clean.no-mrg-right(data-toggle="#flag-review" data-toggle-self="false")
                            +icon('flag').icon--medium

                      .col--l-6.col--l-border
                        header.review__header
                          .bar
                            .review__header-avatar.bar__item
                              +icon('avatar').icon--xlarge.text-color-grey
                              +icon('sad', 'icon--medium').text-color-error.bg-default.icon-useful
                            .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
                              .text-semibold Kamil Peteraj
                          .bar
                            .bar__item
                              .badge
                                +icon('star', 'icon--small').text-color-yellow
                                | 4.5
                            .bar__item
                              .text-medium 2.3.2017
                        p#user-review-2.bg-secondary.no-mrg-bottom(data-collapse="200") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                        .product-read-more.mb-small
                          a.link.text-size-medium(href="javascript:void(0)", data-toggle="#user-review-2, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                            +icon('arrow-down')
                        footer.review__footer.btn-layout.btn-layout--horizontal.align-items-middle.no-mrg-bottom
                          button.btn.btn--clean.no-mrg-right
                            +icon('react').icon--left.icon--medium
                            | Reagovať
                          button.btn.btn--clean.no-mrg-right
                            +icon('like').icon--left.icon--medium
                            span.text-normal.text-size-medium= likes

                          button.btn.btn--clean.no-mrg-right
                            +icon('dislike').icon--left.icon--medium
                            span.text-normal.text-size-medium= dislikes

                          button.btn.btn--clean.no-mrg-right(data-toggle="#flag-review" data-toggle-self="false")
                            +icon('flag').icon--medium

                +review({ source: true, verified: true, martinus: true, })
                  | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +review({ reply: true, name: 'Darina Dobrovská', review: 0, likes: 25, profile: true,})
                  | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +review({ reply: false, name: 'Ondrej Vykecal', review: 0, likes: 25, verified: true,})
                  span#review-123456-spoiler-notice(data-toggle-class="hide")
                    span.text-color-grey Tento príspevok je spoiler, takze urcite zvaz ci si to kuknes, lebo to mozes niekedy v buducnosti olutovat. Ked to tak neurobis, tak budes mat problem a tak podobne.
                    br
                    button.link(href="#review-123456-spoiler" data-toggle="#review-123456-spoiler, #review-123456-spoiler-notice") Prajete si ho zobraziť?
                  span#review-123456-spoiler.hide(data-toggle-class="hide")
                    | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.


                +review({ avatar: true, name: 'Tomáš Ulej a mam strasne dlhe meno a uvidime co sa stane'})
                  | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

                +pagination

              hr

              section.mb-large#o-autorovi(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                .bar
                  .bar__item.bar__item--fill
                    h2 O autorovi
                  .bar__break.hide-s
                  .bar__item
                    a.link(href="author.html") Prejsť na stránku autora
                      +icon('arrow-right')

                div#about-author(data-collapse="150")
                  p Narodila sa v marci 1976. V osemnástich rokoch odišla z rodnej Žiliny na vysokú školu do Bratislavy a tam aj ostala. Celý profesionálny život sa venuje žurnalistike, začala ako moderátorka v Rock FM rádiu, potom spolu s Julom Viršíkom tri roky vysielala rannú šou v rádiu Koliba, neskôr OKEY. Aj vďaka bestsellerom Všetko alebo nič, Stalo sa mi všetko a Všetko alebo nič: Príbeh pokračuje, ktoré vyšli s úspechom aj v Česku, sa stala najobľúbenejšou slovenskou autorkou kníh za rok 2009. Ďalšia jej kniha Svet mi je dlžný bola najpredávanejším slovenským titulom roka 2010. Jedna z najpredávanejších slovenských autoriek sa okrem písania venuje aj svojmu vydavateľstvu Evitapress, ktoré založila v roku 2007.
                  article.card.card--well
                    .card__content
                      .row
                        .col--m-shrink
                          img(src="/images/content/author.png", width="100", alt="J. K. Rowling")
                        .col--m-fill
                          h4.mb-small Beseda s autorom: J. K. Rowling
                          .text-color-grey.mb-medium Udalost
                          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vulputate dictum ante, id ultricies mi bibendum ac. Nulla pretium nisi lorem, eget faucibus leo feugiat sed. Aliquam posuere nibh sit amet aliquam vehicula. Curabitur lobortis nibh vestibulum lobortis luctus. Curabitur a dolor quam. Ut ullamcorper at orci id sollicitudin.
                      .row.mb-medium
                        .col--12
                          .border-bottom-grey-2
                      .row
                        .col--12
                          h4.mb-small Terminy
                          - for (var i = 0; i < 4; ++i) {
                            .bar.mb-medium.text-medium.border-bottom-grey-2
                              .bar__item.mb-small
                                +icon('calendar', 'icon--medium').text-color-grey
                              .bar__item.text-space-right.mb-small
                                .text-semibold 21. 8. 2017, 17:00
                              .bar__item.mb-small
                                +icon('pin', 'icon--medium').text-color-grey
                              .bar__item.bar__item--fill.mb-small Bratislava (Obchodna)
                              .bar__item.mb-small
                                a.link(href="#") Udalosť na Faceboku
                          - }
                          a.link.text-medium Všetky besedy v Martinuse
                            +icon('arrow-right')

                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#about-author, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

              section.mb-large#vydavatelstvo(data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                .bar
                  .bar__item.bar__item--fill
                    h2 Vydavateľstvo
                  .bar__break.hide-s
                  .bar__item
                    a.link(#href="#") Všetky knihy vydavateľstva
                      +icon('arrow-right')

                div#publisher(data-collapse="150")
                  p Vydavateľstvo Evitapress sa časom vyprofilovalo na spoločnosť, pod hlavičkou ktorej vydávajú svoje knižky najčítanejšie slovenské autorky. Našimi čitateľmi sú hlavne ženy, ku knižkám z Evitapressu ich pritiahli ich námety, uveriteľnosť a moderný súčasný jazyk našich spisovateliek. Najžiadanejšie „príbehy, ktoré píše život“ vydávame v edícii Evitovky, pre naše najmladšie čitateľky v tínedžerskom veku máme Evitínky, pre milovníčky romantických príbehov Srdcovky, pre tých, čo milujú napínavé romány Detektívky a unikátne kúsky vydávame
                .product-read-more
                  a.link.text-size-medium(href="javascript:void(0)", data-toggle="#publisher, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                    +icon('arrow-down')

            .col--l-3.show-l
              include ./modules/card-buy-together

    section.section.section--secondary.section--overflow
      .wrapper-main
        +sectionHeader({ header: 'Odporúčané knihy a kolekcie' })

        +booksCarouselRecommended.carousel--fade-outside

    include ./modules/seen-items
    include ./modules/seen-items-delete

    section.section.section-sticky-bottom.hide-m
      .wrapper-main
        .btn-layout--vertical.mb-medium
          button.btn.btn--primary.btn--large.mb-small(data-toggle='#checkout-notice')
            +icon('cart').icon--left.icon--medium
            | Vložiť do košíka

  .modal-overlay.active#after-review-modal(data-modal)
    .modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            .h2 Poznáte nový čitateľský profil?
          .modal__header__action
            .btn.btn--clean(data-toggle="#after-review-modal")
              +icon('close').icon--medium

        img.img(src="https://mrtns.eu/img/custom/62683_header_profil.jpg")

        .modal__content

          .alert.alert--success-light
            .bar.mb-none
              .bar__item.bar__item--shrinkable
                +icon('check-circle').icon--large
              .bar__item.bar__item--fill
                | Ďakujeme za recenziu. Lorem ipsum dolor sit amet

          .text-center.mb-medium
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id posuere nisl, pulvinar facilisis ligula. Aenean rutrum velit eget elementum vehicula. Nullam sollicitudin arcu eleifend nibh ornare, volutpat commodo sem pulvinar.

            a(href="#").btn.btn--primary Aktivovať čitateľský profil

  .modal-overlay#add-review-modal(data-modal)
    .modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            .h2.h3 Máte minútku? Napíšte recenziu a pomôžte ostatným čitateľom
          .modal__header__action
            .btn.btn--clean(data-toggle="#add-review-modal")
              +icon('close').icon--medium
        .modal__content.bg-secondary
          .row.align-items-center.align-items-middle
            .col--l-7.text-center
              p.mb-small Ako sa vám páčila kniha?
              #rating-star.radiocheck-group.rating-star.rating-star--highlight-on-hover.align-items-center.mb-small.no-mrg-l.checked(data-stars)
                - for (var abc = 0; abc<5; abc++)
                  input.rating-star__input.radiocheck__input(type="radio", name="review-rating", id="review-rating-" + abc)
                  label.radiocheck__label.no-mrg-left.rating-star__item(for="review-rating-" + abc)
                    +icon('star').icon--xlarge
            .col--l-5
              .btn-layout.btn-layout--vertical.no-mrg
                button.btn(data-toggle="#add-review-modal", disabled)
                  +icon('check-circle')
                  | #{' '}ohodnotené

        .modal__content
          .form-control.form-control--input
            .form-label
              label.text-transform-upper.text-small.text-color-grey Názov recenzie
            input.input(type="text", placeholder="Napíšte názov recenzie")
          .form-control.form-control--textarea
            .form-label
              label.text-transform-upper.text-small.text-color-grey Text recenzie
            textarea.input(rows="5", placeholder="Napíšte svoju recenziu. Recenzia musí mať aspoň 150 znakov.")

          //-.mb-medium
            .row.mb-none.align-items-middlet
              .col--m-6
                .form-control.form-control--input.mb-tiny(style="position: relative;")
                  .form-label
                    label.text-transform-upper.text-small.text-color-grey Ďalšie knihy, ktoré sa vám páčili
                  input.input(type="text", placeholder="Začnite písať názov knihy...")
            each item, index in books
              if index < 3
                .badge.mb-tiny=item.title

          .form-control.form-control--checkbox
            .checkbox
              input.radiocheck__input(type="checkbox", id="review-spoiler")
              label.radiocheck__control(for="review-spoiler")
              label.radiocheck__label(for="review-spoiler") Môj príspevok prezrádza momenty z deja.
          .mb-large
            p.text-medium
              span(data-toggle-text="Recenzia bude uverejnená anonymne. ") Recenzia bude uverejnená pod menom#{' '}
                span.text-semibold Bartolomej.#{' '}
              a.link(href="javascript:void(0)", data-toggle="self, #anonymous, previous", data-toggle-text="Uverejniť pod menom Bartolomej.") Uverejniť anonymne.
            .row#anonymous.hide(data-toggle-class="hide")
              .col--m-6
                .form-control.form-control--input
                  .form-label
                    label.text-transform-upper.text-small.text-color-grey.form-label--required Meno
                  input.input(type="text", placeholder="Vaše meno")
              .col--m-6
                .form-control.form-control--input
                  .form-label
                    label.text-transform-upper.text-small.text-color-grey.form-label--required E-mail
                  input.input(type="email", placeholder="Váš email")
          .btn-layout--horizontal.align-items-center
            button.btn.btn--ghost(type="button" data-toggle="#add-review-modal") Zrušiť
            button.btn(type="button" data-toggle="#flag-review") Odoslať recenziu
          .text-small.text-center Odoslaním príspevku súhlasíte s našimi#{' '}
            a.link(href="#") podmienkami používania služby recenzií
            | .

block append modals
  include ./modules/product-preview

  //- flag review modal
  include ./modules/flag-review

  //- book reservation modal
  include ./modules/book-reservation
  
block append tooltips 
  //- author tooltip
  include ./modules/tooltip-author

block append scripts
  script(src=`${assetsPrefix}scripts/charts.js`)
  script.
    [1,2,3,4].forEach(i => {
      var ctx = document.getElementById("chart-" + i).getContext('2d');
      if (i == 3) {
        var myChart = new window.myApp.chart(ctx, {
          type: 'pie',
          data: {
            labels: ["BA Obchodná", "NR", "BB", "ZA", "MT",],
            datasets: [{
              label: 'Vývoj predaja (e-shopy)',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
              ],
              borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 1
            }]
          },
          options: {
            legend: {
              display: false
            }
          }
        });
      } else if (i == 4) {
        var myChart = new window.myApp.chart(ctx, {
          type: 'line',
          data: {
            labels: ["1.3.", "2.3.", "3.3.", "4.3.", "5.3.", "6.3."],
            datasets: [{
              label: 'Vývoj predaja (e-shopy)',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: 'rgba(0, 0, 0, 0)',
              borderColor: 'rgba(255,99,132,1)',
              borderWidth: 1
            },
            {
              label: 'Vývoj predaja (e-shopy)',
              data: [12, 1, 4, 7, 4, 8],
              backgroundColor: 'rgba(54, 162, 235, 0.2)',
              borderColor: 'rgba(54, 162, 235, 1)',
              borderWidth: 1
            }]
          },
          options: {
            legend: {
              display: false
            }
          }
        });
      } else {
        var myChart = new window.myApp.chart(ctx, {
          type: 'bar',
          data: {
            labels: ["1.3.", "2.3.", "3.3.", "4.3.", "5.3.", "6.3."],
            datasets: [{
              label: 'Vývoj predaja (e-shopy)',
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                'rgba(0, 182, 235, 0.5)',
                'rgba(0, 182, 235, 0.5)',
                'rgba(0, 182, 235, 0.5)',
                'rgba(0, 182, 235, 0.5)',
                'rgba(0, 182, 235, 0.5)',
                'rgba(0, 182, 235, 0.5)',
              ],
              borderColor: [
                'rgba(0, 182, 235, 1)',
                'rgba(0, 182, 235, 1)',
                'rgba(0, 182, 235, 1)',
                'rgba(0, 182, 235, 1)',
                'rgba(0, 182, 235, 1)',
                'rgba(0, 182, 235, 1)',
              ],
              borderWidth: 1
            }]
          },
          options: {
            legend: {
              display: false
            },
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                }
              }]
            }
          }
        });
      }
    });

block append scripts
    script.
      document.addEventListener('myAppLoaded', function() {

        /*var myAlert = new window.myApp.Alert({
          icon: 'check-circle',
          text: 'Upokoj sa, všetko ide podľa plánu. <a class="link" href="#">Viac informácií nájdete tu</a>.'
        });*/

        var productPreviewProductSelect = new window.myApp.Select('#product-preview-product-select', {
          choices: [
            {
              value: 'pevna-vazba',
              label: 'Pevná väzba',
              id: 1,
              customProperties: {
                price: '11,50 €',
                delivery: 'posielame ihneď',
              }
            },
            {
              value: 'e-book',
              label: 'E-book',
              id: 2,
              customProperties: {
                price: '9,50 €',
                delivery: 'posielame ihneď',
              }
            },
          ]
        });

        var dataStoreList = {
          "choices": [{
              "value": 24,
              "label": "Bansk\u00e1 Bystrica",
              "id": 24,
              "selected": false,
              "customProperties": {"status": "success"}
          }, {
              "value": 10,
              "label": "Bratislava (Cubicon)",
              "id": 10,
              "selected": false,
              "customProperties": {"status": "success"}
          }, {
              "value": 7,
              "label": "Bratislava (Obchodn\u00e1)",
              "id": 7,
              "selected": true,
              "customProperties": {"status": "success"}
          }, {
              "value": 12,
              "label": "Ko\u0161ice (OC Gal\u00e9ria)",
              "id": 12,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 22,
              "label": "Lu\u010denec (OC Gal\u00e9ria)",
              "id": 22,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 1,
              "label": "Martin",
              "id": 1,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 4,
              "label": "Nitra (OC Centro)",
              "id": 4,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 18,
              "label": "Poprad (OC F\u00f3rum)",
              "id": 18,
              "selected": false,
              "customProperties": {"status": "success"}
          }, {
              "value": 19,
              "label": "Pova\u017esk\u00e1 Bystrica",
              "id": 19,
              "selected": false,
              "customProperties": {"status": "orange"}
          }, {
              "value": 5,
              "label": "\u017dilina (SC Mirage)",
              "id": 5,
              "selected": false,
              "customProperties": {"status": "orange"}
          }]
        };

        var storeListSelect = new window.myApp.Select('.store-list-select', dataStoreList);

        /*var storeListSelect = new window.myApp.Select('.store-list-select', {
          choices: [
            {
              value: 'ba-obchodna',
              label: 'Bratislava, Obchodná',
              id: 1,
              customProperties: {
                status: 'success',
                availability: '5+ ks',
              }
            },
            {
              value: 'ba-cubicon',
              label: 'Bratislava, Cubicon',
              id: 2,
              customProperties: {
                status: 'success',
                availability: '5+ ks',
              }
            },
            {
              value: 'ke-galeria',
              label: 'Košice, OC Galéria',
              id: 3,
              customProperties: {
                status: 'orange',
                availability: '3 ks',
              }
            },
            {
              value: 'nr-centro',
              label: 'Nitra, OC Centro',
              id: 4,
              customProperties: {
                status: 'grey',
                availability: 'vypredané',
              }
            },
          ]
        });*/

        storeListSelect.elements[0].setValueByChoice('ba-cubicon');
      });

      document.addEventListener('myAppInit', function() {
        var productPreview;

        window.addEventListener('modalOpen', function() {
          productPreview = new window.myApp.ProductPreview();
        });

        window.addEventListener('resize', function() {
          if (productPreview) {
            productPreview.update();
          }
        });
      });

      var bookObserveOn = true;
      var bookObserve = function(mutations) {
        if (bookObserveOn) {
          var header = document.querySelector('.header');
          var bookHeaderClass = 'header-book-detail';
          mutations.forEach(function (mutation) {
            const isSpecial = header.classList.contains(bookHeaderClass);

            const target = mutation.target;
            const style = window.getComputedStyle(target);
            const styleParent = window.getComputedStyle(
              target.parentNode,
            );
            // d attribute is when display has !important in css
            const isHidden =
              style.display === 'none' || styleParent.display === 'none';
            // if its sticky but not visible
            if (!isHidden) {
              const isFixed = target.style.position === 'fixed';
              if (isFixed) {
                if (!isSpecial) {
                  header.classList.add(bookHeaderClass);
                }
              } else if (isSpecial) {
                header.classList.remove(bookHeaderClass);
              }
            }
          });
        }
      };

      document.addEventListener('myAppInit', function() {
        window.myApp.bookObserver = new window.myApp.Observables(
          '[data-observe-book-detail]',
          bookObserve,
          { observerConfig: { attributes: true } }
        );
      });

      //- const hash = window.location.hash;
      //- if (hash !== '') {
      //-   const anchorSection = document.getElementById(hash.substr(1));
      //-   anchorSection.classList.add('anchor-helper');
      //-     document.addEventListener('click', removeAnchor, true);
      //- }

      //- function removeAnchor() {
      //-   const anchorSections = document.getElementsByClassName('anchor-helper');
      //-   Array.from(anchorSections).forEach((section)=> {
      //-     section.classList.remove('anchor-helper');
      //-   });
      //-   document.removeEventListener('click', removeAnchor, true);
      //- }
