extends layouts/_default

block opts
    - var pageTitle = 'Homepage'

mixin preVas
  section.mb-large
    article.card
      .card__content.card__content--overflow
        +section-header({ header: 'Pre Vás', more: false, center: true })
        +booksCarouselHorizontal

mixin banner(size = 200)
  section.mb-large
    a(href='#').banner
      img.img.img--fluid(src=`images/content/banner-374x${size}.jpg`)

mixin tyzdenneKolekcie
  section.mb-large
    article.card
      .card__content.card__content--overflow
        +section-header({ header: 'Týždenné kolekcie', more: false, center: true, small: true })
        h2.text-center Knihy do vašej kuchyne
        include ./modules/collection-carousel

      .card__content
        .btn-layout.btn-layout--vertical.mb-medium
          button.btn.btn--ghost Celá kolekcia
        .bar.bar--small.align-items-top
          .bar__item
            img.img--fluid.img--circle.thumbnail.thumbnail--medium(src='https://placehold.it/100x100', alt="Tomáš Ulej")
          .bar__item.bar__item--fill
            p.mb-small Vyberá#{' '}
              a.link(href='#', title="Tomáš Ulej") Tomáš Ulej
            p.no-mrg.text-size-medium Recepty zo života alebo zdravé desiate od Daniely Rau sú to najlepšie, čo môžete v Martinuse ochutnať.

mixin novinky
  section.mb-large
    article.card
      .card__content.card__content--overflow
        +section-header({ header: 'Novinky', more: false, center: true })
        +booksCarouselHorizontal

mixin najoblubenejsieKolekcie
  section.mb-large
    article.card
      .card__status
        img.img--fluid.img--circle.thumbnail.thumbnail--small(src='https://placehold.it/100x100', alt="Tomáš Ulej")
      .card__content.card__content--overflow
        +section-header({ header: 'Najobľúbenejšie kolekcie', small: true, more: false, center: true })
        h2.text-center Biografie slávnych
        include ./modules/collection-carousel

      .card__content
        .btn-layout.btn-layout--vertical
          button.btn.btn--ghost Celá kolekcia

mixin najpredavaniejsieZPonuky
  section.mb-large
    .card
      .card__content
        +section-header({ header: 'Najpredávanejšie z ponuky', more: false, center: true })
        .btn-layout.btn-layout--vertical.mb-large
          .btn-group.btn-group--horizontal.btn-group--fill(data-tabs-container)
            a(href='#tab-ranking-books', role="tab", data-tabs-item).btn.btn--ghost.is-active Knihy
            a(href='#tab-ranking-movies', role="tab", data-tabs-item).btn.btn--ghost Filmy
            a(href='#tab-ranking-games', role="tab", data-tabs-item).btn.btn--ghost Hry
            a(href='#tab-ranking-coffee-tea', role="tab", data-tabs-item).btn.btn--ghost Káva a čaj

      .card__content
        article.tabs
          each item, index in ['books', 'movies', 'games', 'coffee-tea']
            section.tab(id=`tab-ranking-${item}`, class= index === 0 ? 'is-active' : '')
              ul.list.list--counter
                each item, i in [...books, ...books ]
                  if i < 10
                    li.mb-medium(class=i > 4 ? 'show-l' : '')
                      +product-horizontal(item).no-mrg

      .card__content
        .btn-layout.btn-layout--vertical
          button.btn.btn--ghost Celý rebríček

mixin akcioveTituly
  section.mb-large
    .card
      .card__content
        +section-header({ header: 'Akciové tituly', more: false, center: true })
        +product-horizontal({ discountUnderBook: true, discount: 'Ušetrite 3,50 €', description: 'Recepty zo života alebo zdravé desiate od Daniely Rau sú to najlepšie, čo môžete v Martinuse ochutnať.', coverSize: 'large', duration: {} })
      .card__content.card__content--overflow
        +booksCarouselHorizontal({ duration: {} })

mixin ludiNajviacZaujma
  section.mb-large
    .card
      .card__content
        +section-header({ header: 'Ľudí najviac zaujíma', more: false, center: true })
        ul.list
          each item, i in [...books, ...books ]
            if i < 4
              li(class=`${i < 3 ? 'mb-medium' : ''}`)
                +product-horizontal(item).no-mrg

mixin najoblubenejsieSerie
  section.mb-large
    article.card
      .card__status
        img.img--fluid.img--circle.thumbnail.thumbnail--small(src='https://placehold.it/100x100', alt="Tomáš Ulej")
      .card__content.card__content--overflow
        +section-header({ header: 'Najobľúbenejšie série', more: false, center: true, small: true })
        h2.text-center Všetko z IT sveta
        include ./modules/collection-carousel

      .card__content
        .btn-layout.btn-layout--vertical
          button.btn.btn--ghost Celá kolekcia

block content
  main.bg-secondary
    section.section
      include ./modules/carousel-banner

    section.section
      .wrapper-main
        // desktop
        .row.show-l
          .col--l-4.col--m-6
            +preVas
            +banner
            +tyzdenneKolekcie
            +akcioveTituly

          .col--l-4.col--m-6
            +novinky
            +najoblubenejsieKolekcie
            +ludiNajviacZaujma
            +najoblubenejsieSerie

          .col--l-4.col--m-6
            +najpredavaniejsieZPonuky
            +banner(374)

        // tablet
        .row.show-m-only
          .col--m-6
            +preVas
            +novinky
            +banner
            +tyzdenneKolekcie
            +akcioveTituly

          .col--m-6
            +najpredavaniejsieZPonuky
            +najoblubenejsieKolekcie
            +najoblubenejsieSerie
            +ludiNajviacZaujma

        // mobile
        .row.hide-m
          .col--12
            +preVas
            +najpredavaniejsieZPonuky
            +novinky
            +tyzdenneKolekcie
            +banner
            +najoblubenejsieKolekcie
            +akcioveTituly

        .row
          .col--m-6.col--l-4.ofst--center
            .btn-layout.btn-layout--vertical
              button.btn.btn--ghost Zobraziť viac

    section.section
      h2.text-center.mb-medium Máme pre vás aj hry
      -
        const tiles = [
          {
            title: 'Filmy',
            color: 'yellow'
          },
          {
            title: 'Hry',
            color: 'blue'
          },
          {
            title: 'Káva a čaj',
            color: 'orange'
          },
          {
            title: 'Blog',
            color: 'green'
          },
          {
            title: 'Darčeková poukážka',
            color: 'violet'
          },
        ];
      +carouselTiles(tiles)

    include ./modules/seen-items
