extends layouts/_default

include ./mixins/booksCarouselHorizontal
include ./mixins/carouselTiles
include ./mixins/productHorizontal
include ./mixins/sectionHeader
include ./mixins/collectionItem

block opts
    - var pageTitle = 'Homepage'
    - var gdpr = false;

mixin preVas
  section.mb-large
    article.card
      .card__content.card__content--overflow
        +sectionHeader({ header: 'Pre Vás', more: false, center: true })
        +booksCarouselHorizontal

mixin banner(banner)
  section.mb-large
    a(href='#').banner
      img.img.img--fluid(src=`images/content/banners/${banner}.jpg`)

mixin tyzdenneKolekcie
  section.mb-large
    article.card

      +collectionItemContent({label: "Tyzdenne kolekcie"})

      .card__content
        .btn-layout.btn-layout--vertical.mb-medium
          button.btn.btn--ghost Celá kolekcia
        .bar.bar--small.align-items-top
          .bar__item
            .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
          .bar__item.bar__item--fill
            p.mb-small Vyberá#{' '}
              a.link(href='#', title="Callie Krueger") Callie Krueger
            p.no-mrg.text-size-medium Recepty zo života alebo zdravé desiate od Daniely Rau sú to najlepšie, čo môžete v Martinuse ochutnať.

mixin novinky
  section.mb-large
    article.card
      .card__content.card__content--overflow
        +sectionHeader({ header: 'Novinky', more: false, center: true })
        +booksCarouselHorizontal

mixin najpredavaniejsieZPonuky
  section.mb-large
    .card
      .card__content
        +sectionHeader({ header: 'Najpredávanejšie z ponuky', more: false, center: true })
        .btn-layout.btn-layout--vertical.mb-large
          .btn-group.btn-group--horizontal.btn-group--fill(data-tabs-container)
            a(href='#tab-ranking-books', role="tab", data-tabs-item).btn.btn--ghost.is-active Knihy
            a(href='#tab-ranking-movies', role="tab", data-tabs-item).btn.btn--ghost Filmy
            a(href='#tab-ranking-games', role="tab", data-tabs-item).btn.btn--ghost Hry
            a(href='#tab-ranking-coffee-tea', role="tab", data-tabs-item).btn.btn--ghost Káva a čaj

      .card__content
        article.tabs
          each item, index in ['books', 'movies', 'games', 'coffee-tea']
            section.tab(id=`tab-ranking-${item}`, class= index === 0 ? 'is-active' : '')
              ul.list.list--counter.no-pad
                each item, i in [...books, ...books ]
                  if i < 10
                    li.mb-medium(class=i > 4 ? 'show-l' : '')
                      //- +productHorizontal(item).no-mrg
                      +productHorizontal(Object.assign({}, item, { titleClass: 'text-size-regular'})).no-mrg

      .card__content
        .btn-layout.btn-layout--vertical
          button.btn.btn--ghost Celý rebríček

mixin akcioveTituly
  section.mb-large
    .card
      .card__content
        +sectionHeader({ header: 'Akciové tituly', more: false, center: true })
        +productHorizontal({ discountUnderBook: true, discount: 'Ušetrite 3,50 €', description: 'Recepty zo života alebo zdravé desiate od Daniely Rau sú to najlepšie, čo môžete v Martinuse ochutnať.', coverSize: 'large', duration: {} })
      .card__content.card__content--overflow
        +booksCarouselHorizontal({ duration: {} })

mixin ludiNajviacZaujma
  section.mb-large
    .card
      .card__content
        +sectionHeader({ header: 'Ľudí najviac zaujíma', more: false, center: true })
        ul.list.list--unstyled
          each item, i in [...books, ...books ]
            if i < 4
              li(class=`${i < 3 ? 'mb-medium' : ''}`)
                +productHorizontal(Object.assign({}, item, { titleClass: 'text-size-regular'})).no-mrg

include ./mixins/userMenu

block headerSearchDropdown
  .dropdown.dropdown--arrowhead.is-active(aria-expanded="true")
    .dropdown__wrap
      a.dropdown__item.dropdown__item--small Harr
        b y Potter a Prekliate Dieťa
      a.dropdown__item.dropdown__item--small Harr
        b y Potter a Kameň Mudrcov
      hr.mb-tiny
      a.dropdown__item.dropdown__item--small Herec#{' '}
        b Harrison Ford
      a.dropdown__item.dropdown__item--small Kategória#{' '}
        b Fantasy
      hr.mb-tiny
      a.flex.dropdown__item.dropdown__item--small
        .flex-shrinkable.text-space-right
          | Kolekcia#{' '}
        .flex-shrinkable.text-space-right-tiny
          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
        .flex-fill
          b Moje fantasy
      a.flex.dropdown__item.dropdown__item--small
        .flex-shrinkable.text-space-right
          | Kolekcia#{' '}
        .flex-shrinkable.text-space-right-tiny
          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
        .flex-fill
          b Pre deti
      hr.mb-tiny
      a.flex.dropdown__item.dropdown__item--small
        .flex-shrinkable.text-space-right
          | Profil#{' '}
        .flex-shrinkable.text-space-right-tiny
          .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
        .flex-fill
          b Janko Martinusak

block content
  main.bg-secondary
    section.section
      include ./modules/carousel-banner

    section.section
      .wrapper-main
        // desktop
        .row.show-l
          .col--l-4.col--m-6
            +preVas
            +banner('Main')
            +tyzdenneKolekcie
            +akcioveTituly

          .col--l-4.col--m-6
            +novinky
            +collectionItem
            +ludiNajviacZaujma
            +collectionItem

          .col--l-4.col--m-6
            +najpredavaniejsieZPonuky
            +banner('Square')

        // tablet
        .row.show-m-only
          .col--m-6
            +preVas
            +novinky
            +banner('Main')
            +tyzdenneKolekcie
            +akcioveTituly

          .col--m-6
            +najpredavaniejsieZPonuky
            +collectionItem
            +collectionItem
            +ludiNajviacZaujma

        // mobile
        .row.hide-m
          .col--12
            +preVas
            +najpredavaniejsieZPonuky
            +novinky
            +tyzdenneKolekcie
            +banner('Main')
            +collectionItem
            +akcioveTituly

        .row
          .col--m-8
            section.mb-large
              article.card
                .card__content.card__content--overflow
                  h2.text-center Novinky v čitateľských profiloch
                  .btn-group.btn-group--horizontal.btn-group--fill.mb-none
                    button.btn.btn--ghost.is-active Všetky
                    button.btn.btn--ghost Sledované

                .card__content

                  //.row.mb-large
                    .col--1.show-m
                      .bar
                        .bar__item.bar__item--shrinkable
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    .col--12.col--m-11
                      .bar
                        .bar__item.bar__item--fill
                          .bar.mb-none
                            .bar__item.bar__item--shrinkable.hide-m
                              .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                            .bar__item.bar__item--fill
                              p
                                b Janko Martinusák
                                | #{' '}napísal/a recenziu
                        .bar__break.hide-m
                        .bar__item.bar__item--shrinkable
                          .rating-star.bar__item.align-items-center.no-mrg-top
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--large(class=`${starIndex < 3 ? 'is-active' : ''}`)
                        .bar__item.bar__item--shrinkable.text-right
                          .h5 24.5.2018 20:31

                      hr.mb-medium

                      p Fakt parádna kniha síce knihy mám prečítané iba dve a to Kráska a netvor a túto no ale i tak páčil sa mi nájme Chosé a samozrejme Richard Krauz ale každá postava má niečo do seba a samozrejme je to odľahčené Dánovím humorom. Ale smutné je že sa to deje na Slovensku nie len po prevrate.

                      -
                        var item = {
                        xmas: false
                        };
                      .card.card--well.inline-block
                        .card__content
                          +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'})).no-mrg

                  //.row.mb-large
                    .col--1.show-m
                      .bar
                        .bar__item.bar__item--shrinkable
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    .col--12.col--m-11
                      .bar
                        .bar__item.bar__item--fill
                          .bar.mb-none
                            .bar__item.bar__item--shrinkable.hide-m
                              .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                            .bar__item.bar__item--fill
                              p
                                b Janko Martinusák
                                | #{' '}napísal/a recenziu
                        .bar__break.hide-m
                        .bar__item.bar__item--shrinkable
                          .rating-star.bar__item.align-items-center.no-mrg-top
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--large(class=`${starIndex < 3 ? 'is-active' : ''}`)
                        .bar__item.bar__item--shrinkable.text-right
                          .h5 24.5.2018 20:31

                      hr.mb-medium

                      p Fakt parádna kniha síce knihy mám prečítané iba dve a to Kráska a netvor a túto no ale i tak páčil sa mi nájme Chosé a samozrejme Richard Krauz ale každá postava má niečo do seba a samozrejme je to odľahčené Dánovím humorom. Ale smutné je že sa to deje na Slovensku nie len po prevrate.



              .row.mb-medium
                .col--m-6
                  .card
                    .card__content

                      .bar.bar--vertical.align-items-middle
                        .bar__item.bar__item--shrinkable
                          .portrait.portrait--large(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.text-center
                          .h3
                            a.link Janko Martinusák
                          span napísal/a recenziu

                      .bar.align-items-center
                        .bar__item.bar__item--shrinkable
                          .rating-star.bar__item.align-items-center.no-mrg-top
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--large(class=`${starIndex < 3 ? 'is-active' : ''}`)
                        .bar__item.bar__item--shrinkable.text-right
                          .h5 24.5.2018 20:31

                      hr.mb-medium

                      p Fakt parádna kniha síce knihy mám prečítané iba dve a to Kráska a netvor a túto no ale i tak páčil sa mi nájme Chosé a samozrejme Richard Krauz ale každá postava má niečo do seba a samozrejme je to odľahčené Dánovím humorom. Ale smutné je že sa to deje na Slovensku nie len po prevrate.

                      -
                        var item = {
                        xmas: false
                        };
                      .card.card--well.inline-block.mb-none
                        .card__content
                          +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'})).no-mrg

                .col--m-6
                  .card
                    .card__content

                      .bar.bar--vertical.align-items-middle
                        .bar__item.bar__item--shrinkable
                          .portrait.portrait--large(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill.text-center
                          .h3
                            a.link Janko Martinusák
                          span napísal/a recenziu

                      .bar.align-items-center
                        .bar__item.bar__item--shrinkable
                          .rating-star.bar__item.align-items-center.no-mrg-top
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--large(class=`${starIndex < 3 ? 'is-active' : ''}`)
                        .bar__item.bar__item--shrinkable.text-right
                          .h5 24.5.2018 20:31

                      hr.mb-medium

                      p Fakt parádna kniha síce knihy mám prečítané iba dve a to Kráska a netvor a túto no ale i tak páčil sa mi nájme Chosé a samozrejme Richard Krauz ale každá postava má niečo do seba a samozrejme je to odľahčené Dánovím humorom. Ale smutné je že sa to deje na Slovensku nie len po prevrate.

                      -
                        var item = {
                        xmas: false
                        };
                      .card.card--well.inline-block.mb-none
                        .card__content
                          +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'})).no-mrg

              .btn-layout.btn-layout--horizontal.align-items-center
                button.btn.btn--ghost Všetky novinky z čitateľských profilov
                button.btn Založiť čitateľský profil

          .col--m-4
            section.mb-large
              article.card
                .card__content
                  +sectionHeader({ header: 'Čitateľské kolekcie', small: true, more: false, center: true })
                +collectionItemContent({user: true})
                +collectionItemContent({user: true})

    //-section.section
      h2.text-center.mb-medium Máme pre vás aj
      -
        const tiles = [
          {
            title: 'Blog',
            color: 'yellow'
          },
          {
            title: 'E-knihy',
            color: 'green'
          },
          {
            title: 'Hry',
            color: 'blue'
          },
          {
            title: 'Filmy',
            color: 'violet'
          },
          {
            title: 'Knižné predplatné',
            color: 'red'
          },
          {
            title: 'Káva a čaj',
            color: 'brown'
          },
          {
            title: 'Darčeková poukážka',
            color: 'orange'
          },
        ];
      +carouselTiles(tiles)

    include ./modules/seen-items

    section.section.bg-default
      .wrapper-main
        .row
          .col--m-8.ofst--m-2
            .quote
              .quote__delimiter
              p.quote__text „Neobávaj sa nevedomosti, ale falošného poznania. Lepšie je nevedieť nič, ako pokladať za pravdu to, čo pravdou nie je.“
              p.quote__author Lev Nikolajevič Tolstoj

    section.section.bg-default
      .wrapper-main
        .row
          .col--m-8.ofst--m-2
            .quote
              .quote__send
                a.btn.btn--small.btn--clean.no-pad-top
                  +icon('upload').icon--small.icon--left
                  | Pošlite nám
                a(href="#").btn.btn--small.btn--clean.no-pad-top
                  +icon('instagram')
                  | #{' '}dobrevety
              .quote__delimiter
              p.quote__text „Dnes mám na lásku skromnejšiu, menej univerzálnejšiu definíciu: láska je, keď niekto odchádza a ty máš pocit, že by si mu chcel niečo povedať.“

              .quote-book.inline-block
                .bar.align-items-middle
                  .bar__item.bar__item--shrinkable
                    .thumbnail.thumbnail--book.thumbnail--small
                      .thumbnail__img-wrap
                        a(href="#")
                          img(src=`https://mrtns.eu/tovar/_l/183/l183781.jpg?v=1496740665`)
                  .bar__item.bar__item--fill.text-left
                    a.link.link--product.text-semibold Letmý sneh lorem ipsum
                    .text-small.text-color-grey.mb-tiny Pavel Vilikovský

    section.bg-default.section.section--overflow
      .wrapper-main
        -
          var swiperFooterContent = [
            {
              icon: 'footer-tradition',
              text: 'Máme skoro 30-ročnú tradíciu predaja kníh'
            },
            {
              icon: 'footer-shipping',
              text: 'Ponúkame vyše 20 000 titulov na sklade'
            },
            {
              icon: 'footer-stores',
              text: '10 kníhkupectiev po celom Slovensku'
            },
            {
              icon: 'footer-package',
              text: 'Sme 3-násobný MasterCard Obchodník roka'
            },
            {
              icon: 'footer-events',
              text: 'Organizujeme desiatky besied s autormi'
            },
            {
              icon: 'footer-positive',
              text: 'Podporujeme čítanie s porozumením'
            },
          ];
          var swiperFooterConfig = {
            nextButton: '.carousel__btn--next',
            prevButton: '.carousel__btn--prev',
            slidesPerView: 'auto',
            slidesPerGroup: 1,
            spaceBetween: 20,
            centeredSlides: true,
            loop: true,
          };
          swiperFooterConfige = JSON.stringify(swiperFooterConfig);
        .carousel.carousel--fade-outside.carousel--fade-outside-white.carousel-cards
          .swiper-container(data-swiper-options=swiperFooterConfig)
            .swiper-wrapper
              each item, i in swiperFooterContent
                .swiper-slide.carousel-cards__item
                  .card.card--well
                    .card__content
                      .bar.no-mrg-bottom
                        .bar__item.bar__item--shrinkable
                          +icon(item.icon, 'text-color-grey')
                        .bar__item.bar__item--fill
                          p.text-medium= item.text

            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--prev
              +icon('arrow-left').icon--medium
            button.btn.btn--carousel.btn--large.btn--equal.carousel__btn.carousel__btn--next
              +icon('arrow-right').icon--medium

  .modal-overlay.modal-overlay--dark#gdpr-modal(data-modal)
    .modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline.text-center
            .h2 Súhlas s uložením údajov
          .modal__header__action
            .btn.btn--clean(data-toggle="#gdpr-modal")
              +icon('close').icon--medium

        .modal__content
          .mb-medium

          .row.mb-large.align-items-middle
            .ofst--m-1.col--m-3.text-center.mb-medium.mb-none-m
              img.img.mb-none(src="images/content/cookies-books.svg", style="max-width: 150px;")
            .col--m-7.text-center.text-left-m
              p.mb-none Aby sme vám vedeli čo najlepšie odporúčať knižky, a tiež na marketingové účely, potrebujeme si do vášho prehliadača uložiť údaje – takzvané koláčiky alebo cookies. Tieto údaje zdieľame aj s tretími stranami a dávame na ne dobrý pozor. Súhlasíte s ich uložením?

          .bar.align-items-center
            .bar__item
              a(href="#").btn.btn--ghost.btn--large Neskôr
            .bar__item
              a(href="#").btn.btn--success.btn--large Súhlasím

          .text-center.mb-large
            a.link Viac informácií
