extends layouts/index

block content
  .intro-templates
    header.intro-templates_header(style="background-color:" + project.theme)
      .wrapper-main
        h1.text-upper.text-color-white.no-mrg-bottom= project.projectName
        span.text-small.text-color-semiwhite-050 version #{new Date().toDateString()}
    article.intro-templates_content
      .wrapper-main
        h2.text-upper Content
        ul.intro-templates_list
          li.intro-templates_item
            a(data-toggle='self, parent', data-toggle-icon=`${assetsPrefix}icons_/styleguide.svg#icon-sg-chevronup`)
              h3
                | Styleguide
                +icon-sg('sg-chevrondown')
            ul.intro-templates_sublist
              each category in l_sitemap
                each page in category.topics
                  li.intro-templates_subitem
                    +icon-sg('sg-caretright')
                    if page.sub == undefined
                      a(href=`${assetsPrefix}styleguide/${page.hlink}${htmlPostfix}`, target='_blank')= page.title
                    else
                      a(href=`${assetsPrefix}styleguide/${page.sub[0].hlink}${htmlPostfix}`, target='_blank')= page.title

          each item in sitemap
            li.intro-templates_item
              a(data-toggle='self, parent', data-toggle-icon=`${assetsPrefix}icons_/styleguide.svg#icon-sg-chevronup`)
                h3
                  | #{item.title}
                  +icon-sg('sg-chevrondown')
              if item.contents
                ul.intro-templates_sublist
                  each subitem in item.contents
                    li.intro-templates_subitem
                      +icon-sg('sg-caretright')
                      a(href=`${assetsPrefix}${subitem.href}${htmlPostfix}`, target='_blank', class=subitem.old?'text-color-dovred-600':'', title=subitem.old?'old version !!!':undefined)= subitem.title
                      if subitem.desc
                        span.tooltip-icon.js-tooltip(title=subitem.desc) ?
