extends layouts/_me

include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/booksCarouselRecommended
include ./mixins/sectionHeader

block opts
    - var pageTitle = 'Knowledge Article'
    - var treeMenu = ['Príbeh, ktorý (takmer) napísal sám život…', 'Najskôr ako korešpondencia', 'Lýdia ušla do škótskeho Las Vegas', 'Pán Darcy je fakt boháč!', 'Kniha bola prvýkrát publikovaná anonymne']
    - var mobileSidebar = true;
block content
  main

    section.section--breadcrumbs
      .wrapper-main
        .bar.no-mrg-bottom
          .bar__item.bar__item--shrinkable
            +breadcrumbs({breadcrumbs: ['Ja', 'Vedma', 'Krok po kroku v Martinuse']})

    section.section
      .wrapper-main
        .row
          #mobile-sidebar.col--m-3.mobile-wrapper.mb-medium-l(data-toggle-lock)
            +mobileSidebar
              h2.h3.mb-small Témy

              a.block.mb-small.line-large.text-semibold.text-color-grey-dark(data-toggle="self, #tree-level", data-toggle-icon="../icons_/app.svg#icon-chevron-right", data-collapse-trigger)
                +icon('chevron-down').text-color-grey.icon--medium.text-space-right-tiny
                | Krok po kroku v Martinuse
              #tree-level(data-toggle-class="hide")
                ul.list--no-offset
                  each  item, i in treeMenu
                    li.text-space-left.mb-small
                      a.text-medium.link.link--black(class=i==2 ? 'text-semibold' : 'text-color-grey-dark')=item
                  li.text-space-left.mb-small
                    a.block.mb-small.line-large.text-semibold.text-color-grey-dark(data-toggle="self, #tree-level-1", data-toggle-icon="../icons_/app.svg#icon-chevron-down", data-collapse-trigger)
                      +icon('chevron-right').text-color-grey.icon--medium.text-space-right-tiny
                      | Naše hodnoty
                    #tree-level-1(data-toggle-class="hide").hide
                      ul.list--no-offset
                        each  item, i in treeMenu
                          li.text-space-left.mb-small
                            a.text-medium.link.link--black(class=i==2 ? 'text-semibold' : 'text-color-grey-dark')=item
                        li.text-space-left.mb-small
                          a.block.mb-small.line-large.text-semibold.text-color-grey-dark(data-toggle="self, #tree-level-2", data-toggle-icon="../icons_/app.svg#icon-chevron-down", data-collapse-trigger)
                            +icon('chevron-right').text-color-grey.icon--medium.text-space-right-tiny
                            | Škodoradosť
                          #tree-level-2(data-toggle-class="hide").hide
                            ul.list--no-offset
                              each  item, i in treeMenu
                                li.text-space-left.mb-small
                                  a.text-medium.link.link--black(class=i==2 ? 'text-semibold' : 'text-color-grey-dark')=item
                        each  item, i in treeMenu
                          li.text-space-left.mb-small
                            a.text-medium.link.link--black(class=i==2 ? 'text-semibold' : 'text-color-grey-dark')=item
                    a.block.mb-small.line-large.text-semibold.text-color-grey-dark(data-toggle="self, #tree-level-x", data-toggle-icon="../icons_/app.svg#icon-chevron-down", data-collapse-trigger)
                      +icon('chevron-right').text-color-grey.icon--medium.text-space-right-tiny
                      | Naše hodnoty
                    a.block.mb-small.line-large.text-semibold.text-color-grey-dark(data-toggle="self, #tree-level-x", data-toggle-icon="../icons_/app.svg#icon-chevron-down", data-collapse-trigger)
                      +icon('chevron-right').text-color-grey.icon--medium.text-space-right-tiny
                      | Naše hodnoty

          .col--m-9
            article.cms-article

              h1.h1.mb-medium 7 zaujímavostí o fenoméne Pýcha a predsudok
              .bar.mb-medium.text-medium
                .bar__item.flex.align-items-middle
                  .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                  span.text-semibold.text-space-left Callie Krueger
                .bar__item.bar__item--border
                .bar__item
                  .h5.show-m štvrtok #{' '}
                    b 21. decembra 2017
                    | #{' '}16:50
                  .h5.hide-m št #{' '}
                    b 21.12. 2017
                    | #{' '}16:50
                .bar__item.show-s
                  +icon('time').text-space-right-tiny
                  b 15 minút čítania
                .bar__item.hide-s
                  +icon('time').text-space-right-tiny
                  b 15

              p.h4.mb-large Ak ste si tiež zamilovali svetovú klasiku z pera Jane Austen, možno vás poteší pár doplňujúcich informácii o príbehu a jeho autorke. Nech žije Elizabeth, pán Darcy a všetká tá galantnosť dávnych čias! :-) Gratulujeme – práve túto nedeľu oslávi román svoje 203. narodeniny.

              h2.h3 1. Príbeh, ktorý (takmer) napísal sám život…

              p Ako nás na slovenčine v škole učili: literatúra je vždy odrazom doby. Ani v prípade diel od Austenovej tomu nie je inak. Podľa všetkého sa námetom Pýchy a predsudku do značnej miery stala práve autorkina osobná skúsenosť: žiaľ, nenaplnená láska k mladému mužovi menom Tom Lefroy. Nemala dostatočný majetok, aby sa mu mohla rovnať – a tak sa zasnúbil s inou – zámožnejšou… Možno aj preto dopriala románu šťastný koniec.

              h2.h3 2. Najskôr ako korešpondencia
              p Ako veľa iných Austenovej kníh, aj Pýcha a predsudok bola vydaná pôvodne vo forme listov. V tej dobe išlo o bežný spôsob písania literárnych diel.

              h2.h3 3. Lýdia ušla do škótskeho Las Vegas
              p Koho prepadne neodkladná túžba uzavrieť zväzok manželský, navštívi dnes Las Vegas. Ale čo ak žijete v 19. storočí v Anglicku? Netreba si zúfať – hneď v prvom meste za škótskou hranicou vás zosobášia, hoci ste nedovŕšili 21 rokov a nemáte súhlas rodičov, pričom dokonca netreba prihliadať ani na všakovaké náboženské náležitosti. Nuž, a tak sa Lýdia vybrala na cestu do Gretna Green (aj keď tam nakoniec nedorazila) ;-)

              h2.h3 4. Aj Austenová mala blízky vzťah so svojou sestrou, podobne ako Elizabeth
              p Písali si takmer každý deň, zverovali sa jedna druhej a vždy chceli bývať v jednej miestnosti, hoci každá mohla mať svoju spálňu. Taký bol vzťah dvoch sestier Jane a Cassandry Austenových. Niet sa čomu čudovať, že v románe nachádzame podobne vykreslený sesterský vzťah.

              h2.h3 5. Pán Darcy je fakt boháč!

              p V novinách The Telegraph vyrátali v roku 2013, že v tom období by majetok pána Darcyho predstavoval 12 miliónov libier. Nie sa teda čomu čudovať, že ohľadom voľby tej „najsprávnejšej“ snúbenice pre tohto zámožného muža vzniklo toľko úsilia..

              img.img.mb-small(src="http://blog.martinus.sk/wp-content/uploads/2018/02/DSC4942-768x513.jpg")
              p.text-medium.text-color-grey-dark Sem by mohol ist popis obrazka ak treba

              h2.h3 6. Inšpirácia pre názov

              p Román dostal svoj názov podľa knihy Cecilia od Fanny Burney, kde sa fráza “pýcha a predsudok” vyskytla trikrát.

              h2.h3 7. Kniha bola prvýkrát publikovaná anonymne

              p Ak by ste si kúpili počas života niektorú knihu od Austenovej, v podstate by ste nevedeli, že práve ona je autorka :-) Vyhýbala sa dokonca aj pseudonymom a podpisovala sa ako „Lady“ alebo „od autorky Rozumu a citu“. Totožnosť úspešnej autorky odhalil jej brat až po jej smrti.

              h2.h3 Bonus na záver

              p Austenovej knihy sú špecifické košatými dialógmi, ktoré sú tak veľmi presiaknuté dobovou galantnosťou. Veď napríklad veta s pomerne jednoznačným významom
                i #{' '}“Od prvého momentu som vedela, že ťa nikdy nebudem chcieť.”
                | #{' '}je v Elizabethinom podaní prerozprávaná nasledovne:
                i #{' '}“Od samého začiatku – takmer by som povedala, od prvej chvíle, čo vás poznám, vaše správanie vzbudilo vo mne najhlbšie presvedčenie o vašej arogancii, povýšenosti a sebeckom pohŕdaní citmi iných ľudí, a položilo základ toho nesúhlasu, na ktorom nasledujúce udalosti vystavali nemenný odpor, a nepoznala som vás ešte ani mesiac a už som cítila, že ste posledným mužom na svete, za ktorého by som bola ochotná vydať sa.”

              .cms-video.mb-small
                | <iframe width="560" height="315" src="https://www.youtube.com/embed/o8okQYKphKU?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              p.text-medium.text-color-grey-dark Sem by mohol ist popis obrazka ak treba

              h3 Autorove tituly

              ol
                li
                  a(href='#') Popol všetkých zarovná
                li
                  a(href='#') Nehanebné neviniatko
                li
                  a(href='#') Beštia
                li
                  a(href='#') Sára
                li
                  a(href='#') Cela číslo 17
                li
                  a(href='#') Červený kapitán
                li
                  a(href='#') Hriech náš každodenný
                li
                  a(href='#') Knieža Smrť
                li
                  a(href='#') Noc temných klamstiev

              p Je rok 1992 a Československo sa rozpadáva. Detektív Krauz z oddelenia vrážd sa dostáva k prípadu umučeného kostolníka. Jeho smrť mala ostať tajomstvom, ale klinec zatlčený v lebke núti Krauza pátrať aj napriek všetkým varovaniam. Pravdu o prepojení ŠtB a Cirkvi svätej môže priniesť len muž prezývaný Červený kapitán. Stretnutie s týmto „expertom na finálne výsluchy“ ale málokto prežije...

              .card.card--notice
                .card__content
                  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit magna eu lacinia fringilla. Nulla ligula justo, suscipit nec dui sit amet, consectetur dapibus lacus.

              p
                i „Neprišiel si včas, moknem tu už hodinu a z hlavy mi zatieklo po chrbte až na riť!“#{' '}
                  b - Richard Krausz

              p Predalo sa viac ako 700 000 kníh a konečne prichádza dlhoočakávaný film. Stovky trikových záberov, jeden z najväčších rozpočtov v slovenskom filme a príbeh inšpirovaný skutočnými udalosťami, v ktorom treba ísť cez mŕtvoly.
              p Tento titul nájdete v našej ponuke aj s podpisom autora.
              p
                b Z nášho blogu:#{' '}
                a(href="#") Film Červený kapitán je povinná jazda pre fanúšikov Dominika Dána

              .card.card--info
                .card__content
                  .bar
                    .bar__item.bar__item--shrinkable.show-s
                      .portrait.portrait--xlarge(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    .bar__item.bar__item--fill
                      .bar
                        .bar__item.bar__item--shrinkable.hide-s
                          .portrait.portrait--medium.hide-s(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill
                          h2 Meno Autora
                          .h5 Čo robí a tak
                        .bar__break.hide-m
                        .bar__item.bar__item--shrinkable
                          button.btn.btn--clean
                            +icon('facebook').icon--medium
                          button.btn.btn--clean
                            +icon('twitter').icon--medium
                          button.btn.btn--clean
                            +icon('youtube').icon--medium
                      p.mb-small Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit magna eu lacinia fringilla. Nulla ligula justo, suscipit nec dui sit amet, consectetur dapibus lacus.
                      a.link Články autora

    section.section.section--secondary
      .wrapper-main
        h2 Ďalšie zaujímavé články
        .row.mb-large
          each j in [0, 1, 2, 3]
            .col--m-3.col--6
              img.img(src="images/content/stores/store-ba.jpg").no-mrg-bottom
              .mb-small
              h3
                a.link Nadpis ďalšieho článku

block scripts
  script.
    window.myApp = window.myApp = {};
    //window.myApp.scrollOffset = {0: 85, 768: 95};
