extends layouts/_kiosk

include ./mixins/booksCarouselRecommended
include ./mixins/breadcrumbs
include ./mixins/pagination
include ./mixins/review
include ./mixins/sectionHeader
include ./mixins/icon

block opts
    - var pageTitle = 'Detail knihy';
    - var backButton = true;

block content
  main
    div(data-sticky-container)
      section.section
        .wrapper-main
          .row.product-detail.mb-large
            .col--m-3
              .product-detail__preview.mb-medium.mb-none-m
                .product-detail__image
                  .thumbnail.thumbnail--book.thumbnail--large-shadow.thumbnail--huge.clickable(data-toggle="#product-preview")
                    .thumbnail__img-wrap
                      img.img.img--fluid.mb-medium(src=`${assetsPrefix}images/content/books/sample-14.jpg`, alt="Základy rybolovu pro kluky a holky - Frank Weissert, Jack Thorne a John Tiffany")
                    img.book-flag.book-flag--large(src="images/content/top100/10dni.png", style="position: absolute; right: 10px; top: -5px;")

            article.col--m-9

              .row.align-items-top
                .col--m-8
                  h1.product-detail__title.mb-small Základy rybolovu
                  h3.h4.product-detail__subtitle.mb-small Praktický návod ako stretnúť, spoznať a získať ženu svojich snov
                  ul.list-inline.list-inline--delimited.product-detail__author.mb-small.text-semibold
                    li Frank Weissert
                    li Jack Thorne
                    li John Tiffany
                  .bar.bar--small.mb-medium
                    .bar__item
                      | Inspira Publishing
                      span.text-color-grey , 2016
                    .bar__item
                      .badges.no-mrg
                        .badge
                          .rating-star
                            +icon('star').rating-star__item.icon--medium.is-active
                            +icon('star').rating-star__item.icon--medium.is-active
                            +icon('star').rating-star__item.icon--medium.is-active
                            +icon('star-half').rating-star__item.icon--medium.is-active
                            +icon('star').rating-star__item.icon--medium
                            .rating-star__value
                              | 3,5
                          .text-medium.text-space-left.show-m(href="#recenzie", data-scroll) 234x

                .col--m-4.text-center
                  //.card.card--success
                    .card__content
                      .h1.mb-small 12,99 €
                      .h3.mb-small.text-color-success Máme v kníhkupectve
                      button.btn.btn--success.mb-small(data-toggle="#map-modal")
                        | ukázať na mape

                  .card.card--success
                    .card__content
                      .h1.mb-small 12,99 €
                      .h3.mb-small.text-color-success Máme v kníhkupectve
                      .text-small Pre tento titul momentálne nevieme zobraziť aktuálnu polohu. Oslovte, prosím, niektorého z našich kníhkupcov.

                  //.alert.alert--light Pre tento titul momentálne nevieme zobraziť aktuálnu polohu. Oslovte, prosím, niektorého z našich kníhkupcov.

              div#book-description(data-collapse="100")
                .cms-article
                  p Harry zápasí s minulosťou, ktorá sa  ustavične vracia. Jeho najmladšiemu synovi Albusovi pripadla ťarcha rodinného dedičstva, o ktoré nikdy nemal záujem. Keď minulosť a prítomnosť vytvoria hrozivú výbušnú zmes, otec aj syn musia čeliť nepríjemnej pravde, že raz sa temnota zjaví na nečakaných miestach.

                  p Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná.

              a.link.text-size-medium(href="javascript:void(0)", data-toggle="#book-description, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger)
                | <span data-toggle-text-target>Čítaj viac</span>#{' '}
                +icon('arrow-down')

              .mb-large
              h5.mb-small Upozornenie
              p.text-color-grey-dark Obsah tejto knihy je vnímaný ako kontroverzný. Pri čítaní každej knihy odporúčame nezabúdať na kritické myslenie a názory odborníkov v danej oblasti. Zisk z predaja tejto knihy putuje na podporu neziskových organizácií SuperTrieda a Slovenská debatná asociácia
                a.link.text-medium.text-space-left

          section.mb-large
            .bar
              .bar__item.bar__item--fill
                h2 Čo si myslíme my?
            .card.card--info.mb-large
              .card__content
                .bar
                  .bar__item
                    .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                  .bar__item.bar__item--fill
                    .text-semibold Adela Ostrolúcka
                    .text-size-medium Event Manager
                  .bar__break.hide-m
                  .bar__item
                    +icon('smile', 'icon--medium').text-color-success
                  .bar__item
                    .rating-star
                      each star, starIndex in Array(5)
                        +icon('star').rating-star__item.icon--medium(class=(starIndex <= 4) && 'is-active')
                  .bar__item
                    .text-size-medium 2.3.2017
                p.bg-blue.mb-none(data-collapse="150") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí. Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                a.link.text-size-medium(href="javascript:void(0)", data-toggle="previous, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger) <span data-toggle-text-target>Čítaj viac</span>#{' '}
                  +icon('arrow-down')

              .card__content
                .bar
                  .bar__item.bar__item--fill.text-right
                    a.link.text-size-medium(href="#recenzie", data-scroll, data-scroll-offset=`{"0": ${header.size.default + 70}, "768": ${header.size.default + 20}}`)
                      | Pozrieť ďalšie recenzie
                      +icon('arrow-down')
          section.mb-large
            +kioskFeatured
              h2.mb-large Podobné knihy, ktoré sa nám páčili

          section.mb-large#recenzie
            h2 Čo hovoria ostatní čitatelia?

            .row.align-items-center.align-items-middle.book-rating.mb-large
              .col--l-5
                .rating-text.text-center
                  .rating-text__value
                    span.text-bold 4,7
                    span.text-color-grey  / 5
                    p.text-medium.text-color-grey.mb-small 1024 hodnotení
                .rating-star.align-items-center.mb-medium.no-mb-l
                  +icon('star').rating-star__item.icon--large.is-active
                  +icon('star').rating-star__item.icon--large.is-active
                  +icon('star').rating-star__item.icon--large.is-active
                  +icon('star').rating-star__item.icon--large.is-active
                  +icon('star-half').rating-star__item.icon--large.is-active
              .col--l-7.col--l-border
                table.book-rating__table.table.table--clean.no-mrg
                  tbody
                    -
                      const barRating = [857, 10, 24, 3, 12];
                      const barRatingSum = barRating.reduce((a, b) => (a + b), 0);
                    each rating, ratingIndex in barRating
                      tr
                        td
                          .rating-star
                            each star, starIndex in Array(5)
                              +icon('star').rating-star__item.icon--medium(class=(starIndex <= (4 - ratingIndex)) && 'is-active')
                        td
                          span= barRating[ratingIndex]
                        td(width="100%")
                          -
                            const width = `${Math.floor(barRating[ratingIndex] / barRatingSum * 100)}%`;
                          .rating-bar(class=`rating-bar--${5 - ratingIndex}`, style=`width: ${width};`)

            article.card.card--well.mb-large
              .card__content
                .row
                  .col--l-6.mb-medium.mb-none-l
                    header.review__header
                      .bar
                        .review__header-avatar.bar__item
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                          +icon('smile', 'icon--medium').text-color-success.bg-default.icon-useful
                        .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
                          .text-semibold Kamil Peteraj
                          .text-medium Martinus, Obchodná BA
                      .bar
                        .bar__item
                          .badge
                            +icon('star', 'icon--small').text-color-yellow
                            | 4.5
                        .bar__item
                          .text-medium 2.3.2017
                    p#user-review-1.bg-secondary.no-mrg-bottom(data-collapse="200") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                    .product-read-more.mb-small
                      a.link.text-size-medium(href="javascript:void(0)", data-toggle="#user-review-1, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                        +icon('arrow-down')

                  .col--l-6.col--l-border
                    header.review__header
                      .bar
                        .review__header-avatar.bar__item
                          +icon('avatar').icon--xlarge.text-color-grey
                          +icon('sad', 'icon--medium').text-color-error.bg-default.icon-useful
                        .review__header-name.bar__item.bar__item--fill.bar__item--shrinkable
                          .text-semibold Kamil Peteraj
                      .bar
                        .bar__item
                          .badge
                            +icon('star', 'icon--small').text-color-yellow
                            | 4.5
                        .bar__item
                          .text-medium 2.3.2017
                    p#user-review-2.bg-secondary.no-mrg-bottom(data-collapse="200") Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti. Ďalší riadok, ktorým sa táto recenzie končí.
                    .product-read-more.mb-small
                      a.link.text-size-medium(href="javascript:void(0)", data-toggle="#user-review-2, self", data-toggle-icon="icons_/app.svg#icon-arrow-up", data-toggle-text="Čítaj menej", data-collapse-trigger, data-parent-hop="2") <span data-toggle-text-target>Čítaj viac</span>#{' '}
                        +icon('arrow-down')

            +review({source: true, verified: true, martinus: true, footer: false})
              | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

            +review({reply: true, name: 'Darina Dobrovská', footer: false})
              | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

            +review({reply: false, name: 'Ondrej Vykecal', footer: false})
              span#review-123456-spoiler-notice(data-toggle-class="hide")
                span.text-color-grey Tento príspevok je spoiler, takze urcite zvaz ci si to kuknes, lebo to mozes niekedy v buducnosti olutovat. Ked to tak neurobis, tak budes mat problem a tak podobne.
                br
                button.link(href="#review-123456-spoiler" data-toggle="#review-123456-spoiler, #review-123456-spoiler-notice") Prajete si ho zobraziť?
              span#review-123456-spoiler.hide(data-toggle-class="hide")
                | Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Curabitur blandit tempus porttitor. Vestibulum id ligula porta felis euismod semper.


            +review({name: 'Callie Krueger a mam strasne dlhe meno a uvidime co sa stane', footer: false})
              | Neviem čo fanúšikovia čakali od tejto knihy, že som našla niekoľko negatívnych recenzií, ale ja musím povedať, že som bola s príbehom spokojná. Opäť som sa vrátila do detských čias a zažívala som úplnú nostalgiu, pretože sa v knihe neobjavovala len budúcnosť, ale aj spomienky z minulosti.

            +pagination

      section.mb-large
        .wrapper-main
          .card.card--well.text-medium.no-pad-bottom
            .card__content
              .row.no-mrg-bottom
                .col--6.col--s-4
                  dl
                    dt Počet strán
                    dd 271
                  dl
                    dt Väzba
                    dd pävná s prebalom
                  dl
                    dt Rozmer
                    dd 100x90x25cm
                .col--6.col--s-4
                  dl
                    dt Hmotnosť
                    dd 330g
                  dl
                    dt Jazyk
                    dd slovenský
                  dl
                    dt ISBN
                    dd 9788055153025

                .col--6.col--s-4
                  dl
                    dt Rok vydania
                    dd 2017
                  dl
                    dt Katalógové číslo
                    dd 162431

block append modals

  .modal-overlay.modal-overlay--dark#map-modal(data-modal)
    article.modal.modal--full.hide
    .product-preview
      .product-preview__header.bar
        .bar__item.bar__item--fill
          h2.text-color-white.show-m Sherlock Holmes 2: Dobrodružstvá Sherlocka Holmesa
        .bar__item
          button.btn.btn--clean(data-toggle="#map-modal").text-color-white
            span Zatvoriť
            +icon('close').icon--medium.icon--right

      .product-preview__content
        div(style="width: 85%; height: auto; margin: 0 auto;")
          div(style="position: relative;")
            div(style="padding-top: 75%; content: ' '; height: 0; line-height: 0;")
            img.img.no-mrg(src="https://www.martinus.sk/images/kiosk/map-7.png", style="position: absolute; top: 0; left: 0; right: 0; bottom: 0;")

            div(style="position: absolute; left: 45%; top: 68%;")
              +icon('user').icon--large.text-color-blue(style="position: relative; top: -2rem; left: -1rem;")
            div(style="position: absolute; left: 20%; top: 40%; color: #39FF14;")
              +icon('pin').icon--xlarge(style="position: relative; top: -3rem; left: -1.5rem;")
              .inline-block.text-semibold.position-relative.badge.badge--green(style="top: -3rem; left: -1.5rem; background: rgba(0, 0, 0, 0.8); color: #39FF14;") Detektívky (A2)


  .modal-overlay.modal-overlay--dark#product-preview(data-modal)
    article.modal.modal--full.hide
    .product-preview(data-product-preview)
      .product-preview__header.bar
        .bar__item.bar__item--fill
          h2.text-color-white.show-m Sherlock Holmes 2: Dobrodružstvá Sherlocka Holmesa
        .bar__item
          button.btn.btn--clean(data-toggle="#product-preview").text-color-white
            span Zatvoriť
            +icon('close').icon--medium.icon--right

      .product-preview__content
        .product-preview__control.show-m
          .bar.bar--vertical
            .bar__item
              button.btn.btn--large.btn--equal.btn--ghost-inverse(data-toggle='#product-preview-slider, self', data-toggle-icon=`${assetsPrefix}icons_/app.svg#icon-zoom-out`)
                +icon('zoom-in').icon--medium
            .bar__item
              button.btn.btn--large.btn--equal.btn--ghost-inverse(data-product-preview-prev)
                +icon('arrow-up').icon--medium
            .bar__item.text-center
              p.text-semibold
                span.text-color-white(data-product-preview-page) 1
                span.text-color-grey  /#{' '}
                span.text-color-grey 5
            .bar__item
              button.btn.btn--large.btn--equal.btn--ghost-inverse(data-product-preview-next)
                +icon('arrow-down').icon--medium

        .product-preview__slider(data-product-preview-slider)#product-preview-slider
          each product, index in Array(5)
            .product-preview__page(data-product-preview-slide=`${index}`)
              img.img--fluid(src=`${assetsPrefix}images/content/book-preview/preview-1.jpg`)
