extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'Novinky na e-mail'

mixin checkbox(props = {})
  -
    const {
      id,
      text,
      tooltip, 
      disabled,
      checked
    } = props;
    
  .form-control.form-control--checkbox
    .checkbox.radiocheck--medium
      input.radiocheck__input(type="checkbox", id=id, checked=checked, disabled=disabled)
      label.radiocheck__control(for=id, disabled=disabled)
      label.radiocheck__label(for=id)
        block
        +icon('info').icon--medium(data-tooltip, title=tooltip)
          

block content
  main.account

    include modules/account-header
    +accountHeader({ navActive: 4, saveButton: true })

    section.section
      .wrapper-main
        .row
          .col--l-3.show-l(data-sticky-container)
            div(data-sticky, data-sticky-class="is-stuck", data-scroll-offset=header.size.default + 40)
              ul.list.list--with-hover.list--expanded.no-pad(role="navigation", data-gumshoe, data-gumshoe-select="#account-sections-spy")
                li
                  a(href="#newsletter", data-scroll, data-scroll-offset=header.size.default + 40) Pravidelný newsletter
                li
                  a(href="#autori", data-scroll, data-scroll-offset=header.size.default + 40) Sledovaní autori
                li
                  a(href="#serie", data-scroll, data-scroll-offset=header.size.default + 40) Sledované série
                li
                  a(href="#edicie", data-scroll, data-scroll-offset=header.size.default + 40) Sledované edície
                li
                  a(href="#vydavatelstva", data-scroll, data-scroll-offset=header.size.default + 40) Sledované vydavateľstvá
                li
                  a(href="#knihy", data-scroll, data-scroll-offset=header.size.default + 40) Sledované knihy
          .col--l-7.col--12(data-sticky-container)
            #newsletter.mb-large
              h3.h2.text-color-black.mb-medium Pravidelný newsletter s novinkami
              p Chcete mať najrýchlejšie informácie o nových knihách? Alebo našich špeciálnych ponukách a zľavách? Tu si môžete nastaviť aké e-maily od nás budete dostávať.
              
              p
                a.link.text-size-medium(href="javascript:void(0)") Neprichádza náš newsletter na vaše Gmail konto?

              +checkbox({ id: 'general-info', disabled: 'disabled', checked: 'checked', tooltip: 'Dolore et labore ullamco amet veniam occaecat cillum fugiat eu nostrud.'})
                | Základné e-maily týkajúce sa nášho zmluvného vzťahu
              +checkbox({ id: 'reviews', tooltip: 'Dolore et labore ullamco amet veniam occaecat cillum fugiat eu nostrud.'})
                | E-maily s prosbou o recenziu knihy, hodnotenie našich služieb a podobne
              +checkbox({ id: 'intrested-in', tooltip: 'Dolore et labore ullamco amet veniam occaecat cillum fugiat eu nostrud.'})
                | Tituly, ktoré vás zaujali
              +checkbox({ id: 'discounts-orders', tooltip: 'Dolore et labore ullamco amet veniam occaecat cillum fugiat eu nostrud.'})
                | Zľavové poukazy, e-maily o neukončeých objednávkach
              +checkbox({ id: 'newsletter-special', tooltip: 'Dolore et labore ullamco amet veniam occaecat cillum fugiat eu nostrud.'})
                | Newsletter a špeciálne ponuky
              +checkbox({ id: 'club-news', tooltip: 'Dolore et labore ullamco amet veniam occaecat cillum fugiat eu nostrud.'})
                | Klubové novinky

            #autori
              h3.h2.text-color-black.mb-none Sledovaní autori
              p Pošleme vám mail vždy, keď uvedení autori vydajú knihu.

              .row
                .col--12.col--m-8
                  .form-control.form-control--input.mb-medium
                    .form-label
                      label(for="autor-autocomplete").text-transform-upper.text-small.text-color-grey.visually-hidden Autori
                    #autor-autocomplete-container

              .badges#autori-vybrane
                
            #serie
              h3.h2.text-color-black.mb-none Sledované série
              p Pošleme vám mail vždy, keď uvedení autori vydajú knihu.
              
              .row
                .col--12.col--m-8
                  .form-control.form-control--input.mb-medium
                    .form-label
                      label(for="seria-autocomplete").text-transform-upper.text-small.text-color-grey.visually-hidden Série
                    #seria-autocomplete-container
                
              .badges#serie-vybrane
              
            #edicie
              h3.h2.text-color-black.mb-none Sledované edície
              p Pošleme vám mail vždy, keď uvedení autori vydajú knihu.

              .row
                .col--12.col--m-8
                  .form-control.form-control--input.mb-medium
                    .form-label
                      label(for="edicia-autocomplete").text-transform-upper.text-small.text-color-grey.visually-hidden Edície
                    #edicia-autocomplete-container

              .badges#edicie-vybrane

            #vydavatelstva
              h3.h2.text-color-black.mb-none Sledované vydavateľstvá
              p Pošleme vám mail vždy, keď uvedení autori vydajú knihu.

              .row
                .col--12.col--m-8
                  .form-control.form-control--input.mb-medium
                    .form-label
                      label(for="vydavatelstvo-autocomplete").text-transform-upper.text-small.text-color-grey.visually-hidden Vydavateľstvá
                    #vydavatelstvo-autocomplete-container

              .badges#vydavatelstva-vybrane

            #knihy
              h3.h2.text-color-black.mb-none Sledované knihy
              p Pošleme vám mail vždy, keď uvedení autori vydajú knihu.

              .row
                .col--12.col--m-8
                  .form-control.form-control--input.mb-medium
                    .form-label
                      label(for="kniha-autocomplete").text-transform-upper.text-small.text-color-grey.visually-hidden Knihy
                    #kniha-autocomplete-container

              .badges#knihy-vybrane

          .col--l-2.show-l
            .bar.bar--small.mb-small(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-scroll-offset=header.size.default + 40)
              .bar__item.bar__item--fill.text-right
                button.btn
                  +icon('save', 'icon--medium').icon--left
                  | Uložiť zmeny

 
block scripts
  script.
    window.myApp = window.myApp = {};
    window.addEventListener('DOMContentLoaded', () => {
      const allResults = {
        author: [
          {
            raw: 'J. K. Rowling Joanne K. Rowlingová, britská autorka, matka dcéry Jessiky, po napísaní a vydaní kníh o huncútskom čarodejníkovi Harrym Potterovi najčítanejšia detská autorka sveta. Jej najznámejším dielom je aj naďalej séria o Harrym Potterovi, v ktorej jej vyšlo 7 románov, jedna divadelná hra a množstvo dodatočných kníh. Okrem toho napísala román so sociálnou tematikou Prázdne miesto a následne sa pod pseudonymom Robert Galbraith pustila do detektívnej série s Cormoranom Strikeom v hlavnej úlohe. V roku 2016 uzrela svetlo sveta divadelná hra zo sveta Harryho Pottera, ktorá sa odohráva 20 rokov po skončení siedmeho dielu. Na jej vzniku sa podielala samotná J. K. Rowlingová spolu so scenáristom Jackom Thornom (1978) a divadelným režisérom Johnom Tiffanym (1971). Obaja sú držiteľmi mnohých ocenení a autormi medzinárodne úspešných divadelných hier.',
            image: '//www.martinus.sk/data/autori/img/a1002.jpg',
            name: 'J. K. Rowling',
            description: 'Joanne K. Rowlingová, britská autorka, matka dcéry Jessiky',
          },
          {
            raw: 'J. K. Rowling Joanne K. Rowlingová, britská autorka, matka dcéry Jessiky, po napísaní a vydaní kníh o huncútskom čarodejníkovi Harrym Potterovi najčítanejšia detská autorka sveta. Jej najznámejším dielom je aj naďalej séria o Harrym Potterovi, v ktorej jej vyšlo 7 románov, jedna divadelná hra a množstvo dodatočných kníh. Okrem toho napísala román so sociálnou tematikou Prázdne miesto a následne sa pod pseudonymom Robert Galbraith pustila do detektívnej série s Cormoranom Strikeom v hlavnej úlohe. V roku 2016 uzrela svetlo sveta divadelná hra zo sveta Harryho Pottera, ktorá sa odohráva 20 rokov po skončení siedmeho dielu. Na jej vzniku sa podielala samotná J. K. Rowlingová spolu so scenáristom Jackom Thornom (1978) a divadelným režisérom Johnom Tiffanym (1971). Obaja sú držiteľmi mnohých ocenení a autormi medzinárodne úspešných divadelných hier.',
            image: '//www.martinus.sk/data/autori/img/a1002.jpg',
            name: 'J. K. Rowling',
            description: 'Joanne K. Rowlingová, britská autorka, matka dcéry Jessiky',
          },
          {
            raw: 'J. K. Rowling Joanne K. Rowlingová, britská autorka, matka dcéry Jessiky, po napísaní a vydaní kníh o huncútskom čarodejníkovi Harrym Potterovi najčítanejšia detská autorka sveta. Jej najznámejším dielom je aj naďalej séria o Harrym Potterovi, v ktorej jej vyšlo 7 románov, jedna divadelná hra a množstvo dodatočných kníh. Okrem toho napísala román so sociálnou tematikou Prázdne miesto a následne sa pod pseudonymom Robert Galbraith pustila do detektívnej série s Cormoranom Strikeom v hlavnej úlohe. V roku 2016 uzrela svetlo sveta divadelná hra zo sveta Harryho Pottera, ktorá sa odohráva 20 rokov po skončení siedmeho dielu. Na jej vzniku sa podielala samotná J. K. Rowlingová spolu so scenáristom Jackom Thornom (1978) a divadelným režisérom Johnom Tiffanym (1971). Obaja sú držiteľmi mnohých ocenení a autormi medzinárodne úspešných divadelných hier.',
            image: '//www.martinus.sk/data/autori/img/a1002.jpg',
            name: 'J. K. Rowling',
            description: 'Joanne K. Rowlingová, britská autorka, matka dcéry Jessiky',
          },
        ],
        book: [
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            image: 'images/content/books/sample-15.jpg',
            name: 'Základy rybolovu pro kluky a holky',
            description: 'Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
          },
          {
            raw: 'Základy rybolovu pro kluky a holky 2 Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            image: 'images/content/books/sample-15.jpg',
            name: 'Základy rybolovu pro kluky a holky 2',
            description: 'Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
          },
          {
            raw: 'Základy rybolovu pro kluky a holky 3 Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            image: 'images/content/books/sample-15.jpg',
            name: 'Základy rybolovu pro kluky a holky 3',
            description: 'Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
          },
        ],
        collection: [
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            images: [
              'images/content/books/sample-1.jpg',
              'images/content/books/sample-2.jpg',
              'images/content/books/sample-3.jpg',
              'images/content/books/sample-4.jpg',
              'images/content/books/sample-5.jpg',
            ],
            name: 'Základy rybolovu pro kluky a holky',
            description: 'Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
          },
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            images: [
              'images/content/books/sample-1.jpg',
              'images/content/books/sample-2.jpg',
              'images/content/books/sample-3.jpg',
              'images/content/books/sample-4.jpg',
              'images/content/books/sample-5.jpg',
            ],
            name: 'Základy rybolovu pro kluky a holky',
            description: 'Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
          },
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            images: [
              'images/content/books/sample-1.jpg',
              'images/content/books/sample-2.jpg',
              'images/content/books/sample-3.jpg',
              'images/content/books/sample-4.jpg',
              'images/content/books/sample-5.jpg',
            ],
            name: 'Základy rybolovu pro kluky a holky',
            description: 'Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
          },
        ],
        text: [
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            name: 'Základy rybolovu',
          },
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            name: 'Základy rybolovu',
          },
          {
            raw: 'Základy rybolovu pro kluky a holky Praktický návod ako stretnúť, spoznať a získať ženu svojich snov',
            name: 'Základy rybolovu',
          },
        ],
      };

      const filter = type => (query, populateResults) => {
        const results = allResults[type];
        const filteredResults = results.filter(result =>
          result.raw.match(new RegExp(query, 'gi')),
        );
        populateResults(filteredResults);
      };

      const onConfirm = (id, prop = 'name') => (value) => {
          let newAuthor = document.createElement('div');
          newAuthor.className = 'badge';
          newAuthor.innerHTML = `
              ${value[prop]}
              <button class="btn btn--clean btn--small btn--equal mb-none" href="#">
                <svg class="icon icon-close  icon--small icon--right" role="img" aria-hidden="true">
                  <use xlink:href="icons_/app.svg#icon-close"></use>
                </svg>
              </button>
          `;

          newAuthor.querySelector('button').addEventListener('click', (evt) => {
            newAuthor.remove();
          });
          
          document.querySelector(id).appendChild(newAuthor);
      };

      window.myApp.autocompleteAutor = new window.myApp.Autocomplete(
        document.getElementById('autor-autocomplete-container'),
        {
          autocompleteOptions: {
            id: 'autor-autocomplete',
            source: filter('author'),
            placeholder: 'Pridať autora? Začnite písať',
            onConfirm: onConfirm('#autori-vybrane')
          },
          templateType: 'author',
        }
      );
      window.myApp.autocompleteSeria = new window.myApp.Autocomplete(
        document.getElementById('seria-autocomplete-container'),
        {
          autocompleteOptions: {
            id: 'seria-autocomplete',
            source: filter('collection'),
            onConfirm: onConfirm('#serie-vybrane')
          },
          templateType: 'collection',
        },
      );
      window.myApp.autocompleteEdicia = new window.myApp.Autocomplete(
        document.getElementById('edicia-autocomplete-container'),
        {
          autocompleteOptions: {
            id: 'edicia-autocomplete',
            source: filter('collection'),
            onConfirm: onConfirm('#edicie-vybrane')
          },
          templateType: 'collection',
        },
      );
      window.myApp.autocompleteVydavatelstvo = new window.myApp.Autocomplete(
        document.getElementById('vydavatelstvo-autocomplete-container'),
        {
          autocompleteOptions: {
            id: 'vydavatelstvo-autocomplete',
            source: filter('text'),
            onConfirm: onConfirm('#vydavatelstva-vybrane')
          },
          templateType: 'text',
        },
      );
      window.myApp.autocompleteKniha = new window.myApp.Autocomplete(
        document.getElementById('kniha-autocomplete-container'),
        {
          autocompleteOptions: {
            id: 'kniha-autocomplete',
            source: filter('book'),
            onConfirm: onConfirm('#knihy-vybrane')
          },
          templateType: 'book',
        },
      );
    });