extends layouts/_default

include ./mixins/icon

block opts
    - var pageTitle = 'Môj účet'

mixin address-wrapper(props = {})
  -
    const {
    type
    } = props;

  if type === 'Fakturačná'
    .card.card--material.card--material-blue.my-account-address
      .card__label=type
      block

  if type === 'Doručovacia'
    .card.card--material.card--material-green.my-account-address
      .card__label=type
      block

  if type === 'Default'
    .card.card--material.my-account-address
      block

mixin address(props = {})
  -
    const {
      type
    } = props;

  +address-wrapper(props)
    .card__status
      .btn-dropdown.btn-dropdown--no-icon
        button.btn.btn--clean(data-toggle='self, next', data-toggle-expand, aria-haspopup="true")
          +icon('dots', 'icon--medium')
        .dropdown.dropdown--align-right(data-dropdown, data-toggle-expand, style="min-width: 180px;")
          .dropdown__wrap
            a(href="#").dropdown__item Nastaviť ako fakturačnú
            a(href="#").dropdown__item Nastaviť ako doručovaciu
            a(href="#", data-toggle="#account-address").dropdown__item Upraviť
            a(href="#").dropdown__item Zmazať
    .card__content
      block

block content
  main.account

    include modules/account-header
    +accountHeader({ navActive: 3, saveButton: true })

    section.section
      .wrapper-main
        .row
          .col--l-2.show-l(data-sticky-container)
            div(data-sticky, data-sticky-class="is-stuck", data-scroll-offset=header.size.default + 40)
              ul.list.list--with-hover.list--expanded.p-none(role="navigation", data-gumshoe, data-gumshoe-select="#account-sections-spy")
                li
                  a(href="#ucet", data-scroll, data-scroll-offset=header.size.default + 40) Účet
                li
                  a(href="#adresy", data-scroll, data-scroll-offset=header.size.default + 40) Adresy
                li
                  a(href="#knihkupectvo", data-scroll, data-scroll-offset=header.size.default + 40) Moje kníhkupectvo
                li
                  a(href="#platby", data-scroll, data-scroll-offset=header.size.default + 40) Platby
                li
                  a(href="#zrychleny-nakup", data-scroll, data-scroll-offset=header.size.default + 40) Zrýchlený nákup
                li
                  a(href="#newsletter", data-scroll, data-scroll-offset=header.size.default + 40) Newsletter
                li
                  a(href="#notifikacie", data-scroll, data-scroll-offset=header.size.default + 40) Notifikácie
                li
                  a(href="#eknihy", data-scroll, data-scroll-offset=header.size.default + 40) E-knihy
          .col--l-8.col--12(data-sticky-container)
            #ucet
              .row.align-items-middle
                .col--fill
                  h3.h2.text-color-black.mb-medium Účet
              .mb-large#my-account-image(data-toggle-class="hide")
                .row.align-items-middle.mb-medium
                  .col--3.col--m-shrink.pr-none
                    img(src="/images/content/user-photo.png", alt="User", width="100")
                  .col--fill
                    div
                      button.btn.btn--clean.btn--small.m-none(data-toggle='#my-account-imageupload, #my-account-image')
                        +icon('upload', 'icon--medium').icon--left
                        | Nahrať#{' '}
                        span.show-s nový#{' '}
                        | obrázok
                    .mb-medium.show-m
                    div
                      button.btn.btn--clean.btn--small.m-none
                        +icon('trash', 'icon--medium').icon--left
                        | Odstrániť
              .my-account-imageupload.mb-large.hide.card.card--well#my-account-imageupload(data-toggle-class="hide")
                .bar.mb-none
                  .bar__item.bar__item--fill
                    input(type="file")
                  .bar__item.bar__item--shrinkable
                    button.btn.btn--clean.btn--small.m-none(data-toggle='#my-account-imageupload, #my-account-image')
                      +icon('close', 'icon--medium')

              hr.mb-medium

              .row
                .col--m-4
                  .form-control.form-control--input
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey Meno
                    input.input(type="text")
                  .form-control.form-control--input
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey Priezvisko
                    input.input(type="text")
                .col--m-4
                  .form-control.form-control--input
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey E-mail
                    input.input(type="email")
                  .form-control.form-control--select
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey Dátum narodenia
                    .row.row--form
                      .col--4
                        select.js-select
                          each day in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]
                            option=day
                      .col--4
                        select.js-select
                          each month in ['Jan','Feb','Mar','Apr','Máj','Jún','Júl','Aug','Sep','Okt','Nov','Dec']
                            option=month
                      .col--4
                        select.js-select
                          option 1998
                          option 1999
                .col--m-4
                  .form-control.form-control--input
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey Vaša klubová karta
                    input.input(type="text")

              hr.mb-medium

              .row.mb-none
                .col--m-4
                  .btn-layout--vertical
                    button.btn.btn--ghost.m-none(data-toggle="#change-password") Zmeniť heslo
              hr

            #adresy
              h3.h2.text-color-black.mb-medium Adresy

              .row.mb-medium
                .col--m-4.flex.flex-column.mb-medium
                  +address({ type: 'Fakturačná'})
                    p.text-medium.mb-small
                      | Lighting Beetle
                      br
                      | Katarína Bohmová
                      br
                      | Gunduličova 4,
                      br
                      | 851 02 Bratislava
                      br
                      | Slovensko
                      br
                      | +421 902 500 336
                    p.text-medium
                      | IČO: 44 865 894
                      br
                      | IČ DPH: SK20 2286 0840
                .col--m-4.flex.flex-column.mb-medium
                  +address({ type: 'Doručovacia'})
                    p.text-medium Lighting Beetle
                      | Jozef Novák
                      br
                      | Lighting Beetle,
                      br
                      | Gunduličova 4,
                      br
                      | 851 02 Bratislava
                - for (var i = 0; i<2; i++)
                  .col--m-4.flex.flex-column.mb-medium
                    +address({ type: 'Default'})
                      p.text-medium.mb-small
                        | Lighting Beetle
                        br
                        | Katarína Bohmová
                        br
                        | Gunduličova 4,
                        br
                        | 851 02 Bratislava
                        br
                        | Slovensko
                        br
                        | +421 902 500 336
                      p.text-medium
                        | IČO: 44 865 894
                        br
                        | IČ DPH: SK20 2286 0840

                .col--m-4.flex.flex-column.mb-medium
                  .add-new-address.flex-1.mb-medium.align-items-middle.align-items-center
                    button.btn.btn--clean.btn--small(data-toggle="#account-address")
                      +icon('plus').icon--left
                      | Pridať ďalšiu adresu

              hr

            #knihkupectvo
              h3.h2.text-color-black.mb-medium Moje kníhkupectvo

              p Tu si môžete nastaviť kníhkupectvo, ktoré máte najbližšie. Vďaka tomu vám pri tituloch budeme rovno vedieť ukázať dostupnosť v danom kníhkupectve ako aj otváracie hodiny.
              .row.mb-large
                .col--m-6
                  select.js-select
                    option Bratislava Obchodná

              hr

            #platby
              h3.h2.text-color-black.mb-medium Platby
              .mb-large
                - for (var i = 0; i<2; i++)
                  .row.align-items-middle(class=i<2 ? 'mb-small' : 'mb-none')
                    .col--fill
                      .text-small.text-transform-upper.text-color-grey-dark Vaša zapamätaná karta
                      .text-medium 4544 **** **** 6403
                    .col--shrink
                      button.btn.btn--clean.btn--small.m-none
                        +icon('trash', 'icon--medium').icon--left
                        span.show-s Odstrániť
                  hr.mb-small

            #zrychleny-nakup
              h3.h2.text-color-black.mb-medium Zrýchlený nákup

              p Tu si môžete nastaviť adresu a spôsob platby pre#{' '}
                em(data-tooltip, title="S tymto butonom nakupite strasne rychlo, ze si ani nevsimnete") zrýchlený nákup
              .row.mb-large
                .col--m-6
                  .form-control.mb-small
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey Adresa
                    select.js-select
                      option Obchodná 26, Bratislava
                  .checkbox.mb-medium
                    input.radiocheck__input(type='checkbox', id='quick-checkout-address', name='quick-checkout-address', data-radiocheck-toggle="#quick-checkout-address2")
                    label.radiocheck__control(for='quick-checkout-address')
                    label.radiocheck__label(for='quick-checkout-address')
                      | Chcem použiť inú fakturačnú adresu

                  .form-control.mb-large.hide#quick-checkout-address2
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey Fakturačná adresa
                    select.js-select
                      option Obchodná 26, Bratislava

                  .form-control
                    .form-label
                      label.text-transform-upper.text-small.text-color-grey Spôsob platby
                    select.js-select
                      option Zapamätaná karta **** **** **** 4567 (VISA)

            #newsletter
              h3.h2.text-color-black.mb-medium Newsletter
              .form-control.form-control--checkbox.mb-large
                .checkbox.radiocheck--medium
                  input.radiocheck__input(type="checkbox", id="newsletter-delivery")
                  label.radiocheck__control(for="newsletter-delivery")
                  label.radiocheck__label(for="newsletter-delivery") Prajem si dostávať newsletter

            #notifikacie
              h3.h2.text-color-black.mb-medium Dôležité notifikácie o objednávke
              p Nastavte si, ako vám môžeme posielať dôležité informácie o objednávke (napr. informáciu o jej expedovaní, alebo že si po ňu môžete prísť do kníhkupectva)

              .form-control.form-control--radio
                .radio
                  input.radiocheck__input(type='radio', id='notifications_sms', name='notifications', checked, data-radiocheck-toggle="#notifications-messenger")
                  label.radiocheck__control(for='notifications_sms')
                  label.radiocheck__label(for='notifications_sms') Posielať pomocou SMS na číslo uvedené pri mojej adrese

              .form-control.form-control--radio
                .radio
                  input.radiocheck__input(type='radio', id='notifications_messenger', name='notifications' data-radiocheck-toggle="#notifications-messenger")
                  label.radiocheck__control(for='notifications_messenger')
                  label.radiocheck__label(for='notifications_messenger')
                    | Pomocou Facebook Messengera

                .card.card--info.form-control.hide#notifications-messenger
                  .card__content
                    p.mb-small Zaškrtnite prosím ešte možnosť "odosielať do Messengera" a nezabudnite stlačiť tlačidlo "Uložiť zmeny".
                    img(src='images/content/messenger/button-mockup.png').mb-none

              .mb-large

            #eknihy
              h3.h2.text-color-black.mb-medium E-knihy
              .row.align-items-middle.mb-large
                .col--m-shrink
                  .form-control.form-control--checkbox.mb-none
                    .checkbox.radiocheck--medium
                      input.radiocheck__input(type="checkbox", id="ebboks")
                      label.radiocheck__control(for="ebboks")
                      label.radiocheck__label(for="ebboks") Prosím o automatické odosielanie e-kníh na tento e-mail:
                .col.mb-small.hide-m
                .col--m-fill
                  .form-control.form-control--input.mb-none
                      input.input(type="email", placeholder="Zadajte vašu e-mailovú adresu")

          .col--l-2.show-l
            .bar.bar--small.mb-small(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-scroll-offset=header.size.default + 40)
              .bar__item.bar__item--fill.text-right
                button.btn
                  +icon('save', 'icon--medium').icon--left
                  | Uložiť zmeny

block append modals
  include ./modules/change-password
  include ./modules/address-modal
