extends layouts/_default

include mixins/product
include mixins/xmas
include ./mixins/icon

block opts
  - var pageTitle = 'Moja knižnica'

  -
    const subNav = [
      {
        title: 'Všetky moje tituly',
        href: '#',
        pill: 69,
      },
      {
        title: 'Kúpené v kníkupectve',
        href: '#',
        pill: 102,
        icon: 'smart-list'
      },
      {
        title: 'Kúpené na webe',
        href: '#',
        pill: 9,
        icon: 'smart-list'
      },
      {
        title: 'Čítam',
        href: '#',
        icon: 'smart-list'
      },
      {
        title: 'Prečítané',
        href: '#',
        pill: 8,
        icon: 'smart-list'
      },
      {
        title: 'Neprečítané',
        href: '#',
        pill: 2,
        icon: 'smart-list'
      },
      {
        title: 'Wishlist',
        href: '#',
        pill: 120,
      },
      {
        title: 'Vianoce 2017',
        href: '#',
        pill: 8,
      },
      {
        title: 'Pre bratranca',
        href: '#',
        pill: 2,
      },
    ];

block content
  main.account

    include modules/account-header
    +accountHeader({
      navActive: 0,
      subNav,
    }).show-l

    section.section
      .wrapper-main
        .row
          .col--l-3.show-l(data-sticky-container)
            div(data-sticky, data-sticky-class="is-stuck", data-sticky-wrap, data-scroll-offset=header.size.default + 40)
              ul.list.list--expanded.list--with-hover.no-pad.mb-large(role="navigation")
                each item, index in subNav
                  li(class= index === 6 ? 'is-active' : '')
                    a(href=item.href, data-scroll, data-scroll-offset=header.size.default + 40)
                      if item.icon
                        +icon(item.icon).icon--small.text-space-right.text-color-grey
                      = item.title
                      if item.pill
                        .pill.text-space-left(class= index === 6 ? 'pill--blue' : 'pill--white')= item.pill

              .btn-layout.btn-layout--vertical
                .btn-dropdown.btn-dropdown--no-icon.no-mrg-bottom
                  button.btn(
                    data-toggle='self, next',
                    data-toggle-expand,
                    aria-haspopup="true"
                  )
                    | Pridať zoznam
                  #addList.dropdown.dropdown--align-right.dropdown--nowrap(data-dropdown, data-dropdown-interactive, data-toggle-expand)
                    .dropdown__wrap
                      .card.mb-none
                        .card__content.card__content--condensed
                          .bar.flex-nowrap
                            .bar__item.bar__item--fill.text-nowrap
                              | Nový zoznam
                            .bar__item
                              button.btn.btn--clean.btn--small(data-toggle='#addList')
                                +icon('close', 'icon--small', 'Naspäť')
                          .form-control.form-control--input
                            input(name="addListInput", id="addListInput", placeholder="napr. otcovi na Vianoce").input
                          .btn-layout--vertical
                            button(type="button").btn.btn--full.no-mrg-bottom Vytvoriť

              p.text-small.text-center.text-color-grey Napr. Na vianoce, Pre brata,...

          .col--l-9.col--12.mb-large
            .row
              .col--m-8
                .bar.bar--no-wrap.mb-medium
                  .bar__item.hide-l
                    a(href="my-library-list.html").btn.btn--clean.no-mrg-bottom
                      +icon('arrow-left', 'icon--medium')
                  .bar__item.bar__item--shrinkable
                    .bar.mb-none
                      .bar__item
                        h2 Wishlist
                      .bar__item.show-m
                        .pill.pill--blue 17
                  .bar__item
                    .btn-layout.btn-layout--horizontal
                      .btn-dropdown.btn-dropdown--no-icon.no-mrg-bottom
                        button.btn.btn--clean(
                          data-toggle='self, next',
                          data-toggle-expand,
                          aria-haspopup="true"
                        )
                          +icon('dots').icon--medium
                        .dropdown.dropdown--align-right.dropdown--nowrap(data-dropdown, data-toggle-expand, style="width: 200px")
                          .dropdown__wrap
                            a(href="#").dropdown__item Premenovať
                            a(href="#").dropdown__item Zmazať

                      button.btn.btn--clean.no-mrg-bottom(
                        data-toggle='#share-list-modal',
                        data-tooltip,
                        title="Zdieľať"
                      )
                        +icon('share').icon--medium
                      button.btn.btn--clean.no-mrg-bottom(data-tooltip, title="Hromadná úprava", data-toggle="#bulk-edit")
                        +icon('collection').icon--medium
                      button.btn.btn--equal.no-mrg-bottom.hide-m(data-toggle="#add-item")
                        +icon('plus').icon--medium

            .row
              .col--m-6
                .bar.show-m#add-item(data-toggle-class="show-m")
                  .bar__item.bar__item--shrinkable
                    | Pridať:
                  .bar__item.bar__item--fill
                    .form-control.form-control--input.mb-none(style="position: relative;")
                      input.input(type="text", placeholder="Začnite písat názov knihy, filmu, ...")
                      .dropdown.dropdown--arrowhead
                        .dropdown__wrap
                          each item, i in books
                            a.dropdown__item
                              .product.product--horizontal
                                .product__img.product__cover.mb-none
                                  .thumbnail.thumbnail--book.thumbnail--small
                                    .thumbnail__img-wrap
                                      img(src=`${assetsPrefix}${item.cover}`).img

                                .product__caption
                                  .bar.bar--small.no-mrg-bottom
                                    .bar__item.bar__item--fill
                                      .text-semibold.block.mb-none.line-medium=item.title
                                      .text-color-grey.text-size-small= item.author

              .col--m-6
                .bar.mb-large.align-items-right
                  .bar__item
                    .form-control.form-control--select
                      select.js-select.select--ghost(data-select-dropdown-width="150px")
                        option Zoradiť
                        option Dátum pridania
                        option Dátum nákupu
                        option Zmena stavu čítania
                  .bar__item
                    button.btn.btn--primary
                      +icon('cart').icon--left.icon--medium
                      | 236,50 €


              //- TODO: Hladat v kniznici
              //- .col--m-6
              //-   .form-control.form-control--input
              //-     .input-addons
              //-       input.input(type='text', placeholder="Hľadať v knižnici (autor, titul, ...)")
              //-       .input-addons__item.no-pad
              //-         button.btn
              //-           +icon('plus').icon--medium.icon--left
              //-           | Pridať

            .row.align-items-bottom
              each item, index in [...books, ...books, ...books, ...books]
                -
                  let status;
                  switch(index) {
                    case 3:
                    case 4:
                    case 7:
                      status = 'read';
                      break;
                    case 2:
                      status = 'reading';
                      break;
                    default:
                    status = 'notread';
                  }
                .col--6.col--s-4.col--m-3.mb-large.text-center
                  +product({ size: 'large' }).mb-small.text-left.inline-block
                    +productStatus({ actionDropdown: 'my-library', status: status })
                    +productCover({ cover: item.cover, href: '#' })
                    .bar.mb-small.align-items-top
                      .bar__item.bar__item--fill.no-mrg-right
                        +productTitle({ title: item.title, author: item.author, href: '#' })
                      .bar__item.bar__item--shrinkable
                        if index < 5
                          .text-color-success
                            +icon('transit').icon--small.text-space-left-tiny(data-tooltip, title="Na sklade. Posielame do 3 dní.")
                        else
                          .text-color-grey
                            +icon('transit').icon--small.text-space-left-tiny(data-tooltip, title="Na objednávku do troch týždňov.")
                    if index === 1
                      +productToRate()
                    else if index === 3
                      +productRating
                    else if index === 5
                      +productRating({ stars: 0 })
                    else if index === 6
                      +productRating({ stars: 5 })
                    else if index === 7
                      .product__action
                    else
                      +productBuy()

            .mb-medium
            .btn-layout.btn-layout--horizontal.align-items-center.mb-large
              button.btn.btn--ghost
                | Načítať ďalšie
                +icon('arrow-down').icon--medium.icon--right


block append modals
  include ./modules/book-read-modal
  include ./modules/share-list-modal

  .modal-overlay#bulk-edit(data-modal)
    article.modal.modal--medium
      .modal__wrap
        .modal__header.mb-none
          .modal__header__headline

            .bar.mb-none
              .bar__item
                h2 Wishlist
              .bar__item.show-m
                .pill.pill--blue 17

          .modal__header__action
            .btn.btn--clean(data-toggle="#bulk-edit")
              +icon('close').icon--medium
        .bg-secondary
          .modal__content
            .bar
              .bar__item.bar__item--shrinkable
                .checkbox
                  input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                  label(for=`list-check${i}`).radiocheck__control
              .bar__item.bar__item--fill
              .bar__item.bar__item--shrinkable
                .btn-layout.btn-layout--horizontal
                  button.btn.btn--ghost.btn--small(disabled)
                    | Presunúť
                    +icon('chevron-down').icon--small.icon--right
                  button.btn.btn--ghost.btn--small(disabled)
                    | Označiť
                    +icon('chevron-down').icon--small.icon--right
                  button.btn.btn--clean.btn--small.no-mrg(type="button" data-toggle=`#cart-item${i}`, disabled)
                    +icon('trash', 'icon--medium')

        .modal__content
          each item, i in books
            .bar.align-items-middle.mb-small
              .bar__item.bar__item--shrinkable
                .checkbox
                  input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                  label(for=`list-check${i}`).radiocheck__control
              .bar__item.bar__item--shrinkable
                a.thumbnail.thumbnail--book.thumbnail--clickable.thumbnail--small(href="detail-knihy.html")
                  .thumbnail__img-wrap
                    img.img(src=`${assetsPrefix}${item.cover}`)
              .bar__item.bar__item--fill
                .cart-item__column.cart-item__column--product-name
                  a.text-semibold.no-mrg.block.link.link--product.line-medium.text-ellipsis(href="detail-knihy.html")
                    +xmas({type: 'icon'}).text-space-right-tiny
                    =item.title
                  ul.list-inline.list-inline--delimited.text-color-grey.text-size-small.text-ellipsis.mb-none
                    - var authors = item.author.split(', ')
                    each author in authors
                      li= author
              .bar__item.bar__item--shrinkable.show-m
                .text-semibold.text-size-medium.text-nowrap= item.price
              .bar__item.bar__item--shrinkable
                if i < 3
                  +icon('time').text-color-blue.icon--small(data-tooltip, title="Práve čítam")
                else
                  +icon('check-circle').text-color-success.icon--small(data-tooltip, title="Prečítaná")
              //-.bar__item.bar__item--shrinkable
                button.btn.btn--clean.no-mrg(type="button" data-toggle=`#cart-item${i}`)
                  +icon('trash', 'icon--medium')
            .border-bottom-grey.mb-small
