extends layouts/_default

include ./mixins/addTo
include ./mixins/breadcrumbs
include ./mixins/icon
include ./mixins/product
include ./mixins/xmas

block opts
    - var pageTitle = 'Kolekcia'

block content
  -
    var swiperConfig = {
      slidesPerView: 1,
    };

  main.collection

    .position-relative
      .wrapper-main
        .pagetip.pagetip--top.pagetip--right.pagetip--medium
          .card.card--material.card--material-blue
            .card__content
              .bar
                .bar__item.bar__item--shrinkable
                  +icon('footer-reading').icon--xxlarge.text-color-grey
                .bar__item.bar__item--fill
                  p.text-size-medium
                    b Odporučiť niekomu výber knižiek je zodpovedná úloha!
                    | #{' '}Preto sme to trochu uľahčili a aj vy máte možnosť ľahko vytvoriť a zdieľať takúto kolekciu.#{' '}
                    b Skúste si jednu vytvoriť
                    | #{' '}už dnes, napríklad pre vlastný prehľad či potešenie :-)
              .text-center
                span.btn.mb-none Chcem vytvoriť kolekciu

    section.section--breadcrumbs.position-relative
      .wrapper-main
        .bar.mb-none
          .bar__item.bar__item--shrinkable
            +breadcrumbs({ breadcrumbs: ['Knihy', 'Čitateľské kolekcie', 'Kultové Sci-fi (Janko Martinusák)'] })

    section.section.section--books-header

      -
        var count = 12;
        var cols = 6;
        var _w = 200;
        var _h = 300;
        var width = count * _w;
        var height = count / cols * _h;
      .books-header.show-l
        each num, i in Array(count)
          -
            var x = i % cols * _w;
            var y = Math.floor(i / cols) * _h;
          .thumbnail.thumbnail--book(style="left: " + x + "px; top: " + y + "px")
            .thumbnail__img-wrap
              img(src="images/content/books/sample-" + i + ".jpg")
      .wrapper-main
        .row
          .col--m-7
            .bar
              .bar__item(style="position: relative;")
                .portrait.portrait--large.show-m(style="background-image: url('images/content/avatars/f.jpg');")
                .portrait.portrait--medium.hide-m(style="background-image: url('images/content/avatars/f.jpg');")
                .badge.badge--blue(style="position: absolute; top: 0;")
                  .h2.mb-none 13
              .bar__item.bar__item--fill
                .bar.mb-none
                  .bar__item.bar__item--fill
                    h2.mb-none
                      a.link(href="club-profile-public.html") Janko Martinusák
                    h1.mb-small Dlhý názov kolekcie, ktorý bude treba zalomiť
                    .btn-layout.btn-layout--horizontal
                      a.btn.btn--small.btn--equal
                        +icon('fb').icon--small
                      | #{' '}
                      a.btn.btn--small.btn--equal
                        +icon('link').icon--small
                      a.btn.btn--small.btn--ghost
                        +icon('edit').icon--small.icon--left
                        | upraviť


    section.section.pt-none
      - for (var i = 0; i<8; i++)
        .section.product-item(class=(i % 2 == 0) ? 'bg-secondary' : 'bg-default' ).mb-none
          .wrapper-main
            .row
              .col--4.col--s-shrink.text-left
                +product().mb-none
                  +productCover({
                    cover: 'images/content/books/sample-3.jpg',
                    rating: 3.5,
                    size: 'xlarge'
                  }).mb-medium
              .col--8.hide-s
                ul.list-inline.list-inline--delimited.mb-small
                  li
                    a.link(href="#") Frank Weissert

                h2.h3.text-bold.mb-small
                  a.link.link--product.text-bold Lahodne s Ellou - Lahodné prísady a fantastické jedlo, ktoré si vy a vaše telo zamilujete
                h3.h4.mb-medium Praktický návod ako stretnúť, spoznať a získať ženu svojich snov
              .col--s-fill
                .show-s
                  ul.list-inline.list-inline--delimited.mb-small
                    li
                      a.link(href="#") Frank Weissert

                  h2.text-bold.mb-small
                    a.link.link--product.text-bold Lahodne s Ellou - Lahodné prísady a fantastické jedlo, ktoré si vy a vaše telo zamilujete
                  h3.h4.mb-medium Praktický návod ako stretnúť, spoznať a získať ženu svojich snov

                if (i>0 && i<=2)
                  article.card.card--speech-bubble(class=(i % 2 == 0) ? 'bg-default' : 'bg-secondary' )
                    .card__content.text-medium Vychutnajte si daľšiu várku úžasných a zdravých receptov Elly Woodwardovej spolu s rodinou a priatelmi bez ohladu na to, pri akej príležitosti sa zišli.
                  .bar.bar--small
                    .bar__item
                      .portrait.portrait--small(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                    .bar__item
                      a.link.text-medium(href="#") Callie Krueger
                      .text-small.text-color-grey Autor kolekcie
                    .bar__item
                      .rating-star.bar__item.justify-content-center
                        each star, starIndex in Array(5)
                          +icon('star').rating-star__item.icon--large.is-active
                else
                  p Lahodne s Ellou je názov jedinečnej kuchárskej knihy, ktorú na základe svojich vlastných skúseností napísala známa britská blogerka Ella Woodwardová. Jedinečnosť kuchárky nie je len v jedinečnom štýle a životnom príbehu autorky – radikálnou zmenou stravy sa jej podarilo vyliečiť z choroby, ktorú lekári označili za nevyliečiteľnú. Ella prináša dobré a zaujímavé recepty, v ktorých používa netradičné a dávno zabudnuté suroviny. V našich obchodoch ich dostaneme, ale nevieme ich používať.
              .col--m-3.mb-large.mb-m-none
                .product-item__price-box.text-center
                  .mb-small.show-m
                    .h2.text-bold 12,99 €
                    .badge.badge--primary.mb-small Zľava 10%
                    +xmas({status: 0})
                  p.mb-medium.text-color-grey-dark.text-medium Posielame#{' '}
                    em(data-tooltip, title="Toto je tooltip vysvetlivka") ihneď
                    | .
                  .mb-small
                    +xmas()
                  .mb-small
                    .btn-layout.btn-layout--vertical
                      button.btn.btn--primary
                        +icon('cart').icon--left.icon--medium
                        span.show-m Vložiť do košíka
                        span.hide-m Kúpiť za 12,99 €
                  .mb-small
                    +addTo()

    section.section.section--secondary
      .wrapper-main
        .row
          .col--m-4.ofst--m-center
            .btn-layout--vertical.mb-m-large.mb-s-medium
              button.btn.btn--ghost Načítať ďalšie knihy (+5)

  include ./modules/seen-items
  include ./modules/seen-items-delete


block append modals
  include ./modules/product-preview
