extends layouts/_default

block opts
    - var pageTitle = 'Objednávky'

block content
 - var currentStep = 2
  -
    var swiperConfig = {
      slidesPerView: 6,
      simulateTouch: false,
      breakpoints: {
        768: {
          slidesPerView: 3,
          simulateTouch: true,
        },
        480: {
          slidesPerView: 1,
        }
      },
    };

  main.account

    include modules/account-header

    section.section.section--m-full
      .wrapper-main
        .row
          .col--l-3.show-l
            .form-control.form-control--input
              input.input.filter__search.no-mrg-top(type="text", name="filter-author", id="filter-author", placeholder="Hľadať v objednávkach")
            - for (i=0; i<5; i++)
              .box(class=i === 0 ? "bg-secondary" : "border-bottom-grey")
                .bar.align-items-top
                  .bar__item.bar__item--fill
                    .text-medium.text-semibold Objednávka č. 123
                    .text-small.text-color-grey Objednané 12.4.2017
                  .bar__item
                    img(src="images/content/books/sample-3.jpg").thumbnail.thumbnail--book.thumbnail--medium
                .bar.text-medium.no-mrg-bottom
                  .bar__item.bar__item--fill
                    if i<1
                      +icon('time', 'icon--small').text-color-grey
                    else
                      +icon('check-circle', 'icon--small').text-color-success
                    span.text-space-right.text-space-left #{i<1 ? 'Prijatá' : 'Vybavená'}
                    span.text-color-grey Dnes
                  .bar__item
                    .text-semibold 10,00 €

          .col--l-9.col--12
            .row.mb-large
              .col--fill
                h1.h2.mb-small Objednávka č. 123
                .text-medium.text-color-grey Objednané 12. 4. 2017
              .col--shrink
                button.btn.btn--ghost.no-mrg-bottom.text-space-right
                  +icon('trash', 'icon--medium').icon--left
                  | Stornovať
                button.btn.btn--ghost.no-mrg-bottom
                  +icon('download', 'icon--medium').icon--left
                  | Stiahnuť faktúru
            .row.mb-large      
            .row.mb-large
              // progress bar
              .order-progress.mb-large
                .swiper-container(data-swiper-options=swiperConfig)
                  .swiper-wrapper
                    - for (var i = 0; i < 6; ++i)
                      .order-progress__item.swiper-slide.text-center(class=(i===currentStep) ? 'current' : '')
                        .mb-small.order-progress__icon(class=i<currentStep ? 'text-color-success' : '')
                          +icon('file', 'icon--large')
                        .mb-small(class=i<currentStep ? 'text-color-success' : '')
                          if (i<currentStep)
                            +icon('check-circle', 'icon--medium').bg-default
                          if (i===currentStep)
                            +icon('time', 'icon--medium').bg-default
                          if (i>currentStep)
                            .order-progress__blank-circle
                        .text-medium.order-progress__status(class=i===currentStep ? 'text-semibold' : '') Dokončili ste objednávku
            
            .order-packages
              // zasielka 1
              .package.mb-large
                .bar.align-items-middle.mb-medium
                  .bar__item
                    h2.h4
                      +icon('check-circle', 'icon--medium').text-color-success.text-space-right
                      | Zásielka 1.
                each a, i in Array(2)
                  .package__item.mb-small
                    .bar.align-items-middle.mb-small
                      .bar__item.no-pad-right
                        img(src="images/content/books/sample-1.jpg").thumbnail.thumbnail--book.thumbnail--medium
                      .bar__item.bar__item--fill
                        .text-semibold Rybaření pro začátečníky a názov na dva riadky
                        .text-small.text-color-grey Armin Göllner
                      .bar__item
                        button.btn.btn--clean
                          +icon('heart', 'icon--medium').icon--left
                        span.text-medium V#{' '}
                          a.link(href="#") knižnici
                      .bar__item.text-medium
                        | 1x#{' '}
                        span.text-semibold 3940,26 €
                    div(class=i===1 ? 'border-bottom-grey-2' : 'border-bottom-grey')
              // zasielka 2
              .package.mb-large
                .bar.align-items-middle.mb-medium
                  .bar__item
                    h2.h4
                      +icon('check-circle', 'icon--medium').text-color-success.text-space-right
                      | Zásielka 2.
                  .bar__item
                    span.text-small.text-space-right
                      span.text-color-grey Odoslané 13. 4. 2017.#{' '}
                      span.text-color-black Kuriér GLS
                    span.text-small.text-space-right
                      span.text-color-grey Číslo zásielky#{' '}
                      span.text-color-black HSKDJF546546
                .package__item.mb-small
                  .bar.align-items-middle.mb-small
                    .bar__item.no-pad-right
                      img(src="images/content/books/sample-22.jpg").thumbnail.thumbnail--book.thumbnail--medium
                    .bar__item.bar__item--fill
                      .text-semibold Rybaření pro začátečníky a názov na dva riadky
                      .text-small.text-color-grey Armin Göllner
                    .bar__item
                      button.btn.btn--clean
                        +icon('heart', 'icon--medium').icon--left
                      span.text-medium V#{' '}
                        a.link(href="#") knižnici
                    .bar__item.text-medium
                      | 1x#{' '}
                      span.text-semibold 3940,26 €
                  .border-bottom-grey-2
              // neodoslane
              .package.mb-large
                .bar.align-items-middle.mb-medium
                  .bar__item
                    h2.h4
                      +icon('time', 'icon--medium').text-color-grey.text-space-right
                      | Zatiaľ neodoslané tituly
                  .bar__item
                    span.text-small.text-space-right
                      span.text-color-grey Odoslané 13. 4. 2017.#{' '}
                      span.text-color-black Kuriér GLS
                    span.text-small.text-space-right
                      span.text-color-grey Číslo zásielky#{' '}
                      span.text-color-black HSKDJF546546
                .package__item.mb-small
                  .bar.align-items-middle.mb-small
                    .bar__item.no-pad-right
                      img(src="images/content/books/sample-15.jpg").thumbnail.thumbnail--book.thumbnail--medium
                    .bar__item.bar__item--fill
                      .text-semibold Rybaření pro začátečníky a názov na dva riadky
                      .text-small.text-color-grey Armin Göllner
                    .bar__item
                      button.btn.btn--clean
                        +icon('heart', 'icon--medium').icon--left
                      span.text-medium V#{' '}
                        a.link(href="#") knižnici
                    .bar__item.text-medium
                      | 1x#{' '}
                      span.text-semibold 3940,26 €
                  .border-bottom-grey-2
            
            .order-summary.mb-large
              h2.mb-medium Sumár objednávky
              .order-summary__item.border-bottom-grey-2.mb-medium
                .bar.mb-small.text-medium
                  .bar__item.bar__item--fill
                    h3.h4.mb-small.text-color-black Spôsob doručenia
                    div Pošta (na adresu)
                  .bar__item.text-right
                    .text-semibold 1,99 €
              .order-summary__item.border-bottom-grey-2.mb-medium
                .bar.mb-small.text-medium
                  .bar__item.bar__item--fill 
                    h3.h4.mb-small.text-color-black Spôsob doručenia
                    div 1x červený papier
                      br
                      | Neprikladať faktúru
              .order-summary__item
                .bar.mb-small.text-medium
                  .bar__item.bar__item--fill 
                    h3.h4.mb-small.text-color-black Fakturačná adresa
                    div Jozef Novák, Budyšínska 51, 851 02 Bratislava
              .order-summary__item.border-bottom-grey-2.mb-medium
                .bar.mb-small.text-medium
                  .bar__item.bar__item--fill 
                    h3.h4.mb-small.text-color-black Doručovacia adresa
                    div Jozef Novák, Budyšínska 51, 851 02 Bratislava
              .order-summary__item.border-bottom-grey-2.mb-medium
                .bar.mb-small.text-medium
                  .bar__item.bar__item--fill 
                    h3.h4.mb-small.text-color-black Spôsob platby
                    div Kartou (vopred)
                      br
                      | Darčeková poukážka
                  .bar__item.text-right
                    button.btn.btn--ghost.mb-small
                      +icon('download', 'icon--medium').icon--left
                      | Stiahnuť faktúru za prijatú platbu
                    .text-semibold 1,99 €
              .order-summary__item.border-bottom-grey-2.mb-medium
                .bar.mb-small.text-medium
                  .bar__item.bar__item--fill 
                    h3.h4.mb-small.text-color-black Darovali ste centy a stali ste sa Anjelom!
                    div Zaokrúhliť na 10€
                  .bar__item.text-right
                    button.btn.btn--clean.no-mrg-bottom
                      +icon('chevron-down', 'icon--medium')
                    .text-semibold 1,56 €
              .mb-large
              .text-right
                span.text-large.text-space-right Spolu k úhrade
                span.h2.text-bold 10,00 €