include ./mixins/icon

//- -----------------------------------------------
//- VARIABLES AND DATA

- const assetsPrefix = '';
- const htmlPostfix = '.html';

mixin reviewCard
  .review-card.bg-secondary
    .bar.bar--vertical.bar--vertical-small.m-none
      .bar__item.bar__item--shrinkable.m-none
        .review-heading
          .review-heading__item.review-heading__item--static
            img(src=`${assetsPrefix}images/content/logo-small.svg`, alt="Martinus", style="height: 28px;").mr-tiny
            | náš názor na knihu
          .review-heading__item#review-h1(data-medium-editor)
            | Klub nerozbitných detí
          .review-heading__item(data-medium-editor)
            | Slávka Kubíková

      .bar__item.bar__item--fill.m-none
        .bar.bar--vertical.m-none.align-items-center
          .bar__item.m-none
            p.text-italic(data-medium-editor) Podľa mňa by si túto knihu mal prečítať každý rodič, hlavne starý rodič (aby pochopil príčiny pravidiel a zákazov rodičov a nerobil presný opak a podkopával tak rodičovskú autoritu), či učiteľ a pod. Človek sa častokrát zamyslí nad svojím prístupom a vzťahom k deťom a ich výchove, hlavne v tomto uponáhľanom svete. Rozhovory v knihe ponúkajú "priklady" ako sa to dá robiť aj inak.

      .bar__item.bar__item--shrinkable.m-none
        .review-rating.inline-block
          .bar.mb-none
            .bar__item.js-stars
              each item, i in Array(5)
                if i > 3
                  +icon('star-half').icon--xlarge
                else
                  +icon('star').icon--xlarge
            .bar__item
              .text-bold(style="font-size: 42px;", data-medium-editor).js-star-rating 4,5
          p.text-medium.text-center priemerné hodnotenie našich čitateľov

//- -----------------------------------------------
//- HTML

doctype html
html.no-js

  //- -----------------------------------------------
  //- HEAD

  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")

    title= pageTitle

    meta(name="description", content="")
    meta(name='keywords', content='')
    link(rel="shortcut icon", href=`${assetsPrefix}favicon.ico`)

    link(rel="stylesheet", href=`${assetsPrefix}fonts/Tabac-Sans/style.css`)
    link(rel="stylesheet", href=`${assetsPrefix}styles/review-cards.css`)
    link(rel="stylesheet", href=`https://fonts.googleapis.com/css?family=Spectral:400,600&amp;subset=latin-ext`)

    script(src=`${assetsPrefix}scripts/plugins/modernizr.js`)

    script(src=`//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js`)
    link(rel="stylesheet", href=`//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css`, type="text/css", media="screen", charset="utf-8")

    block head

    style
      .
        body {
          -webkit-print-color-adjust: exact !important;
        }

        @media print {
          .js-print {
            display: none;
          }
        }

  //- -----------------------------------------------
  //- BODY

  body

    -
      var scale = 0.74;

    div(style="position: absolute; top: 20px; right: 20px; z-index: 10;")
      .bar
        .bar__item
          +icon('warning').icon--small.text-color-orange.mr-tiny
          small.text-color-orange.text-semibold Len CHROME v najnovšej verzii
        .bar__item
          button.btn.btn--primary.js-print
            +icon('file').icon--medium
            | #{' '}vytlačiť

    .bar.m-none(style=`width: 1654px; transform: translate3d(0, 0, 0) scale(${scale}, ${scale});`).js-row1
      .bar__item.m-none
        +reviewCard
      .bar__item.m-none
        +reviewCard

    .bar.m-none(style=`width: 1654px; transform: translate3d(0, 0, 0) scale(${scale}, ${scale});`).js-row2
      .bar__item.m-none
        +reviewCard
      .bar__item.m-none
        +reviewCard

    script
      .
        var scale = 0.74;
        var printing = false;

        let ratingStar = '<svg class="icon icon-star icon--xlarge" role="img" aria-hidden="true"><use xlink:href="icons_/app.svg#icon-star"></use></svg>';
        let ratingStarHalf = '<svg class="icon icon-star-half icon--xlarge" role="img" aria-hidden="true"><use xlink:href="icons_/app.svg#icon-star-half"></use></svg>';

        var ratingStarContainer, ratingStarValue;

        function getStarRating(ratingStarValue) {

          var ratingStars = '';
          var ratingBaseValue = Math.floor(ratingStarValue);
          for (var i = 0; i < ratingBaseValue; i++) {
            ratingStars += ratingStar;
          }

          if (ratingStarValue < ratingBaseValue + 0.3)
            return ratingStars;

          ratingStars += ((ratingStarValue - ratingBaseValue) > 0.2 && (ratingStarValue - ratingBaseValue) < 0.8) ? ratingStarHalf : ratingStar;

          return ratingStars;
        }

        window.addEventListener('DOMContentLoaded', function() {

          document.querySelector('.js-print').addEventListener('click', (e) => {
            if (!printing) {
              document.querySelector('.js-row2').style.transform = 'translate3d(0, -50%, 0) scale('+scale+', '+scale+')';
              e.target.innerHTML = '<svg class="icon icon-chevron-left icon--medium" role="img" aria-hidden="true"><use xlink:href="icons_/app.svg#icon-chevron-left"></use></svg> naspäť';
              printing = true;
              window.print();
            } else {
              document.querySelector('.js-row2').style.transform = 'translate3d(0, 0, 0) scale('+scale+', '+scale+')';
              e.target.innerHTML = '<svg class="icon icon-file icon--medium" role="img" aria-hidden="true"><use xlink:href="icons_/app.svg#icon-file"></use></svg> vytlačiť';
              printing = false;
            }
          });

          window.mediumEditor = new MediumEditor('[data-medium-editor]', {toolbar: false, disableReturn: true});
          window.mediumEditor.subscribe('blur', function (event, editable) {
            if (editable.classList.contains('js-star-rating')) {

              ratingStarContainer = editable.parentNode.parentNode.querySelector('.js-stars');
              var ratingStarValue = parseFloat(editable.innerHTML.replace(',', '.'));

              ratingStarContainer.innerHTML = getStarRating(ratingStarValue);
            }
          });
        });
