extends layouts/_default

include mixins/libraryCarousel
include mixins/sectionHeader
include mixins/icon

block opts
    - var pageTitle = 'Ďakujeme'
    - const pageClass = 'bg-secondary';

block content
  - var currentStep = 2
  -
    var swiperConfig = {
      slidesPerView: 3,
      breakpoints: {
        768: {
          slidesPerView: 6,
          simulateTouch: true,
        },
      },
    };
  -
    var swiperConfig2 = {
      slidesPerView: 3,
      simulateTouch: false,
      breakpoints: {
        768: {
          simulateTouch: true,
        },
      },
    };
  main
    section.section.section--secondary.section--m-full
      .wrapper-main
        .row
          article.card.col--l-8.ofst--center
            section.card__content
              .mb-medium
              .mb-large
                h1.h2.mb-small.text-center Vaša objednávka č. 8512435 bola úspešne odoslaná a čakáme na vašu platbu!
                p.text-medium.text-center.mb-none Naši škriatkovia začali objednávku spracovávať a odošlú ju po vašom zaplatení do 3 dní.
              //.mb-large.text-center
                button.btn.btn--primary Zaplatiť kartou online
              // progress bar
              .order-progress.mb-large
                .swiper(data-swiper-options=swiperConfig)
                  .swiper-wrapper
                    - for (var i = 1; i < 7; ++i)
                      .order-progress__item.swiper-slide.text-center(class=(i===currentStep) ? 'current' : '')
                        .order-progress__icon(class=i<currentStep ? 'text-color-success' : '')
                          +icon('order-progress-'+i, 'icon--xxlarge')
                        .mb-small(class=i<currentStep ? 'text-color-success' : '')
                          if (i<currentStep)
                            +icon('check-circle', 'icon--medium').bg-default
                          if (i===currentStep)
                            +icon('time', 'icon--medium').bg-default
                          if (i>currentStep)
                            .order-progress__blank-circle
                        .text-medium.order-progress__status(class=i===currentStep ? 'text-semibold' : '') Dokončili ste objednávku

              .row.align-items-center.mb-large
                .col--m-shrink
                  .bar.align-items-center.mb-small
                    .bar__item
                      img(src="/images/content/avatars/thank-you-avatar.png", alt="avatar", width="50")
                    .bar__item
                      .text-semibold.text-nowrap Martinko Klingáč
                      .text-medium.text-nowrap Knižný škriatok
                .col--m-fill
                  article.card.card--well.mb-none.card--arrowhead.card--arrowhead-left
                    section.card__content
                      p.text-medium.mb-small Milý Peter,
                        br
                        | ďakujeme za Váš nákup! Hneď ako vašu objednávku pripravím a odošlem, budeme vás o tom informovať e-mailom. V prípade akýchkoľvek otázok mi neváhajte napísať!
                      button.btn.btn--small.btn--ghost.mb-small.mb-m-none Skontrolovať objednávku
                      button.btn.btn--small.btn--ghost.mb-none.mb-m-none Poslať správu

    section.section.section--secondary.section--overflow
      .wrapper-main
        .mb-large
          .bar.mb-medium
            .bar__item.bar__item--fill
              h2
                | Zakúpené tituly sme pridali do Vašej knižnice
                +icon('info').icon--medium(data-tooltip, title="Lorem ipsum dolor sit amtet")
            .bar__break.hide-m
            .bar__item
              a.link(href="#").text-medium Prejsť do mojej knižnice
              +icon('arrow-right')
        .row.mb-large
          //+libraryCarousel()
          each item, id in books
            .col--m-3
              .card
                .card__content.card__content--condensed
                  .bar
                    .bar__item
                      a(href="detail-knihy.html").thumbnail.thumbnail--medium
                        .thumbnail__img-wrap
                          img(src=`${item.cover}`, alt="Kniha", width="74")
                    .bar__item.bar__item--fill
                      .line-small.text-medium.mb-tiny
                        a.text-semibold.link.link--product.text-ellipsis.d-block(href="detail-knihy.html")=item.title
                      .text-size-small.text-color-grey.text-ellipsis.mb-small=item.author
                      .btn-layout.btn-layout--horizontal
                        button.btn.btn--ghost.btn--small(
                        data-toggle='self, next',
                        data-toggle-expand,
                        aria-haspopup="true"
                        )
                          | Presunúť
                          +icon('chevron-down').icon--small.icon--right
                        .dropdown.dropdown--nowrap(data-dropdown, data-dropdown-interactive, data-toggle-expand, style="width: 200px")
                          .dropdown__wrap
                            div(id=`my-library-dropdown-${id}` data-toggle-class="hide")
                              each item, i in ['Wishlist', 'Vianoce', 'Slovenská klasika']
                                .dropdown__item
                                  .checkbox
                                    input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                                    label(for=`list-check${i}`).radiocheck__control
                                    label(for=`list-check${i}`).radiocheck__label=item
                              a(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`).dropdown__item.dropdown__item--more Všetky zoznamy
                            .hide(id=`my-library-dropdown-list-${id}` data-toggle-class="hide")
                              .bar.mb-none
                                .bar__item.bar__item--fill
                                  h5.dropdown__group Presunúť do:
                                .bar__item
                                  button.btn.btn--clean.btn--small(data-toggle=`#my-library-dropdown-${id}, #my-library-dropdown-list-${id}`)
                                    +icon('close', 'icon--small', 'Naspäť')
                              each item, i in ['Wishlist', 'Vianoce', 'Slovenská klasika']
                                .dropdown__item
                                  .checkbox
                                    input(id=`list-check${i}`, type="checkbox", name=`list-check${i}`).radiocheck__input
                                    label(for=`list-check${i}`).radiocheck__control
                                    label(for=`list-check${i}`).radiocheck__label=item
                        button.btn.btn--clean.btn--small.m-none(type="button" data-toggle=`#cart-item${i}`)
                          +icon('trash', 'icon--medium')
        .text-center.mb-large
          a.btn(href="/")
            +icon('arrow-left').icon--medium
            span.ml-small späť na domovskú stránku
