extends layouts/_default

include mixins/libraryCarousel
include mixins/sectionHeader
include mixins/icon

block opts
    - var pageTitle = 'Ďakujeme'
    - const pageClass = 'bg-secondary';

block content
  - var currentStep = 2
  -
    var swiperConfig = {
      slidesPerView: 6,
      simulateTouch: false,
      breakpoints: {
        768: {
          slidesPerView: 3,
          simulateTouch: true,
        },
      },
    };
  main
    section.section.section--secondary.section--m-full
      .wrapper-main
        .row
          article.card.col--l-8.ofst--center
            section.card__content
              .mb-medium
              .mb-large
                h1.h2.mb-small.text-center Vaša objednávka č. 8512435 bola úspešne odoslaná!
                p.text-medium.text-center.mb-none Naši škriatkovia začali objednávku spracovávať
              // progress bar
              .order-progress.mb-large
                .swiper-container(data-swiper-options=swiperConfig)
                  .swiper-wrapper
                    - for (var i = 1; i < 7; ++i)
                      .order-progress__item.swiper-slide.text-center(class=(i===currentStep) ? 'current' : '')
                        .order-progress__icon(class=i<currentStep ? 'text-color-success' : '')
                          +icon('order-progress-'+i, 'icon--xxlarge')
                        .mb-small(class=i<currentStep ? 'text-color-success' : '')
                          if (i<currentStep)
                            +icon('check-circle', 'icon--medium').bg-default
                          if (i===currentStep)
                            +icon('time', 'icon--medium').bg-default
                          if (i>currentStep)
                            .order-progress__blank-circle
                        .text-medium.order-progress__status(class=i===currentStep ? 'text-semibold' : '') Dokončili ste objednávku

              .row.align-items-middle.mb-large
                .col--m-shrink
                  .bar.align-items-middle.mb-small
                    .bar__item
                      img(src="/images/content/avatars/thank-you-avatar.png", alt="avatar", width="50")
                    .bar__item
                      .text-semibold.text-nowrap Martinko Klingáč
                      .text-medium.text-nowrap Knižný škriatok
                .col--m-fill
                  article.card.card--well.mb-none.card--arrowhead.card--arrowhead-left
                    section.card__content
                      h2.h3 Milý Peter, vytvorte si u nás konto a všetko bude lepšie!

                      .mb-small Hlavné výhody konta na Martinuse
                      ul.list--default.text-size-small
                        li prehľad o stave objednávky. Dozviete sa, ktorý titul už máme, na čo čakáme
                        li už žiadne zadávanie adresy, keď budete chcieť znova objednať
                        li služby ako Moja Knižnica a čítateľské kolekcie vám umožnia lepší zážitok z čítania

                      hr.mb-medium

                      p.text-size-large.mb-small
                        | Váš e-mail:#{' '}
                        strong peter.skrovan@gmail.com

                      .form-control.form-control--input
                        .form-label
                          label.text-transform-upper.text-size-small(for="thankyou_pass")
                            | heslo
                        input.input(type="email", name="email", id="thankyou_pass", placeholder="Zadaj tvoje heslo")

                      .form-control.form-control--checkbox
                        .checkbox
                          input.radiocheck__input(type="checkbox" id="thankyou_age" name="thankyou_age")
                          label.radiocheck__control(for="thankyou_age")
                          label.radiocheck__label(for="thankyou_age")
                            | Potvrdzujem, že mám viac ako 16 rokov

                      .btn-layout--vertical.mb-none
                        button.btn.btn--primary Vytvoriť konto zadarmo



    section.section.section--secondary.section--overflow
      .wrapper-main
        .text-center.mb-large
          a.btn(href="/")
            +icon('arrow-left').icon--medium
            span.text-space-left späť na domovskú stránku
