extends layouts/_default

include ./mixins/icon
include ./mixins/product
include ./mixins/productHorizontal

block opts
  - var pageTitle = 'My Martinusáci'
  - var headerWarning = false

block content
  main.account

    section.bg-blue-ci.section-portraits(style="position: relative; overflow: hidden;")

      each item, i in [1,2,3,4,5]
        each item, j in [1,2,3,4,5,6,7,8,9,10]
          a.portrait.portrait--large.portrait--shadow(href="#",style="position: absolute;background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")

      .wrapper-main.section-title-wrapper
        .section-title(style="position: relative;")
          .section-title__item
            | Toto sme MY
          .section-title__item
            | Martinusáci

    section.section
      .wrapper-main
        .row

          .col--l-3.show-l(data-sticky-container)
            div(data-sticky, data-sticky-class="is-stuck", data-scroll-offset=header.size.default + 40)

              h5 O nás
              p Za Martinusom stojí množstvo skvelých ľudí, vďaka ktorým sa nám darí plniť vaše želania. Radi by sme vám našich Martinusákov predstavili. Kliknutím na fotografiu môžete nahliadnuť, kto sú ľudia, ktorí dohliadajú nato, aby sa vaša objednávka dostala bezpečne až k vám. Každý z nás tu má profil, ktorý vám umožní sa o nás jednotlivo dozvedieť o kúsok viac.

              p Toto sme MY Martinusáci a spolu sa snažíme pre vás prinášať tie najlepšie príbehy a fantastické služby, aby bol život ešte krajší.

          .col--l-9.col--12

            h2 Naše aktivity

            .row.mb-large
              .col--1.show-m
                .bar
                  .bar__item.bar__item--shrinkable
                    .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
              .col--12.col--m-11
                .bar
                  .bar__item.bar__item--fill
                    .bar.mb-none
                      .bar__item.bar__item--shrinkable.hide-m
                        .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                      .bar__item.bar__item--fill
                        p
                          b Janko Martinusák
                          | #{' '}pridal/a knihu do knižnice ako#{' '}
                          b prečítanú
                  .bar__break.hide-m
                  .bar__item.bar__item--shrinkable.text-right
                    .h5 24.5.2018 20:31

                hr.mb-medium
                -
                  var item = {
                  xmas: false
                  };
                .card.card--well.d-inline-block
                  .card__content
                    +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'})).m-none

            each i in [1, 2, 3]
              .row.mb-large
                .col--1.show-m
                  .bar
                    .bar__item.bar__item--shrinkable
                      .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                .col--12.col--m-11
                  .bar
                    .bar__item.bar__item--fill
                      .bar.mb-none
                        .bar__item.bar__item--shrinkable.hide-m
                          .portrait.portrait--medium(style="background-image: url('https://www.martinus.sk/data/autori/img/a1666.jpg');")
                        .bar__item.bar__item--fill
                          p
                            b Janko Martinusák
                            | #{' '}napísal/a recenziu
                    .bar__break.hide-m
                    .bar__item.bar__item--shrinkable
                      .rating-star.bar__item.justify-content-center.mt-none
                        each star, starIndex in Array(5)
                          +icon('star').rating-star__item.icon--large(class=`${starIndex < 3 ? 'is-active' : ''}`)
                    .bar__item.bar__item--shrinkable.text-right
                      .h5 24.5.2018 20:31

                  hr.mb-medium

                  p Fakt parádna kniha síce knihy mám prečítané iba dve a to Kráska a netvor a túto no ale i tak páčil sa mi nájme Chosé a samozrejme Richard Krauz ale každá postava má niečo do seba a samozrejme je to odľahčené Dánovím humorom. Ale smutné je že sa to deje na Slovensku nie len po prevrate.

                  -
                    var item = {
                    xmas: false
                    };
                  .card.card--well.d-inline-block
                    .card__content
                      +productHorizontal(Object.assign({}, item, {titleClass: 'text-size-regular'})).m-none

      block scripts
        script.
          function getRandomInt(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
          }

          var portraits = document.querySelectorAll('.section-portraits .portrait');
          var container = document.querySelector('.section-portraits');
          var _w = container.clientWidth;
          var _h = container.clientHeight;

          portraits.forEach(function(item) {
            var x = getRandomInt(0, _w);
            var y = getRandomInt(0, _h) - 50;

            item.style.left = x + 'px';
            item.style.top = y + 'px';

            var scale = getRandomInt(50, 120) / 100;
            item.style.transform = 'scaleX('+scale+') scaleY('+scale+')';
          });
