.card.mb-medium#confirmation
  .card__content
    .row.mb-medium
      .col--m-2.col--s-4
        img.img.img--fluid.img--circle(src="//www.martinus.sk/data/img/custom/75835_taska.jpeg")
      .col--m-10.col--s-8
        p.mb-small.text-medium.line-default
          | Milujete knihy? Pre všetkých knihomoľov sme pripravili#{' '}
          strong špeciálnu knihomoľskú tašku
          | #{' '}s nápisom #{' '}
          i "Táto taška nie je ani spolovice tak ťažká, ako by bol život bez kníh"
          | . Pribalíme vám ju?

        .form-control.form-control--checkbox
          .checkbox
            input.radiocheck__input(type='checkbox', id='summary_upsell', name='summary_upsell')
            label.radiocheck__control(for='summary_upsell')
            label.radiocheck__label(for='summary_upsell')
              span.text-size-medium.text-semibold Pridať do objednávky knihomoľskú tašku za 1,99 €

  .card__content
    .bar
      .bar__item.bar__item--fill
        h2 Darujte centy a stanete sa Dobrým Anjelom

  .card__content.pt-none.m-none
    .row
      .col--m-6.col--s-11.text-size-medium
        p.mb-small
          | Vyberte, prosím, sumu, na ktorú si prajete zaokrúhliť Váš nákup. Celý rozdiel poputuje chorým deťom z Dobrého Anjela.
        p.mb-small
          a.link
            | Viac informácií nájdete tu.#{' '}
          span.text-semibold
            | Ďakujeme!

      .col--m-6.col--s-11
        .bar
          .bar__item.bar__item--fill
            .form-control.form-control--select
              select.js-select
                option(selected disabled placeholder) Zaokrúhliť na 20 € (dar = 5,95 €)
                option Zaokrúhliť na 20 € (dar = 5,95 €)

  .card__content
    .bar
      .bar__item.bar__item--fill
        h2 Darček zadarmo: vyberte si chýbajúcu zberateľskú záložku

  .card__content.pt-none.m-none
    .row
      .col--m-6.col--s-11.text-size-medium
        p
          b Zbierate naše špeciálne zberateľské záložky a chýba vám nejaká?#{' '}
          | Práve teraz si okrem januárovej môžete#{' '}
          b zadarmo doplniť ďalšiu
          | . Iba si vyberte, ktorú potrebujete.

      .col--m-6.col--s-11
        .bar
          .bar__item.bar__item--fill
            .form-control.form-control--select
              select(data-select-wide-image, id='wide-image-select')

  .card__content.p-none.m-none
    hr

  .card__content
    .bar.align-items-right.align-items-bottom
      .bar__item.bar__item--fill.text-right
        h3
          | Spolu
      .bar__item
        h2.text-bold
          | 21.45€

  .card__content.p-none.mb-small
    hr

  .card__content.pt-none.m-none
    .form-control.form-control--checkbox.mb-small
      .checkbox.form-label--required
        input.radiocheck__input(type='checkbox', id='checkout_summary_terms', name='checkout_summary_terms')
        label.radiocheck__control(for='checkout_summary_terms')
        label.radiocheck__label(for='checkout_summary_terms')
          span.text-size-medium Oboznámil som sa so#{' '}
          a.link.text-size-medium všeobecnými obchodnými podmienkami#{' '}
          span.text-size-medium a súhlasím s nimi.

    .form-control.form-control--checkbox.mb-small
      .checkbox
        input.radiocheck__input(type='checkbox', id='checkout_summary_signup', name='checkout_summary_signup',  data-radiocheck-toggle="#checkout-password")
        label.radiocheck__control(for='checkout_summary_signup')
        label.radiocheck__label(for='checkout_summary_signup')
          span.text-size-medium Tento nákup sa mi páčil,#{' '}
          span.text-semibold.text-size-medium vytvorte mi účet na Martinuse!

      .form-control.form-control--input.hide#checkout-password
        .row
          .col--m-6
            .form-label
              label.text-transform-upper.text-size-small(for="checkout_summary_password")
                  | heslo
              input.input(type="password", name="checkout_summary_password", id="checkout_summary_password", placeholder="Vložte vaše tajné heslo")

  .card__content.p-none.mb-medium
    hr

  .card__content.mb-small
    .row
      .col--s-11.col--m-7.ofst--center
        button.block-fill.clickable(type="submit")
          .btn-layout--vertical.mb-small
            .btn.btn--primary
              | záväzne objednať a zaplatiť
          p.m-none.text-center.text-size-small Objednávka vyžaduje platbu za tovar

p.text-color-grey.text-size-small.ml-small
  | * Podmienky obsahujú aj vyžadované predzmluvné informácie ohľadom prevádzkovateľa internetového obchodu, tovaru, dodacích a platobných podmienok, práva na odstúpenie od zmluvy, záručných podmienok, postupe pri uplatňovaní reklamácií, ochrany osobných údajov a ostatné informácie v súlade s 3 zákona 102/2014 Z.z. a v súlade ustanoveniami zákona 122/2013 Z.z.

block append scripts
  script.
    document.addEventListener('myAppLoaded', function() {

      var imageListSelect = new window.myApp.Select('#wide-image-select', {
        choices: [
          {
            value: 'bookmark-0',
            label: 'Nepotrebujem doplniť záložku',
            id: 1,
            customProperties: {}
          },
          {
            value: 'bookmark-1',
            label: 'Októbrová záložka',
            id: 2,
            customProperties: {
              image: 'https://mrtns.eu/assets/martinus/lb/images/content/campaign/bookmarks2018/bookmarks/2018-q1w2-A.jpg',
            }
          },
          {
            value: 'bookmark-2',
            label: 'Novembrová záložka',
            id: 3,
            customProperties: {
              image: 'https://www.martinus.sk/data/img/custom/89793_3A_2018.jpg',
            }
          },
        ]
      });
    });
