include ./../../mixins/icon

.card#delivery-personal-pickup
  .card__content
    h2 Kde si prídete nákup vyzdvihnúť?
    button.btn.btn--ghost
      +icon('target').icon--left.icon--medium
      | Zistiť podľa mojej polohy

  .card__content
    .row
      .col--s-11.col--m-6
        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option1', name='location_options', data-radiocheck-toggle="#opening-hours-1")
            label.radiocheck__control(for='location_option1')
            label.radiocheck__label(for='location_option1')
              span.block.text-semibold
                | Bratislava, Obchodná 42
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00 #{' '}
                span.hide#opening-hours-1(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option2', name='location_options', data-radiocheck-toggle="#opening-hours-2")
            label.radiocheck__control(for='location_option2')
            label.radiocheck__label(for='location_option2')
              span.block.text-semibold
                | Bratislava, Cubicon
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-2(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option3', name='location_options', data-radiocheck-toggle="#opening-hours-3")
            label.radiocheck__control(for='location_option3')
            label.radiocheck__label(for='location_option3')
              span.block.text-semibold
                | Martin, Štefnáika 58
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-3(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option4', name='location_options', data-radiocheck-toggle="#opening-hours-4")
            label.radiocheck__control(for='location_option4')
            label.radiocheck__label(for='location_option4')
              span.block.text-semibold
                | Žilina, SC Mirage
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-4(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option5', name='location_options', data-radiocheck-toggle="#opening-hours-5")
            label.radiocheck__control(for='location_option5')
            label.radiocheck__label(for='location_option5')
              span.block.text-semibold
                | Nitra, OC Centro
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-5(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

      .col--s-11.col--m-6
        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option6', name='location_options', data-radiocheck-toggle="#opening-hours-6")
            label.radiocheck__control(for='location_option6')
            label.radiocheck__label(for='location_option6')
              span.block.text-semibold
                | Košice, OC Galéria
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-6(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option7', name='location_options', data-radiocheck-toggle="#opening-hours-7")
            label.radiocheck__control(for='location_option7')
            label.radiocheck__label(for='location_option7')
              span.block.text-semibold
                | Považská Bystrica, M-park
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-7(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option8', name='location_options', data-radiocheck-toggle="#opening-hours-8")
            label.radiocheck__control(for='location_option8')
            label.radiocheck__label(for='location_option8')
              span.block.text-semibold
                | Poprad. OC Fórum
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-8(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

        .form-control.form-control--radio
          .radio.align-items-top
            input.radiocheck__input(type='radio', id='location_option9', name='location_options', data-radiocheck-toggle="#opening-hours-9")
            label.radiocheck__control(for='location_option9')
            label.radiocheck__label(for='location_option9')
              span.block.text-semibold
                | Lučenec, OC Galéria
              span.block.text-size-small
                | Po - Ne: 9:00 - 21:00
                span.hide#opening-hours-9(data-tooltip, title="24.12.2017	8:00 - 11:30<br>25.12.2017 ZATVORENÉ<br>26.12.2017 ZATVORENÉ<br>31.12.2017  10:00 - 14:00")
                  +icon('xmas-small').icon--small.text-color-success
                  | #{' '}
                  em Otváracie hodiny počas sviatkov

  .card__content
    .row
      .col--s-11.col--m-6.ofst--center
        .btn-layout--vertical.mb-small
          button.btn.btn--primary.is-disabled(type="submit")
            | vyzdvyhnem si to tu!
