.card.mb-small#payment
  .card__content
    .bar
      .bar__item.bar__item--fill
        h2 Spôsob platby ?

  .card__content

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_card', name='payment_options' data-radiocheck-toggle="#payment_card_options")
        label.radiocheck__control(for='payment_card')
        label.radiocheck__label.text-semibold(for='payment_card')
          | Kartou (vopred)
          img.ml-small(src=`${assetsPrefix}images/content/banks/sk/visa.png`, alt="VISA", width="32")
          img.ml-small(src=`${assetsPrefix}images/content/banks/sk/mastercard.png`, alt="mastercard", width="32")

      .form-control.form-control--checkbox.hide#payment_card_options
        .checkbox
          input.radiocheck__input(type='checkbox', id='payment_save_card', name='payment_save_card')
          label.radiocheck__control(for='payment_save_card')
          label.radiocheck__label(for='payment_save_card')
            span.text-size-medium.text-semibold Bezpečne zapamätať číslo mojej karty#{' '}
              span.text-normal pre ďalšie nákupy

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_ib', name='payment_options' data-radiocheck-toggle="#payment_ib_options")
        label.radiocheck__control(for='payment_ib')
        label.radiocheck__label(for='payment_ib')
          span.d-block.text-semibold
            | Internet bankingom mojej banky
            img.ml-small(src=`${assetsPrefix}images/content/banks/sk/tatra-banka.png`, alt="tatra bank", width="32")
            img.ml-small(src=`${assetsPrefix}images/content/banks/sk/slsp.png`, alt="SLSP", width="32")
            img.ml-small(src=`${assetsPrefix}images/content/banks/sk/vub.png`, alt="VUB", width="32")
            img.ml-small(src=`${assetsPrefix}images/content/banks/sk/unicredit.png`, alt="unicredit", width="32")
            img.ml-small(src=`${assetsPrefix}images/content/banks/sk/postova-banka.png`, alt="postova banka", width="32")
            img.ml-small(src=`${assetsPrefix}images/content/banks/sk/sberbank.png`, alt="sberbank", width="32")
          span.text-size-medium
            | Tatra Banka, SLSP, VÚB, UniCredit, ČSOB, Poštová banka, Sberbank

      .form-control.hide#payment_ib_options
        .row
          .col--m-4
            ul.list.list--unstyled.list--clean
              li.list__item
                .form-control.form-control--radio.m-none
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option1', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option1')
                    label.radiocheck__label.text-semibold(for='payment_ib_option1')
                      | TatraPay

              li.list__item
                .form-control.form-control--radio.m-none
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option2', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option2')
                    label.radiocheck__label.text-semibold(for='payment_ib_option2')
                      | UniPlatba

              li.list__item
                .form-control.form-control--radio.m-none
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option3', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option3')
                    label.radiocheck__label.text-semibold(for='payment_ib_option3')
                      | Sberbank WEBpay

          .col--m-5
            ul.list.list--unstyled.list--clean
              li.list__item
                .form-control.form-control--radio.m-none
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option4', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option4')
                    label.radiocheck__label.text-semibold(for='payment_ib_option4')
                      | SporoPay

              li.list__item
                .form-control.form-control--radio.m-none
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option5', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option5')
                    label.radiocheck__label.text-semibold(for='payment_ib_option5')
                      | Poštová banka Platba ONLINE

              li.list__item
                .form-control.form-control--radio.m-none
                  .radio
                    input.radiocheck__input(type='radio', id='payment_ib_option6', name='payment_ib_options')
                    label.radiocheck__control(for='payment_ib_option6')
                    label.radiocheck__label.text-semibold(for='payment_ib_option6')
                      | ePlatby VÚB

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_paypal', name='payment_options')
        label.radiocheck__control(for='payment_paypal')
        label.radiocheck__label.text-semibold(for='payment_paypal')
          | PayPal
          img.ml-small(src=`${assetsPrefix}images/content/banks/sk/paypal.png`, alt="paypal", width="32")

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_viamo', name='payment_options')
        label.radiocheck__control(for='payment_viamo')
        label.radiocheck__label.text-semibold(for='payment_viamo')
          | Viamo
          img.ml-small(src=`${assetsPrefix}images/content/banks/sk/viamo.png`, alt="viamo", width="32")

    .form-control.form-control--radio
      .radio
        input.radiocheck__input(type='radio', id='payment_mcm', name='payment_options')
        label.radiocheck__control(for='payment_mcm')
        label.radiocheck__label.text-semibold(for='payment_mcm')
          | MasterCard Mobile
          img.ml-small(src=`${assetsPrefix}images/content/banks/sk/mastercard.png`, alt="mastercard", width="32")

    .form-control.form-control--radio
      .radio.align-items-start
        input.radiocheck__input(type='radio', id='payment_invoice', name='payment_options')
        label.radiocheck__control(for='payment_invoice')
        label.radiocheck__label.mb-medium(for='payment_invoice')
          span.d-block.text-semibold
            | Platba zálohovou faktúrou (iba pre firmy a inštitúcie)
            +icon('info').icon--small.text-color-grey
          span.text-size-medium
            | Tovar bude odoslaný až po pripísaní platby na náš účet.
          p.text-color-orange.text-size-medium Inštrukcie k predfaktúre vám zašleme po skompletizovaní objednávky

  .card__content.pt-none.mb-medium
    .row
      .col--s-12.col--m-11.ofst--center
        .mb-medium
          a.link.text-size-medium(data-toggle="#gift")
            | Využiť darčekovú poukážku alebo ISIC, ITIC, EURO<26 zľavu
        #gift.row.hide(data-toggle-class="hide")
          .col--m-6
            .form-control.form-control--input
              .form-label.form-label--required
                label.text-transform-upper.text-size-small(for="cislo-poukazky")
                  | Zadajte číslo poukážky
              .input-addons
                input.input(type="text", name="cislo-poukazky", id="cislo-poukazky", placeholder="V tvare XYZ321")
                .input-addons__item.p-none
                  button.btn.btn--ghost Overiť
          .col--m-6
            .form-control.form-control--input
              .form-label.form-label--required
                label.text-transform-upper.text-size-small(for="cislo-preukazu")
                  | Zadajte číslo preukazu
              .input-addons
                input.input(type="text", name="cislo-preukazu", id="cislo-preukazu", placeholder="ISIC, ITIC alebo EURO<26")
                .input-addons__item.p-none
                  button.btn.btn--ghost Overiť

  .card__content
    .row
      .col--s-11.col--m-7.ofst--center
        .btn-layout--vertical.mb-small
          button.btn.btn--primary.is-disabled(type="submit")
            | Potvrdiť výber
