//- NAVIGATION MAIN

// navigation main
nav.l-nav-main(data-role='dropdown')

  a.l-nav-main_headline(href=`${assetsPrefix}index${htmlPostfix}`) #{project.projectName} - Styleguide

  ul.l-nav-main_list.js-scrollbar(data-role='sidebar')

    each category, keyCat in l_sitemap
      li.l-nav-main_list_item

        a.l-nav-main_link(class=keyCat == categoryID?'is-active selected':'', data-toggle='self, next')
          | #{category.category}
          +icon-sg('sg-caretright')

        ul.l-nav-main_list-sub(class=keyCat == categoryID?'is-active':'')
          each page, keyPage in category.topics
            unless page.visible == false
              li.l-nav-main_list-sub_item
                unless page.sub == undefined
                  a.l-nav-main-sub_link(class=keyPage == pageID && keyCat == categoryID?'is-active selected':'', data-toggle='self, next')
                    | #{page.title}
                    +icon-sg('sg-add')
                  ul.l-nav-main_list-sub2(class=keyCat == categoryID && keyPage == pageID?'is-active':'')
                    each subpage, key2 in page.sub
                      unless subpage.visible == false
                        li.l-nav-main_list-sub2_item
                          a.l-nav-main-sub2_link(href=`${subpage.hlink}${htmlPostfix}`, class=keyCat == categoryID && keyPage == pageID && key2 == subPageID?'selected':'') - #{subpage.title}
                else
                  a.l-nav-main-sub_link(href=`${page.hlink}${htmlPostfix}`, class=keyPage == pageID && keyCat == categoryID?'selected':'')= page.title

// end: navigation main
