include ./../mixins/icon
include ./../mixins/faIcon
//- -----------------------------------------------
//- VARIABLES AND DATA

- const assetsPrefix = '';
- const htmlPostfix = '.html';
- const xmas = false;

- var headerWarningActive = true;
- var headerWarning = headerWarningActive ? ' has-header-warning' : '';

//- -----------------------------------------------
//- OPTIONS

block opts

//- -----------------------------------------------
//- HTML

doctype html
html.fonts-loaded

  //- -----------------------------------------------
  //- HEAD

  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=yes")

    title= pageTitle

    meta(name='author', content='Martinus s.r.o.')
    meta(name="description", content="")
    meta(name='keywords', content='')
    link(rel="shortcut icon", href=`${assetsPrefix}favicon.ico`)
    meta(name="theme-color", content=project.theme)

    meta(name='verify-v1', content='T+OHlS5UzwUGqeLzY9VCoZi05W1LWAjmytPCIQ2f3kw=')

    link(rel="preload", href=`${assetsPrefix}fonts/Tabac-Sans/fonts/Tabac-Sans-Regular-9531409e5f6d548c2ccc3429d9d5db69.woff2`, as="font", type="font/woff2")
    link(rel="stylesheet", href=`${assetsPrefix}fonts/Tabac-Sans/style.css`)

    link(rel="stylesheet", href=`${assetsPrefix}styles/main.css`)

    block head

  //- -----------------------------------------------
  //- BODY

  body(class=`${pageClass}` + `${headerWarning}`)
    | <div id="fb-root"></div>
    | <script>(function(d, s, id) {
    |   var js, fjs = d.getElementsByTagName(s)[0];
    |   if (d.getElementById(id)) return;
    |   js = d.createElement(s); js.id = id;
    | js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=227452250615460';
    | fjs.parentNode.insertBefore(js, fjs);
    | }(document, 'script', 'facebook-jssdk'));</script>

    #page-container

      block headerWarning
        if headerWarningActive !== false
          .section.section--small.header-warning.p-none.bg-violet
            .wrapper-main
              .mb-tiny
              .bar.mb-tiny.align-items-center
                .bar__item.bar__item--shrinkable.mr-tiny
                  +icon('footer-package').icon--medium.text-color-white
                .bar__item.bar__item--fill.text-color-white.line-small
                  small #{' '}Nezmeškajte 5€ poukážku k nákupu!#{' '}
                    a(href="#").link.link--white.text-bold Viac info

      block header
        if checkoutHeader
          include ./../modules/header/checkout-header
        else if campaignHeader
          include ./../modules/header/campaign-header
        else if orderHeader
          include ./../modules/header/order-header
        else
          include ./../modules/header/header

      block content

      block footer
        include ./../modules/footer

      block modals

      block tooltips

      .alert-container(data-alert-area)

    //- -----------------------------------------------
    //- SCRIPTS
    script.
      window.myApp = window.myApp || {};
      window.myApp.selectLanguage = 'sk';
    script(src=`${assetsPrefix}scripts/vendor.js`)
    script(src=`${assetsPrefix}scripts/main.js`)
    script(src=`${assetsPrefix}scripts/font-awesome.js`)

    block scripts
